<div class="container-gral" *ngIf="formatoGenerar">
    <div class="row">
        <h3>GENERAR NOTA DE REMISIÓN</h3>
    </div>

    <div class="row mb-4">
        <div class="col-md-12 border-custorm seccion-folio flex justify-content-between">
            <div></div>
            <div class="table-panel-header-column">
                <div class="flex flex-column ml-5">
                    <a (click)="overlayPanel.toggle($event)">
                        <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-12 border-external">
            <div class="body">
                <section class="logos">
                    <div class="logo-imss float-left">
                        <span class="texto-imss">IMSS</span>
                    </div>
                    <div class="logo-fibeso float-right ">
                        <span class="texto-fibeso">FIBESO</span>
                    </div>
                </section>

                <section class="titulo-body">
                    <p>
                        NOTA DE REMISIÓN
                    </p>
                </section>

                <form [formGroup]="notaRemisionForm">
                    <section class="flex justify-content-between info-gral-remision mt-7">
                        <div class="mb-6">
                            <div class="float-left">
                                <label class="control-label" for="versionDocumento">Versión del documento<span
                    class="req">*</span>:</label>
                                <input id="versionDocumento" class="form-control" formControlName="versionDocumento" placeholder="">
                            </div>
                            <div class="float-right ">
                                <label class="control-label" for="fechaNota">Fecha<span class="req">*</span>:</label>
                                <p-calendar id="fechaNota" formControlName="fechaNota" styleClass="form-control" [showIcon]="true" placeholder="Fecha inicial" dateFormat="dd/mm/yy">
                                </p-calendar>
                            </div>
                        </div>
                    </section>

                    <section class="flex content-body">
                        <div class="col-md-12 sub-content">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="control-label" for="nomVelatorio">Velatorio<span class="req">*</span>:</label>
                                    <input id="nomVelatorio" class="form-control" formControlName="nomVelatorio" placeholder="">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="folioNota">Remisión de servicios:</label>
                                    <input id="folioNota" class="form-control" formControlName="folioNota" placeholder="">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="control-label" for="dirVelatorio">Dirección<span class="req">*</span>:</label>
                                    <input id="dirVelatorio" class="form-control" formControlName="dirVelatorio" placeholder="">
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="flex content-body">
                        <div class="col-md-12 sub-content">
                            <span class="titulo-content">Datos del solicitante del servicio</span>
                            <div class="row mt-7 mb-3">
                                <div class="col-md-3 subtitulo">
                                    <label class="control-label" for="nomSolicitante">Nombre</label>
                                </div>
                                <div class="col-md-9">
                                    <label class="control-label" for="nomSolicitante">Nombre<span class="req">*</span>:</label>
                                    <input id="nomSolicitante" class="form-control" formControlName="nomSolicitante" placeholder="Ingresa el nombre">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-3 subtitulo">
                                    <label class="control-label" for="dirSolicitante">Dirección</label>
                                </div>
                                <div class="col-md-9">
                                    <label class="control-label" for="dirSolicitante">Dirección<span class="req">*</span>:</label>
                                    <input id="dirSolicitante" class="form-control" formControlName="dirSolicitante" placeholder="Ingresa la dirección">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-3 subtitulo">
                                    <label class="control-label" for="curpSolicitante">CURP</label>
                                </div>
                                <div class="col-md-9">
                                    <label class="control-label" for="curpSolicitante">CURP<span class="req">*</span>:</label>
                                    <input id="curpSolicitante" class="form-control" formControlName="curpSolicitante" placeholder="Ingresa la CURP">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-3 subtitulo">
                                    <label class="control-label" for="velatorioOrigen">Velatorio origen del convenio</label>
                                </div>
                                <div class="col-md-9">
                                    <label class="control-label" for="velatorioOrigen">Velatorio origen:</label>
                                    <input id="velatorioOrigen" class="form-control" formControlName="velatorioOrigen" placeholder="Ingresa el velatorio origen">
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="flex content-body">
                        <div class="col-md-12 sub-content">
                            <span class="titulo-content">Servicios</span>
                            <div class="row mb-3">
                                <div class="col-md-6 subtitulo">
                                    <label class="control-label">Artículos / Servicios</label>
                                </div>
                                <div class="col-md-6 subtitulo">
                                    <label class="control-label">Cantidad</label>
                                </div>
                            </div>
                            <div class="row mb-3" *ngFor="let servicio of servicios">
                                <div class="col-md-6">
                                    <input id="" class="form-control" [placeholder]="servicio.nomServicio" disabled>
                                </div>
                                <div class="col-md-6 subtitulo-derecho">
                                    <label class="control-label">{{servicio.cantidad}}</label>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="mb-7">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label class="control-label" for="nomFinado">Finado<span class="req">*</span>:</label>
                                <input id="nomFinado" class="form-control" formControlName="nomFinado" placeholder="">
                            </div>

                            <div class="col-md-4">
                                <label class="control-label" for="parFinado">Parentesco:</label>
                                <input id="parFinado" class="form-control" formControlName="parFinado" placeholder="">
                            </div>

                            <div class="col-md-4">
                                <label class="control-label" for="folioODS">Folio ODS<span class="req">*</span>:</label>
                                <input id="folioODS" class="form-control" formControlName="folioODS" placeholder="">
                            </div>
                        </div>

                        <span class="etiqueta-form">Orden de servicio {{f.folioODS.value}} Proporcionada por reembolso de previsión
              funeraria
            </span>
                    </section>

                    <span class="etiqueta-conformidad">Estoy conforme con los servicios otorgados, los cuales fueron de acuerdo al
            contrato de previsión funeraria No. {{notaRemisionReporte.folioConvenio}} celebrado con fecha {{notaRemisionReporte.fechaConvenio | date :  "dd/MM/y" }} a favor del finado en su calidad de
            (beneficiario/titular) del servicio</span>

                    <section class="flex mt-7">
                        <div class="parte-nombre">
                            <span class="etiqueta-firma">Nombre y firma de conformidad</span>
                            <div class="row mt-3 mb-3">
                                <div class="col-md-12">
                                    <label class="control-label" for="nombreConformidad">Nombre:</label>
                                    <input id="nombreConformidad" class="form-control" formControlName="nombreConformidad" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="parte-firma">
                            <div class="card border">
                                <div class="container-card">
                                    <hr class="linea-firma mt-2">
                                    <p class="mt-5 etiqueta-firma">Firma</p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <hr class="dashed">

                    <section class="flex mb-7">
                        <div class="parte-nombre">
                            <span class="etiqueta-firma">Nombre y firma del representante de velatorio</span>
                            <div class="row mt-3 mb-3">
                                <div class="col-md-12">
                                    <label class="control-label" for="nombreRepresentante">Nombre:</label>
                                    <input id="nombreRepresentante" class="form-control" formControlName="nombreRepresentante" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="parte-firma">
                            <div class="card border">
                                <div class="container-card">
                                    <hr class="linea-firma mt-2">
                                    <p class="mt-5 etiqueta-firma">Firma</p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <span class="etiqueta-subtitulo">El presente comprobante carece de validez fiscal</span>
                </form>

            </div>
        </div>

        <div class="mb-4">
            <div class="col-md-12 mt-4">
                <span class="etiqueta-obligatorios">*Campos obligatorios</span>
            </div>
        </div>

        <p-overlayPanel #overlayPanel>
            <ng-template pTemplate="content">
                <app-overlay-panel-opciones>
                    <app-overlay-panel-opcion titulo="Vista previa" (click)="generarReporteOrdenServicio(); overlayPanel.toggle($event);"></app-overlay-panel-opcion>
                </app-overlay-panel-opciones>
            </ng-template>
        </p-overlayPanel>

    </div>

    <div class="row flex justify-content-end mb-4">
        <button type="button" class="ml-4 btn btn-danger btn-md" (click)="cancelar()">Regresar</button>
        <button type="button" class="ml-4 btn btn-primary btn-md" (click)="formatoGenerar = false">Generar nota de
      remisión</button>
    </div>
</div>

<div *ngIf="!formatoGenerar">
    <app-detalle-formato-generar-nota-remision [generarNotaRemision]="true" (regresar)="regresar()" (aceptar)="generarNotaRemision()"></app-detalle-formato-generar-nota-remision>
</div>