<app-titulo-principal titulo="VER DETALLE"></app-titulo-principal>
<p-accordion styleClass="sivimss-accordion sivimss-accordionColor" *ngIf="vehiculoSeleccionado && verificacion"
             [activeIndex]="0">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="sivimss-acoordion-header">
        <div class="accordion-header-left">
          <span>ID </span>
          <b>{{vehiculoSeleccionado.ID_VEHICULO}}</b>
        </div>
        <div class="accordion-header-right">
          <div class="estatus">
            <span>Estado de mantenimiento</span>
            <b [appTextColor]="vehiculoSeleccionado.DES_MTTOESTADO">{{vehiculoSeleccionado.DES_MTTOESTADO}}</b>
          </div>
          <a>
            <i class="fs fs-barras-horizontales"></i>
          </a>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="row">
        <div class="col col1">
          <span class="flex flex-column etiqueta-base">Delegación</span>
          <span class="texto-base">{{vehiculoSeleccionado.DES_DELEGACION}}</span>
        </div>
        <div class="col col2">
          <span class="flex flex-column etiqueta-base">Velatorio</span>
          <span class="texto-base">{{vehiculoSeleccionado.NOM_VELATORIO}}</span>
        </div>
        <div class="col col3">
          <span class="flex flex-column etiqueta-base">Fecha</span>
          <span class="texto-base">{{fecha}}</span>
        </div>
        <div class="col col4">
          <span class="flex flex-column etiqueta-base">Vehiculo</span>
          <span
            class="texto-base">{{vehiculoSeleccionado.DES_MARCA}} {{vehiculoSeleccionado.DES_SUBMARCA}} {{vehiculoSeleccionado.DES_MODELO}}</span>
        </div>
        <div class="col col5">
          <span class="flex flex-column etiqueta-base">Placas</span>
          <span class="texto-base">{{vehiculoSeleccionado.DES_PLACAS}}</span>
        </div>
        <div class="col col6">
          <span class="flex flex-column etiqueta-base">Kilometraje</span>
          <span class="texto-base"></span>
        </div>
        <div class="col col7">
          <span class="flex flex-column etiqueta-base">Fecha de mantenimiento</span>
          <span class="texto-base"></span>
        </div>
      </div>
      <hr class="hr-accordion-content">
      <div class="row">
        <div class="col col1"></div>
        <div class="col col2"></div>
        <div class="col col3"></div>
        <div class="col col4"></div>
        <div class="col col5"></div>
        <div class="col col6"></div>
        <div class="col col7">
          <span class="flex flex-column etiqueta-base">Costo de mantenimiento</span>
          <span class="texto-base"></span>
        </div>
      </div>
      <ng-container>
        <div class="sivimss-acoordion-header-titulo col-md-8">
          <div class="accordion-header-left col-md-4 ">
            <b>Verificación diaria</b>
          </div>
          <div class="vertical-line"></div>
          <div class="accordion-header-left col-md-4">
            <b class="subtitulos">Solicitud de mantenimiento</b>
          </div>
          <div class="vertical-line"></div>
          <div class="accordion-header-left col-md-4">
            <b class="subtitulos">Registro de seguimiento</b>
          </div>
          <div class="vertical-line"></div>
        </div>

        <app-table-panel>
          <div class="row table-panel-row">
            <div class="col-md-8">
              <div class="col-md-12">
                <div class="table-panel-column">
                  <label>Fecha Actual</label>
                  <span>{{fecha}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="table-panel-column col-md-6">
                  <label>Nivel de aceite</label>
                  <span>{{verificacion.idNivelAceite.toString() | uppercase}}</span>
                </div>
                <div class="table-panel-column col-md-6">
                  <img class="icono" src="../../../../../../assets/images/nivelCombus.svg" alt="nivel-combustible">
                </div>
              </div>
              <div class="col-md-6">
                <div class="table-panel-column col-md-6">
                  <label>Nivel de agua</label>
                  <span>{{verificacion.idNivelAgua.toString() | uppercase}}</span>
                </div>
                <div class="table-panel-column col-md-6">
                  <img class="icono" src="../../../../../../assets/images/nivelAgua.svg" alt="nivel-agua">
                </div>
              </div>
            </div>
          </div>

          <div class="row table-panel-row">
            <div class="col-md-4">
              <div class="col-md-12">
                <div class="table-panel-column col-md-6">
                  <label>Calibración de neumáticos traseros</label>
                  <span>{{verificacion.idCalNeuTraseros.toString() | uppercase}}</span>
                </div>
                <div class="table-panel-column col-md-6">
                  <img class="icono-velocimetro" src="../../../../../../assets/images/velocimetroBajo.svg"
                       alt="calibracion-neumaticos-traseron">
                </div>
              </div>
              <div class="col-md-12">
                <div class="table-panel-column col-md-6">
                  <label>Calibración de numáticos delanteros</label>
                  <span>{{verificacion.idCalNeuDelanteros.toString() | uppercase}}</span>
                </div>
                <div class="table-panel-column col-md-6">
                  <img class="icono-velocimetro" src="../../../../../../assets/images/belocimetroAlto.svg"
                       alt="calibracion-neumaticos-delanteros">
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="bordes">
                <div class="col-md-8 margen-tabla">
                  <label>Presion recomendada</label>
                  <p-table [value]="data">
                    <ng-template pTemplate="header">
                      <tr>
                        <th id="nueva-verificacion-rin">Rin</th>
                        <th id="nueva-verificacion-precision">Precisión</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                      <tr>
                        <td>{{ item.rin }}</td>
                        <td>{{ item.precision }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
                <div class="col-md-4">
                </div>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="table-panel-column col-md-6">
                  <label>Nivel de Combustible</label>
                  <span>{{verificacion.idNivelCombustible.toString() | uppercase}}</span>
                </div>
                <div class="table-panel-column col-md-6">
                  <img class="icono" src="../../../../../../assets/images/nivelCombus.svg" alt="nivel-combustible">
                </div>
              </div>
              <div class="col-md-4">
                <div class="table-panel-column col-md-6">
                  <label>Nivel de Bateria </label>
                  <span>{{verificacion.idNivelBateria.toString() | uppercase}}</span>
                </div>
                <div class="table-panel-column col-md-6">
                  <img class="icono-bateria" src="../../../../../../assets/images/loading.svg" alt="nivel-bateria">
                </div>
              </div>
              <div class="col-md-4">
                <div class="table-panel-column col-md-6">
                  <label>Código de falla</label>
                  <span>{{verificacion.idCodigoFallo.toString() | uppercase}}</span>
                </div>
              </div>
            </div>
          </div>
        </app-table-panel>
      </ng-container>
    </ng-template>
  </p-accordionTab>
</p-accordion>

<ng-container>
  <div class="flex mt-4 justify-content-end margin">
    <button class="ml-6 mt-3 btn btn-primary btn-md" routerLink="../">Aceptar</button>
  </div>
</ng-container>

