h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  margin: 20px 0 20px 0;
}

.texto-monto-cancelacion {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #484848;
}

.cantidad-monto-cancelacion, .cantidad-base {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  display: inline-block;
  margin-left: 10px;
}

.mensaje-cancelacion-orden {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #484848;
  text-align: center;
}

.border-panel {
  padding: 2rem;
}

.sivimss-acoordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F3F3F3;
  margin-bottom: 1rem;
  padding: 0.75rem;
  height: 10px;
  width: 100%;

  .accordion-header-left {
    margin-top: 11px;
    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #393C3E;
    }

    b {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #217A6B;
    }
  }

  .accordion-header-right {
    display: flex;
    align-items: center;
    margin-top: 11px;

    span{
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #272829;
    }

    b{
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #484848;
    }

    .estatus {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right:3rem;
    }
    a{
      cursor:pointer;
      text-decoration: none;
      .fs-barras-horizontales {
        color: #9D2449;
      }
    }

  }
}

.hr-accordion-content{
  margin:.5rem 0 1rem 0;
  border-top:1px solid #DDDDDD;
}

:host ::ng-deep p-accordiontab:last-child .p-accordion-tab {
  margin-bottom: 0;
}

.imagen{

  height: 485px;

}


.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.col1 { flex-basis: calc(100% / 13); }
.col2 { flex-basis: calc(100% / 13); }
.col3 { flex-basis: calc(100% / 13); }
.col4 { flex-basis: calc(100% / 13); }
.col5 { flex-basis: calc(100% / 13); }
.col6 { flex-basis: calc(100% / 13); }
.col7 { flex-basis: calc(100% / 13); }
.col8 { flex-basis: calc(100% / 13); }
.col9 { flex-basis: calc(100% / 13); }
.col10 { flex-basis: calc(100% / 13); }
.col11 { flex-basis: calc(100% / 13); }
.col12 { flex-basis: calc(100% / 13); }
.col13 { flex-basis: calc(100% / 13); }


.icono{
  width: 47px;
  margin-bottom: -8px;
  margin-left: 31px;
}
.icono-velocimetro{
  width: 47px;
  margin-bottom: -8px;
  margin-left: 40px;
}

.bordes{
  padding: 1rem;
  height: 100%;
    width: 100%;
    border: 1px solid #DDDDDD;
}



.margin{
  margin-bottom: 30px;
}

.icono-bateria{
  margin-top: 9px;
  width: 80px;
}


.sivimss-acoordion-header-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin-bottom: 0px;
  padding: 0.75rem;
  height: 100%;
  width: 100%;
  border: 1px solid #DDDDDD;

  .accordion-header-left {
    margin-top: 11px;
    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #393C3E;
    }

    b {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #9D2449;
    }
    .subtitulos {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #484848
    }
  }

  .accordion-header-right {
    display: flex;
    align-items: center;
    margin-top: 11px;

    span{
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #272829;
    }

    b{
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #484848;
    }

    .estatus {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right:3rem;
    }
    a{
      cursor:pointer;
      text-decoration: none;
      .fs-barras-horizontales {
        color: #9D2449;
      }
    }

  }
}


.vertical-line {
  border-left: 1px solid #DDDDDD;
  height: 33px;
  margin-bottom: 0px;
  margin-top: 0px;
}


.contenedor-subtitulo{
  background: Black!important;
}

.margen-tabla{
  margin-bottom: 20px;
}
