<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="nombre">Nombre<span class="req">*</span>:</label>
    <input id="nombre" class="form-control" formControlName="nombre" placeholder="Inserta el nombre">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="razonSocial">Razón social<span class="req">*</span>:</label>
    <input id="razonSocial" class="form-control" formControlName="razonSocial" placeholder="Inserta la razón social">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="rfc">R.F.C.<span class="req">*</span>:</label>
    <input id="rfc" class="form-control" formControlName="rfc" placeholder="Inserta el R.F.C.">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="pais">País<span class="req">*</span>:</label>
    <input id="pais" class="form-control" formControlName="pais" placeholder="Inserta el PAIS">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="cp">Código postal<span class="req">*</span>:</label>
    <input id="cp" class="form-control" formControlName="cp" placeholder="Inserta el código postal">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="colonia">Colonia<span class="req">*</span>:</label>
    <input id="colonia" class="form-control" formControlName="colonia" placeholder="Inserta la colonia">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="estado">Estado<span class="req">*</span>:</label>
    <input id="estado" class="form-control" formControlName="estado" placeholder="Inserta el estado">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="municipio">Municipio<span class="req">*</span>:</label>
    <input id="municipio" class="form-control" formControlName="municipio" placeholder="Inserta el municipio">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="calle">Calle:</label>
    <input id="calle" class="form-control" formControlName="calle" placeholder="Inserta la calle">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="numeroExterior">Número exterior<span class="req">*</span>:</label>
    <input id="numeroExterior" class="form-control" formControlName="numeroExterior"
           placeholder="Inserta el número exterior">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="numeroInterior">Número interior<span class="req">*</span>:</label>
    <input id="numeroInterior" class="form-control" formControlName="numeroInterior"
           placeholder="Inserta el número interior">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="telefono">Teléfono<span class="req">*</span>:</label>
    <input id="telefono" class="form-control" formControlName="telefono" placeholder="Inserta el teléfono">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="correo">Correo electrónico<span class="req">*</span>:</label>
    <input id="correo" class="form-control" formControlName="correo" placeholder="Inserta el correo electronico">
  </div>
</div>
