<ng-container *ngIf="!ventanaConfirmacion">
  <ng [formGroup]="agregarCapillaForm">
    <form [formGroup]="agregarCapillaForm">
      <div class="row mb-3">
        <div class="col-md-8">
          <label class="control-label" for="id">ID<span class="req">*</span>:</label>
          <input id="id" class="form-control" formControlName="id" placeholder="ID">
          <span class="campo-obligatorio"
                *ngIf="fac.id?.errors?.required && (fac.id?.dirty || fac.id?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="control-label" for="nombreCapilla">Nombre<span class="req">*</span>:</label>
          <input id="nombreCapilla" class="form-control" formControlName="nombre"
                 placeholder="Ingresa el nombre de la capilla ">
          <span class="campo-obligatorio"
                *ngIf="fac.nombre?.errors?.required && (fac.nombre?.dirty || fac.nombre?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="capacidad">Capacidad<span class="req">*</span>:</label>
          <input id="capacidad" class="form-control" formControlName="capacidad" type="number"
                 placeholder="Ingresa la capacidad">
          <span class="campo-obligatorio"
                *ngIf="fac.capacidad?.errors?.required && (fac.capacidad?.dirty || fac.capacidad?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="idVelatorio">Velatorio<span class="req">*</span></label>
          <p-dropdown appendTo="body" id="idVelatorio" class="form-control" formControlName="idVelatorio"
                      [options]="velatorios" [(ngModel)]="selectedOption" (onChange)="onDropdownChange($event)"
                      placeholder="Seleccione el velatorio">
          </p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="fac.idVelatorio?.errors?.required && (fac.idVelatorio?.dirty || fac.idVelatorio?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label class="control-label" for="largo">Largo<span class="req">*</span>:</label>
          <input id="largo" class="form-control" formControlName="largo" type="number"
                 placeholder="Ingresa el largo">
          <span class="campo-obligatorio"
                *ngIf="fac.largo?.errors?.required && (fac.largo?.dirty || fac.largo?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="alto">Alto<span class="req">*</span>:</label>
          <input id="alto" class="form-control" formControlName="alto" type="number"
                 placeholder="Ingresa el alto">
          <span class="campo-obligatorio"
                *ngIf="fac.alto?.errors?.required && (fac.alto?.dirty || fac.alto?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="areaTotal">Área total<span class="req">*</span>:</label>
          <input id="areaTotal" class="form-control" formControlName="areaTotal" type="number"
                 placeholder="Ingresa el área">
          <span class="campo-obligatorio"
                *ngIf="fac.areaTotal?.errors?.required && (fac.areaTotal?.dirty || fac.areaTotal?.touched)">Campo obligatorio</span>
        </div>
      </div>

      <div>
        <span class="label-style control-label">Estatus<span class="req"> *:</span></span>
        <div class="contenedor-inputswitch">
          <p-inputSwitch formControlName="estatus" (click)="modificarEstatusGuardar()"></p-inputSwitch>
          <span class="activo" *ngIf="estatusGuardar">Activo</span>
          <span class="inactivo" *ngIf="!estatusGuardar">Inactivo</span>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-12">
          <span>*Campos obligatorios</span>
        </div>
      </div>
    </form>
    <div class="flex justify-content-end">
      <button class="btn btn-default btn-md" (click)="cerrar()">Cancelar</button>
      <button class="ml-4 btn btn-primary btn-md" [disabled]="agregarCapillaForm.invalid"
              (click)="abrirModalDetalleCapilla()">
        Agregar
      </button>
    </div>
  </ng>
</ng-container>


<ng-container *ngIf="ventanaConfirmacion">
  <app-table-panel>
    <ng-template appCustomTemplate="left-header">
      <div class="table-panel-header-column">
        <span class="font-bold">
          ID <span [ngClass]="capillas.estatus ? 'activo' : 'inactivo'">{{capillas.idCapilla}}</span>
        </span>
      </div>
    </ng-template>
    <ng-template appCustomTemplate="right-header">
      <div class="table-panel-header-column">
        <div class="flex flex-column">
          <span>Estatus</span>
          <div>
            <span class="activo" *ngIf="capillas?.estatus">Activo</span>
            <span class="inactivo" *ngIf="!capillas?.estatus">Inactivo</span>
          </div>
        </div>

      </div>
    </ng-template>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <span class="label-style">Nombre</span>
          <span> {{capillas.nombre}} </span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <span class="label-style">Capacidad</span>
          <span> {{capillas.capacidad}} </span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <span class="label-style">Largo</span>
          <span> {{capillas.largo}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <span class="label-style">Alto</span>
          <span> {{capillas.alto}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <span class="label-style">Area total</span>
          <span> {{capillas.areaTotal}} </span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <span class="label-style">Velatorio</span>
          <span> {{capillas.velatorio}} </span>
        </div>
      </div>
    </div>
  </app-table-panel>
</ng-container>

<ng-container *ngIf="ventanaConfirmacion">
  <div class="flex mt-4 justify-content-center">
    <div class="col-md-6">
      ¿Estás seguro que deseas agregar esta capilla?
    </div>
  </div>
  <div class="flex justify-content-end separardor">
    <button class="btn btn-default btn-md" (click)="cerrar()">Cancelar</button>
    <button class="ml-4 btn btn-primary btn-md" [disabled]="agregarCapillaForm.invalid" (click)="agregarCapilla()">
      Agregar
    </button>
  </div>
</ng-container>
