<div class="grid">
  <app-btn-regresar class="mr-2 mt-5 col-fixed border-return-button" [routerLink]="['']"></app-btn-regresar>
  <app-titulo-principal titulo="Pagos / Realizar pago" class="col"></app-titulo-principal>
</div>
<div class="border-panel">
  <form [formGroup]="filtroPagoForm" (submit)="buscar()" (reset)="limpiar()">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivelRealizarPago">Nivel:</label>
        <p-dropdown appendTo="body" id="nivelRealizarPago" class="form-control" formControlName="nivel"
                    [options]="catalogoNiveles" placeholder="Seleccionar el nivel">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="velatorioRealizarPago">Velatorio:</label>
        <p-dropdown appendTo="body" id="velatorioRealizarPago" class="form-control" formControlName="velatorio"
                    [options]="catalogoVelatorios" placeholder="Seleccione el velatorio" [filter]="true"
                    filterBy="label">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="folioOrden">Folio de la orden de servicio inmediato (ODS):</label>
        <p-dropdown appendTo="body" id="folioOrden" class="form-control" formControlName="folioOrden"
                    [options]="foliosODS" placeholder="Seleccione el folio" (onChange)="limpiarFolios(1)"
                    [filter]="true" filterBy="label">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="folioConvenio">Folio del nuevo convenio de previsión funeraria
          (PNCPF):</label>
        <p-dropdown appendTo="body" id="folioConvenio" class="form-control" formControlName="folioConvenio"
                    [options]="foliosPrevFun" placeholder="Seleccione el folio" (onChange)="limpiarFolios(2)"
                    [filter]="true" filterBy="label">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="folioRenovacion">Folio de la renovación de convenios de previsión funeraria
          (PRCPF):</label>
        <p-dropdown appendTo="body" id="folioRenovacion" class="form-control" formControlName="folioRenovacion"
                    [options]="foliosRevPrevFun" placeholder="Seleccione el folio" (onChange)="limpiarFolios(3)"
                    [filter]="true" filterBy="label">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="nombreContratante">Nombre contratante:</label>
        <input id="nombreContratante" class="form-control" formControlName="nombreContratante"
               placeholder="Ingresar nombre">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <label class="control-label">
              Periodo:
            </label>
          </div>
          <div class="col-md-6">
            <p-calendar id="periodoInicio" formControlName="periodoInicio" styleClass="form-control" [showIcon]="true"
                        placeholder="dd/mm/aaaa" dateFormat="dd/mm/yy" appendTo="body"
                        (onSelect)="validarMismaFechaInicioFin()"
                        [maxDate]="filtroPagoForm.get('periodoFin')?.value || fechaAnterior">
            </p-calendar>
          </div>
          <div class="col-md-6">
            <p-calendar id="periodoFin" formControlName="periodoFin" styleClass="form-control" [showIcon]="true"
                        placeholder="dd/mm/aaaa" dateFormat="dd/mm/yy" appendTo="body"
                        (onSelect)="validarMismaFechaInicioFin()"
                        [minDate]="filtroPagoForm.get('periodoInicio')?.value" [maxDate]="fechaActual">
            </p-calendar>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="reset" class="btn btn-default btn-md" [disabled]="filtroPagoForm.pristine">
          Limpiar
        </button>
        <button type="submit" class="btn btn-primary btn-md ml-5" [disabled]="filtroPagoForm.pristine">Buscar
        </button>
      </div>
    </div>
  </form>
</div>
<section class="mt-5">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Registros</h2>
    <button type="button" class="btn btn-primary btn-lg"
            (click)="abrirModalPago()" onCloseOnNavigation>Ir a Pago
    </button>
  </div>
  <p-table styleClass="mt-5 mb-8" [value]="pagos" [paginator]="pagos.length > 0" [rows]="cantElementosPorPagina"
           [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual"
           (onLazyLoad)="seleccionarPaginacion($event)" [resizableColumns]="true" [columnResizeMode]="'expand'"
           appActivarUltimaCeldaSticky>
    <ng-template pTemplate="header">
      <tr>
        <th pResizableColumn id="columna_realizar_pago_fecha">Fecha</th>
        <th pResizableColumn id="columna_realizar_pago_folio">Folio</th>
        <th pResizableColumn id="columna_realizar_pago_contratante">Nombre contratante</th>
        <th pResizableColumn id="columna_realizar_pago_tipo_pago">Tipo de Pago</th>
        <th pResizableColumn id="columna_realizar_pago_total">Total</th>
        <th pResizableColumn id="columna_realizar_pago_estatus">Estatus</th>
        <th pResizableColumn id="columna_realizar_pago_estatus_pago">Estatus de Pago</th>
        <th pResizableColumn id="columna_realizar_pago_datos_pago">Datos de Pago</th>
        <th id="columna_realizar_pago_datos_botones"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pago>
      <tr>
        <td>{{pago.fecha | date:'dd/MM/YYYY'}}</td>
        <td>{{pago.folio}}</td>
        <td>{{pago.nomContratante}}</td>
        <td>{{pago.tipoPago}}</td>
        <td>{{pago.total | currency}}</td>
        <td>{{pago.estatus}}</td>
        <td>{{pago.estatusPago}}</td>
        <td>{{pago.metodoPago | titlecase}}</td>
        <td>
          <div class="contenedor-celda-iconos">
            <a (click)="abrirModalDetallePago(pago)" [routerLink]="['./detalle-de-pago', pago.idPagoBitacora]">
              <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
            </a>
            <ng-container *ngIf="rol === 13; then admin; else notAdmin"></ng-container>
            <ng-template #admin>
              <a (click)="abrirPanel($event,pago)"
                 *ngIf="habilitaIrPago.includes(pago.estatus) || habilitaIrPagoEstatus.includes(pago.estatusPago) ||
                 habilitaModificar.includes(pago.estatus) || habilitaModificarPago.includes(pago.estatusPago); else emptyDivAdmin">
                <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
              </a>
              <ng-template #emptyDivAdmin>
                <a></a>
              </ng-template>
            </ng-template>
            <ng-template #notAdmin>
              <a (click)="abrirPanel($event,pago)"
                 *ngIf="habilitaIrPago.includes(pago.estatus) || habilitaIrPagoEstatus.includes(pago.estatusPago);
                  else emptyDiv">
                <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
              </a>
              <ng-template #emptyDiv>
                <a></a>
              </ng-template>
            </ng-template>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <th colspan="9" class="p-2 text-center font-bold text-xl" id="realizar_pago_sin_resultados">
          No se encontro información relacionada a tu búsqueda
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements">{{pagos.length}} de {{totalElementos}}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="paginator-template">
        <div class="export-table">
          <span class="export-table-text">Exportar tabla</span>
          <div class="export-table-icons">
            <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf"
                 (click)="guardarPDF()">
            <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg" alt="exportar excel"
                 (click)="guardarExcel()">
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</section>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Ir a Pago" *ngIf="habilitaIrPago.includes(pagoSeleccionado.estatus) ||
        habilitaIrPagoEstatus.includes(pagoSeleccionado.estatusPago)" (click)="redireccionPago()">
      </app-overlay-panel-opcion>
      <ng-container *ngIf="rol === 13">
        <app-overlay-panel-opcion titulo="Modificar Pago" *ngIf="habilitaModificar.includes(pagoSeleccionado.estatus) ||
        habilitaModificarPago.includes(pagoSeleccionado.estatusPago)" (click)="modificarPago()">
        </app-overlay-panel-opcion>
      </ng-container>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>

<p-dialog header="Registrar tipo de pago" [(visible)]="realizarPagoModal" [modal]="true">
  <div class="w-740">
    <div class="row flex justify-content-center mb-4 ">
      <button type="button" class="btn btn-primary btn-lg btn-md w-500" [routerLink]="'./pago-orden-servicio'">
        Pago de Orden de servicio inmediato
      </button>
    </div>
    <div class="row flex justify-content-center mb-4 ">
      <button type="button" class="btn btn-primary btn-lg btn-md w-500"
              [routerLink]="'./pago-convenio-prevision-funeraria'">
        Pago de Nuevos convenios de previsión funeraria
      </button>
    </div>
    <div class="row flex justify-content-center ">
      <button type="button" class="btn btn-primary btn-lg btn-md w-500"
              [routerLink]="'./pago-renovacion-convenio-prevision-funeraria'">
        Pago de Renovación de convenios de previsión funeraria
      </button>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="mostrarModalDescargaExitosa" [modal]="true"
          [style]="{maxWidth:'544px',width: '100%'}"
          [draggable]="false" [resizable]="false" header="">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center justify-content-center">
      <span class="text-justify">{{MENSAJE_ARCHIVO_DESCARGA_EXITOSA}}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <button class="btn btn-primary btn-md" (click)="mostrarModalDescargaExitosa = false">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>
