<app-table-panel>
  <ng-template appCustomTemplate="left-header">
    <div class="table-panel-header-column">
      <span class="font-bold">
        {{datosVehiculo.placas}} - {{datosVehiculo.marca}} {{datosVehiculo.modelo}}
      </span>
    </div>
  </ng-template>
  <ng-template appCustomTemplate="right-header">
    <div class="table-panel-header-column">
      <div class="flex flex-column">
        <span>Disponibilidad</span>
        <div>
          <span class="disponible-entrada activo" *ngIf="datosVehiculo.disponible === 1">Disponible</span>
          <span class="ocupada-entrada inactivo" *ngIf="datosVehiculo.disponible !== 1">Ocupada</span>
        </div>
      </div>
    </div>
  </ng-template>
  <div class="row table-panel-row">
    <div class="col-md-3">
      <div class="table-panel-column">
        <label>Marca</label>
        <span>{{datosVehiculo.marca}}</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="table-panel-column">
        <label>Modelo</label>
        <span>{{datosVehiculo.modelo}}</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="table-panel-column">
        <label>Placas</label>
        <span>{{datosVehiculo.placas}}</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="table-panel-column">
        <label>Número de tarjeta de circulación</label>
        <span>{{datosVehiculo.tarjetaCirculacion}}</span>
      </div>
    </div>
  </div>
  <div class="row table-panel-row" *ngIf="indice === 1">
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>Folio de la ODS</label>
        <span>{{f.folioOds.value}}</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>Nombre del contratante</label>
        <span>{{f.nombreContratante.value}}</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>Nombre del finado</label>
        <span>{{f.nombreFinado.value}}</span>
      </div>
    </div>
  </div>
  <div class="row table-panel-row" *ngIf="indice === 1">
    <div class="">
      <div class="col-md-12 font-bold mt-4 ml-4">
        Nombre del destino
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>Municipio origen</label>
        <span>{{f.municipioOrigen.value}}</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>Municipio destino</label>
        <span>{{f.municipioDestino.value}}</span>
      </div>
    </div>
  </div>
  <div class="row table-panel-row" *ngIf="indice === 1">
    <div class="">
      <div class="col-md-12 font-bold mt-4 ml-4">
        Registro de salida
      </div>
    </div>
    <div class="col-md-3">
      <div class="table-panel-column">
        <label>Fecha</label>
        <span>{{f.fecha.value | date:'dd/MM/YYYY'}}</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="table-panel-column">
        <label>Hora</label>
        <span>{{f.hora.value}}</span>
      </div>
    </div>
  </div>
  <div class="row table-panel-row" *ngIf="indice === 1">
    <div class="col-md-3">
      <div class="table-panel-column">
        <label>Nivel de gasolina inicial</label>
        <span>{{f.nivelGasolinaInicial.value}}</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="table-panel-column">
        <label>Kilometraje inicial (km)</label>
        <span>{{f.kilometrajeInicial.value}}</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>Nombre del responsable</label>
        <span>{{responsableSeleccionado[0].label}}</span>
      </div>
    </div>
  </div>
</app-table-panel>

<ng-container *ngIf="indice === 1">
  <div class="row mb-5 mt-5">
    <div class="col-md-12 text-center">
      ¿Estás seguro de registrar la salida del vehículo?
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 flex justify-content-end">
      <button type="button" class="btn btn-default btn-md" (click)="cancelar()">Cancelar</button>
      <button type="button" class="btn btn-primary btn-md ml-5" (click)="guardar()">Aceptar
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="indice === 0">
  <form [formGroup]="formRegistrarSalida">
    <div class="row mt-3">
      <div class="col-md-6">
        <label class="control-label" for="folioOds">Folio ODS<span class="req">*</span>:</label>
        <input id="folioOds" class="form-control" formControlName="folioOds" placeholder="Ingresa el folio ODS"
          numbersOnly (blur)="obtenerDatosFolioOds();">
        <span class="campo-obligatorio"
          *ngIf="f.folioOds?.errors?.required && (f.folioOds?.dirty || f.folioOds?.touched)">
          Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="nombreContratante">Nombre del contratante:</label>
        <input id="nombreContratante" class="form-control" formControlName="nombreContratante"
          placeholder="Ingresa nombre del contratante">
        <span class="campo-obligatorio"
          *ngIf="f.nombreContratante?.errors?.required && (f.nombreContratante?.dirty || f.nombreContratante?.touched)">
          Este campo es obligatorio *.</span>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <label class="control-label" for="nombreFinado">Nombre del finado:</label>
        <input id="nombreFinado" class="form-control" formControlName="nombreFinado"
          placeholder="Ingresa nombre del finado">
        <span class="campo-obligatorio"
          *ngIf="f.nombreFinado?.errors?.required && (f.nombreFinado?.dirty || f.nombreFinado?.touched)">
          Este campo es obligatorio *.</span>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="indice === 0">
  <form [formGroup]="formRegistrarSalida">
    <div class="row mb-3">
      <span class="col-md-12 font-bold mt-3">
        Nombre del destino
      </span>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="control-label" for="municipioOrigen">Municipio origen:</label>
        <input id="municipioOrigen" class="form-control" formControlName="municipioOrigen"
          placeholder="Ingresa municipio origen">
        <span class="campo-obligatorio"
          *ngIf="f.municipioOrigen?.errors?.required && (f.municipioOrigen?.dirty || f.municipioOrigen?.touched)">
          Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="municipioDestino">Municipio destino:</label>
        <input id="municipioDestino" class="form-control" formControlName="municipioDestino"
          placeholder="Ingresa municipio destino">
        <span class="campo-obligatorio"
          *ngIf="f.municipioDestino?.errors?.required && (f.municipioDestino?.dirty || f.municipioDestino?.touched)">
          Este campo es obligatorio *.</span>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="indice === 0">
  <form [formGroup]="formRegistrarSalida">
    <div class="row mb-3">
      <span class="col-md-12 font-bold mt-3">
        Registro de salida
      </span>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="control-label" for="fecha">Fecha<span class="req">*</span>:</label>
        <p-calendar id="fecha" formControlName="fecha" styleClass="form-control" [showIcon]="true" placeholder="Fecha"
          dateFormat="dd/mm/yy" [minDate]="fechaActual" [maxDate]="fechaActual">
        </p-calendar>
        <span class="campo-obligatorio" *ngIf="f.fecha?.errors?.required && (f.fecha?.dirty || f.fecha?.touched)">
          Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="hora">Hora<span class="req">*</span>:</label>
        <p-calendar id="hora" styleClass="form-control" formControlName="hora" placeholder="00:00"
          [timeOnly]="true"></p-calendar>
        <span class="campo-obligatorio" *ngIf="f.hora?.errors?.required && (f.hora?.dirty || f.hora?.touched)">
          Este campo es obligatorio *.</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <label class="control-label" for="nivelGasolinaInicial">Nivel de gasolina inicial<span
            class="req">*</span>:</label>
        <input id="nivelGasolinaInicial" class="form-control" formControlName="nivelGasolinaInicial"
          placeholder="Ingresa el nivel de gasolina" trimmer lettersOnly>
        <span class="campo-obligatorio"
          *ngIf="f.nivelGasolinaInicial?.errors?.required && (f.nivelGasolinaInicial?.dirty || f.nivelGasolinaInicial?.touched)">
          Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="kilometrajeInicial">Kilometraje inicial (km)<span
            class="req">*</span>:</label>
        <p-inputNumber id="kilometrajeInicial" class="form-control" formControlName="kilometrajeInicial" mode="decimal"
          [minFractionDigits]="2" [maxFractionDigits]="2" suffix=" km" placeholder="Ingresa el kilometraje"
          [maxlength]="13" currency="USD" locale="en-US"></p-inputNumber>
        <span class="campo-obligatorio"
          *ngIf="f.kilometrajeInicial?.errors?.required && (f.kilometrajeInicial?.dirty || f.kilometrajeInicial?.touched)">
          Este campo es obligatorio *.</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <label class="control-label" for="nombreResponsable">Nombre del responsable<span class="req">*</span>:</label>
        <p-dropdown id="nombreResponsable" class="form-control" formControlName="nombreResponsable"
          [options]="catalogoResponsables" placeholder="Selecciona el nombre del responsable" [filter]="true"
          filterBy="label">
        </p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="f.nombreResponsable?.errors?.required && (f.nombreResponsable?.dirty || f.nombreResponsable?.touched)">
          Este campo es obligatorio *.</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <span class="etiqueta-obligatorios">*Campos obligatorios</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 flex justify-content-end">
        <button type="button" class="btn btn-default btn-md" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-primary btn-md ml-5" [disabled]="formRegistrarSalida.invalid"
          (click)="guardar()">Registrar salida
        </button>
      </div>
    </div>
  </form>
</ng-container>