<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="matricula">Número del documento<span class="req">*</span>:</label>
    <input id="matricula" class="form-control" placeholder="Inserta la Matricula">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="rfc">Tipo del documento<span class="req">*</span>:</label>
    <input id="rfc" class="form-control" placeholder="Inserta el R.F.C.">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="curp">Nombre del documento<span class="req">*</span>:</label>
    <input id="curp" class="form-control" placeholder="Inserta el C.U.R.P">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-6">
    <label class="control-label" for="nombres">Ver documento<span class="req">*</span>:</label>
    <input id="nombres" class="form-control" placeholder="Inserta el nombre">
  </div>
  <div class="col-md-6">
    <label class="control-label" for="primerApellido">Modificar Documento<span class="req">*</span>:</label>
    <input id="primerApellido" class="form-control" placeholder="Inserta el primer Apellido">
  </div>
</div>
