<div class="container-sivimss px-5 registro-en-linea my-5">
    <app-titulo-principal titulo="COMPROBANTE DE PAGO">
        <app-btn-regresar routerLink="../"></app-btn-regresar>
    </app-titulo-principal>
    <app-table-panel>
        <ng-template appCustomTemplate="left-header">
            <div class="table-panel-header-column">
                <span class="font-bold">
                    Folio del pago <span class="activo">A-3456</span>
                </span>
            </div>
        </ng-template>
        <ng-template appCustomTemplate="right-header">
            <div class="table-panel-header-column">
                <div class="flex align-items-center">
                    <span>Fecha y Hora de transacción</span>
                    <div class="ml-4">
                        <span class="activo block text-right">25-09-2023 </span>
                        <span class="activo block text-right">10:45:39</span>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="row table-panel-row">
            <div class="col-md-3">
                <div class="table-panel-column">
                    <label>Delegación</label>
                    <span> Edo. México Poniente </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="table-panel-column">
                    <label>Velatorio</label>
                    <span>No. 09 Toluca </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="table-panel-column">
                    <label>Lugar y Fecha de Expedición</label>
                    <span> Edo. de México, 31-12-2023 </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="table-panel-column">
                    <label>Clave del cliente</label>
                    <span> 31122021 </span>
                </div>
            </div>
        </div>
        <div class="row table-panel-row">
            <div class="col-md-3">
                <div class="table-panel-column">
                    <label>Nombre del usuario</label>
                    <span>Lorem impsum </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="table-panel-column">
                    <label>Concepto de pago</label>
                    <span>Servicios</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="table-panel-column">
                    <label>Referencia / Convenio</label>
                    <span>31122021</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="table-panel-column">
                    <label>Número de Aprobación</label>
                    <span>31122021</span>
                </div>
            </div>
        </div>
        <div class="row table-panel-row">
            <div class="col-md-6">
                <div class="table-panel-column">
                    <label>Últimos 4 digitos del número de tarjeta</label>
                    <span>#### </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="table-panel-column">
                    <label>Emisor de tarjeta (Débito)</label>
                    <span>#### </span>
                </div>
            </div>
        </div>
        <div class="row table-panel-row">
            <div class="col-md-6">
                <div class="table-panel-column">
                    <label>Nombre y firma del titular de la tarjeta</label>
                    <span>Lorem Impsum</span>
                </div>
            </div>
        </div>
    </app-table-panel>
    <div class="row mt-8">
        <div class="col-md-12 flex justify-content-end">
            <button class="btn btn-primary btn-md">Guardar</button>
            <button class="btn btn-primary btn-md ml-5">Imprimir</button>
        </div>
    </div>
</div>