<div class="row mb-3 grid">
  <div class="col-md-4">
    <label class="control-label" [for]="'curp-' + ID">C.U.R.P.
      <span class="req" *ngIf="tipo === 'sustituto'">*</span>:</label>
    <input [id]="'curp-' + ID" class="form-control" formControlName="curp" placeholder="Ingresa el C.U.R.P."
           [maxlength]="18" (blur)="validarCurp()">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.curp?.errors?.required  && (parentFormGroup.curp?.dirty || parentFormGroup.curp?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4">
    <label class="control-label" [for]="'rfc' + ID">R.F.C
      <span class="req" *ngIf="tipo === 'sustituto'">*</span>:</label>
    <input [id]="'rfc' + ID" class="form-control" formControlName="rfc" placeholder="Ingresa el R.F.C."
           [maxlength]="13" (blur)="validarRfc()">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup?.rfc?.errors?.pattern && (parentFormGroup?.rfc?.dirty || parentFormGroup?.rfc?.touched)">
      RFC no válido.</span>
  </div>
  <div class="col-md-4">
    <label class="control-label" [for]="'matricula' + ID">Matrícula:</label>
    <input [id]="'matricula' + ID" class="form-control" formControlName="matricula" placeholder="Ingresa la matrícula"
           [maxlength]="10" (blur)="validarMatricula()">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.matricula?.errors?.required  && (parentFormGroup.matricula?.dirty || parentFormGroup.matricula?.touched)">
      Este campo es obligatorio *.</span>
  </div>
</div>
<div class="row mb-3 grid">
  <div class="col-md-4">
    <label class="control-label" [for]="'nss' + ID">NSS:</label>
    <input [id]="'nss' + ID" class="form-control" formControlName="nss" placeholder="Ingresa el NSS" [maxlength]="11"
           numbersOnly (blur)="validarNSS()">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.nss?.errors?.required  && (parentFormGroup.nss?.dirty || parentFormGroup.nss?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4">
    <label class="control-label" [for]="'nombre' + ID">Nombre (s)<span class="req" *ngIf="tipo === 'sustituto'">*</span>:</label>
    <input [id]="'nombre' + ID" class="form-control" formControlName="nombre" placeholder="Ingresa el nombre"
           [maxlength]="30" lettersOnly>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.nombre?.errors?.required  && (parentFormGroup.nombre?.dirty || parentFormGroup.nombre?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4">
    <label class="control-label" [for]="'primerApellido' + ID">Primer Apellido
      <span class="req" *ngIf="tipo === 'sustituto'">*</span>:</label>
    <input [id]="'primerApellido' + ID" class="form-control" formControlName="primerApellido" [maxlength]="20"
           placeholder="Ingresa el primer apellido" lettersOnly>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.primerApellido?.errors?.required  && (parentFormGroup.primerApellido?.dirty || parentFormGroup.primerApellido?.touched)">
      Este campo es obligatorio *.</span>
  </div>
</div>
<div class="row grid">
  <div class="col-md-4 mb-3">
    <label class="control-label" [for]="'segundoApellido' + ID">Segundo Apellido
      <span class="req" *ngIf="tipo === 'sustituto'">*</span>:</label>
    <input [id]="'segundoApellido' + ID" class="form-control" formControlName="segundoApellido" [maxlength]="20"
           placeholder="Ingresa el segundo Apellido" lettersOnly>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.segundoApellido?.errors?.required  && (parentFormGroup.segundoApellido?.dirty || parentFormGroup.segundoApellido?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" [for]="'sexo' + ID">Sexo<span class="req"
                                                               *ngIf="tipo === 'sustituto'">*</span>:</label>
    <p-dropdown [id]="'sexo' + ID" class="form-control" formControlName="sexo" placeholder="Selecciona sexo"
                (onChange)="cambioTipoSexo()" [options]="tipoSexo" [filter]="true"
                filterBy="label"></p-dropdown>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.sexo?.errors?.required  && (parentFormGroup.sexo?.dirty || parentFormGroup.sexo?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3" *ngIf="parentFormGroup.sexo.value === 3">
    <label class="control-label" [for]="'otroSexo' + ID">Otro:</label>
    <input [id]="'otroSexo' + ID" class="form-control" formControlName="otroSexo"
           placeholder="Ingresa el sexo correspondiente">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.otroSexo?.errors?.required  && (parentFormGroup.otroSexo?.dirty || parentFormGroup.otroSexo?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" [for]="'fechaNacimiento' + ID">Fecha de Nacimiento<span class="req"
                                                                                         *ngIf="tipo === 'sustituto'">*</span>:</label>
    <p-calendar [id]="'fechaNacimiento' + ID" styleClass="form-control" formControlName="fechaNacimiento"
                [showIcon]="true" dateFormat="dd-mm-yy" placeholder="Ingresa fecha de nacimiento"
                [maxDate]="fechaActual">
    </p-calendar>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.fechaNacimiento?.errors?.required  && (parentFormGroup.fechaNacimiento?.dirty || parentFormGroup.fechaNacimiento?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" [for]="'nacionalidad' + ID">Nacionalidad<span class="req" *ngIf="tipo === 'sustituto'">*</span>:</label>
    <p-dropdown [id]="'nacionalidad' + ID" class="form-control" formControlName="nacionalidad"
                (onChange)="cambioNacionalidad()"
                placeholder="Selecciona nacionalidad" [options]="nacionalidad" [filter]="true"
                filterBy="label"></p-dropdown>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.nacionalidad?.errors?.required  && (parentFormGroup.nacionalidad?.dirty || parentFormGroup.nacionalidad?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3" *ngIf="parentFormGroup.nacionalidad.value === 2">
    <label class="control-label" [for]="'paisNacimiento' + ID">País de Nacimiento<span class="req"
                                                                                       *ngIf="tipo === 'sustituto'">*</span>:</label>
    <p-dropdown [id]="'paisNacimiento' + ID" class="form-control" formControlName="paisNacimiento" [options]="paises"
                placeholder="Seleccionar el país de nacimiento" [filter]="true" filterBy="label">
    </p-dropdown>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.paisNacimiento?.errors?.required  && (parentFormGroup.paisNacimiento?.dirty || parentFormGroup.paisNacimiento?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3" *ngIf="parentFormGroup.nacionalidad.value === 1">
    <label class="control-label" [for]="'lugarNacimiento' + ID">Lugar de Nacimiento<span class="req"
                                                                                         *ngIf="tipo === 'sustituto'">*</span>:</label>
    <p-dropdown [id]="'lugarNacimiento' + ID" class="form-control" formControlName="lugarNacimiento" [filter]="true"
                filterBy="label" [options]="estados" placeholder="Selecciona el lugar de nacimiento">
    </p-dropdown>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.lugarNacimiento?.errors?.required  && (parentFormGroup.lugarNacimiento?.dirty || parentFormGroup.lugarNacimiento?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" [for]="'telefono' + ID">Teléfono<span class="req" *ngIf="tipo === 'sustituto'">*</span>:</label>
    <input [id]="'telefono' + ID" class="form-control" formControlName="telefono" [maxlength]="10"
           placeholder="Ingresa el teléfono" numbersOnly>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.telefono?.errors?.required  && (parentFormGroup.telefono?.dirty || parentFormGroup.telefono?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" [for]="'correoElectronico' + ID">Correo Electrónico<span class="req"
                                                                                          *ngIf="tipo === 'sustituto'">*</span>:</label>
    <input [id]="'correoElectronico' + ID" class="form-control" formControlName="correoElectronico"
           placeholder="Ingresa el correo electrónico">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.correoElectronico?.errors?.required  && (parentFormGroup.correoElectronico?.dirty || parentFormGroup.correoElectronico?.touched)">
      Este campo es obligatorio *.</span>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup?.correoElectronico?.errors?.pattern && (parentFormGroup?.correoElectronico?.dirty || parentFormGroup?.correoElectronico?.touched)">
      El correo electrónico no es válido.</span>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" [for]="'calle' + ID">Calle<span class="req"
                                                                 *ngIf="tipo === 'sustituto'">*</span>:</label>
    <input [id]="'calle' + ID" class="form-control" formControlName="calle" [maxlength]="30"
           placeholder="Ingresa la calle">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.calle?.errors?.required  && (parentFormGroup.calle?.dirty || parentFormGroup.calle?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" [for]="'numeroExterior' + ID">Número exterior<span class="req"
                                                                                    *ngIf="tipo === 'sustituto'">*</span>:</label>
    <input [id]="'numeroExterior' + ID" class="form-control" formControlName="numeroExterior" [maxlength]="10"
           placeholder="Ingresa el número exterior">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.numeroExterior?.errors?.required  && (parentFormGroup.numeroExterior?.dirty || parentFormGroup.numeroExterior?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" [for]="'numeroInterior' + ID">Número interior<span class="req"
                                                                                    *ngIf="tipo === 'sustituto'">*</span>:</label>
    <input [id]="'numeroInterior' + ID" class="form-control" formControlName="numeroInterior" [maxlength]="10"
           placeholder="Ingresa el número interior">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.numeroInterior?.errors?.required  && (parentFormGroup.numeroInterior?.dirty || parentFormGroup.numeroInterior?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" [for]="'cp' + ID">Codigo Postal<span class="req" *ngIf="tipo === 'sustituto'">*</span>:</label>
    <input [id]="'cp' + ID" class="form-control" formControlName="cp" (blur)="cargaCPSust()" [maxlength]="5"
           placeholder="Ingresa el Codigo Postal">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.cp?.errors?.required  && (parentFormGroup.cp?.dirty || parentFormGroup.cp?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" [for]="'colonia' + ID">Colonia<span class="req" *ngIf="tipo === 'sustituto'">*</span>:</label>
    <p-dropdown [id]="'colonia' + ID" class="form-control" formControlName="colonia"
                placeholder="Selecciona la colonia" [options]="colonias" [filter]="true"
                filterBy="label"></p-dropdown>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.colonia?.errors?.required  && (parentFormGroup.colonia?.dirty || parentFormGroup.colonia?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" [for]="'municipio' + ID">Municipio<span class="req"
                                                                         *ngIf="tipo === 'sustituto'">*</span>:</label>
    <input [id]="'municipio' + ID" class="form-control" formControlName="municipio"
           placeholder="Ingresa el municipio">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.municipio?.errors?.required  && (parentFormGroup.municipio?.dirty || parentFormGroup.municipio?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" [for]="'estado' + ID">Estado<span class="req"
                                                                   *ngIf="tipo === 'sustituto'">*</span>:</label>
    <input [id]="'estado' + ID" class="form-control" formControlName="estado"
           placeholder="Ingresa el Estado">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.estado?.errors?.required  && (parentFormGroup.estado?.dirty || parentFormGroup.estado?.touched)">
      Este campo es obligatorio *.</span>
  </div>
</div>
