<app-titulo-principal titulo="Pago de Orden de Servicio"></app-titulo-principal>
<p-table styleClass="mt-5 mb-8" [value]="pagos" [paginator]="pagos.length > 0" [rows]="cantElementosPorPagina"
         [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual"
         (onLazyLoad)="seleccionarPaginacion($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>Fecha de pago</th>
      <th>Folio ODS</th>
      <th>Tipo de pago</th>
      <th>Total a pagar</th>
      <th>Total pagado</th>
      <th>Diferencias Totales</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pago>
    <tr>
      <td>{{pago.fechaPago}}</td>
      <td>{{pago.folioODS}}</td>
      <td>{{pago.tipoPago}}</td>
      <td>{{pago.totalPagar}}</td>
      <td>{{pago.totalPagado}}</td>
      <td>{{pago.diferenciasTotales}}</td>
      <td>
        <div class="contenedor-celda-iconos">
          <a (click)="abrirPanel($event,pago)">
            <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
          </a>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <th colspan="8" class="p-2 text-center font-bold text-xl">
        No se encontro información relacionada a tu búsqueda
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <div class="paginator-template">
      <span class="total-elements">{{pagos.length}} de {{totalElementos}}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="paginatorright">
  </ng-template>
</p-table>
<div class="flex mt-4 justify-content-end">
  <button class="ml-6 mt-3 btn btn-primary btn-md" [routerLink]="'./..'">
    Regresar
  </button>
</div>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Registrar" (click)="registrarPago()"></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Modificar"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>

<p-dialog header="Pagar orden" [(visible)]="pagoODSModal" [styleClass]="'w-920'">
  <div class="row mb-3" [formGroup]="pagoForm">
    <div class="col-md-12">
      <label class="control-label" for="tipoPago">Tipo de pago<span class="req">*</span></label>
      <p-dropdown appendTo="body" id="tipoPago" class="form-control" formControlName="tipoPago"
                  [options]="tipoPago" placeholder="Seleccionar tipo">
      </p-dropdown>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-12 control-label">
      <span>*Campos obligatorios</span>
    </div>
  </div>
  <div class="row mt-6">
    <div class="col-md-12 flex justify-content-end">
      <button type="submit" class="btn btn-default btn-md" (click)="pagoODSModal = !pagoODSModal">Cancelar</button>
      <button type="submit" class="btn btn-primary btn-md ml-5" (click)="abrirModalPago();">Aceptar</button>
    </div>
  </div>
</p-dialog>
