<div class="grid">
  <app-titulo-principal class="col" titulo="Servicios / Generar Orden de subrogación"></app-titulo-principal>
</div>
<div class="border-panel">
  <form [formGroup]="filtroForm" (ngSubmit)="paginar($event)" (reset)="limpiar()">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel:</label>
        <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="catalogoNiveles"
          placeholder="Selecciona el nivel">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio:</label>
        <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="catalogoVelatorios"
          placeholder="Selecciona el velatorio">
        </p-dropdown>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="folio">Folio de la ODS<span class="req">*</span>:</label>
        <input id="folio" class="form-control" formControlName="folio" placeholder="Ingresa el folio ODS">
        <span class="campo-obligatorio"
          *ngIf="ff.folio?.errors?.required && (ff.folio?.dirty || ff.folio?.touched)">Este
          campo es obligatorio *.</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="proveedor">Proveedor<span class="req">*</span>:</label>
        <input id="proveedor" class="form-control" formControlName="proveedor" placeholder="Ingresa el proveedor">
        <span class="campo-obligatorio"
          *ngIf="ff.proveedor?.errors?.required && (ff.proveedor?.dirty || ff.proveedor?.touched)">Este
          campo es obligatorio *.</span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="fecha">Fecha:</label>
        <p-calendar id="fecha" styleClass="form-control" formControlName="fecha" [showIcon]="true" dateFormat="dd/mm/yy"
          placeholder="Ingresa fecha"></p-calendar>
        <span class="campo-obligatorio"
          *ngIf="ff.fecha?.errors?.required && (ff.fecha?.dirty || ff.fecha?.touched)">Campo
          obligatorio</span>
      </div>
    </div>

    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="reset" class="btn btn-default btn-md" [disabled]="filtroForm.pristine">Limpiar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5" [disabled]="filtroForm.pristine">Buscar</button>
      </div>
    </div>
  </form>
</div>

<section class="mt-5">
  <p-table appActivarUltimaCeldaSticky styleClass="mt-5 mb-8" [value]="ordenes" [paginator]="ordenes.length > 0"
    [rows]="cantElementosPorPagina" [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3"
    [(first)]="numPaginaActual" (onLazyLoad)="paginar($event)">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Fecha ODS</th>
        <th scope="col">Folio ODS</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Nombre de finado</th>
        <th scope="col">Tipo de servicio</th>
        <th scope="col">Estatus</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-orden>
      <tr>
        <td> {{orden.fechaOds}}</td>
        <td> {{orden.folioOds}}</td>
        <td> {{orden.proveedor}}</td>
        <td> {{orden.nombreFinado}}</td>
        <td> {{orden.tipoServicio}}</td>
        <td>
          <div class="contenedor-celda-iconos">
            <a> </a>
            <a (click)="abrirPanel($event, orden)">
              <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
            </a>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <th colspan="9" class="p-2 text-center font-bold text-xl" id="reporte_encargado_sin_resultados">
          No se encontró información relacionada a tu búsqueda.
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements">{{ordenes.length}} de {{totalElementos}}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="paginator-template">
        <div class="export-table">
          <span class="export-table-text">Exportar tabla</span>
          <div class="export-table-icons">
            <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf"
              (click)="descargarReporteTabla('pdf')">
            <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg" alt="exportar excel"
              (click)="descargarReporteTabla('xls')">
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</section>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Generar orden de subrogación"
        (click)="generarOrdenSubrogacion();"></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Modificar"></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Ver"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>