<full-calendar #calendarioVehiculos [options]="calendarOptions"></full-calendar>
<div class="flex justify-content-end paginator-template">
  <div class="export-table">
    <span class="export-table-text">Exportar tabla</span>
    <div class="export-table-icons">
      <img class="icon-export-table" (click)="generarArchivo('pdf')" src="assets/images/imagen-icono-pdf.svg"
        alt="exportar pdf">
      <img class="icon-export-table" (click)="generarArchivo('xls')" src="assets/images/imagen-icono-excel.svg"
        alt="exportar excel">
    </div>
  </div>
</div>