<full-calendar #calendarioVehiculos [options]="calendarOptions"></full-calendar>
<div class="flex justify-content-end paginator-template">
  <div class="export-table">
    <span class="export-table-text">Exportar tabla</span>
    <div class="export-table-icons flex justify-content-around">
      <img class="icon-export-table" (click)="generarReporteCalendar('pdf')" src="assets/images/imagen-icono-pdf.svg"
        alt="exportar pdf">
      <img class="icon-export-table" (click)="generarReporteCalendar('xls')" src="assets/images/imagen-icono-excel.svg"
        alt="exportar excel">
    </div>
  </div>
</div>

<p-confirmDialog #cd [style]="{width: '30vw'}">
  <ng-template pTemplate="header"><h5></h5></ng-template>
  <ng-template pTemplate="footer">
    <div class="row mb-3">
      <div class="col-md-12 flex justify-content-center">
        <button type="button" class="btn btn-primary btn-md ml-5" (click)="cd.accept()">Aceptar
        </button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>