<form [formGroup]="form">
  <div class="row mt-4">
    <div class="col-md-12 text-center">
      <span class="etiqueta-base">¿Estás seguro que deseas eliminar este artículo o servicio, ingresa el motivo?</span>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <label class="control-label" for="motivo">Motivo<span class="req">*</span>:</label>
<!--      <input id="motivo" type="text" class="form-control" formControlName="motivo" placeholder="Ingresa el motivo"-->
<!--        maxlength="50" lettersOnly (keyup.space)="noEspaciosAlPrincipio()">-->
      <textarea rows="3" pInputTextarea style="width: 100%;" formControlName="motivo" placeholder="Ingresa el motivo de la cancelación" maxlength="50"
                (keyup.space)="noEspaciosAlPrincipio()"></textarea>
      <span class="campo-obligatorio" *ngIf="f.motivo?.errors?.required && (f.motivo?.dirty || f.motivo?.touched)">Este campo es obligatorio *.</span>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12 flex justify-content-end">

      <button class="btn btn-gold btn-md" type="button" (click)="cerrarModal()">Cancelar</button>
      <button class="btn ml-4 btn-primary btn-md" [disabled]="form.invalid" type="button" (click)="aceptarModal()">Aceptar</button>
    </div>
  </div>
</form>
