<app-table-panel>
    <ng-template appCustomTemplate="left-header">
        <div class="table-panel-header-column">
            <span class="font-bold">
                ID <span [ngClass]="panteonSeleccionado.estatus ? 'activo' : 'inactivo'">{{panteonSeleccionado.id}}</span>
            </span>
        </div>
    </ng-template>
    <ng-template appCustomTemplate="right-header">
        <div class="table-panel-header-column">
            <div class="flex flex-column">
                <span>Estatus</span>
                <div>
                    <span class="activo" *ngIf="panteonSeleccionado.estatus">Activo</span>
                    <span class="inactivo" *ngIf="!panteonSeleccionado.estatus">Inactivo</span>
                </div>
            </div>
            <div class="flex flex-column ml-5">
                <a (click)="abrirPanel($event)">
                    <img
                      src="assets/images/imagen-icono-barras-horizontales.svg"
                      alt="icono barras horizontales">
                  </a>
            </div>
        </div>
    </ng-template>
    <div class="row table-panel-row">
        <div class="col-md-12">
            <div class="table-panel-column">
                <label>Nombre:</label>
                <span>{{panteonSeleccionado.nombrePanteon}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-panel-column-title">
                <span>Dirección</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="table-panel-column">
                <label>Calle:</label>
                <span>{{panteonSeleccionado.calle}}</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="table-panel-column">
                <label>No. Exterior:</label>
                <span>{{panteonSeleccionado.numExterior}}</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="table-panel-column">
                <label>No. Interior:</label>
                <span>{{panteonSeleccionado.numInterior}}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="table-panel-column">
                <label>Colonia:</label>
                <span>{{panteonSeleccionado.colonia}}</span>
            </div>
        </div>
    </div>
    <div class="row table-panel-row">
        <div class="col-md-4">
            <div class="table-panel-column">
                <label>Municipio:</label>
                <span>{{panteonSeleccionado.municipio}}</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="table-panel-column">
                <label>CP:</label>
                <span>{{panteonSeleccionado.cp}}</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="table-panel-column">
                <label>Estado:</label>
                <span>{{panteonSeleccionado.estado}}</span>
            </div>
        </div>
    </div>
    <div class="row table-panel-row">
        <div class="col-md-12">
            <div class="table-panel-column-title">
                <span>Contacto</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>Contacto:</label>
                <span>{{panteonSeleccionado.contacto}}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>Teléfono:</label>
                <span>{{panteonSeleccionado.numTelefono}}</span>
            </div>
        </div>
    </div>
</app-table-panel>


<div class="flex justify-content-end mt-5" *ngIf="accionEntrada === Accion.Detalle">
    <button class="ml-4 btn btn-primary btn-md" (click)="cerrarDialogo();">Aceptar</button>
</div>

<div *ngIf="accionEntrada === Accion.Agregar">
    <div class="m-4 flex flex-column align-items-center justify-content-center">
        <span>{{preguntaConfirmacion}}</span>
    </div>
    <div class="flex justify-content-end mt-5">
        <button class="btn btn-default btn-md" (click)="cerrarDialogo();">Cancelar</button>
        <button class="ml-4 btn btn-primary btn-md" (click)="agregarPanteon();">Aceptar</button>
    </div>
</div>

<div *ngIf="accionEntrada === Accion.Modificar">
    <div class="m-4 flex flex-column align-items-center justify-content-center">
        <span>{{preguntaConfirmacion}}</span>
    </div>
    <div class="flex justify-content-end mt-5">
        <button class="btn btn-default btn-md" (click)="abrirModalModificarPanteon();">Cancelar</button>
        <button class="ml-4 btn btn-primary btn-md" (click)="agregarPanteon();">Aceptar</button>
    </div>
</div>

<div *ngIf="accionEntrada === Accion.Activar || accionEntrada === Accion.Desactivar">
    <div class="m-4 flex flex-column align-items-center justify-content-center">
        <span>{{preguntaConfirmacion}}</span>
    </div>
    <div class="flex justify-content-end mt-5">
        <button class="btn btn-default btn-md" (click)="cerrarDialogo();">Cancelar</button>
        <button class="ml-4 btn btn-primary btn-md" (click)="cambiarEstatusPanteon();">Aceptar</button>
    </div>
</div>


<p-overlayPanel #overlayPanel>
    <ng-template pTemplate="content">
      <app-overlay-panel-opciones>
        <app-overlay-panel-opcion titulo="Modificar" (click)="abrirModalModificarPanteon()"></app-overlay-panel-opcion>
      </app-overlay-panel-opciones>
    </ng-template>
</p-overlayPanel>
