<ng-container *ngIf="!abrirHabilitar">
  <app-table-panel>
    <ng-template appCustomTemplate="left-header">
      <div class="table-panel-header-column">
        <span class="font-bold">Folio convenio {{convenioSeleccionado.folio}}</span>
      </div>
    </ng-template>
    <ng-template appCustomTemplate="right-header">
      <div class="table-panel-header-column">
        <div class="flex flex-column">
          <div>Estatus del convenio</div>
          <div class="contenedor-inputswitch">
            <span class="inactivo" style="margin-left: -8px;"
              *ngIf="convenioSeleccionado.idEstatus === 4">Cerrado</span>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>RFC</label>
          <span> {{convenioSeleccionado.rfc}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Matrícula IMSS</label>
          <span> {{convenioSeleccionado.matricula}} </span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Nombre</label>
          <span> {{convenioSeleccionado.nombre}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Primer apellido</label>
          <span> {{convenioSeleccionado.primerApellido}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Segundo apellido</label>
          <span> {{convenioSeleccionado.segundoApellido}} </span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Tipo de prevención funeraria</label>
          <span> {{convenioSeleccionado.tipoPrevision === 1 ? 'Previsión funeraria plan nuevo' : 'Previsión funeraria plan anterior'}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Tipo de paquete </label>
          <span> {{convenioSeleccionado.tipoPaquete}} </span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Beneficiarios</label>
          <span *ngFor="let beneficiario of convenioSeleccionado.beneficiarios">
            {{beneficiario.nombreBeneficiario}}
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Teléfono de contacto</label>
          <span> {{convenioSeleccionado.tel}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Correo electrónico</label>
          <span> {{convenioSeleccionado.correo}} </span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Fecha inicio de vigencia</label>
          <span> {{convenioSeleccionado.fecInicio}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Fecha fin de vigencia</label>
          <span> {{convenioSeleccionado.fecVigencia}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Cuota de recuperación</label>
          <span> {{convenioSeleccionado.cuotaRecuperacion}} </span>
        </div>
      </div>
    </div>
  </app-table-panel>
  <ng-container>
    <div class="flex justify-content-end">
      <button class="ml-4 mt-3 btn btn-default btn-md" (click)="cancelar()">
        Cancelar
      </button>
      <button class="ml-4 mt-3 btn btn-primary btn-md" (click)="habilitarRenovacion()">
        Habilitar
      </button>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="abrirHabilitar">
  <form [formGroup]="habilitarRenovacionForm">
    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="justificacion">Justificación<span class="req">*</span>:</label>
        <input id="justificacion" class="form-control" formControlName="justificacion" maxlength="100"
          placeholder="Ingresa la justificación" required="true" alphanumericOnly trimmer>
        <span class="campo-obligatorio"
          *ngIf="hrf.justificacion?.errors?.required && (hrf.justificacion?.dirty || hrf.justificacion?.touched)">Este
          campo es obligatorio *.</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>
  </form>

  <div class="flex justify-content-end" *ngIf="!mostrarMsjConfirmacion">
    <button class="ml-4 mt-3 btn btn-default btn-md" (click)="cancelar()">
      Cancelar
    </button>
    <button class="ml-4 mt-3 btn btn-primary btn-md" (click)="habilitarRenovacionConfirmar()">
      Habilitar
    </button>
  </div>

  <div *ngIf="mostrarMsjConfirmacion">
    <p class="text-center">
      ¿Estás seguro de habilitar el tiempo de renovación para este convenio?
    </p>
    <div class="flex justify-content-end">
      <button class="btn btn-default btn-md" (click)="cancelar()">Cancelar</button>
      <button class="ml-4 btn btn-primary btn-md" [disabled]="habilitarRenovacionForm.invalid"
        (click)="renovarConvenio()">Habilitar</button>
    </div>
  </div>
</ng-container>