<app-titulo-principal titulo="Administrar inventario vehicular"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm" (submit)="buscar()">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel:</label>
        <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="niveles"
                    placeholder="Selecciona nivel">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="delegacion">Delegación:</label>
        <p-dropdown id="delegacion" class="form-control" formControlName="delegacion" [options]="delegaciones"
                    placeholder="Selecciona delegación">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio:</label>
        <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="velatorios"
                    placeholder="Selecciona velatorio">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="vehiculo">Vehículo:</label>
        <input id="vehiculo" class="form-control" formControlName="vehiculo"
               placeholder="Ingresa nombre del vehículo">
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="button" class="btn btn-default btn-md" (click)="limpiarFiltros()">Limpiar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5">Buscar</button>
      </div>
    </div>
  </form>
</div>
<section class="mt-5">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Vehículo</h2>
    <button type="button" class="btn btn-primary btn-lg" (click)="abrirModalCreacionVehiculo()">
      Agregar vehículo
    </button>
  </div>
  <p-table styleClass="mt-5 mb-8" [value]="vehiculos" [paginator]="vehiculos.length > 0"
           [rows]="cantElementosPorPagina" [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3"
           [(first)]="numPaginaActual" (onLazyLoad)="paginar($event)">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Velatorio</th>
        <th scope="col">Uso</th>
        <th scope="col">Responsable</th>
        <th scope="col">Tipo Vehículo</th>
        <th scope="col">Estatus</th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehiculo>
      <tr>
        <td>{{vehiculo.id}}</td>
        <td>{{vehiculo.velatorio}}</td>
        <td>{{vehiculo.uso}}</td>
        <td>{{vehiculo.responsable}}</td>
        <td>{{vehiculo.tipoVehiculo}}</td>
        <td>
          <div class="contenedor-inputswitch">
            <p-inputSwitch [(ngModel)]="vehiculo.estatus"></p-inputSwitch>
            <span class="activo" *ngIf="vehiculo.estatus">Activo</span>
            <span class="inactivo" *ngIf="!vehiculo.estatus">Inactivo</span>
          </div>
        </td>
        <td>
          <div class="contenedor-celda-iconos">
            <a (click)="abrirModalDetalleVehiculo(vehiculo)">
              <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
            </a>
            <a (click)="abrirPanel($event,vehiculo)">
              <img src="assets/images/imagen-icono-barras-horizontales.svg"
                   alt="icono barras horizontales">
            </a>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <th colspan="7" class="p-2 text-center font-bold text-xl" id="empty_message_inventario_vehicular">
          No hay elementos que coincidan con los parámetros seleccionados
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements">{{vehiculos.length}} de {{totalElementos}}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="paginator-template">
        <div class="export-table">
          <span class="export-table-text">Exportar tabla</span>
          <div class="export-table-icons">
            <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
            <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg" alt="exportar excel">
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</section>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Modificar"
                                (click)="abrirModalModificacionVehiculo()"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>
