<app-titulo-principal titulo="detalle de pago"></app-titulo-principal>
<section class="mb-3">
  <app-table-panel>
    <ng-template appCustomTemplate="left-header">
      <div class="table-panel-header-column" *ngIf="datosGenerales?.folio">
        <span class="font-bold">Folio plan SFPA {{datosGenerales.folio}}</span>
      </div>
    </ng-template>

  </app-table-panel>
  <app-table-panel>
    <ng-template appCustomTemplate="header">
      <div class="table-panel-header-column w-full">
        <div class="col-md-3">
          <div class="flex flex-column">
            <div class="col-md">
              <span>Nombre(s) del contratante</span>
            </div>
            <div class="col-md" *ngIf="datosGenerales?.nombre">
              <span class="font-bold"> {{datosGenerales.nombre}} </span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flex flex-column">
            <div class="col-md">
              <span>Estado</span>
            </div>
            <div class="col-md" *ngIf="datosGenerales?.estado">
              <span class="font-bold">{{datosGenerales.estado}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flex flex-column">
            <div class="col-md">
              <span>Correo electrónico</span>
            </div>
            <div class="col-md" *ngIf="datosGenerales?.correo">
              <span class="font-bold">{{datosGenerales.correo === 'null' ? null : datosGenerales.correo }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flex flex-column">
            <div class="col-md">
              <span>Paquete</span>
            </div>
            <div class="col-md" *ngIf="datosGenerales?.paquete">
              <span class="font-bold">{{datosGenerales.paquete}}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="row table-panel-row mb-2">
      <h2 class="subtitulo pl-1 mx-6 my-4">Detalle pagos</h2>
      <div class="row ml-5">
        <div class="col-md-7 mt-6">
          <span>Aún debes pagar esta cantidad para cubrir el total del plan SPFA
            <span class="font-bold" *ngIf="costoRestante > 0; else sinRestante">
              {{(datosGenerales.costoRestante) | currency:"USD":"symbol"}}
            </span>
            <ng-template #sinRestante>
              <span class="font-bold">
                {{(precio) | currency:"USD":"symbol" }}
              </span>
            </ng-template>
          </span>
        </div>
        <div class="col-md-5">
          <div class="flex justify-content-end">
            <div class="col-md-4">
              <label>Total pagado</label><br />
              <span *ngIf="datosGenerales?.precio; else sinTotalPagado">
                {{datosGenerales.importePagado | currency:"USD":"symbol"}}
              </span>
            </div>
            <ng-template #sinTotalPagado>
              <span>{{0 | currency:"USD":"symbol"}}</span>
            </ng-template>

            <div class="col-md-4" *ngIf="datosGenerales?.precio">
              <label>Total a pagar</label><br />
              <span>{{precio | currency:"USD":"symbol"}}</span>
            </div>
          </div>
        </div>
      </div>
      <p-table styleClass="mt-5 mb-8 mx-6" [value]="pagosRealizados" [rows]="cantElementosPorPagina" [lazy]="true"
               [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">

            </th>
            <th scope="col">Velatorio</th>
            <th scope="col">Pagos</th>
            <th scope="col">Fecha de pago</th>
            <th scope="col">Monto</th>
            <th scope="col">Estatus</th>
            <th scope="col"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pagosRealizados>
          <tr>
            <td scope="col">
              <p-tableRadioButton *ngIf="pagosRealizados.importePagado > 0 || pagosRealizados.idEstatus == 5"
                                  [value]="pagosRealizados.idPagoSFPA" (click)="mostrarDetallePagos(pagosRealizados)"></p-tableRadioButton>
            </td>
            <td>{{pagosRealizados.velatorio}}</td>
            <td>{{pagosRealizados.noPagos}}</td>
            <td>{{pagosRealizados.fechaParcialidad}}</td>
            <td>{{pagosRealizados.importeMensual | currency:"USD":"symbol"}}</td>
            <td>{{pagosRealizados.estatusPago}}</td>

            <td>

              <div *ngIf="pagosRealizados.importeAcumulado >=  0 && pagosRealizados.idEstatus == 8">
                <a class="ml-5 cursor-pointer"
                   (click)="abrirPanelNuevoPago(overlayPanelHeader,$event,pagosRealizados)">
                  <img   src="assets/images/imagen-icono-barras-horizontales.svg"
                         alt="icono barras horizontales">
                </a>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <th colspan="7" class="p-2 text-center font-bold text-xl" id="consulta_pago_sin_resultados">
              No se encontró información relacionada a tu búsqueda
            </th>
          </tr>
        </ng-template>
      </p-table>
      <h2 class="subtitulo pl-1 mx-6 my-4" *ngIf="ocultarBitacora">Bitácora de métodos de pago</h2>
      <p-table styleClass="mt-5 mb-8 mx-6" *ngIf="ocultarBitacora" [value]="PagosBitacora" [rows]="cantElementosPorPagina" [lazy]="true"
               [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">No. pago</th>
            <th scope="col">Método de pago</th>
            <th scope="col">Fecha pago</th>
            <th scope="col">Fecha vale paritario</th>
            <th scope="col">No. autorización</th>
            <th scope="col">Folio autorización</th>
            <th scope="col">Nombre del banco</th>
            <th scope="col">Importe </th>
            <th scope="col">Importe vale paritario</th>
            <th scope="col">Estatus</th>
            <th scope="col"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-PagosBitacora>
          <tr>

            <td>{{PagosBitacora.numeroPago}}</td>
            <td>{{PagosBitacora.desMetodoPago}}</td>
            <td>{{PagosBitacora.fechaPago}}</td>
            <td>{{PagosBitacora.fechaValeParitario}}</td>
            <td>{{PagosBitacora.numeroAutorizacion}}</td>
            <td>{{PagosBitacora.folioAutorizacion}}</td>
            <td>{{PagosBitacora.referenciaBancaria}}</td>
            <td>{{PagosBitacora.importePago | currency:"USD":"symbol"}}</td>
            <td>{{PagosBitacora.importeValeParitario | currency:"USD":"symbol"}}</td>
            <td>{{PagosBitacora.estatus}}</td>

            <td>
              <div class="contenedor-celda-iconos" *ngIf="validarMenuBitacora(PagosBitacora)">
                <a (click)="abrirPanelBody($event,PagosBitacora)">
                  <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
                </a>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <th colspan="7" class="p-2 text-center font-bold text-xl" id="consulta_pago_sin_resultados">
              No se encontró información relacionada a tu búsqueda
            </th>
          </tr>
        </ng-template>
      </p-table>
      <div class="mt-6 flex justify-content-end" *ngIf="noPagos > 0">
        <div class="paginator-template">
          <div class="export-table">
            <span class="export-table-text">Exportar tabla</span>
            <div class="export-table-icons">
              <img class="icon-export-table" (click)="exportarArchivo('pdf')" src="assets/images/imagen-icono-pdf.svg"
                   alt="exportar pdf">
              <img class="icon-export-table" (click)="exportarArchivo('xls')" src="assets/images/imagen-icono-excel.svg"
                   alt="exportar excel">
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-table-panel>
</section>

<section>
  <div class="row mb-6">
    <div class="flex mt-4 justify-content-end">
      <button class="ml-6 mt-3 btn btn-primary btn-md" routerLink="../">Regresar</button>
    </div>
  </div>
</section>

<p-overlayPanel #overlayPanelBody>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion onCloseOnNavigation titulo="Modificar método"
                                (click)="abrirModalModificarPago()"></app-overlay-panel-opcion>
      <app-overlay-panel-opcion  onCloseOnNavigation titulo="Eliminar método"
                                 (click)="abrirModalEliminarPago()"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>



<p-overlayPanel #overlayPanelHeader>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion onCloseOnNavigation titulo="Realizar pago"
                                (click)="abrirModalRealizarPago()"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>


<p-dialog [(visible)]="mostrarModalConfirmacion" [modal]="true" [style]="{maxWidth:'544px',width: '100%'}"
          [draggable]="false" [resizable]="false" header="">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center justify-content-center">
      <span class="text-justify">{{mensajeArchivoConfirmacion}}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <button class="btn btn-primary btn-md" (click)="mostrarModalConfirmacion = false">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>


