<div class="bg-g mb-5">
  <app-table-panel class="pb-3 bg-g">
    <div class="row grid mt-2 mb-2">
      <div class="col">
        <span class="ml-5">Tipo de contratación</span>
        <div class="contenedor-inputswitch">
          <span class="font-bold ml-3">{{tipoContratacion}}</span>
        </div>
      </div>
      <div class="col">
        <span class="ml-5">Número de folio de convenio (Preregistro)</span>
        <div class="contenedor-inputswitch">
          <span class="font-bold ml-3">{{numeroFolio.padStart(6, '0')}}</span>
        </div>
      </div>
    </div>
  </app-table-panel>
</div>
