h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  text-transform: uppercase;
  color: #272829;
  margin:0;
}
hr{
    margin-top: 5px;
    margin-bottom: 35px;
}
