h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  text-transform: uppercase;
  color: #272829;
  margin: 0;
}

hr {
  margin-top: 5px;
  margin-bottom: 35px;
}

:host ::ng-deep {
  app-btn-regresar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: .25rem .75rem .25rem .75rem;
    cursor: pointer;
    img{
      padding-bottom: 0;
    }
  }
  *+h3 {
    margin-left: 1.25rem;
  }
}