<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="curp">C.U.R.P.<span class="req">*</span>:</label>
    <input id="curp" class="form-control" formControlName="curp" placeholder="Inserta el C.U.R.P.">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="rfc">R.F.C<span class="req">*</span>:</label>
    <input id="rfc" class="form-control" formControlName="rfc" placeholder="Inserta el R.F.C.">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="matricula">Matricula<span class="req">*</span>:</label>
    <input id="matricula" class="form-control" formControlName="matricula" placeholder="Inserta la matricula">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="nns">NNS<span class="req">*</span>:</label>
    <input id="nns" class="form-control" formControlName="nns" placeholder="Inserta el NNS">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="nombre">Nombre (s)<span class="req">*</span>:</label>
    <input id="nombre" class="form-control" formControlName="nombre" placeholder="Inserta el nombre">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="primerApellido">Primer Apellido<span class="req">*</span>:</label>
    <input id="primerApellido" class="form-control" formControlName="primerApellido"
           placeholder="Inserta el primer apellido">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="segundoApellido">Segundo Apellido<span class="req">*</span>:</label>
    <input id="segundoApellido" class="form-control" formControlName="segundoApellido"
           placeholder="Inserta el segundo Apellido">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="sexo">Sexo<span class="req">*</span>:</label>
    <input id="sexo" class="form-control" formControlName="sexo" placeholder="Inserta el sexo">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="fechaNacimiento">Fecha de Nacimiento<span class="req">*</span>:</label>
    <input id="fechaNacimiento" class="form-control" formControlName="fechaNacimiento"
           placeholder="Inserta la fecha de nacimiento">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="nacionalidad">Nacionalidad<span class="req">*</span>:</label>
    <input id="nacionalidad" class="form-control" formControlName="nacionalidad"
           placeholder="Inserta la nacionalidad">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="paisNacimiento">Pais de Nacimiento<span class="req">*</span>:</label>
    <p-dropdown id="paisNacimiento" class="form-control" formControlName="paisNacimiento" [options]="paises"
                placeholder="Seleccionar el pais de nacimiento" [filter]="true" filterBy="label">
    </p-dropdown>
  </div>
  <div class="col-md-4">
    <label class="control-label" for="lugarNacimiento">Lugar de Nacimiento<span class="req">*</span>:</label>
    <input id="lugarNacimiento" class="form-control" formControlName="lugarNacimiento"
           placeholder="Inserta el lugar de nacimiento">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="telefonoCelular">Telefono celular<span class="req">*</span>:</label>
    <input id="telefonoCelular" class="form-control" formControlName="telefonoCelular"
           placeholder="Inserta la nacionalidad">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="telefonoFijo">Telefono fijo<span class="req">*</span>:</label>
    <input id="telefonoFijo" class="form-control" formControlName="telefonoFijo"
           placeholder="Inserta el pais de nacimiento">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="correoElectronico">Correo Electronico<span class="req">*</span>:</label>
    <input id="correoElectronico" class="form-control" formControlName="correoElectronico"
           placeholder="Inserta el lugar de nacimiento">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="calle">Calle<span class="req">*</span>:</label>
    <input id="calle" class="form-control" formControlName="calle"
           placeholder="Inserta la calle">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="numeroExterior">Número exterior<span class="req">*</span>:</label>
    <input id="numeroExterior" class="form-control" formControlName="numeroExterior"
           placeholder="Inserta el número exterior">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="numeroInterior">Número interior<span class="req">*</span>:</label>
    <input id="numeroInterior" class="form-control" formControlName="numeroInterior"
           placeholder="Inserta el número interior">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="cp">Codigo Postal<span class="req">*</span>:</label>
    <input id="cp" class="form-control" formControlName="cp"
           placeholder="Inserta el Codigo Postal">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="colonia">Colonia<span class="req">*</span>:</label>
    <input id="colonia" class="form-control" formControlName="colonia"
           placeholder="Inserta la colonia">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="municipio">Municipio<span class="req">*</span>:</label>
    <input id="municipio" class="form-control" formControlName="municipio"
           placeholder="Inserta el municipio">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="estado">Estado<span class="req">*</span>:</label>
    <input id="estado" class="form-control" formControlName="estado"
           placeholder="Inserta el Estado">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="tipoPaquete">Tipo de paquete<span class="req">*</span>:</label>
    <input id="tipoPaquete" class="form-control" formControlName="tipoPaquete"
           placeholder="Inserta el tipo de paquete">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="numeroPagos">Número de pagos<span class="req">*</span>:</label>
    <input id="numeroPagos" class="form-control" formControlName="numeroPagos"
           placeholder="Inserta el número de Pagos">
  </div>
</div>
