<app-titulo-principal titulo="Solicitar factura"></app-titulo-principal>
<ng-container *ngIf="indice === 0">
  <form [formGroup]="solicitudForm">
    <div class="row mb-3 mt-3">
      <div class="col-md-6">
        <label class="control-label" for="tipoFactura">Tipo de factura<span class="req">*</span>:</label>
        <input id="tipoFactura" class="form-control" formControlName="tipoFactura"
               placeholder="Selecciona el tipo de factura">
      </div>
    </div>
  </form>
</ng-container>
