<app-titulo-principal titulo="Solicitar factura"></app-titulo-principal>
<ng-container>
  <form [formGroup]="solicitudForm" (reset)="limpiar()">
    <div class="row mb-3 mt-3">
      <div class="col-md-6">
        <label class="control-label" for="tipoFactura">Tipo de factura<span class="req">*</span>:</label>
        <p-dropdown id="tipoFactura" class="form-control" formControlName="tipoFactura" [options]="tiposFactura"
                    placeholder="Selecciona el tipo de factura">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="pf?.tipoFactura?.errors?.required && (pf?.tipoFactura?.dirty || pf?.tipoFactura?.touched)">Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-6" *ngIf="pf?.tipoFactura?.value">
        <label class="control-label" for="folio">{{folio}}<span class="req">*</span>:</label>
        <input id="folio" class="form-control" formControlName="folio"
               placeholder="Inserta el folio">
        <span class="campo-obligatorio"
              *ngIf="pf?.folio?.errors?.required && (pf?.folio?.dirty || pf?.folio?.touched)">Este campo es obligatorio *.</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <span class="control-label">*Campos obligatorios</span>
      </div>
    </div>
    <div class="row" *ngIf="pf?.tipoFactura?.value">
      <div class="col-md-12 flex justify-content-end mb-4">
        <button type="reset" class="ml-4 btn btn-default btn-md" [disabled]="solicitudForm.pristine">Limpiar</button>
        <button type="submit" class="ml-4 btn btn-primary btn-md" [disabled]="solicitudForm.pristine">Buscar</button>
      </div>
    </div>
  </form>
</ng-container>
<ng-container>
  <app-datos-contratante [nombreContratante]="'Heriberto Angelo Sánchez Maldonado'"
                         [tipoFecha]="2" [fecha]="'01/01/2022'" [fechaPago]="'01/01/2022'"
                         [concepto]="'Orden de servicio'" [servicios]="servicios"></app-datos-contratante>
  <p-accordion styleClass="sivimss-accordion sivimss-accordionColor" [activeIndex]="0">
    <p-accordionTab>
      <ng-template pTemplate="content" *ngIf="false">
        <form [formGroup]="datosContratanteForm">
          <div class="row mb-3 mt-3">
            <div class="col-md-5">
              <label class="control-label" for="rfc">RFC del contratante<span class="req">*</span>:</label>
              <input id="rfc" class="form-control" formControlName="rfc"
                     placeholder="Inserta el rfc">
            </div>
            <div class="col-md-5">
              <label class="control-label" for="correoElectronico">Correo electrónico<span class="req">*</span>:</label>
              <input id="correoElectronico" class="form-control" formControlName="correoElectronico"
                     placeholder="Inserta el correo">
            </div>
            <div class="col-md-2">
              <button type="submit" class="ml-4 btn btn-primary btn-md mt-5">Buscar</button>
            </div>
          </div>
        </form>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</ng-container>
