<app-titulo-principal titulo="Movimientos de equipos de velación"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm" (ngSubmit)="buscar()">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel<span class="req">*</span>:</label>
        <p-dropdown appendTo="body" id="nivel" class="form-control" formControlName="nivel" [options]="catalogoNiveles"
          placeholder="Selecciona el nivel" [filter]="true" filterBy="label">
        </p-dropdown>
        <span class="campo-obligatorio" *ngIf="f.nivel?.errors?.required && (f.nivel?.dirty || f.nivel?.touched)">Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="delegacion">Delegación<span class="req">*</span>:</label>
        <p-dropdown appendTo="body" id="delegacion" class="form-control" formControlName="delegacion"
          [options]="catalogoDelegaciones" placeholder="Selecciona la delegación" [filter]="true" filterBy="label"
          (onChange)='obtenerVelatorios();'>
        </p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="f.delegacion?.errors?.required && (f.delegacion?.dirty || f.delegacion?.touched)">Este campo es obligatorio *.</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio<span class="req">*</span>:</label>
        <p-dropdown appendTo="body" id="velatorio" class="form-control" formControlName="velatorio"
          [options]="catalogoVelatorios" placeholder="Selecciona el velatorio" [filter]="true" filterBy="label"
          (onChange)="obtenerFoliosGenerados();">
        </p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="f.velatorio?.errors?.required && (f.velatorio?.dirty || f.velatorio?.touched)">Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="folioODS">Folio de la ODS:</label>
        <input id="folioODS" class="form-control" formControlName="folioODS"
          optionLabel="label" placeholder="Ingresa el folio de la ODS" folioOdsAlphanumeric trimmer maxlength="11">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="fechaInicio">Rango de fechas de prestación:</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <p-calendar styleClass="form-control" id="fechaInicio" formControlName="fechaInicio" [showIcon]="true"
          dateFormat="dd/mm/yy" placeholder="Fecha inicial"></p-calendar>
      </div>
      <div class="col-md-3">
        <div class="col-md-12">
          <p-calendar styleClass="form-control" id="fechaFinal" formControlName="fechaFinal" [showIcon]="true"
            dateFormat="dd/mm/yy" placeholder="Fecha final" [maxDate]="fechaActual"></p-calendar>
        </div>
      </div>
    </div>

    <div class="row mt-6">
      <div class="col-md-6">
        <span class="mensaje-inferior-campo-obligatorio">*Campos obligatorios</span>
      </div>
      <div class="col-md-6 flex justify-content-end">
        <button type="button" class="ml-4 btn btn-gold btn-md" (click)="regresar()">Regresar</button>
        <button type="button" class="btn btn-default btn-md ml-5" (click)="limpiar()">Limpiar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5">Buscar</button>
      </div>
    </div>
  </form>

</div>
<section class="my-3">
  <div class="flex justify-content-between align-items-center mb-3">
    <h2 class="subtitulo"></h2>
    <button type="button" class="btn btn-primary btn-lg" routerLink="generar-vale-salida">Generar vale de
      salida</button>
  </div>

  <p-table appActivarUltimaCeldaSticky styleClass="mt-5 mb-8" [value]="vale" [paginator]="vale.length > 0"
    [rows]="cantElementosPorPagina" [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3"
    [(first)]="numPaginaActual" (onLazyLoad)="paginar($event)">

    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Velatorio</th>
        <th scope="col">Folio de la ODS</th>
        <th scope="col">Nombre del contratante</th>
        <th scope="col">Fecha de salida</th>
        <th scope="col">Fecha de entrada</th>
        <th scope="col">Responsable de la instalación</th>
        <th scope="col">Total de artículos / bienes inmuebles</th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vale>
      <tr>
        <td> {{vale.nombreVelatorio}} </td>
        <td> {{vale.folioOds}} </td>
        <td> {{vale.nombreContratante}} </td>
        <td> {{vale.fechaSalida}} </td>
        <td> {{vale.fechaEntrada}} </td>
        <td> {{vale.nombreResponsableInstalacion}} </td>
        <td> {{vale.totalArticulos}} </td>
        <td>
          <div [appEstilosCeldaSticky]="{display:'grid',gridTemplateColumns:'40px 80px'}">
            <div class="contenedor-inputswitch">
              <div class="contenedor-celda-iconos">
                <a (click)="abrirDetalleValeSalida(vale)">
                  <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
                </a>
                <a (click)="abrirPanel($event,vale)">
                  <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements"> {{vale.length}} de {{totalElementos}} </span>
      </div>
    </ng-template>

    <ng-template pTemplate="paginatorright">
      <div class="paginator-template">
        <div class="export-table">
          <span class="export-table-text">Exportar tabla</span>
          <div class="export-table-icons">
            <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf"
              (click)="descargarRegistrosTabla('pdf')">
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <th id="emptymessage" colspan="12" class="p-2 text-center font-bold text-xl">
          No hay elementos que coincidan con los parámetros seleccionados
        </th>
      </tr>
    </ng-template>
  </p-table>
</section>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Registrar entrada de equipo" *ngIf="valeSeleccionado.validacionDias === 1"
        (click)="abrirModalRegistroEntradaEquipo()"></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Descargar control de movimiento de equipo de velación"
        (click)="descargarControlMovimiento()"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>