<app-titulo-principal titulo="VER DETALLE"></app-titulo-principal>
<p-accordion styleClass="sivimss-accordion sivimss-accordion2" *ngIf="vehiculoSeleccionado && asignacion">
  <p-accordionTab>
    <ng-template pTemplate="header">

      <div class="sivimss-acoordion-header">
        <div class="accordion-header-left">
          <span>ID </span>
          <b>{{vehiculoSeleccionado.ID_VEHICULO}}</b>
        </div>
        <div class="accordion-header-right">
          <div class="estatus">
            <span>Estado de mantenimiento</span>
            <b [appTextColor]="vehiculoSeleccionado.DES_MTTOESTADO">{{vehiculoSeleccionado.DES_MTTOESTADO}}</b>
          </div>
          <a>
            <i class="fs fs-barras-horizontales"></i>
          </a>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="row">
        <div class="col col1">
          <span class="flex flex-column etiqueta-base">Delegación</span>
          <span class="texto-base">LAHJ0708</span>
        </div>
        <div class="col col2">
          <span class="flex flex-column etiqueta-base">Velatorio</span>
          <span class="texto-base">{{vehiculoSeleccionado.NOM_VELATORIO}}</span>
        </div>
        <div class="col col3">
          <span class="flex flex-column etiqueta-base">Fecha</span>
          <span class="texto-base">{{fecha}}</span>
        </div>
        <div class="col col4">
          <span class="flex flex-column etiqueta-base">Vehiculo</span>
          <span
            class="texto-base">{{vehiculoSeleccionado.DES_MARCA}} {{vehiculoSeleccionado.DES_SUBMARCA}} {{vehiculoSeleccionado.DES_MODELO}}</span>
        </div>
        <div class="col col5">
          <span class="flex flex-column etiqueta-base">Placas</span>
          <span class="texto-base">{{vehiculoSeleccionado.DES_PLACAS}}</span>
        </div>
        <div class="col col6">
          <span class="flex flex-column etiqueta-base">Kilometraje</span>
          <span class="texto-base">{{asignacion.kilometraje}}</span>
        </div>
        <div class="col col7">
          <span class="flex flex-column etiqueta-base">Fecha Mantenimiento</span>
          <span class="texto-base">LAHJ0708</span>
        </div>
      </div>
      <div class="row">
        <div class="col col1"></div>
        <div class="col col2"></div>
        <div class="col col3"></div>
        <div class="col col4"></div>
        <div class="col col5"></div>
        <div class="col col6"></div>
        <div class="col col7">
          <span class="flex flex-column etiqueta-base">Costo de mantenimiento</span>
          <span class="texto-base">$50000</span>
        </div>
      </div>
      <hr class="hr-accordion-content">
      <ng-container>

        <div class="sivimss-acoordion-header-titulo col-md-8">
          <div class="accordion-header-left col-md-4 ">
            <b class="subtitulos">Verificación diaria</b>
          </div>
          <div class="vertical-line"></div>

          <div class="accordion-header-left col-md-4">
            <b>Solicitud de mantenimiento</b>
          </div>
          <div class="vertical-line"></div>
          <div class="accordion-header-left col-md-4">
            <b class="subtitulos">Registro de seguimiento</b>
          </div>
          <div class="vertical-line"></div>
          <div class="col-md-4">
            <b class="subtitulos"></b>
          </div>
        </div>

        <div class="border-panel ">
          <app-table-panel>

            <div class="row table-panel-row">
              <div class="col-md-6">
                <div class="col-md-2">
                  <div class="table-panel-column col-md-6">
                    <label>Placas</label>
                    <span>{{vehiculoSeleccionado.DES_PLACAS}}</span>
                  </div>
                  <div class="table-panel-column col-md-6">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="table-panel-column col-md-6">
                    <label>Marca</label>
                    <span>{{vehiculoSeleccionado.DES_MARCA}}</span>
                  </div>
                  <div class="table-panel-column col-md-6">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="table-panel-column col-md-6">
                    <label>Año</label>
                    <span>{{vehiculoSeleccionado.DES_MODELO}}</span>
                  </div>
                  <div class="table-panel-column col-md-6">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="table-panel-column col-md-6">
                    <label>Kilometraje</label>
                    <span>{{asignacion.kilometraje}}</span>
                  </div>
                  <div class="table-panel-column col-md-6">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="table-panel-column col-md-6">
                    <label>Fecha registro</label>
                    <span>{{asignacion.fechaRegistro | date:'dd/MM/YYYY'}}</span>
                  </div>
                  <div class="table-panel-column col-md-6">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
              </div>
            </div>


            <div class="row table-panel-row">
              <div class="col-md-8">
                <div class="col-md-3">
                  <div class="table-panel-column ">
                    <label>Tipo de mantenimiento</label>
                    <span>{{asignacion.tipoMantenimiento}}</span>
                  </div>
                  <div class="table-panel-column ">

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="table-panel-column ">
                    <label>Modalidad </label>
                    <span>{{asignacion.modalidad}}</span>
                  </div>
                  <div class="table-panel-column ">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="table-panel-column ">
                    <label>Mantenimiento preventivo</label>
                    <span>{{asignacion.mantenimientoPreventivo}}</span>
                  </div>

                </div>

                <div class="col-md-3">
                  <div class="table-panel-column ">
                    <label>Notas</label>
                    <span>{{asignacion.notas}}</span>
                  </div>

                </div>

              </div>


            </div>

          </app-table-panel>

        </div>
      </ng-container>


    </ng-template>
  </p-accordionTab>
</p-accordion>

<ng-container>
  <div class="flex mt-4 justify-content-end margin">
    <button class="ml-6 mt-3 btn btn-primary btn-md" routerLink="../">Aceptar</button>
  </div>
</ng-container>
