<form [formGroup]="form">
  <div class="row mb-3">
    <div class="col-md-6">
      <label class="control-label" for="ataud">Ataúd<span class="req">*</span>:</label>
      <p-dropdown #dd id="ataud" class="form-control" formControlName="ataud" placeholder="Selecciona ataúd"
        appendTo="body" [options]="ataudes" (onChange)="selecionarAtaud(dd)"
        [filter]="true" filterBy="label" ></p-dropdown>
      <span class="campo-obligatorio" *ngIf="f.ataud?.errors?.required && (f.ataud?.dirty || f.ataud?.touched)">Este campo es obligatorio *.</span>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 flex justify-content-end">
      <button type="button" class="btn btn-gold btn-md" (click)="cerrarModal()">Cancelar</button>
      <button type="button" class="ml-5 btn btn-primary btn-md" (click)="aceptarModal()"
       [disabled]="form.invalid">Agregar
      </button>
    </div>
  </div>
</form>
