<app-titulo-principal titulo="Programar Mantenimiento Vehicular"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm" (submit)="buscar()">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel:</label>
        <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="catalogoNiveles"
                    placeholder="Seleccionar el nivel">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="delegacion">Delegación:</label>
        <p-dropdown id="delegacion" class="form-control" formControlName="delegacion" [options]="catalogoDelegaciones"
                    placeholder="Seleccionar delegación" (onChange)="cargarVelatorios()">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio:</label>
        <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="catalogoVelatorios"
                    placeholder="Seleccionar el velatorio">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="placa">Placa:</label>
        <input id="placa" class="form-control" formControlName="placa"
               placeholder="Ingresa el articulo">
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="submit" class="btn btn-default btn-md" (click)="limpiar()">Limpiar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5">Buscar
        </button>
      </div>
    </div>
  </form>
</div>

<section class="mt-5">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Vehículos</h2>
    <div>
      <button type="button" class="btn btn-primary btn-lg btn-md"
              [routerLink]="'./mantenimiento-predictivo'">
        Mantenimiento predictivo
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-md ml-5" [routerLink]="'./reporte-encargado'">
        Reporte del encargado
      </button>
    </div>
  </div>

  <p-table styleClass="mt-5 mb-8" [value]="vehiculos" [paginator]="vehiculos.length > 0"
           [rows]="cantElementosPorPagina"
           [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual"
           (onLazyLoad)="seleccionarPaginacion($event)">

    <ng-template pTemplate="header">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Vehículo</th>
        <th scope="col">Placas</th>
        <th scope="col">Kilometraje</th>
        <th scope="col">Tipo de Mantenimiento</th>
        <th scope="col">Modalidad</th>
        <th scope="col">Estatus</th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehiculo>
      <tr>
        <td> {{vehiculo.ID_VEHICULO}} </td>
        <td> {{vehiculo.DES_MARCA}}  {{vehiculo.DES_SUBMARCA}} {{vehiculo.DES_MODELO}}</td>
        <td> {{vehiculo.DES_PLACAS}} </td>
        <td> {{vehiculo.kilometraje}} </td>
        <td> {{vehiculo.DES_MTTO_TIPO}} </td>
        <td> {{vehiculo.DES_MODALIDAD}} </td>
        <td [appTextColor]="vehiculo.DES_MTTOESTADO">{{vehiculo.DES_MTTOESTADO}}</td>
        <td>
          <div class="contenedor-celda-iconos">
            <a (click)="abrirModalDetalle(vehiculo)">
              <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
            </a>
            <a (click)="abrirPanel($event,vehiculo)">
              <img
                src="assets/images/imagen-icono-barras-horizontales.svg"
                alt="icono barras horizontales">
            </a>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <th colspan="8" class="p-2 text-center font-bold text-xl">
          No se encontro información relacionada a tu búsqueda
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements"> {{vehiculos.length}} de {{totalElementos}} </span>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="paginator-template">
        <div class="export-table">
          <span class="export-table-text">Exportar tabla</span>
          <div class="export-table-icons">
            <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
            <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg" alt="exportar excel">
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</section>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Verificar al inicio" (click)="abrirModalnuevaVerificacion()"
                                *ngIf="!vehiculoSeleccionado.ID_MTTOVERIFINICIO"
                                onCloseOnNavigation></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Solicitud de mantenimiento" (click)="abrirModalSolicitudMantenimiento()"
                                *ngIf="!vehiculoSeleccionado.ID_MTTO_SOLICITUD"
                                onCloseOnNavigation></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Registro de mantenimiento" (click)="abrirModalRegistroMantenimiento()"
                                *ngIf="!vehiculoSeleccionado.ID_MTTOVEHICULAR"
                                onCloseOnNavigation></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Modificar" (click)="abrirModalModificar()"
                                onCloseOnNavigation></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Exportar PDF" (click)="abrirModalExportarPDF()"></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Exportar Excel" (click)="abrirModalExportarExcel()"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>

<p-dialog header="Modificar" [(visible)]="modificarModal" *ngIf="vehiculoSeleccionado">
  <div class="border-panel mb-4 w-440 bg-g">
    <div class="row flex justify-content-center">
      {{vehiculoSeleccionado.ID_VEHICULO}} - {{vehiculoSeleccionado.DES_MARCA | uppercase }}
      {{vehiculoSeleccionado.DES_SUBMARCA | uppercase}} {{vehiculoSeleccionado.DES_MODELO | uppercase}}
    </div>
  </div>
  <div class=" border-panel w-440
    ">
    <div class="row flex justify-content-center mb-4" *ngIf="vehiculoSeleccionado.ID_MTTOVERIFINICIO">
      <button type="button" class="btn btn-primary btn-lg btn-md w-400">
        Modificar verificación al inicio
      </button>
    </div>
    <div class="row flex justify-content-center mb-4" *ngIf="vehiculoSeleccionado.ID_MTTO_SOLICITUD">
      <button type="button" class="btn btn-primary btn-lg btn-md w-400">
        Modificar solicitud de mantenimiento
      </button>
    </div>
    <div class="row flex justify-content-center" *ngIf="vehiculoSeleccionado.ID_MTTOVEHICULAR">
      <button type="button" class="btn btn-primary btn-lg btn-md w-400">
        Modificar registro de mantenimiento
      </button>
    </div>
  </div>
</p-dialog>

<p-dialog header="Ver Detalle" [(visible)]="detalleModal" *ngIf="vehiculoSeleccionado">
  <div class="border-panel mb-4 w-440 bg-g">
    <div class="row flex justify-content-center">
      {{vehiculoSeleccionado.ID_VEHICULO}} - {{vehiculoSeleccionado.DES_MARCA | uppercase }}
      {{vehiculoSeleccionado.DES_SUBMARCA | uppercase}} {{vehiculoSeleccionado.DES_MODELO | uppercase}}
    </div>
  </div>
</p-dialog>
