.enTiempo{
color:#217A6B;
font-weight: 600;
}

.cercano{
  color:#FFC700;
  font-weight: 600;
}

.finalizado{
  color:#E10000;
  font-weight: 600;
}

.venceHoy{
  color:#367AFF;
  font-weight: 600;
}

.activo{
  color:#217A6B;
  font-weight: 600;
}
