<div class="row mb-4">
  <div class="col-md-4">
    <h2 class="subtitulo-base">Características del presupuesto</h2>
  </div>
</div>
<div class="border-panel mb-8">
  <div class="row mb-4">
    <div class="col-md-4">
      <label class="control-label" for="paquete">Paquete<span class="req">*</span>:</label>
      <p-dropdown #dd id="paquete" class="form-control" [(ngModel)]="paqueteSeleccionado" [disabled]="bloquearPaquete"
                  placeholder="Selecciona el paquete" [options]="paquetes" (onClick)="valorPrevio(dd)"
                  (onChange)="confirmarCambioPaquete(dd)" [filter]="true"
                  filterBy="label" appendTo="body"></p-dropdown>
    </div>
    <div class="col-md-6" *ngIf="mostrarTIpoOtorgamiento">
      <label class="control-label" for="selecionaTipoOtorgamiento">Para el otorgamiento de este paquete fue presentado
        un<span class="req">*</span>:</label>
      <p-dropdown id="selecionaTipoOtorgamiento" class="form-control" [(ngModel)]="selecionaTipoOtorgamiento"
                  placeholder="Selecciona una opción" [options]="valoresTipoOrtogamiento" [filter]="true"
                  filterBy="label"
                  appendTo="body"></p-dropdown>
    </div>
  </div>

  <p-accordion styleClass="sivimss-accordion">
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center w-full">
          <span>Paquete</span>

        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <p-table styleClass="mt-5 mb-8 " [value]="datosPaquetes">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">No. consecutivo</th>
              <th scope="col">Grupo</th>
              <th scope="col">Concepto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Importe/Monto</th>
              <th scope="col">Proveedor</th>
              <th scope="col">Total del paquete</th>
              <th scope="col">¿Deseas utilizar este artículo/servicio?</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-paquete let-rowIndex="rowIndex">
            <tr>
              <td>{{rowIndex + 1}}</td>
              <td>{{paquete.grupo}}</td>
              <td>{{paquete.concepto}}</td>
              <td>{{paquete.cantidad}}</td>
              <td>{{paquete.importe | currency:"USD":"symbol"}}</td>
              <td>{{paquete.proveedor}}</td>
              <td>{{paquete.totalPaquete | currency:"USD":"symbol"}}</td>
              <td style="width:200px">
                {{paquete.agregado}}
                <div class="flex ">
                  <div class="flex align-items- mr-2">
                    <p-radioButton [name]="rowIndex+1" [value]="true" [(ngModel)]="paquete.utilizarArticulo"
                                   [inputId]="'utilizarArticulo'+(rowIndex+1)" [disabled]="paquete.bloquearRadioButton"
                                   (onClick)="agregarArticulo(paquete)"></p-radioButton>
                    <label [for]="'utilizarArticulo'+(rowIndex+1)" class="ml-2">SI</label>
                  </div>

                  <div class="flex align-items-center mr-2">
                    <p-radioButton [name]="rowIndex+1" value="false" [(ngModel)]="paquete.utilizarArticulo"
                                   [inputId]="'utilizarArticulo'+(rowIndex+1)" [disabled]="paquete.bloquearRadioButton"
                                   (onClick)="quitarArticulo(paquete,rowIndex)"></p-radioButton>
                    <label [for]="'utilizarArticulo'+(rowIndex+1)" class="ml-2">NO</label>
                  </div>

                  <a class="barras" (click)="abrirPanel($event,paquete,rowIndex,'paquete')">
                    <i class="fs fs-barras-horizontales"></i>
                  </a>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>


      </ng-template>
    </p-accordionTab>
    <p-accordionTab [hidden]="true">
      <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center w-full">
          <span>Presupuesto</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <p-table styleClass="mt-5 mb-8 " [value]="datosPresupuesto">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">No. consecutivo</th>
              <th scope="col">Grupo</th>
              <th scope="col">Concepto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Importe/Monto</th>
              <th scope="col">Proveedor</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-paquete let-rowIndex="rowIndex">
            <tr *ngIf="paquete.proviene!='paquete'">
              <td>{{rowIndex + 1}}</td>
              <td>{{paquete.grupo}}</td>
              <td>{{paquete.concepto}}</td>
              <td>{{paquete.cantidad}}</td>
              <td>{{ paquete.totalx ?  paquete.totalx : paquete.importe | currency:"USD":"symbol"}}</td>
              <td>{{paquete.proveedor}}</td>
              <td>{{paquete.totalPaquete | currency:"USD":"symbol"}}</td>
              <td style="width:200px">
                <div class="flex " *ngIf="paquete.proviene!='paquete'">
                  <a class="barras" (click)="abrirPanel($event,paquete,rowIndex+1,'presupuesto')">
                    <i class="fs fs-barras-horizontales"></i>
                  </a>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-accordionTab>
  </p-accordion>

  <p-overlayPanel>
    <ng-template pTemplate="content">
      <app-overlay-panel-opciones>
        <app-overlay-panel-opcion *ngIf="mostrarProveedor" titulo="Seleccionar Proveedor"
                                  (click)="abrirModalAgregarProveedor($event)"></app-overlay-panel-opcion>
        <app-overlay-panel-opcion *ngIf="mostrarAtaudes" titulo="Seleccionar Ataúd"
                                  (click)="abrirModalAgregarAtaud($event)"></app-overlay-panel-opcion>
        <app-overlay-panel-opcion *ngIf="mostrarTraslado" titulo="Seleccionar Proveedor"
                                  (click)="abrirModalAgregarProveedorTraslado($event)"></app-overlay-panel-opcion>
        <app-overlay-panel-opcion *ngIf="mostrarQuitarPresupuesto" titulo="Quitar"
                                  (click)="confQuitarPresupuesto = true"></app-overlay-panel-opcion>

      </app-overlay-panel-opciones>
    </ng-template>
  </p-overlayPanel>

  <div class="row">
    <div class="col-md-12 flex justify-content-end">
      <div class="flex flex-column align-items-end">
        <span class="texto-orden-servicio">Total órden de servicio</span>
        <span class="cantidad-orden-servicio">{{total | currency: 'USD' | lowercase}}</span>
      </div>
    </div>
  </div>

  <hr class="hr-separador">

  <form [formGroup]="form">
    <div class="row mb-2">
      <div class="col-md-6">
        <label class="control-label" for="observaciones">Observaciones:</label>
        <input id="observaciones" type="text" class="form-control" formControlName="observaciones" maxlength="100"
               placeholder="Ingresa observaciones">
        <span class="campo-obligatorio"
              *ngIf="f.observaciones?.errors?.required && (f.observaciones?.dirty || f.observaciones?.touched)">Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="notasServicio">Notas del servicio:</label>
        <input id="notasServicio" type="text" class="form-control" formControlName="notasServicio" maxlength="80"
               placeholder="Ingresa notas de servicio">
        <span class="campo-obligatorio"
              *ngIf="f.notasServicio?.errors?.required && (f.notasServicio?.dirty || f.notasServicio?.touched)">Este campo es obligatorio *.</span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <span class="mensaje-inferior-campo-obligatorio">
          *Campos obligatorios
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 flex justify-content-end align-items-center">
        <button (click)="regresar()" class="btn btn-md btn-default">Regresar</button>
        <button class="btn btn-md btn-gold ml-5" routerLink="../">Cancelar</button>
        <button type="button" [disabled]="false" (click)="continuar()"
                class="btn btn-md btn-primary ml-5">Aceptar
        </button>
      </div>
    </div>
  </form>

</div>

<p-dialog header="" [(visible)]="confCambiarPaquete" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false" [showHeader]="true" [modal]="true">
  <div class="row">
    <p class="text-center">¿Estás seguro de cambiar el paquete funerario? Se eliminarán de la tabla los artículos y
      servicios.</p>
  </div>
  <div class="row mt-6">
    <div class="col-md-12 flex justify-content-end">
      <button type="submit" class="btn btn-default btn-md" (click)="cancelarCambioPaquete()">Cancelar
      </button>
      <button type="submit" class="btn btn-primary btn-md ml-5" (click)="detallePaqueteFunction()">Aceptar</button>
    </div>
  </div>
</p-dialog>


<p-dialog header="" [(visible)]="confQuitarPresupuesto" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false" [showHeader]="true" [modal]="true">
  <div class="row">
    <p class="text-center">¿Estás seguro de quitar el articulo / servicio del presupuesto?</p>
  </div>
  <div class="row mt-6">
    <div class="col-md-12 flex justify-content-end">
      <button type="submit" class="btn btn-default btn-md" (click)="confQuitarPresupuesto = false">Cancelar
      </button>
      <button type="submit" class="btn btn-primary btn-md ml-5" (click)="quitarPresupuesto()">Aceptar</button>
    </div>
  </div>
</p-dialog>
