<app-titulo-principal titulo="Administrar operadores por velatorio"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel:</label>
        <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="nivel"
                    placeholder="Seleccionar el nivel">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="delegacion">Delegación:</label>
        <p-dropdown id="delegacion" class="form-control" formControlName="delegacion" [options]="delegacion"
                    placeholder="Seleccionar delegación">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio:</label>
        <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="velatorio"
                    placeholder="Seleccionar velatorio">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="operador">Operador:</label>
        <input id="operador" class="form-control" formControlName="operador"
               placeholder="Ingresa operador" (keyup)="consultaOperadorEspecifico()">
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="submit" class="btn btn-default btn-md" (click)="limpiar()" >Limpiar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5">Buscar</button>
      </div>
    </div>
  </form>
</div>

<section class="mt-5">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Operadores</h2>
    <button type="button" class="btn btn-primary btn-lg" (click)="abrirModalAgregarOperador()">Agregar operador</button>
  </div>


<p-table appActivarUltimaCeldaSticky styleClass="mt-5 mb-8" [value]="operadoresPorVelatorio"
         [paginator]="operadoresPorVelatorio.length > 0"
         [rows]="cantElementosPorPagina"
         [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual"
         (onLazyLoad)="paginar($event)">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">No. de empleado</th>
        <th scope="col">Matrícula</th>
        <th scope="col">CURP</th>
        <th scope="col">Nombre</th>
        <th scope="col">Primer apellido</th>
        <th scope="col">Segundo apellido</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Fecha ingreso</th>
        <th scope="col">Fecha de baja</th>
        <th scope="col">Sueldo base</th>
        <th scope="col">Velatorio</th>
        <th scope="col">Días de descanso</th>
        <th scope="col">Antigüedad</th>
        <th scope="col">Correo electrónico</th>
        <th scope="col">Puesto</th>
        <th scope="col">Categoría</th>
        <th scope="col">Estatus</th>
        <th scope="col"></th>
      </tr>
    </ng-template>
  <ng-template pTemplate="body" let-operadoresPorVelatorio>
    <tr>
      <td> {{operadoresPorVelatorio.id}} </td>
      <td> {{operadoresPorVelatorio.numeroEmpleado}} </td>
      <td> {{operadoresPorVelatorio.matricula}} </td>
      <td> {{operadoresPorVelatorio.curp}} </td>
      <td> {{operadoresPorVelatorio.nombre}} </td>
      <td> {{operadoresPorVelatorio.primerApellido}} </td>
      <td> {{operadoresPorVelatorio.segundoApellido}} </td>
      <td> {{operadoresPorVelatorio.fechaNaciemiento}} </td>
      <td> {{operadoresPorVelatorio.fechaIngreso}} </td>
      <td> {{operadoresPorVelatorio.fechaBaja}} </td>
      <td> {{operadoresPorVelatorio.sueldoBase}} </td>
      <td> {{operadoresPorVelatorio.descVelatorio}} </td>
      <td> {{operadoresPorVelatorio.descDiasDescanso}} </td>
      <td> {{operadoresPorVelatorio.descAntiguedad}} </td>
      <td> {{operadoresPorVelatorio.correoElectronico}} </td>
      <td> {{operadoresPorVelatorio.puesto}} </td>
      <td> {{operadoresPorVelatorio.categoria}} </td>
      <td>
        <div [appEstilosCeldaSticky]="{display:'grid',gridTemplateColumns:'120px 80px'}">
          <div class="contenedor-inputSwitch">
            <p-inputSwitch [(ngModel)]="operadoresPorVelatorio.estatus" (onChange)="abrirModalEstatusOperador(operadoresPorVelatorio)" ></p-inputSwitch>
            <span class="activo" *ngIf="operadoresPorVelatorio.estatus">Activo</span>
            <span class="inactivo" *ngIf="!operadoresPorVelatorio.estatus">Inactivo</span>
          </div>
          <div class="contenedor-celda-iconos">
            <a (click)="abrirModalDetalleOperador(operadoresPorVelatorio)">
              <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
            </a>
            <a (click)="abrirPanel($event,operadoresPorVelatorio)">
              <img
                src="assets/images/imagen-icono-barras-horizontales.svg"
                alt="icono barras horizontales">
            </a>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <div class="paginator-template">
      <span class="total-elements">{{operadoresPorVelatorio.length}} de {{totalElementos}}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <div class="paginator-template">
      <div class="export-table">
        <span class="export-table-text">Exportar tabla</span>
        <div class="export-table-icons">
          <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
          <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg"
               alt="exportar excel">
        </div>
      </div>
    </div>
  </ng-template>
</p-table>
</section>
<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Modificar" (click)="abrirModalModificarOperador()"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>
