:host {
  position: absolute;
  display: block;
  z-index: 2;

  .menu-sidebar {
    transform: translateX(-100%);
    background-color: white;
    border-radius: 0 0 10px 10px;

    &.abierto {
      transform: translateX(0);
    }

    .modulos {
      border: 0.5px solid #9D2449;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0 0 10px 10px;
    }
  }
}
