
<app-titulo-principal titulo="Agregar persona"></app-titulo-principal>
<div class="border-panel mb-3">
  <div class="row mb-3 flex justify-content-center">
    <div class="col-md-6">
<!--      Cambiar los iconos-->
      <p-steps [model]="menuStep" [activeIndex]="indice"></p-steps>
    </div>
  </div>
  <ng-container *ngIf="indice == 0">
      <form class="form-agregar-persona" [formGroup]="personaForm">
        <h2 class="subtitulo">Datos personales</h2>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="control-label" for="curp">CURP<span class="req">*</span>:</label>
            <input id="curp" class="form-control" formControlName="curp" placeholder="Ingresa CURP">
            <span class="campo-obligatorio"
                  *ngIf="fp.curp?.errors?.required && (fp.curp?.dirty || fp.curp?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="rfc">RFC<span class="req">*</span>:</label>
            <input id="rfc" class="form-control" formControlName="rfc" placeholder="Ingresa RFC">
            <span class="campo-obligatorio"
                  *ngIf="fp.rfc?.errors?.required && (fp.rfc?.dirty || fp.rfc?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="matricula">Matrícula <span class="req">*</span>:</label>
            <input id="matricula" class="form-control" formControlName="matricula" placeholder="Ingresa matrícula">
            <span class="campo-obligatorio"
                  *ngIf="fp.matricula?.errors?.required && (fp.matricula?.dirty || fp.matricula?.touched)">Campo obligatorio</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="control-label" for="nombre">Nombres (s)<span class="req">*</span>:</label>
            <input id="nombre" class="form-control" formControlName="nombre" placeholder="Ingresa nombre">
            <span class="campo-obligatorio"
                  *ngIf="fp.nombre?.errors?.required && (fp.nombre?.dirty || fp.nombre?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="primerApellido">Primer apellido<span class="req">*</span>:</label>
            <input id="primerApellido" class="form-control" formControlName="primerApellido" placeholder="Ingresa primer apellido">
            <span class="campo-obligatorio"
                  *ngIf="fp.primerApellido?.errors?.required && (fp.primerApellido?.dirty || fp.primerApellido?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="segundoApellido">Segundo apellido<span class="req">*</span>:</label>
            <input id="segundoApellido" class="form-control" formControlName="segundoApellido" placeholder="Ingresa nombre">
            <span class="campo-obligatorio"
                  *ngIf="fp.segundoApellido?.errors?.required && (fp.segundoApellido?.dirty || fp.segundoApellido?.touched)">Campo obligatorio</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="fechaNacimiento">Fecha de nacimiento<span class="req">*</span>:</label>
            <p-calendar id="fechaNacimiento" styleClass="form-control" formControlName="fechaNacimiento" [showIcon]="true"
                        dateFormat="dd/mm/yy" placeholder="Ingresa fecha de nacimiento"></p-calendar>
            <span class="campo-obligatorio"
                  *ngIf="fp.fechaNacimiento?.errors?.required && (fp.fechaNacimiento?.dirty || fp.fechaNacimiento?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="sexo">Sexo<span class="req">*</span>:</label>
            <p-dropdown id="sexo" class="form-control" formControlName="sexo"
                        placeholder="Selecciona sexo" [options]="sexo"></p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fp.sexo?.errors?.required && (fp.sexo?.dirty || fp.sexo?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="nacionalidad">Nacionalidad<span class="req">*</span>:</label>
            <p-dropdown id="nacionalidad" class="form-control" formControlName="nacionalidad"
                        placeholder="Selecciona nacionalidad" [options]="nacionalidad"></p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fp.nacionalidad?.errors?.required && (fp.nacionalidad?.dirty || fp.nacionalidad?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="lugarNacimiento">Lugar de nacimiento<span class="req">*</span>:</label>
            <input id="lugarNacimiento" class="form-control" formControlName="lugarNacimiento" placeholder="Ingresa lugar">
            <span class="campo-obligatorio"
                  *ngIf="fp.lugarNacimiento?.errors?.required && (fp.lugarNacimiento?.dirty || fp.lugarNacimiento?.touched)">Campo obligatorio</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-9">
            <label class="control-label" for="correoElectronico">Correo electrónico<span class="req">*</span>:</label>
            <input id="correoElectronico" class="form-control" formControlName="correoElectronico" placeholder="Ingresa correo electrónico">
            <span class="campo-obligatorio"
                  *ngIf="fp.correoElectronico?.errors?.required && (fp.correoElectronico?.dirty || fp.correoElectronico?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="telefono">Teléfono<span class="req">*</span>:</label>
            <input id="telefono" class="form-control" formControlName="telefono" placeholder="Ingresa teléfono">
            <span class="campo-obligatorio"
                  *ngIf="fp.telefono?.errors?.required && (fp.telefono?.dirty || fp.telefono?.touched)">Campo obligatorio</span>
          </div>
        </div>
        <hr class="hr-accordion-content">
        <h2 class="subtitulo">Dirección</h2>
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="calle">Calle<span class="req">*</span>:</label>
            <input id="calle" class="form-control" formControlName="calle" placeholder="Ingresa calle">
            <span class="campo-obligatorio"
                  *ngIf="fp.calle?.errors?.required && (fp.calle?.dirty || fp.calle?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="noExterior">No. exterior<span class="req">*</span>:</label>
            <input id="noExterior" class="form-control" formControlName="noExterior" placeholder="Ingresa no. exterior">
            <span class="campo-obligatorio"
                  *ngIf="fp.noExterior?.errors?.required && (fp.noExterior?.dirty || fp.noExterior?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="noInterior">No. interior<span class="req">*</span>:</label>
            <input id="noInterior" class="form-control" formControlName="noInterior" placeholder="Ingresa no. interior">
            <span class="campo-obligatorio"
                  *ngIf="fp.noInterior?.errors?.required && (fp.noInterior?.dirty || fp.noInterior?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="cp">CP<span class="req">*</span>:</label>
            <input id="cp" class="form-control" formControlName="cp" placeholder="Ingresa CP">
            <span class="campo-obligatorio"
                  *ngIf="fp.cp?.errors?.required && (fp.cp?.dirty || fp.cp?.touched)">Campo obligatorio</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="control-label" for="colonia">Colonia<span class="req">*</span>:</label>
            <input id="colonia" class="form-control" formControlName="colonia" placeholder="Ingresa colonia">
            <span class="campo-obligatorio"
                  *ngIf="fp.colonia?.errors?.required && (fp.colonia?.dirty || fp.colonia?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="municipio">Municipio<span class="req">*</span>:</label>
            <input id="municipio" class="form-control" formControlName="municipio" placeholder="Ingresa municipio">
            <span class="campo-obligatorio"
                  *ngIf="fp.municipio?.errors?.required && (fp.municipio?.dirty || fp.municipio?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="estado">Estado<span class="req">*</span>:</label>
            <p-dropdown id="estado" class="form-control" formControlName="estado"
                        placeholder="Selecciona estado" [options]="sexo"></p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fp.estado?.errors?.required && (fp.estado?.dirty || fp.estado?.touched)">Campo obligatorio</span>
          </div>
        </div>
        <hr class="hr-accordion-content">
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="tipoPaquete">Tipo de paquete<span class="req">*</span>:</label>
            <p-dropdown id="tipoPaquete" class="form-control" formControlName="tipoPaquete"
                        placeholder="Selecciona tipo de paquete" [options]="tipoPaquete"></p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fp.tipoPaquete?.errors?.required && (fp.tipoPaquete?.dirty || fp.tipoPaquete?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="enfermedadPrexistente">Enfermedad prexistente<span class="req">*</span>:</label>
            <p-dropdown id="enfermedadPrexistente" class="form-control" formControlName="enfermedadPrexistente"
                        placeholder="Selecciona enfermedad prexistente" [options]="enfermedadPrexistente"></p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fp.enfermedadPrexistente?.errors?.required && (fp.enfermedadPrexistente?.dirty || fp.enfermedadPrexistente?.touched)">Campo obligatorio</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span>*Campos obligatorios</span>
          </div>
        </div>
      </form>
  </ng-container>
  <ng-container *ngIf="indice == 1">
    <div class="border-panel">
      <div class="flex justify-content-between">
        <div class="col-mb-3">
          <h2 class="subtitulo">Beneficiarios</h2>
          <h6>Agrega, edita y elimina beneficiarios</h6>
        </div>
        <div class="col-md-3 my-auto">
          <div class="flex justify-content-center">
            <button class="btn btn-primary btn-lg" [disabled]="beneficiario.length > 2" (click)="abrirModalAgregarBeneficiario()">
              Agregar beneficiario
            </button>
          </div>
        </div>
      </div>
      <hr class="hr-accordion-content">
      <div class="flex justify-content-center">
        <div class="col-md-12">
          <ng-container *ngIf="beneficiario.length < 1">
            <h6 class="text-center">Agrega hasta 3 beneficiarios*</h6>
          </ng-container>
          <ng-container *ngIf="beneficiario.length > 0">

            <div *ngFor="let beneficiarioElement of beneficiario" class="row mb-3 border-panel">
              <div class="col-md-9">
                <span> {{beneficiarioElement.nombre}} {{beneficiarioElement.primerApellido}} {{beneficiarioElement.segundoApellido}} </span>
              </div>
              <div class="col-md-3">
                <div class="contenedor-celda-iconos">
                  <a (click)="abrirModalDetalleBeneficiario(beneficiarioElement)">
                    <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
                  </a>
<!--                  Cambiar imagen por la de editar-->
                  <a (click)="abrirModalDetalleBeneficiario(beneficiarioElement)">
                    <img src="assets/images/imagen-icono-eliminar.svg" alt="icono editar">
                  </a>
                  <a (click)="abrirModalEliminarBeneficiario(beneficiarioElement)">
                    <img src="assets/images/imagen-icono-eliminar.svg" alt="icono eliminar">
                  </a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>
  </ng-container>
  <ng-container  *ngIf="indice == menuStep.length">
    <app-table-panel>
      <ng-template appCustomTemplate="left-header">
        <div class="table-panel-header-column">
          <span class="font-bold">{{fp.nombre.value}} {{fp.primerApellido.value}} {{fp.segundoApellido.value}} </span>
          <span>Contratar convenio de previsión funeraria</span>
        </div>
      </ng-template>

      <div class="row m-4 table-panel-row">
        <div class="row mb-3">
          <div class="col-md-4">
            <span>CURP:</span><br/>
            <label> {{fp.curp.value}} </label>
          </div>
          <div class="col-md-4">
            <span>RFC:</span><br/>
            <label> {{fp.rfc.value}} </label>
          </div>
          <div class="col-md-4">
            <span>NSS:</span><br/>
            <label> {{fp.nss.value}} </label>
          </div>
        </div>
        <hr class="hr-accordion-content">
        <div class="row mb-3">
          <div class="col-md-3">
            <span>Fecha de nacimiento:</span><br/>
            <label> {{fp.fechaNacimiento.value | date}} </label>
          </div>
          <div class="col-md-3">
            <span>Sexo:</span><br/>
            <label> {{fp.sexo.value}} </label>
          </div>
          <div class="col-md-3">
            <span>Nacionalidad:</span><br/>
            <label> {{fp.nacionalidad.value}} </label>
          </div>
          <div class="col-md-3">
            <span>Lugar de nacimiento:</span><br/>
            <label> {{fp.lugarNacimiento.value}} </label>
          </div>
        </div>
        <hr class="hr-accordion-content">
        <div class="row mb-3">
          <div class="col-md-6">
            <span>Correo electrónico:</span><br/>
            <label> {{fp.correoElectronico.value}} </label>
          </div>
          <div class="col-md-6">
            <span>Teléfono:</span><br/>
            <label> {{fp.telefono.value}} </label>
          </div>
        </div>
        <hr class="hr-accordion-content">
        <h2 class="subtitulo">Dirección</h2>
        <div class="row">
          <div class="col-md-4">
            <span>Calle:</span><br/>
            <label> {{fp.calle.value}} </label>
          </div>
          <div class="col-md-4">
            <span>No. exterior:</span><br/>
            <label> {{fp.noExterior.value}} </label>
          </div>
          <div class="col-md-4">
            <span>CP:</span><br/>
            <label> {{fp.cp.value}} </label>
          </div>
        </div>
        <hr class="hr-accordion-content">
        <div class="row mb-4">
          <div class="col-md-4">
            <span>Colonia:</span><br/>
            <label> {{fp.colonia.value}} </label>
          </div>
          <div class="col-md-4">
            <span>Municipio:</span><br/>
            <label> {{fp.municipio.value}} </label>
          </div>
          <div class="col-md-4">
            <span>Estado:</span><br/>
            <label> {{fp.estado.value}} </label>
          </div>
        </div>
      </div>
      <div class="row mx-4 table-panel-row">
        <div class="flex justify-content-between">
          <div class="col-mb-3">
            <h2 class="subtitulo">Beneficiarios</h2>
            <h6>Agrega, edita y elimina beneficiarios</h6>
          </div>
        </div>
        <hr class="hr-accordion-content">
        <div class="flex justify-content-center">
          <div class="col-md-12">

              <div *ngFor="let beneficiarioElement of beneficiario" class="row mb-3 border-panel">
                <div class="col-md-9">
                  <span> {{beneficiarioElement.nombre}} {{beneficiarioElement.primerApellido}} {{beneficiarioElement.segundoApellido}} </span>
                </div>
              </div>
          </div>
        </div>
      </div>
    </app-table-panel>
    <div class="row mb-3">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>
    <div class="flex mt-4 justify-content-center">
      <div class="col-md-6">
        ¿Estás seguro que deseas agregar esta persona al convenio?
      </div>
    </div>
  </ng-container>
  <div class="row mb-3">
    <div class="col-md-12 flex justify-content-end">
      <button type="button" *ngIf="indice > 0" class="btn btn-default btn-md ml-5" (click)="regresar()">Regresar</button>
      <button type="button" class="btn btn-danger btn-md ml-5" (click)="cancelar()">Cancelar</button>
      <button type="submit" *ngIf="indice < menuStep.length" class="btn btn-primary btn-md ml-5" (click)="siguiente()">Siguiente</button>
      <button type="submit" *ngIf="indice == menuStep.length" class="btn btn-primary btn-md ml-5" (click)="aceptar()">Aceptar</button>
    </div>
  </div>
</div>
