<ng-container *ngIf="!confimacionFinado">
  <form [formGroup]="agregarFinadoForm">
    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="nombre">Nombre (s) <span class="req">*</span></label>
        <input id="nombre" class="form-control" formControlName="nombre"
               placeholder="Ingresa el nombre" maxlength="30" lettersOnly (keyup.space)="noEspaciosAlPrincipio(0)" >
        <span class="campo-obligatorio"
              *ngIf="f.nombre?.errors?.required && (f.nombre?.dirty || f.nombre?.touched)">Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="primerApellido">Primer apellido <span class="req">*</span></label>
        <input id="primerApellido" class="form-control" formControlName="primerApellido"
               placeholder="Ingresa el primer apellido" maxlength="20" lettersOnly (keyup.space)="noEspaciosAlPrincipio(1)">
        <span class="campo-obligatorio"
              *ngIf="f.primerApellido?.errors?.required && (f.primerApellido?.dirty || f.primerApellido?.touched)">Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="segundo apellido">Segundo apellido <span class="req">*</span></label>
        <input id="segundo apellido" class="form-control" formControlName="segundoApellido"
               placeholder="Ingresa el segundo apellido" maxlength="20" lettersOnly (keyup.space)="noEspaciosAlPrincipio(2)">
        <span class="campo-obligatorio"
              *ngIf="f.segundoApellido?.errors?.required && (f.segundoApellido?.dirty || f.segundoApellido?.touched)">Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="confimacionFinado">
  <div class="border-panel mb-3">
    <div class="row">
      <div class="col-md-3 flex flex-column">
        <span class="etiqueta-base">Nombre(s)</span>
        <span class="texto-base">{{f.nombre.value}}</span>
      </div>
      <div class="col-md-3 flex flex-column">
        <span class="etiqueta-base">Primer apellido</span>
        <span class="texto-base">{{f.primerApellido.value}}</span>
      </div>
      <div class="col-md-3 flex flex-column">
        <span class="etiqueta-base">Segundo apellido</span>
        <span class="texto-base">{{f.segundoApellido.value}}</span>
      </div>
    </div>
  </div>
  <div class="flex flex-column align-items-center justify-content-center">
    <span class="text-center">¿Estás seguro de agregar este finado?</span>
  </div>

</ng-container>
<div class="flex justify-content-end mt-6 mb-3">
  <button type="button" *ngIf="confimacionFinado" class="ml-4 btn btn-default btn-md" (click)="regresar()">Regresar</button>
  <button type="button" class="ml-4 btn btn-gold btn-md" (click)="cancelar()">Cancelar</button>
  <button type="button" *ngIf="!confimacionFinado" class="ml-4 btn btn-primary btn-md" (click)="confirmacion()">
    Agregar
  </button>
  <button type="button" *ngIf="confimacionFinado" class="ml-4 btn btn-primary btn-md" (click)="agregar()">
    Aceptar
  </button>
</div>
