<div class="row mb-3 flex justify-content-center" *ngIf="indice < menuStep.length">
  <div class="col-md-6">
    <p-steps [model]="menuStep" [activeIndex]="indice"></p-steps>
  </div>
</div>
<ng-container *ngIf="indice == 0 && datosGeneralesForm">
  <app-table-panel>
    <ng-template appCustomTemplate="left-header">
      <div class="table-panel-header-column">
        <span class="font-bold">ID {{contratante.idContratante}}</span>
      </div>
    </ng-template>
    <ng-template appCustomTemplate="right-header">
      <div class="table-panel-header-column">
        <div class="flex flex-column">
          <span>Estatus</span>
          <div class="contenedor-inputswitch">
            <span class="activo" *ngIf="contratante.estatus">Activo</span>
            <span class="inactivo" *ngIf="!contratante.estatus">Inactivo</span>
          </div>
        </div>
      </div>
    </ng-template>
  </app-table-panel>
  <form class="mt-5" [formGroup]="datosGeneralesForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="curp">CURP:</label>
        <input id="curp" class="form-control" formControlName="curp" placeholder="Ingresa el CURP">
        <span class="campo-obligatorio" *ngIf="dgf.curp?.errors?.required && (dgf.curp?.dirty || dgf.curp?.touched)">
          Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="rfc">RFC:</label>
        <input id="rfc" class="form-control" formControlName="rfc" placeholder="Ingresa el RFC" maxlength="13" trimmer
          folioOdsAlphanumeric (blur)="validarRfc()">
        <span class="campo-obligatorio" *ngIf="dgf.rfc?.errors?.required && (dgf.rfc?.dirty || dgf.rfc?.touched)">
          Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nss">NSS:</label>
        <input id="nss" class="form-control" formControlName="nss" placeholder="Ingresa el NSS">
        <span class="campo-obligatorio" *ngIf="dgf.nss?.errors?.required && (dgf.nss?.dirty || dgf.nss?.touched)">
          Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="nombre">Nombre(s):</label>
        <input id="nombre" class="form-control" formControlName="nombre" placeholder="Ingresa el nombre" maxlength="30"
          trimmer textOnly>
        <span class="campo-obligatorio"
          *ngIf="dgf.nombre?.errors?.required && (dgf.nombre?.dirty || dgf.nombre?.touched)">
          Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="paterno">Primer apellido:</label>
        <input id="paterno" class="form-control" formControlName="paterno" placeholder="Ingresa el primer apellido"
          maxlength="20" trimmer textOnly>
        <span class="campo-obligatorio"
          *ngIf="dgf.paterno?.errors?.required && (dgf.paterno?.dirty || dgf.paterno?.touched)">
          Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="materno">Segundo apellido:</label>
        <input id="materno" class="form-control" formControlName="materno" placeholder="Ingresa el segundo apellido"
          maxlength="20" trimmer textOnly>
        <span class="campo-obligatorio"
          *ngIf="dgf.materno?.errors?.required && (dgf.materno?.dirty || dgf.materno?.touched)">
          Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="numSexo">Sexo:</label>
        <p-dropdown id="numSexo" class="form-control" formControlName="numSexo" placeholder="Selecciona sexo"
          [options]="tipoSexo"></p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="dgf.numSexo?.errors?.required && (dgf.numSexo?.dirty || dgf.numSexo?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-3" *ngIf="dgf.numSexo.value === 3">
        <label class="control-label" for="otroSexo">Otro:</label>
        <input id="otroSexo" class="form-control" formControlName="otroSexo" placeholder="Ingresa sexo">
        <span class="campo-obligatorio"
          *ngIf="dgf.otroSexo?.errors?.required && (dgf.otroSexo?.dirty || dgf.otroSexo?.touched)">
          Campo obligatorio</span>
      </div>
      <div [ngClass]="dgf.numSexo.value === 3 ? 'col-md-3' : 'col-md-6'">
        <label class="control-label" for="fecNacimiento">Fecha de nacimiento:</label>
        <p-calendar id="fecNacimiento" styleClass="form-control" formControlName="fecNacimiento" [showIcon]="true"
          dateFormat="dd/mm/yy" placeholder="Ingresa fecha"></p-calendar>
        <span class="campo-obligatorio"
          *ngIf="dgf.fecNacimiento?.errors?.required && (dgf.fecNacimiento?.dirty || dgf.fecNacimiento?.touched)">Campo
          obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nacionalidad">Nacionalidad:</label>
        <p-dropdown id="nacionalidad" class="form-control" formControlName="nacionalidad"
          (onChange)="obtenerEstadosPaises(dgf.nacionalidad.value === 2 ? ID_CATALOGO_PAISES : ID_CATALOGO_ESTADOS)"
          placeholder="Selecciona nacionalidad" [options]="nacionalidad"></p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="dgf.nacionalidad?.errors?.required && (dgf.nacionalidad?.dirty || dgf.nacionalidad?.touched)">Campo
          obligatorio</span>
      </div>

      <div class="col-md-6" *ngIf="dgf.nacionalidad.value === 1">
        <label class="control-label" for="idEstado">Lugar de nacimiento:</label>
        <p-dropdown id="idEstado" class="form-control" formControlName="idEstado"
          placeholder="Selecciona lugar de nacimiento" [options]="catalogoEstados"></p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="dgf.idEstado?.errors?.required && (dgf.idEstado?.dirty || dgf.idEstado?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-6" *ngIf="dgf.nacionalidad.value === 2">
        <label class="control-label" for="idPais">País:</label>
        <p-dropdown id="idPais" class="form-control" formControlName="idPais" placeholder="Selecciona país"
          [options]="catalogoPaises"></p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="dgf.idPais?.errors?.required && (dgf.idPais?.dirty || dgf.idPais?.touched)">Campo
          obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="telefono">Teléfono:</label>
        <input id="telefono" class="form-control" formControlName="telefono" placeholder="Ingresa el teléfono" trimmer
          numbersOnly maxlength="10">
        <span class="campo-obligatorio"
          *ngIf="dgf.telefono?.errors?.required && (dgf.telefono?.dirty || dgf.telefono?.touched)">
          Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="correo">Correo electrónico:</label>
        <input id="correo" class="form-control" formControlName="correo" (blur)="validarEmail()"
          placeholder="Ingresa el correo electrónico" maxlength="30" trimmer>
        <span class="campo-obligatorio"
          *ngIf="dgf.correo?.errors?.required && (dgf.correo?.dirty || dgf.correo?.touched)">
          Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="indice == 1 && domicilioForm">
  <form class="mt-5" [formGroup]="domicilioForm">
    <div class="row mb-3">
      <div class="col-md-4">
        <label class="control-label" for="cp">Código postal:</label>
        <input id="cp" class="form-control" formControlName="cp" placeholder="Ingresa el código postal" maxlength="5"
          trimmer numbersOnly (blur)="obtenerCP()">
        <span class="campo-obligatorio" *ngIf="df.cp?.errors?.required && (df.cp?.dirty || df.cp?.touched)">
          Campo obligatorio</span>
      </div>
      <div class="col-md-8">
        <label class="control-label" for="calle">Calle:</label>
        <input id="calle" class="form-control" formControlName="calle" placeholder="Ingresa la calle" maxlength="30"
          trimmer textOnly>
        <span class="campo-obligatorio" *ngIf="df.calle?.errors?.required && (df.calle?.dirty || df.calle?.touched)">
          Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label class="control-label" for="numExt">No. exterior:</label>
        <input id="numExt" class="form-control" formControlName="numExt" placeholder="Ingresa el no. exterior"
          maxlength="10" trimmer alphanumericOnly>
        <span class="campo-obligatorio" *ngIf="df.numExt?.errors?.required && (df.numExt?.dirty || df.numExt?.touched)">
          Campo obligatorio</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" for="numInt">No. interior:</label>
        <input id="numInt" class="form-control" formControlName="numInt" placeholder="Ingresa el no. interior"
          maxlength="10" trimmer alphanumericOnly>
        <span class="campo-obligatorio" *ngIf="df.numInt?.errors?.required && (df.numInt?.dirty || df.numInt?.touched)">
          Campo obligatorio</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" for="colonia">Colonia:</label>
        <p-dropdown id="colonia" class="form-control" formControlName="colonia" placeholder="Selecciona una colonia"
          [options]="colonias"></p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="df.colonia?.errors?.required && (df.colonia?.dirty || df.colonia?.touched)">
          Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label class="control-label" for="municipio">Municipio:</label>
        <input id="municipio" class="form-control" formControlName="municipio" placeholder="Ingresa el municipio">
        <span class="campo-obligatorio"
          *ngIf="df.municipio?.errors?.required && (df.municipio?.dirty || df.municipio?.touched)">
          Campo obligatorio</span>
      </div>
      <div class="col-md-8">
        <label class="control-label" for="estado">Estado:</label>
        <input id="estado" class="form-control" formControlName="estado" placeholder="Ingresa el estado">
        <span class="campo-obligatorio" *ngIf="df.estado?.errors?.required && (df.estado?.dirty || df.estado?.touched)">
          Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="vistaConfirmarCambio">
  <app-detalle-contratantes [contratante]="contratanteModificado" [origen]="'modificar'"
    (confirmacionAceptar)="actualizarContratante()" (cancelarConfirmacion)="cancelarConfirmacion()">
  </app-detalle-contratantes>
</ng-container>

<div class="row my-3" *ngIf="indice < menuStep.length">
  <div class="col-md-12 flex justify-content-end">
    <button type="button" class="btn btn-danger btn-md ml-5" (click)="cancelar()">Cancelar</button>
    <button type="submit" class="btn btn-primary btn-md ml-5" (click)="siguiente()">Siguiente</button>
  </div>
</div>

<p-confirmDialog #cd [style]="{width: '30vw'}">
  <ng-template pTemplate="header">
    <h5></h5>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="row mb-3">
      <div class="col-md-12 flex justify-content-center">
        <button type="button" class="btn btn-primary btn-md ml-5" (click)="cd.accept()">Aceptar
        </button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>