<div class="row mb-3 flex justify-content-center">
  <div class="col-md-6">
    <p-steps [model]="menuStep" [activeIndex]="indice"></p-steps>
  </div>
</div>
<ng-container *ngIf="indice == 0">
  <app-table-panel>
    <ng-template appCustomTemplate="left-header">
      <div class="table-panel-header-column">
        <span class="font-bold">ID {{contratante.id}}</span>
      </div>
    </ng-template>
    <ng-template appCustomTemplate="right-header">
      <div class="table-panel-header-column">
        <div class="flex flex-column">
          <span>Estatus</span>
          <div class="contenedor-inputswitch">
            <span class="activo" *ngIf="contratante.estatus">Activo</span>
            <span class="inactivo" *ngIf="!contratante.estatus">Inactivo</span>
          </div>
        </div>
      </div>
    </ng-template>
  </app-table-panel>
  <form class="mt-5" [formGroup]="datosGeneralesForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="curp">CURP <span class="req">*</span>:</label>
        <input id="curp" class="form-control" formControlName="curp" placeholder="Ingresa el CURP">
        <span class="campo-obligatorio"
              *ngIf="dgf.curp?.errors?.required && (dgf.curp?.dirty || dgf.curp?.touched)">
                            Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="rfc">RFC <span class="req">*</span>:</label>
        <input id="rfc" class="form-control" formControlName="rfc" placeholder="Ingresa el RFC">
        <span class="campo-obligatorio"
              *ngIf="dgf.rfc?.errors?.required && (dgf.rfc?.dirty || dgf.rfc?.touched)">
                            Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nss">NSS <span class="req">*</span>:</label>
        <input id="nss" class="form-control" formControlName="nss" placeholder="Ingresa el NSS">
        <span class="campo-obligatorio"
              *ngIf="dgf.nss?.errors?.required && (dgf.nss?.dirty || dgf.nss?.touched)">
                            Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="nombre">Nombre(s) <span class="req">*</span>:</label>
        <input id="nombre" class="form-control" formControlName="nombre" placeholder="Ingresa el nombre">
        <span class="campo-obligatorio"
              *ngIf="dgf.nombre?.errors?.required && (dgf.nombre?.dirty || dgf.nombre?.touched)">
                            Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="primerApellido">Primer apellido <span class="req">*</span>:</label>
        <input id="primerApellido" class="form-control" formControlName="primerApellido" placeholder="Ingresa el primer apellido">
        <span class="campo-obligatorio"
              *ngIf="dgf.primerApellido?.errors?.required && (dgf.primerApellido?.dirty || dgf.primerApellido?.touched)">
                            Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="segundoApellido">Segundo apellido <span class="req">*</span>:</label>
        <input id="segundoApellido" class="form-control" formControlName="segundoApellido" placeholder="Ingresa el segundo apellido">
        <span class="campo-obligatorio"
              *ngIf="dgf.segundoApellido?.errors?.required && (dgf.segundoApellido?.dirty || dgf.segundoApellido?.touched)">
                            Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="sexo">Sexo <span class="req">*</span>:</label>
        <p-dropdown id="sexo" class="form-control" formControlName="sexo"
                    placeholder="Selecciona sexo" [options]="sexo"></p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="dgf.sexo?.errors?.required && (dgf.sexo?.dirty || dgf.sexo?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="fechaNacimiento">Fecha<span class="req">*</span>:</label>
        <p-calendar id="fechaNacimiento" styleClass="form-control" formControlName="fechaNacimiento" [showIcon]="true"
                    dateFormat="dd/mm/yy" placeholder="Ingresa fecha"></p-calendar>
        <span class="campo-obligatorio"
              *ngIf="dgf.fechaNacimiento?.errors?.required && (dgf.fechaNacimiento?.dirty || dgf.fechaNacimiento?.touched)">Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nacionalidad">Nacionalidad <span class="req">*</span>:</label>
        <p-dropdown id="nacionalidad" class="form-control" formControlName="nacionalidad"
                    placeholder="Selecciona nacionalidad" [options]="nacionalidad"></p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="dgf.nacionalidad?.errors?.required && (dgf.nacionalidad?.dirty || dgf.nacionalidad?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="lugarNacimiento">Lugar de nacimiento <span class="req">*</span>:</label>
        <input id="lugarNacimiento" class="form-control" formControlName="lugarNacimiento" placeholder="Ingresa el lugar de nacimiento">
        <span class="campo-obligatorio"
              *ngIf="dgf.lugarNacimiento?.errors?.required && (dgf.lugarNacimiento?.dirty || dgf.lugarNacimiento?.touched)">
                            Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="telefono">Teléfono <span class="req">*</span>:</label>
        <input id="telefono" class="form-control" formControlName="telefono" placeholder="Ingresa el teléfono">
        <span class="campo-obligatorio"
              *ngIf="dgf.telefono?.errors?.required && (dgf.telefono?.dirty || dgf.telefono?.touched)">
                            Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="correoElectronico">Correo electrónico <span class="req">*</span>:</label>
        <input id="correoElectronico" class="form-control" formControlName="correoElectronico" placeholder="Ingresa el correo electrónico">
        <span class="campo-obligatorio"
              *ngIf="dgf.correoElectronico?.errors?.required && (dgf.correoElectronico?.dirty || dgf.correoElectronico?.touched)">
                            Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="indice == 1">
  <form class="mt-5" [formGroup]="domicilioForm">
    <div class="row mb-3">
      <div class="col-md-4">
        <label class="control-label" for="cp">Código postal <span class="req">*</span>:</label>
        <input id="cp" class="form-control" formControlName="cp" placeholder="Ingresa el código postal">
        <span class="campo-obligatorio"
              *ngIf="df.cp?.errors?.required && (df.cp?.dirty || df.cp?.touched)">
                            Campo obligatorio</span>
      </div>
      <div class="col-md-8">
        <label class="control-label" for="calle">Calle <span class="req">*</span>:</label>
        <input id="calle" class="form-control" formControlName="calle" placeholder="Ingresa la calle">
        <span class="campo-obligatorio"
              *ngIf="df.calle?.errors?.required && (df.calle?.dirty || df.calle?.touched)">
                            Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label class="control-label" for="numeroExterior">No. exterior <span class="req">*</span>:</label>
        <input id="numeroExterior" class="form-control" formControlName="numeroExterior" placeholder="Ingresa el no. exterior">
        <span class="campo-obligatorio"
              *ngIf="df.numeroExterior?.errors?.required && (df.numeroExterior?.dirty || df.numeroExterior?.touched)">
                            Campo obligatorio</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" for="numeroInterior">No. interior <span class="req">*</span>:</label>
        <input id="numeroInterior" class="form-control" formControlName="numeroInterior" placeholder="Ingresa el no. interior">
        <span class="campo-obligatorio"
              *ngIf="df.numeroInterior?.errors?.required && (df.numeroInterior?.dirty || df.numeroInterior?.touched)">
                            Campo obligatorio</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" for="colonia">Colonia <span class="req">*</span>:</label>
        <input id="colonia" class="form-control" formControlName="colonia" placeholder="Ingresa la colonia">
        <span class="campo-obligatorio"
              *ngIf="df.colonia?.errors?.required && (df.colonia?.dirty || df.colonia?.touched)">
                            Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label class="control-label" for="municipio">Municipio <span class="req">*</span>:</label>
        <input id="municipio" class="form-control" formControlName="municipio" placeholder="Ingresa el municipio">
        <span class="campo-obligatorio"
              *ngIf="df.municipio?.errors?.required && (df.municipio?.dirty || df.municipio?.touched)">
                            Campo obligatorio</span>
      </div>
      <div class="col-md-8">
        <label class="control-label" for="estado">Estado <span class="req">*</span>:</label>
        <input id="estado" class="form-control" formControlName="estado" placeholder="Ingresa el estado">
        <span class="campo-obligatorio"
              *ngIf="df.estado?.errors?.required && (df.estado?.dirty || df.estado?.touched)">
                            Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <label class="control-label">Estatus<span class="req">*:</span></label>
        <div class="contenedor-inputswitch">
          <p-inputSwitch formControlName="estatus"></p-inputSwitch>
          <span class="activo" *ngIf="df.estatus?.value">Activo</span>
          <span class="inactivo" *ngIf="!df.estatus?.value">Inactivo</span>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="indice == menuStep.length">
  <app-detalle-contratantes [contratante]="contratanteModificado" [origen]="'modificar'">

  </app-detalle-contratantes>
</ng-container>

<div class="row my-3" *ngIf="indice < menuStep.length">
  <div class="col-md-12 flex justify-content-end">
    <button type="button" class="btn btn-danger btn-md ml-5" (click)="cancelar()">Cancelar</button>
    <button type="submit" class="btn btn-primary btn-md ml-5" (click)="siguiente()">Siguiente</button>
  </div>
</div>
