.disponible-entrada {
    color: #217A6B;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.ocupada-entrada {
    color: #7b3333;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}