<app-table-panel >
  <ng-template appCustomTemplate="left-header">
    <div class="table-panel-header-column">
      <span>ID<span class="font-bold"> 1</span></span>
    </div>
  </ng-template>
  <div class="row table-panel-row">
    <div class="col-md-6">
      <div class="table-panel-column">
        <span>Capilla Jesús de la inmaculada y la nueva Luz</span>
      </div>
    </div>
  </div>
  <div class="row table-panel-row">
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Registro de entrada</label>
        <span>01/01/2022 - 10:32 am</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Registro de salida</label>
        <span>08/01/2022 - 12:00 am</span>
      </div>
    </div>
  </div>
</app-table-panel>

<div class="flex mt-3 justify-content-center">
  <div class="col-md-6">
    <p class="text-center">¿Estás seguro de registrar esta salida?</p>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-12 flex justify-content-end">
    <button type="button" class="btn btn-danger btn-md ml-5" (click)="cancelar()">Cancelar</button>
    <button type="submit" class="btn btn-primary btn-md ml-5" (click)="confirmarEntrada(true)">Registrar</button>
  </div>
</div>
