<ng-container *ngIf="!abrirModificar">
  <app-table-panel>
    <ng-template appCustomTemplate="left-header">
      <div class="table-panel-header-column">
        <span class="font-bold">
          ID <span [ngClass]="articuloSeleccionado.estatus ? 'activo' : 'inactivo'">{{articuloSeleccionado.idArticulo}}</span>
        </span>
      </div>
    </ng-template>
    <ng-template appCustomTemplate="right-header">
      <div class="table-panel-header-column">
          <div class="flex flex-column">
            <span>Estatus</span>
            <div>
              <span class="activo" *ngIf="articuloSeleccionado.estatus">Activo</span>
              <span class="inactivo" *ngIf="!articuloSeleccionado.estatus">Inactivo</span>
            </div>
          </div>
          <div class="flex flex-column ml-5" *ngIf="(origen == 'detalle')">
            <a (click)="overlayPanel.toggle($event)">
              <img
                src="assets/images/imagen-icono-barras-horizontales.svg"
                alt="icono barras horizontales">
            </a>
          </div>
      </div>
    </ng-template>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Categoría (artículo)</label>
          <span> {{articuloSeleccionado.categoriaArticulo}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Tipo de artículo</label>
          <span> {{articuloSeleccionado.tipoArticulo}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Tipo de material</label>
          <span> {{articuloSeleccionado.tipoMaterial}} </span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Tamaño</label>
          <span> {{articuloSeleccionado.tamanio}} </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Clasificación del producto</label>
          <span> {{articuloSeleccionado.clasificacionProducto}} </span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <label>Modelo del artículo</label>
          <span> {{articuloSeleccionado.modeloArticulo}} </span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <label>Descripción de artículo</label>
          <span> {{articuloSeleccionado.desArticulo}} </span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Largo</label>
          <span> {{articuloSeleccionado.largo}} {{articuloSeleccionado.largo ? 'cm' : ''}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Ancho</label>
          <span> {{articuloSeleccionado.ancho}} {{articuloSeleccionado.ancho ? 'cm' : ''}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Alto</label>
          <span> {{articuloSeleccionado.alto}} {{articuloSeleccionado.alto ? 'cm' : ''}} </span>
        </div>
      </div>
    </div>


    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Partida presupuestal</label>
          <span> {{articuloSeleccionado.partPresupuestal}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Cuenta contable</label>
          <span> {{articuloSeleccionado.numCuentaPartPresupuestal}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Clave SAT</label>
          <span> {{articuloSeleccionado.productoServicios}} </span>
        </div>
      </div>
    </div>
  </app-table-panel>


  <ng-container *ngIf="origen == 'agregar'">
    <div class="flex justify-content-center">
      <div class="mt-4 col-md-7">
        ¿Estás seguro que deseas agregar este nuevo artículo?
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="origen == 'modificar'">
    <div class="flex justify-content-center">
      <div class="mt-4 col-md-7">
        ¿Estás seguro que deseas modificar este nuevo artículo?
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="origen == 'detalle'">
    <div class="flex justify-content-end">
      <button class="ml-4 mt-3 btn btn-primary btn-md" (click)="aceptar()">
        Aceptar
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="(origen == 'agregar' || origen == 'modificar')">
    <div class="flex mt-4 justify-content-end">
      <button class="ml-6 mt-3 btn btn-primary btn-md" (click)="regresar()">Regresar</button>
      <button class="ml-6 mt-3 btn btn-danger btn-md" (click)="cerrar()">Cancelar</button>
      <button class="ml-6 mt-3 btn btn-primary btn-md" (click)="aceptar()">
        Aceptar
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="(origen == 'estatus')">
    <ng-container *ngIf="articuloSeleccionado.estatus">
      <div class="flex mt-4 justify-content-center">
        <div class="col-md-8 text-center">
          ¿Estás seguro que deseas desactivar este artículo?
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!articuloSeleccionado.estatus">
      <div class="flex mt-4 justify-content-center">
        <div class="col-md-8 text-center">
          ¿Estás seguro que deseas activar este artículo?
        </div>
      </div>
    </ng-container>

    <div class="flex mt-5 justify-content-end">
      <button class="ml-6 mt-3 btn btn-danger btn-md" (click)="cerrar()">Cancelar</button>
      <button class="ml-6 mt-3 btn btn-primary btn-md" (click)="aceptar()">
        Aceptar
      </button>
    </div>
  </ng-container>

  <p-overlayPanel #overlayPanel>
    <ng-template pTemplate="content">
      <app-overlay-panel-opciones>
        <app-overlay-panel-opcion titulo="Modificar" (click)="abrirModalModificarServicio()"></app-overlay-panel-opcion>
      </app-overlay-panel-opciones>
    </ng-template>
  </p-overlayPanel>
</ng-container>

<ng-container *ngIf="abrirModificar">
  <app-modificar-articulos></app-modificar-articulos>
</ng-container>
