<div class="grid">
  <app-btn-regresar class="mr-2 mt-5 col-fixed border-return-button"
                    (click)="regresarPaginaPrevia()"></app-btn-regresar>
  <app-titulo-principal [titulo]="'Modificar Pago'" class="col"></app-titulo-principal>
</div>

<div class="border-panel mb-5">
  <div class="row flex border-panel mx-0 bg-g mb-5">
    <div class="col-12">
      <div class="row grid">
        <div class="col">
          <span class="flex flex-column etiqueta-base">Fecha de pago</span>
          <span class="flex flex-column etiqueta-base font-bold"
                *ngIf="registroPago.totalPorCubrir <= 0">{{registroPago.fechaUltimaPago}}</span>
          <span class="flex flex-column etiqueta-base font-bold"
                *ngIf="registroPago.totalPorCubrir > 0">{{fecha | date:'dd/MM/YYYY'}}</span>
        </div>
        <div class="col">
          <span class="flex flex-column etiqueta-base">{{tipoFolio}}</span>
          <span class="flex flex-column etiqueta-base font-bold">{{registroPago.folio}}</span>
        </div>
        <div class="col">
          <span class="flex flex-column etiqueta-base">Tipo de pago</span>
          <span class="flex flex-column etiqueta-base font-bold">{{tipoPago}}</span>
        </div>
        <div class="col">
          <span class="flex flex-column etiqueta-base">Estatus</span>
          <span class="flex flex-column etiqueta-base font-bold">{{registroPago.estatusPago}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5" [formGroup]="pagoForm">
    <div class="col-md-6"
         *ngIf="registroPago.estatusPago === 'Pendiente' && +registroPago.generarPagare !== 1 || registroPago.estatusPago !== 'Pendiente'">
      <label class="control-label">Métodos de pago seleccionables:</label>
      <p-dropdown class="form-control" placeholder="Selecciona un método de pago" [options]="tiposPago"
                  formControlName="tipoPago"></p-dropdown>
    </div>
    <div class="col-md-6"
         *ngIf="registroPago.estatusPago === 'Pendiente' && +registroPago.generarPagare !== 1 || registroPago.estatusPago !== 'Pendiente'">
      <div class="flex mb-4 justify-content-end">
        <button class="ml-6 mt-6 btn btn-primary btn-md" [disabled]="pagoForm.pristine" (click)="seleccionarPago()">
          Registrar
        </button>
      </div>
    </div>
    <div class="col-md-12" *ngIf="registroPago.estatusPago === 'Pendiente' && +registroPago.generarPagare === 1">
      <div class="flex mb-4 justify-content-end">
        <button class="ml-6 mt-6 btn btn-default btn-md"
                [routerLink]="['./../../../generar-formato-pagare/formato-pagare', registroPago.idRegistro]">
          Generar Pagare
        </button>
      </div>
    </div>
  </div>

  <div class="row flex border-panel mx-0">
    <div class="col-md-12">
      <div class="row grid">
        <div class="col">
          <span class="flex flex-column texto-base font-bold p28">{{registroPago.totalAPagar | currency}}</span>
          <span class="flex flex-column etiqueta-base">Total a pagar</span>
        </div>
        <div class="col">
          <span class="flex flex-column texto-base font-bold p28">{{registroPago.totalPagado | currency}}</span>
          <span class="flex flex-column etiqueta-base">Total Pagado</span>
        </div>
        <div class="col font-17">
          <span class="flex flex-column texto-base font-bold p28">{{ registroPago.totalPorCubrir | currency }}</span>
          <span class="flex flex-column etiqueta-base">Diferencia entre total a pagar y total pagado</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="border-panel" *ngIf="registroPago.metodosPago.length > 0">
  <h2 class="subtitulo pt-4 pb-4">Datos de pago</h2>
  <p-accordion styleClass="sivimss-accordion sivimss-accordionColor">
    <p-accordionTab *ngFor="let pago of registroPago.metodosPago">
      <ng-template pTemplate="header">
        <div class="sivimss-acoordion-header">
          <div class="accordion-header-left font-bold font-14">
            {{pago.metodoPago}}
          </div>
          <div class="accordion-header-right">
            <div class="container-monto">
              <div class="estatus">
                <span>Importe</span>
                <b>{{pago.importe | currency}}</b>
              </div>
              <div class="ml-2"
                   *ngIf="['Vale paritaria', 'Ayuda de Gastos de Funeral (AGF)'].includes(pago.metodoPago)"></div>
              <a class="cursor-pointer" (click)="mostrarOverlay($event, pago)" onCloseOnNavigation
                 *ngIf="!['Vale paritaria', 'Ayuda de Gastos de Funeral (AGF)'].includes(pago.metodoPago)">
                <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
              </a>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="flex-row flex justify-content-between"
             *ngIf="['Efectivo', 'Traslado oficial'].includes(pago.metodoPago)">
          <div>
            <span class="flex flex-column texto-base">Fecha de pago:</span>
            <span class="flex flex-column etiqueta-base">{{pago.fechaPago}}</span>
          </div>
          <div>
            <span class="flex flex-column texto-base">Total a pagar:</span>
            <span class="flex flex-column etiqueta-base">{{registroPago.totalAPagar | currency}}</span>
          </div>
          <div>
            <span class="flex flex-column texto-base mr-4">Tipo de Pago</span>
            <span class="flex flex-column etiqueta-base mr-4">{{pago.metodoPago}}</span>
          </div>
        </div>
        <div class="row grid" *ngIf="!['Efectivo', 'Traslado oficial','Vale paritaria'].includes(pago.metodoPago)">
          <div class="col">
            <span class="flex flex-column texto-base">Fecha de pago:</span>
            <span class="flex flex-column etiqueta-base">{{pago.fechaPago }}</span>
          </div>
          <div class="col">
            <span class="flex flex-column texto-base"
                  *ngIf="!['Transferencia', 'Deposito'].includes(pago.metodoPago)">Número de Autorización</span>
            <span class="flex flex-column texto-base"
                  *ngIf="['Transferencia', 'Deposito'].includes(pago.metodoPago)">Folio de Autorización</span>
            <span class="flex flex-column etiqueta-base">{{pago.numAutorizacion}}</span>
          </div>
          <div class="col">
            <span class="flex flex-column texto-base"
                  *ngIf="!['Transferencia', 'Deposito'].includes(pago.metodoPago)">Nombre del banco</span>
            <span class="flex flex-column texto-base"
                  *ngIf="['Transferencia', 'Deposito'].includes(pago.metodoPago)">Banco</span>
            <span class="flex flex-column etiqueta-base">{{pago.nomBanco}}</span>
          </div>
          <div class="col">
            <span class="flex flex-column texto-base">Total a pagar</span>
            <span class="flex flex-column etiqueta-base">{{registroPago.totalAPagar | currency}}</span>
          </div>
          <div class="col">
            <span class="flex flex-column texto-base">Tipo de Pago</span>
            <span class="flex flex-column etiqueta-base">{{pago.metodoPago}}</span>
          </div>
        </div>
        <div class="row grid" *ngIf="['Vale paritaria'].includes(pago.metodoPago)">
          <div class="col">
            <span class="flex flex-column texto-base">Fecha:</span>
            <span class="flex flex-column etiqueta-base">{{pago.fechaPago }}</span>
          </div>
          <div class="col">
            <span class="flex flex-column texto-base">Total a pagar:</span>
            <span class="flex flex-column etiqueta-base">{{registroPago.totalAPagar | currency}}</span>
          </div>
          <div class="col">
            <span class="flex flex-column texto-base">Folio vale paritaria:</span>
            <span class="flex flex-column etiqueta-base">{{pago.numAutorizacion}}</span>
          </div>
          <div class="col">
            <span class="flex flex-column texto-base">Fecha folio vale paritaria:</span>
            <span class="flex flex-column etiqueta-base">{{pago.fechaValeParAGF | date:'dd/MM/YYYY'}}</span>
          </div>
          <div class="col">
            <span class="flex flex-column texto-base ml-6">Tipo de Pago:</span>
            <span class="flex flex-column etiqueta-base ml-6">{{pago.metodoPago}}</span>
          </div>
        </div>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</div>

<div class="flex mb-4 justify-content-end">
  <button class="ml-6 mt-3 btn btn-primary btn-md" [routerLink]="'./../..'">
    Regresar
  </button>
</div>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Modificar" (click)="modificarTipoPago()" onCloseOnNavigation>
      </app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Eliminar" (click)="eliminarTipoPago()" onCloseOnNavigation>
      </app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>
