<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="matricula">Matricula<span class="req">*</span>:</label>
    <input id="matricula" class="form-control" placeholder="Inserta la Matricula">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="rfc">R.F.C.<span class="req">*</span>:</label>
    <input id="rfc" class="form-control" placeholder="Inserta el R.F.C.">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="curp">C.U.R.P<span class="req">*</span>:</label>
    <input id="curp" class="form-control" placeholder="Inserta el C.U.R.P">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="nombres">Nombre(s)<span class="req">*</span>:</label>
    <input id="nombres" class="form-control" placeholder="Inserta el nombre">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="primerApellido">Primer apellido<span class="req">*</span>:</label>
    <input id="primerApellido" class="form-control" placeholder="Inserta el primer Apellido">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="segundoApellido">Segundo apellido<span class="req">*</span>:</label>
    <input id="segundoApellido" class="form-control" placeholder="Inserta el segundo Apellido">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="calle">Calle<span class="req">*</span>:</label>
    <input id="calle" class="form-control" placeholder="Inserta la calle">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="numeroExterior">Número. exterior<span class="req">*</span>:</label>
    <input id="numeroExterior" class="form-control" placeholder="Inserta el número Exterior">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="numeroInterior">Número interior:</label>
    <input id="numeroInterior" class="form-control" placeholder="Inserta el número Interior">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="codigoPostal">Código postal<span class="req">*</span>:</label>
    <input id="codigoPostal" class="form-control" placeholder="Inserta el codigo postal">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="colonia">Colonia<span class="req">*</span>:</label>
    <input id="colonia" class="form-control" placeholder="Inserta la colonia">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="municipio">Municipio<span class="req">*</span>:</label>
    <input id="municipio" class="form-control" placeholder="Inserta el municipio">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="estado">Estado<span class="req">*</span>:</label>
    <input id="estado" class="form-control" placeholder="Inserta el estado">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="nacionalidad">Nacionalidad<span class="req">*</span>:</label>
    <input id="nacionalidad" class="form-control" placeholder="Inserta la nacionalidad">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="paisNacimiento">País de nacimientro<span class="req">*</span>:</label>
    <input id="paisNacimiento" class="form-control" placeholder="Inserta el pais de nacimiento">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="lugarNacimiento">Lugar de nacimiento<span class="req">*</span>:</label>
    <input id="lugarNacimiento" class="form-control" placeholder="Inserta el estado">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="correoElectronico">Correo electrónico<span class="req">*</span>:</label>
    <input id="correoElectronico" class="form-control" placeholder="Inserta la nacionalidad">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="telefono">Teléfono<span class="req">*</span>:</label>
    <input id="telefono" class="form-control" placeholder="Inserta el telefono">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="enfermedadPreExistente">Enfermedad prexistente<span class="req">*</span>:</label>
    <input id="enfermedadPreExistente" class="form-control" placeholder="Inserta la enfermedad pre existente">
  </div>
</div>
