<p-accordion styleClass="sivimss-accordion sivimss-accordionColor mb-5" [activeIndex]="0">
  <p-accordionTab header="Datos de la persona">
    <div class="row mb-3 grid">
      <div class="col-md-4">
        <label class="control-label" [for]="'curp' + ID">C.U.R.P<span class="req">*</span>:</label>
        <input [id]="'curp' + ID" class="form-control" formControlName="curp" placeholder="Inserta el C.U.R.P"
               [maxlength]="18" (blur)="validarCurp()">
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.curp?.errors?.required  && (parentFormGroup.curp?.dirty || parentFormGroup.curp?.touched)">
      Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" [for]="'rfc' + ID">R.F.C.<span class="req">*</span>:</label>
        <input [id]="'rfc' + ID" class="form-control" formControlName="rfc" placeholder="Inserta el R.F.C."
               [maxlength]="13" (blur)="validarRfc()">
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.rfc?.errors?.required  && (parentFormGroup.rfc?.dirty || parentFormGroup.rfc?.touched)">
      Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" [for]="'matricula' + ID">Matrícula:</label>
        <input [id]="'matricula' + ID" class="form-control" formControlName="matricula"
               placeholder="Inserta la Matrícula"
               [maxlength]="10" (blur)="validarMatricula()">
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.matricula?.errors?.required  && (parentFormGroup.matricula?.dirty || parentFormGroup.matricula?.touched)">
      Este campo es obligatorio *.</span>
      </div>
    </div>
    <div class="row mb-3 grid">
      <div class="col-md-4">
        <label class="control-label" [for]="'nombres' + ID">Nombre(s)<span class="req">*</span>:</label>
        <input [id]="'nombres' + ID" class="form-control" formControlName="nombres" placeholder="Inserta el nombre"
               [maxlength]="30" lettersOnly>
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.nombres?.errors?.required  && (parentFormGroup.nombres?.dirty || parentFormGroup.nombres?.touched)">
      Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" [for]="'primerApellido' + ID">Primer apellido<span class="req">*</span>:</label>
        <input [id]="'primerApellido' + ID" class="form-control" formControlName="primerApellido"
               placeholder="Inserta el primer Apellido" [maxlength]="20" lettersOnly>
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.primerApellido?.errors?.required  && (parentFormGroup.primerApellido?.dirty || parentFormGroup.primerApellido?.touched)">
      Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" [for]="'segundoApellido' + ID">Segundo apellido<span class="req">*</span>:</label>
        <input [id]="'segundoApellido' + ID" class="form-control" formControlName="segundoApellido"
               placeholder="Inserta el segundo Apellido" [maxlength]="20" lettersOnly>
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.segundoApellido?.errors?.required  && (parentFormGroup.segundoApellido?.dirty || parentFormGroup.segundoApellido?.touched)">
      Este campo es obligatorio *.</span>
      </div>
    </div>
    <div class="row mb-3 grid">
      <div class="col-md-4">
        <label class="control-label" [for]="'calle' + ID">Calle<span class="req">*</span>:</label>
        <input [id]="'calle' + ID" class="form-control" formControlName="calle" placeholder="Inserta la calle"
               [maxlength]="30">
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.calle?.errors?.required  && (parentFormGroup.calle?.dirty || parentFormGroup.calle?.touched)">
      Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" [for]="'numeroExterior' + ID">Número. exterior<span class="req">*</span>:</label>
        <input [id]="'numeroExterior' + ID" class="form-control" formControlName="numeroExterior"
               placeholder="Inserta el número Exterior" [maxlength]="10">
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.numeroExterior?.errors?.required  && (parentFormGroup.numeroExterior?.dirty || parentFormGroup.numeroExterior?.touched)">
      Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" [for]="'numeroInterior' + ID">Número interior:</label>
        <input [id]="'numeroInterior' + ID" class="form-control" formControlName="numeroInterior"
               placeholder="Inserta el número Interior" [maxlength]="10">
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.numerInterior?.errors?.required  && (parentFormGroup.numeroInterior?.dirty || parentFormGroup.numerInterior?.touched)">
      Este campo es obligatorio *.</span>
      </div>
    </div>
    <div class="row mb-3 grid">
      <div class="col-md-4">
        <label class="control-label" [for]="'codigoPostal' + ID">Código postal<span class="req">*</span>:</label>
        <input [id]="'codigoPostal' + ID" class="form-control" formControlName="codigoPostal"
               placeholder="Inserta el codigo postal"
               [maxlength]="5" (blur)="cargarCP()" numbersOnly>
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.cp?.errors?.required  && (parentFormGroup.cp?.dirty || parentFormGroup.cp?.touched)">
      Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" [for]="'colonia' + ID">Colonia<span class="req">*</span>:</label>
        <p-dropdown [id]="'colonia' + ID" class="form-control" formControlName="colonia"
                    placeholder="Selecciona la colonia" [options]="colonias" [filter]="true"
                    filterBy="label"></p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.colonia?.errors?.required  && (parentFormGroup.colonia?.dirty || parentFormGroup.colonia?.touched)">
      Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" [for]="'municipio' + ID">Municipio<span class="req">*</span>:</label>
        <input [id]="'municipio' + ID" class="form-control" formControlName="municipio"
               placeholder="Inserta el municipio">
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.municipio?.errors?.required  && (parentFormGroup.municipio?.dirty || parentFormGroup.municipio?.touched)">
      Este campo es obligatorio *.</span>
      </div>
    </div>
    <div class="row grid">
      <div class="col-md-4 mb-3">
        <label class="control-label" [for]="'estado' + ID">Estado<span class="req">*</span>:</label>
        <input [id]="'estado' + ID" class="form-control" formControlName="estado" placeholder="Inserta el estado">
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.estado?.errors?.required  && (parentFormGroup.estado?.dirty || parentFormGroup.estado?.touched)">
      Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-4 mb-3">
        <label class="control-label" [for]="'nacionalidad' + ID">Nacionalidad<span class="req">*</span>:</label>
        <p-dropdown [id]="'nacionalidad' + ID" class="form-control" formControlName="nacionalidad"
                    (onChange)="cambioNacionalidad()" placeholder="Selecciona nacionalidad" [options]="nacionalidad"
                    [filter]="true" filterBy="label"></p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.nacionalidad?.errors?.required  && (parentFormGroup.nacionalidad?.dirty || parentFormGroup.nacionalidad?.touched)">
      Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-4 mb-3" *ngIf="parentFormGroup.nacionalidad.value === 2">
        <label class="control-label" [for]="'paisNacimiento' + ID">País de nacimientro<span
          class="req">*</span>:</label>
        <p-dropdown [id]="'paisNacimiento' + ID" class="form-control" formControlName="paisNacimiento"
                    [options]="paises"
                    placeholder="Seleccionar el país de nacimiento" [filter]="true" filterBy="label">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.paisNacimiento?.errors?.required  && (parentFormGroup.paisNacimiento?.dirty || parentFormGroup.paisNacimiento?.touched)">
      Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-4 mb-3" *ngIf="parentFormGroup.nacionalidad.value === 1">
        <label class="control-label" [for]="'lugarNacimiento' + ID">Lugar de nacimiento<span
          class="req">*</span>:</label>
        <p-dropdown [id]="'lugarNacimiento' + ID" class="form-control" formControlName="lugarNacimiento" [filter]="true"
                    filterBy="label" [options]="estados" placeholder="Selecciona el lugar de nacimiento">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.lugarNacimiento?.errors?.required  && (parentFormGroup.lugarNacimiento?.dirty || parentFormGroup.lugarNacimiento?.touched)">
      Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-4 mb-3">
        <label class="control-label" [for]="'correoElectronico' + ID">Correo electrónico<span
          class="req">*</span>:</label>
        <input [id]="'correoElectronico' + ID" class="form-control" formControlName="correoElectronico"
               placeholder="Inserta el correo electrónico">
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.correoElectronico?.errors?.required  && (parentFormGroup.correoElectronico?.dirty || parentFormGroup.correoElectronico?.touched)">
      Este campo es obligatorio *.</span>
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup?.correoElectronico?.errors?.pattern && (parentFormGroup?.correoElectronico?.dirty || parentFormGroup?.correoElectronico?.touched)">
      El correo electrónico no es válido.</span>
      </div>
      <div class="col-md-4 mb-3">
        <label class="control-label" [for]="'telefono' + ID">Teléfono<span class="req">*</span>:</label>
        <input [id]="'telefono' + ID" class="form-control" formControlName="telefono" placeholder="Inserta el teléfono"
               [maxlength]="10" numbersOnly>
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.telefono?.errors?.required  && (parentFormGroup.telefono?.dirty || parentFormGroup.telefono?.touched)">
      Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-4 mb-3" *ngIf="enfermedad">
        <label class="control-label" [for]="'enfermedadPreExistente' + ID">Enfermedad prexistente<span
          class="req">*</span>:</label>
        <p-dropdown [id]="'enfermedadPreExistente' + ID" class="form-control" formControlName="enfermedadPreExistente"
                    [filter]="true" filterBy="label" [options]="enfermedades"
                    placeholder="Selecciona la enfermedad pre existente">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup.enfermedadPreExistente?.errors?.required  && (parentFormGroup.enfermedadPreExistente?.dirty || parentFormGroup.enfermedadPreExistente?.touched)">
      Este campo es obligatorio *.</span>
      </div>
    </div>
  </p-accordionTab>
</p-accordion>

<p-accordion styleClass="sivimss-accordion sivimss-accordionColor mb-5" [activeIndex]="0">
  <p-accordionTab header="Características del convenio">
    <div class="row mb-3">
      <div class="col-md-4">
        <label class="control-label" for="tipoPaquete">Tipo de paquete<span class="req">*</span>:</label>
        <p-dropdown appendTo="body" id="tipoPaquete" class="form-control" formControlName="tipoPaquete"
                    [options]="paquetes" placeholder="Selecciona el tipo de paquete">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="parentFormGroup?.tipoPaquete?.errors?.required  && (parentFormGroup?.tipoPaquete?.dirty || parentFormGroup?.tipoPaquete?.touched)">
      Este campo es obligatorio *.</span>
      </div>
    </div>
  </p-accordionTab>
</p-accordion>
<p-accordion styleClass="sivimss-accordion sivimss-accordionColor mb-5" [activeIndex]="0">
  <p-accordionTab header="Documentación requerida">
    <p-accordion styleClass="sivimss-accordion sivimss-accordionColor mt-3" [activeIndex]="0">
      <p-accordionTab [header]="nombreINE" class="mb-3">
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="control-label" [for]="'numeroDocumentoINE' + ID">Número del documento<span
              class="req">*</span>:</label>
            <input [id]="'numeroDocumentoINE' + ID" class="form-control" placeholder="Inserta el número de documento"
                   formControlName="numeroDocumentoINE">
          </div>
          <div class="col-md-4">
            <label class="control-label" [for]="'tipoDocumentoINE' + ID">Tipo del documento<span
              class="req">*</span>:</label>
            <p-dropdown [id]="'tipoDocumentoINE' + ID" class="form-control" [options]="tipoDoc"
                        formControlName="tipoDocumentoINE"
                        placeholder="Seleccionar el tipo de documento" [filter]="true" filterBy="label">
            </p-dropdown>
          </div>
          <div class="col-md-4">
            <label class="control-label" [for]="'nombreDocumentoINE' + ID">Nombre del documento<span
              class="req">*</span>:</label>
            <input [id]="'nombreDocumentoINE' + ID" class="form-control" placeholder="Inserta nombre del documento"
                   formControlName="nombreDocumentoINE">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="verDocINE">Ver documento<span class="req">*</span>:</label>
            <div (click)="descargarArchivo(1)">
              <input class="hidden" type="file" id="download-file-INE" name="download-file"
                     accept=".jpg, .jpeg, .png, .pdf">
              <input id="verDocINE" class="form-control" readonly/>
              <img src="assets/images/imagen-icono-file-upload.svg" class="ms" alt="icono ver"/>
            </div>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="nuevoDocumentoINE">Modificar Documento<span class="req">*</span>:</label>
            <div (click)="handleClick('uploadFileINE')">
              <input class="hidden" type="file" id="uploadFileINE" name="uploadFileINE" accept=".jpg, .jpeg, .png, .pdf"
                     ngf-max-size="5MB" (change)="addAttachment($event)"/>
              <input id="nuevoDocumentoINE" class="form-control" formControlName="nuevoDocumentoINE" readonly/>
              <img src="assets/images/imagen-icono-file-upload.svg" class="ms" alt="icono ver"/>
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab [header]="nombreCURP">
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="control-label" [for]="'numeroDocumentoCURP' + ID">Número del documento<span
              class="req">*</span>:</label>
            <input [id]="'numeroDocumentoCURP' + ID" class="form-control" placeholder="Inserta el número de documento"
                   formControlName="numeroDocumentoCURP">
          </div>
          <div class="col-md-4">
            <label class="control-label" [for]="'tipoDocumentoCURP' + ID">Tipo del documento<span
              class="req">*</span>:</label>
            <p-dropdown [id]="'tipoDocumentoCURP' + ID" class="form-control" [options]="tipoDoc"
                        formControlName="tipoDocumentoCURP"
                        placeholder="Seleccionar el tipo de documento" [filter]="true" filterBy="label">
            </p-dropdown>
          </div>
          <div class="col-md-4">
            <label class="control-label" [for]="'nombreDocumentoCURP' + ID">Nombre del documento<span
              class="req">*</span>:</label>
            <input [id]="'nombreDocumentoCURP' + ID" class="form-control" placeholder="Inserta nombre del documento"
                   formControlName="nombreDocumentoCURP">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="verDocCURP">Ver documento<span class="req">*</span>:</label>
            <div (click)="descargarArchivo(2)">
              <input class="hidden" type="file" id="download-file-CURP" name="download-file"
                     accept=".jpg, .jpeg, .png, .pdf">
              <input id="verDocCURP" class="form-control" readonly/>
              <img src="assets/images/imagen-icono-file-upload.svg" class="ms" alt="icono ver"/>
            </div>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="nuevoDocumentoCURP">Modificar Documento<span class="req">*</span>:</label>
            <div (click)="handleClick('uploadFileCURP')">
              <input class="hidden" type="file" id="uploadFileCURP" name="uploadFileCURP"
                     accept=".jpg, .jpeg, .png, .pdf"
                     ngf-max-size="5MB" (change)="addAttachment($event)"/>
              <input id="nuevoDocumentoCURP" class="form-control" formControlName="nuevoDocumentoCURP" readonly/>
              <img src="assets/images/imagen-icono-file-upload.svg" class="ms" alt="icono ver"/>
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab [header]="nombreRFC">
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="control-label" [for]="'numeroDocumentoRFC' + ID">Número del documento<span
              class="req">*</span>:</label>
            <input [id]="'numeroDocumentoRFC' + ID" class="form-control" placeholder="Inserta el número de documento"
                   formControlName="numeroDocumentoRFC">
          </div>
          <div class="col-md-4">
            <label class="control-label" [for]="'tipoDocumentoRFC' + ID">Tipo del documento<span
              class="req">*</span>:</label>
            <p-dropdown [id]="'tipoDocumentoRFC' + ID" class="form-control" [options]="tipoDoc"
                        formControlName="tipoDocumentoRFC"
                        placeholder="Seleccionar el tipo de documento" [filter]="true" filterBy="label">
            </p-dropdown>
          </div>
          <div class="col-md-4">
            <label class="control-label" [for]="'nombreDocumentoRFC' + ID">Nombre del documento<span
              class="req">*</span>:</label>
            <input [id]="'nombreDocumentoRFC' + ID" class="form-control" placeholder="Inserta nombre del documento"
                   formControlName="nombreDocumentoRFC">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="verDocRFC">Ver documento<span class="req">*</span>:</label>
            <div (click)="descargarArchivo(3)">
              <input class="hidden" type="file" id="download-file-RFC" name="download-file"
                     accept=".jpg, .jpeg, .png, .pdf">
              <input id="verDocRFC" class="form-control" readonly/>
              <img src="assets/images/imagen-icono-file-upload.svg" class="ms" alt="icono ver"/>
            </div>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="nuevoDocumentoRFC">Modificar Documento<span class="req">*</span>:</label>
            <div (click)="handleClick('uploadFileRFC')">
              <input class="hidden" type="file" id="uploadFileRFC" name="uploadFileRFC" accept=".jpg, .jpeg, .png, .pdf"
                     ngf-max-size="5MB" (change)="addAttachment($event)"/>
              <input id="nuevoDocumentoRFC" class="form-control" formControlName="nuevoDocumentoRFC" readonly/>
              <img src="assets/images/imagen-icono-file-upload.svg" class="ms" alt="icono ver"/>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </p-accordionTab>
</p-accordion>

<div class="row mt-3 mb-2">
  <div class="col-md-12 flex justify-content-end mt-6 mb-4">
    <button type="submit" class="btn btn-primary btn-md ml-5"
            [disabled]="(parentContainer.invalid || parentContainer.pristine) && !archivoModificado"
            (click)="guardarSolicitante()">Guardar Información Solicitante
    </button>
  </div>
</div>
