<ng-container>
    <form [formGroup]="modificarPagoForm">
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="control-label" for="modificarPago">Motivo de modificación<span
              class="req">*</span>:</label>
                <textarea rows="3" pInputTextarea style="width: 100%;" formControlName="modificarPago" placeholder="Ingresa el motivo de la modificación" maxlength="50"></textarea>
                <span class="campo-obligatorio" *ngIf="ref.modificarPago?.errors?.required && (ref.modificarPago?.dirty || ref.modificarPago?.touched)">Este campo es obligatorio *.</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <span class="mensaje-inferior-campo-obligatorio">
            *Campos obligatorios
          </span>
            </div>
        </div>
    </form>
</ng-container>
<section>
    <div class="row mb-3">
        <div class="col-md-12 flex justify-content-end align-items-center">
            <button class="ml-4 btn btn-danger btn-md" (click)="cancelar()">Cancelar</button>
            <button class="ml-6 btn btn-md btn-primary" [disabled]="modificarPagoForm.invalid" (click)="modificarPago();">Aceptar</button>
        </div>
    </div>
</section>