<app-titulo-principal titulo="Renovar / consultar convenios pf"></app-titulo-principal>

<ng-container>
  <div class="border-panel">
    <form [formGroup]="documentacionForm">
      <p-accordion styleClass="sivimss-accordion">
        <p-accordionTab>
          <ng-template pTemplate="header">
            <span>Convenio &nbsp;</span><b>DOC-000001</b>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="row">
              <div class="col-md-3">
                <div class="table-panel-column">
                  <label>Velatorio:</label>
                  <span>{{convenio.tipoPF}}</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="table-panel-column">
                  <label>Fecha:</label>
                  <span>{{convenio.tipoPaquete}}</span>
                </div>
              </div>
            </div>
          </ng-template>
        </p-accordionTab>
      </p-accordion>
    </form>
    <!--  -->
    <div class="mt-7">
      <p-accordion styleClass="sivimss-accordion accordion-custom-pf">
        <p-accordionTab>
          <ng-template pTemplate="header">
            <p-checkbox inputId="ineAfiliado" styleClass="mr-3" [binary]="true"></p-checkbox>
            <span>Convenio &nbsp;</span><b>OK</b>
          </ng-template>
          <ng-template pTemplate="content">
            <!-- <div class="row">
              <div class="col-md-3">
                <div class="table-panel-column">
                  <label>Tipo previsión funeraria:</label>
                  <span>{{convenio.tipoPF}}</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="table-panel-column">
                  <label>Tipo de paquete:</label>
                  <span>{{convenio.tipoPaquete}}</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="table-panel-column">
                  <label>Datos bancarios:</label>
                  <span>{{convenio.datosBancarios}}</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="table-panel-column">
                  <label>Cuota de recuperación:</label>
                  <span>{{convenio.cuotaRecuperacion}}</span>
                </div>
              </div>
            </div> -->
          </ng-template>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</ng-container>

<div class="row my-6">
  <div class="col-md-12 flex justify-content-end">
    <button type="submit" class="btn btn-danger btn-md ml-5">Desactivar</button>
    <button type="submit" class="btn btn-primary btn-md ml-5">Modificar</button>
  </div>
</div>
<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Modificar beneficiarios"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>