<div class="flex">
  <app-btn-regresar class="mr-2" style="
      margin-top:10px;
      z-index: 300;
      border: solid 2px;
      height: 38px;
      width: 47px;
      padding-left: 6px;
      border-radius: 5px;" routerLink="../"></app-btn-regresar>
  <app-titulo-principal style="width: 100%" titulo="Orden de entrada"></app-titulo-principal>
</div>
<form [formGroup]="formulario" class="border-400 border-2 p-5 mb-8 shadow-2">
  <div class="row mb-3">
    <div class="col-md-4">
      <label class="control-label" for="contrato">Contrato<span class="req">*</span>:</label>
      <p-dropdown id="contrato" class="form-control" formControlName="contrato" [options]="contratos"
                  placeholder="Seleccionar contrato" (onChange)="onContratoChange($event)" [filter]="true" filterBy="label">
      </p-dropdown>
      <span class="campo-obligatorio"
            *ngIf="f.contrato?.errors?.required && (f.contrato?.dirty || f.contrato?.touched)">Este campo es obligatorio *.</span>
    </div>
    <div class="col-md-4">
      <label class="control-label" for="idOde">ID ODE:</label>
      <input id="idOde" class="form-control" formControlName="idOde" placeholder="ID ODE">
    </div>
    <div class="col-md-4">
      <label class="control-label" for="folioOde">FOLIO ODE:</label>
      <input id="folioOde" class="form-control" formControlName="folioOde" placeholder="Folio ODE">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">
      <label class="control-label" for="proveedor">Proveedor:</label>
      <input id="proveedor" class="form-control" formControlName="proveedor" placeholder="Ingresar proveedor">
    </div>
    <div class="col-md-4">
      <label class="control-label" for="folioProveedor">Folio proveedor:</label>
      <input id="folioProveedor" class="form-control" formControlName="folioProveedor"
             placeholder="Ingresar folio proveedor">
    </div>
    <div class="col-md-4">
      <label class="control-label" for="categoria">Categoría<span class="req">*</span>:</label>
      <p-dropdown id="categoria" class="form-control" formControlName="categoria" [options]="categorias"
                  placeholder="Seleccionar la categoría" (onChange)="onCategoriaChange($event)" [filter]="true" filterBy="label">
      </p-dropdown>
      <span class="campo-obligatorio" *ngIf="f.categoria?.errors?.required && (f.categoria?.dirty || f.categoria?.touched)">Este campo es obligatorio *.</span>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-8">
      <label class="control-label" for="modelo">Modelo:</label>
      <p-dropdown id="modelo" class="form-control" formControlName="modelo" [options]="modelos"
                  placeholder="Seleccionar el modelo" (onChange)="onModeloChange($event)" [filter]="true" filterBy="label">
      </p-dropdown>
    </div>
    <div class="col-md-4">
      <label class="control-label" for="velatorio">Velatorio:</label>
      <input id="velatorio" class="form-control" formControlName="velatorio" placeholder="Ingresa el velatorio">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">
      <label class="control-label" for="costo">Costo:</label>
      <input id="costo" class="form-control" formControlName="costo" [value]="f.costo.value | currency" placeholder="Ingresa el costo">
    </div>
    <div class="col-md-4">
      <label class="control-label" for="numeroArticulos">Agregar el número de artículos<span
        class="req">*</span>:</label>
      <input id="numeroArticulos" class="form-control" formControlName="numeroArticulos" placeholder="Ingresa el costo"
             maxlength="5" [disabled]="bloquearCampoArticulos" (change)="validarMaximoArticulos()">
      <span class="campo-obligatorio" *ngIf="f.numeroArticulos?.errors?.required && (f.numeroArticulos?.dirty || f.numeroArticulos?.touched)">Este campo es obligatorio *.</span>
      <span class="campo-obligatorio" *ngIf="validarArticulos() && !bloquearCampoArticulos">El valor debe ser igual o menor a {{ maxNumeroArticulos }}</span>
    </div>
    <div class="col-md-4">
      <label class="control-label" for="precio">Precio:</label>
      <input id="precio" class="form-control" formControlName="precio" [value]="f.precio.value | currency" placeholder="Ingresa el precio">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">
      <label class="control-label" for="fecha">Fecha:</label>
      <input id="precio" class="form-control" formControlName="fecha" placeholder="Ingresa el precio" dateFormat="dd/mm/yy">
    </div>
    <div class="col-md-4">
      <label class="control-label" for="estatus">Estatus:</label>
      <p-dropdown id="estatus" class="form-control" formControlName="estatus" [options]="estatus"
                  placeholder="Seleccionar el estatus" [filter]="true" filterBy="label">
      </p-dropdown>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <span class="mensaje-inferior-campo-obligatorio">*Campos obligatorios</span>
    </div>
  </div>
  <div class="flex justify-content-end mb-3">
    <button type="button" class="ml-4 mt-3 btn btn-danger btn-md" routerLink="../">Cancelar</button>
    <button type="button" class="ml-4 mt-3 btn btn-primary btn-md" [disabled]="!formulario.valid" (click)="mostrarModalAgregarODE = true">Guardar</button>
  </div>
</form>

<p-dialog [(visible)]="mostrarModalAgregarODE" [modal]="true" [style]="{maxWidth:'544px',width: '100%'}"
  [draggable]="false" [resizable]="false" header="">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center justify-content-center">
      <span class="text-justify">¿Estás seguro de agregar estos nuevos Artículos?</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button class="btn btn-gold btn-md" (click)="mostrarModalAgregarODE = false">Cancelar</button>
      <button class="btn btn-primary btn-md ml-3" (click)="generarODE()">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>
