<app-titulo-principal titulo="Recibo de Pago"></app-titulo-principal>
<div class="row mb-4">
  <div class="col-md-12 border seccion-folio flex justify-content-between">
    <div>
      <span class="subtitulo texto-centrado">FOLIO
        <span class="valor-subtitulo">XXXXXX</span>
      </span>
    </div>
    <div class="flex flex-column ml-5 mt-2" *appValidaRol="['GENERAR_RECIBO_PAGO','CONSULTA']">
      <a (click)="overlayPanel.toggle($event)">
        <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
      </a>
    </div>
  </div>
  <form [formGroup]="FormReciboPago">
    <div class="col-md-12 border-inferior">
      <div class="body">
        <section class="titulo-body">
          <p>
            DIRECCIÓN DE PRESTACIONES ECONÓMICAS Y SOCIALES COORDINACIÓN DE CENTROS VACACIONALES, VELATORIOS, UNIDAD DE
            CONGRESO Y TIENDAS
          </p>
          <p>
            RECIBO DE PAGO DE TRÁMITES POR CUENTA DEL CONTRATANTE
          </p>
        </section>
        <hr class="solid">
        <section class="row grid mt-7">
          <div class="col">
              <span>DELEGACIÓN:*
                <span class="font-bold titulo-body">{{ recibo.delegacion }}</span>
              </span>
          </div>
          <div class="col">
              <span>VELATORIO:*
                <span class="font-bold titulo-body"># {{ recibo.idVelatorio }}  {{ recibo.velatorio }}</span>
              </span>
          </div>
        </section>
        <section class="border contenido-body ">
          <div class="row mt-5">
            <div class="col-md-4 grid-item ml-3">
              <label class="control-label" for="fechaTramite">FECHA<span class="req">*</span>:</label>
              <p-calendar id="fechaTramite" [formControlName]="'fechaTramite'" styleClass="form-control"
                          [showIcon]="true" placeholder="dd/mm/aaaa" dateFormat="dd/mm/yy"
                          (onSelect)="obtenerValoresFecha()">
              </p-calendar>
              <span class="campo-obligatorio"
                    *ngIf="f?.fechaTramite?.errors?.required && (f?.fechaTramite?.dirty || f?.fechaTramite?.touched)">Este campo es obligatorio *.</span>
            </div>
          </div>
          <div class="mt-2">
          <span class="col-md-12 mt-5 etiqueta-base titulo-body">RECIBIMOS DEL SR.(A):*
            <span class="etiqueta-formato-val">{{ recibo.recibimos | uppercase }}</span>
          </span>
            <span class="col-md-12 etiqueta-base mt-3">LA CANTIDAD DE:*
            <span class="etiqueta-formato-val">{{ recibo.cantidad | currency }}  ({{ recibo.cantidadLetra }})</span>
          </span>
          </div>
          <div>
          <span class="col-md-12 etiqueta-base mt-7 mb-3">PARA QUE A SU NOMBRE Y REPRESENTACIÓN PAGUE LOS TRAMITES PARA
            OTORGAR EL CONTRATO DE PRESTACIÓN DE SERVICIOS
            <span class="etiqueta-formato-val"> No. {{ recibo.claveFolio }} </span>
             EN DEPENDENCIAS OFICIALES, DE ACUERDO AL SIGUIENTE DESGLOSE:
          </span>
            <div class="grid-container">
              <div class="grid-item">
                <label class="control-label" for="tramite">TRÁMITES<span class="req">*</span>:</label>
                <p-dropdown id="tramite" class="form-control" [options]="catalogoTramites"
                            placeholder="Selecciona el tramite" [filter]="true" formControlName="tramite"
                            (onChange)="cambiarTramite()">
                </p-dropdown>
                <span class="campo-obligatorio"
                      *ngIf="f?.tramite?.errors?.required && (f?.tramite?.dirty || f?.tramite?.touched)">Este campo es obligatorio *.</span>
              </div>
              <div class="grid-item">
                <label class="control-label" for="descripcionTramite">DESCRIPCIÓN:</label>
                <input id="descripcionTramite" class="form-control" formControlName="descripcionTramite">
              </div>
              <div class="grid-item"></div>
              <div class="grid-item">
                <label class="control-label" for="derecho">DERECHOS<span class="req">*</span>:</label>
                <p-dropdown id="derecho" class="form-control" [options]="catalogoDerechos"
                            placeholder="Selecciona el derecho" [filter]="true" formControlName="derecho"
                            (onChange)="cambiarDerechos()">
                </p-dropdown>
                <span class="campo-obligatorio"
                      *ngIf="f?.derecho?.errors?.required && (f?.derecho?.dirty || f?.derecho?.touched)">Este campo es obligatorio *.</span>
              </div>
              <div class="grid-item">
                <label class="control-label" for="descripcionDerecho">DESCRIPCIÓN:</label>
                <input id="descripcionDerecho" class="form-control" formControlName="descripcionDerecho">
              </div>
              <div class="grid-item"></div>
              <div class="grid-item mt-5">
                <span class="etiqueta-formato">TOTAL:*
                  <span class="etiqueta-totales">{{ totalServicios | currency }}</span>
                </span>
              </div>
              <div class="grid-item"></div>
              <div class="grid-item"></div>
            </div>
            <span class="col-md-12 etiqueta-base mt-7 mb-2">
              LAS PARTES ACUERDAN QUE SI EXISTIERA UNA DIFERENCIA EN DINERO A FAVOR DEL CONTRATANTE ESTA SERÁ
              DEVUELTA, JUNTO CON LOS COMPROBANTES ORIGINALES DE LOS TRÁMITES O DERECHOS PAGADOS A SU ENTERA
              SATISFACCIÓN, ANTES DEL TÉRMINO DEL SERVICIO FUNERARIO.
            </span>
            <div class="grid-container mb-4">
              <div class="grid-item">
                <label class="etiqueta-formato" for="total">TOTAL:</label>
                <p-inputNumber id="total" class="form-control" formControlName="total"
                               placeholder="Ingrese Total" [maxlength]="14" [minFractionDigits]="2"
                               [min]="0" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
              </div>
              <div class="grid-item"></div>
              <div class="grid-item"></div>
            </div>
          </div>
          <div class="row flex justify-content-between mt-7">
            <div class="card border">
              <p class="etiqueta-formato-val">AGENTE DE FUNERALES</p>
              <div class="container-card">
                <p class="mb-7 etiqueta-card">NOMBRE</p>
                <hr class="solid">
                <div class="flex justify-content-between mt-5">
                  <div class="column-card etiqueta-card">MATRÍCULA</div>
                  <div class="column-card etiqueta-card">FIRMA</div>
                </div>
                <div class="flex justify-content-between mt-5">
                  <hr class="column-card solid">
                  <hr class="column-card solid">
                </div>
              </div>
            </div>
            <div class="card border">
              <p class="etiqueta-formato-val">CONTRATANTE</p>
              <div class="container-card">
                <p class="mb-7 etiqueta-card">NOMBRE</p>
                <hr class="solid">
                <p class="mt-5 etiqueta-card">FIRMA</p>
                <hr class="solid mt-7">
              </div>
            </div>
            <div class="card border">
              <p class="etiqueta-formato-val">RECIBE</p>
              <div class="container-card">
                <p class="mb-7 etiqueta-card">NOMBRE</p>
                <hr class="solid">
                <div class="flex justify-content-between mt-5">
                  <div class="column-card etiqueta-card">MATRÍCULA</div>
                  <div class="column-card etiqueta-card">FIRMA</div>
                </div>
                <div class="flex justify-content-between mt-5">
                  <hr class="column-card solid">
                  <hr class="column-card solid">
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </form>
</div>

<div class="row flex justify-content-end mb-4">
  <button class="btn btn-default btn-md" [routerLink]="'../../'">Regresar</button>
  <button class="ml-4 btn btn-primary btn-md" (click)="generarRecibo()" [disabled]="FormReciboPago.invalid"
          *appValidaRol="['GENERAR_RECIBO_PAGO','ALTA']">
    Generar formato de pago
  </button>
</div>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Vista previa" (click)="generarVistaPrevia()">
      </app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>
