<div class="container-sivimss px-5 registro-en-linea my-5">
    <app-titulo-principal titulo="CONTRATAR CONVENIO DE PREVISION FUNERARIA">
        <app-btn-regresar routerLink="../consultar-mis-servicios-en-linea"></app-btn-regresar>
    </app-titulo-principal>
    <div class="grid-map">
        <div>
            <div class="addresses">
                <div class="input-search-container">
                    <div class="input-search">
                        <input type="text" class="form-control" [(ngModel)]="filtroVelatorio"
                            (keyup)="filtrarVelatorios($event)">
                        <i class="pi pi-search"></i>
                    </div>
                </div>
                <div class="listadoVelatorios">
                    <div class="address" *ngFor="let velatorio of listaVelatorios"
                        (click)="seleccionarVelatorio(velatorio.idVelatorio)">
                        <span class="address-title"> {{velatorio.nombreVelatorio}} </span>
                        <span class="address-description">{{velatorio.direccion}}</span>
                        <span class="address-telephone">{{velatorio.telefono}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div style="height: 600px;" id="map"></div>
        </div>
    </div>

</div>