<div class="container-sivimss px-5 registro-en-linea my-5">
    <app-titulo-principal titulo="CONTRATAR CONVENIO DE PREVISION FUNERARIA">
        <app-btn-regresar routerLink="../consultar-mis-servicios-en-linea"></app-btn-regresar>
    </app-titulo-principal>
    <div class="grid-map">
        <div>
            <div class="addresses">
                <div class="input-search-container">
                    <div class="input-search">
                        <input type="text" class="form-control">
                        <i class="pi pi-search"></i>
                    </div>
                </div>
                <div class="address">
                    <span class="address-title">No. 01 Doctores</span>
                    <span class="address-description">Dr. Rafael Lucio No. 237, esquina Dr Isidro Olvera, Col. Doctores,
                        C.P. 06720, Ciudad de México</span>
                    <span class="address-telephone">55 5607 3412</span>
                </div>
                <div class="address">
                    <span class="address-title">No. 01 Doctores</span>
                    <span class="address-description">Dr. Rafael Lucio No. 237, esquina Dr Isidro Olvera, Col. Doctores,
                        C.P. 06720, Ciudad de México</span>
                    <span class="address-telephone">55 5607 3412</span>
                </div>
                <div class="address">
                    <span class="address-title">No. 01 Doctores</span>
                    <span class="address-description">Dr. Rafael Lucio No. 237, esquina Dr Isidro Olvera, Col. Doctores,
                        C.P. 06720, Ciudad de México</span>
                    <span class="address-telephone">55 5607 3412</span>
                </div>
            </div>
        </div>
        <div>
            <div style="height: 600px;" id="map"></div>
        </div>
    </div>

</div>