<div class="row table-panel-row">
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Número del documento:</label>
      <span>{{numeroDocumento}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Tipo de documento:</label>
      <span>{{tipoDocumento}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Nombre del documento:</label>
      <span>{{nombreDocumento}}</span>
    </div>
  </div>
</div>
