<ng-container>
    <div class="flex mb-3 modal-text-center">
        <div class="col-md-12">
            ¿Deseas continuar con el cierre de caja?
        </div>
    </div>
</ng-container>
<div class="row mb-3">
    <div class="col-md-12">
        <span class="mensaje-inferior-campo-obligatorio">

  </span>
    </div>
</div>
<section>
    <div class="row mb-3">
        <div class="col-md-12 flex align-items-center justify-content-center">
            <button class="ml-4 btn btn-danger btn-md" (click)="cancelar()">Cancelar</button>
            <button class="ml-6 btn btn-md btn-primary" (click)="cerrarPago()">Aceptar</button>
        </div>
    </div>
</section>