<ng-container>
    <div class="flex mt-4 justify-content-center">
        <div class="col-md-6">
            ¿Estás seguro que deseas realizar este cierre?
        </div>
    </div>
</ng-container>
<div class="row mb-3">
    <div class="col-md-12">
        <span class="mensaje-inferior-campo-obligatorio">

  </span>
    </div>
</div>
<section>
    <div class="row mb-3">
        <div class="col-md-12 flex justify-content-end align-items-center">
            <button class="ml-4 btn btn-danger btn-md" (click)="cancelar()">Cancelar</button>
            <button class="ml-6 btn btn-md btn-primary" [disabled]="modificarPagoForm.invalid" (click)="cerrarPago();">Aceptar</button>
        </div>
    </div>
</section>