<app-titulo-principal titulo="Generar formato de actividades"></app-titulo-principal>

<div class="border-panel panel-custom">
  <h1 class="subtitulo-base-lg test-engi">INFORME DE PROMOCIÓN Y DIFUSIÓN</h1>
</div>

<div class="border-panel">
  <form [formGroup]="agregarGenerarFormatoActividadesForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="folio">Folio de formato:</label>
        <input id="folio" class="form-control" formControlName="folio" placeholder="">
      </div>
      <div class="col-md-6" *ngIf="mode === 'create'">
        <label class="control-label" for="velatorio">Velatorio<span class="req">*</span>:</label>
        <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="catalogoVelatorios"
          placeholder="Selecciona el velatorio" (onChange)="consultarPromotores()">
        </p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="apf.velatorio?.errors?.required && (apf.velatorio?.dirty || apf.velatorio?.touched)">Este campo es
          obligatorio *.</span>
      </div>
      <div class="col-md-6" *ngIf="mode !== 'create'">
        <label class="control-label" for="velatorio">Velatorio<span class="req">*</span>:</label>
        <input id="folio" class="form-control" formControlName="descVelatorio" placeholder="">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="fechaInicio">Periodo*:</label>
      </div>
      <div class="col-md-6">
        <p-calendar styleClass="form-control" id="fechaInicio" formControlName="fechaInicio" [showIcon]="true"
          dateFormat="dd/mm/yy" placeholder="Fecha inicial" (onSelect)="validarFechas()"></p-calendar>
        <span class="campo-obligatorio"
          *ngIf="apf.fechaInicio?.errors?.required && (apf.fechaInicio?.dirty || apf.fechaInicio?.touched)">Este
          campo es obligatorio *.</span>
      </div>
      <div class="col-md-6">
        <p-calendar styleClass="form-control" id="fechaFinal" formControlName="fechaFinal" [showIcon]="true"
          dateFormat="dd/mm/yy" placeholder="Fecha final" [maxDate]="fechaActual"
          (onSelect)="validarFechas()"></p-calendar>
        <span class="campo-obligatorio"
          *ngIf="apf.fechaFinal?.errors?.required && (apf.fechaFinal?.dirty || apf.fechaFinal?.touched)">Este campo es
          obligatorio *.</span>
      </div>
    </div>

    <div class="row mt-6" *appValidaRol="['ACTIVIDADES_PROMOTORES','CONSULTA']">
      <div class="col-md-12 flex justify-content-end" *ngIf="mode !== 'detail'">
        <button type="button" class="btn btn-primary btn-md ml-5" (click)="agregarRegistro();">Agregar</button>
      </div>
    </div>
  </form>

</div>

<section class="mt-5">

  <p-table styleClass="mt-5" [value]="actividades" dataKey="idActividad" editMode="row"
    [paginator]="actividades.length > 0" [rows]="cantElementosPorPagina" [lazy]="true" [totalRecords]="totalElementos"
    [pageLinks]="3" [(first)]="numPaginaActual" (onLazyLoad)="paginar($event)"
    [tableStyle]="{'min-width': '50rem', 'border-bottom': '2px solid #484848', 'max-width': '2000px', 'width': '2000px'}">
    <ng-template pTemplate="header">
      <tr>
        <th id="fecha" rowspan="2">Fecha</th>
        <th id="horario" colspan="2">Horario*</th>
        <th id="personal" colspan="2">Personal del velatorio*</th>
        <th id="numero" rowspan="2">Número de pláticas*</th>
        <th id="sede" colspan="3">Sede*</th>
        <th id="observaciones" rowspan="2">Observaciones</th>
        <th id="evidencia" rowspan="2">Evidencia</th>
        <th id="acciones" rowspan="2" *ngIf="mode !== 'detail'">Acciones</th>
      </tr>
      <tr>
        <th id="hora-inicial">Hora inicio</th>
        <th id="hora-termino">Hora término</th>
        <th id="personal">Personal velatorio</th>
        <th id="puesto">Puesto</th>
        <th id="unidad">Unidad IMSS</th>
        <th id="empresa">Empresa</th>
        <th id="actividad">Actividad realizada</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-actividad let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="actividad">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-calendar styleClass="form-control" appendTo="body" id="fecActividad"
                [(ngModel)]="actividad.fecActividad" [showIcon]="false" dateFormat="dd/mm/yy" placeholder=""
                [required]="true"></p-calendar>
            </ng-template>
            <ng-template pTemplate="output">
              {{actividad.fecActividad}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-calendar id="actividad-hrInicio" styleClass="form-control" appendTo="body"
                [(ngModel)]="actividad.hrInicio" [required]="true" [showIcon]="false" placeholder="00:00"
                [timeOnly]="true" #actividadFecha="ngModel" [ngClass]="{ 'is-invalid': actividadFecha.invalid }">
              </p-calendar>
            </ng-template>
            <ng-template pTemplate="output">
              {{actividad.hrInicio}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-calendar styleClass="form-control" appendTo="body" [(ngModel)]="actividad.hrFin" [required]="true"
                [showIcon]="false" placeholder="00:00" [timeOnly]="true"></p-calendar>
            </ng-template>
            <ng-template pTemplate="output">
              {{actividad.hrFin}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown id="promotor" class="form-control" appendTo="body" [(ngModel)]="actividad.idPromotor"
                [required]="true" [options]="catalogoPromotores" placeholder="" (onChange)="buscarPuesto(actividad)"
                [editable]="true">
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{actividad.nomPromotor}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input id="puesto" class="form-control" [value]="actividad.puesto" [disabled]="true">
            </ng-template>
            <ng-template pTemplate="output">
              {{actividad.puesto}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input id="actividad-numPlaticas" pInputText class="form-control" style="width:100%" numbersOnly
                [(ngModel)]="actividad.numPlaticas" maxlength="2" [required]="true" #actividadNumPlaticas="ngModel"
                [ngClass]="{ 'is-invalid': actividadNumPlaticas.invalid }">
            </ng-template>
            <ng-template pTemplate="output">
              {{actividad.numPlaticas}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" class="form-control" style="width:100%" [(ngModel)]="actividad.unidad"
                maxlength="30" [required]="true">
            </ng-template>
            <ng-template pTemplate="output">
              {{actividad.unidad}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" class="form-control" style="width:100%" [(ngModel)]="actividad.empresa"
                maxlength="30" [required]="true">
            </ng-template>
            <ng-template pTemplate="output">
              {{actividad.empresa}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" class="form-control" style="width:100%"
                [(ngModel)]="actividad.actividadRealizada" maxlength="20" [required]="true">
            </ng-template>
            <ng-template pTemplate="output">
              {{actividad.actividadRealizada}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" class="form-control" style="width:100%"
                [(ngModel)]="actividad.observaciones" maxlength="50">
            </ng-template>
            <ng-template pTemplate="output">
              {{actividad.observaciones}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div class="contenedor-inputswitch">
                <p-inputSwitch [(ngModel)]="actividad.evidencia"></p-inputSwitch>
                <span class="activo" *ngIf="actividad.evidencia">Si</span>
                <span class="inactivo" *ngIf="!actividad.evidencia">No</span>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              {{actividad.evidencia ? 'Si' : 'No'}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td *ngIf="mode !== 'detail'">
          <div class="flex align-items-center justify-content-center gap-2">
            <a [id]='actividad.idActividad' class="btn-actions" *ngIf="!editing && !agregandoRegistro" pRipple
              pInitEditableRow (click)="onRowEditInit(actividad)">
              <img src="assets/images/imagen-icono-pencil-modificar.svg" alt="Editar">
            </a>
            <a class="btn-actions" *ngIf="!editing" pRipple pDeleteEditableRow (click)="onRowDelete(actividad)">
              <img src="assets/images/imagen-icono-eliminar.svg" alt="Eliminar">
            </a>
            <a class="btn-actions" *ngIf="editing" pRipple (click)="onRowEditSave(actividad)">
              <img src="assets/images/imagen-icono-guardar.svg" alt="Guardar">
            </a>
            <button id="cancel-{{actividad.idActividad}}" class="btn-actions" *ngIf="editing" pButton pRipple
              type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(actividad)"
              class="p-button-rounded p-button-text p-button-danger">
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements">
          {{actividades.length > 0 && actividades[0].idActividad ? actividades.length : actividades.length - 1 }} de
          {{totalElementos}}
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
    </ng-template>
  </p-table>


  <div class="flex justify-content-between">
    <span class="mensaje-inferior-campo-obligatorio">*Campos obligatorios</span>
    <span class="subtitulo fs-2x">Número de pláticas al mes: {{numActividades || 0}}</span>
  </div>

  <div class="flex justify-content-end mt-6 mb-6">
    <button class="btn btn-gold btn-md" [routerLink]="'/generar-formato-de-actividades'">Cancelar</button>
    <button type="button" class="ml-4 btn btn-primary btn-md" *ngIf="mode !== 'detail'"
      [disabled]='actividades.length === 0 || agregandoRegistro' (click)="generarReporteTabla();">
      Generar formato
    </button>
    <button type="button" class="ml-4 btn btn-primary btn-md" *ngIf="mode === 'detail'"
      [disabled]='actividades.length === 0' (click)="previsualizarReporte();">
      Vista previa
    </button>
  </div>
</section>

<p-dialog [(visible)]="mostrarModal" [modal]="true" [style]="{maxWidth:'544px',width: '100%'}" [draggable]="false"
  [resizable]="false" header="">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center justify-content-center">
      <span class="text-justify">{{mensajeModal}}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <button class="btn btn-primary btn-md" (click)="mostrarModal = false">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>