<app-titulo-principal titulo="Generar recibo de pago"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroFormReciboPago" (ngSubmit)="buscar()">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel:</label>
        <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="catalogoNiveles"
                    placeholder="Selecciona el nivel">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="delegacion">Delegación:</label>
        <p-dropdown id="delegacion" class="form-control" formControlName="delegacion" [options]="catatalogoDelegaciones"
                    placeholder="Selecciona la delegación" [filter]="true" (onChange)='obtenerVelatorios();'>
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio:</label>
        <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="catalogoVelatorios"
                    placeholder="Selecciona el velatorio" [filter]="true" (onChange)="obtenerFolios()">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="folio">Folio de la ODS:</label>
        <p-dropdown id="folio" class="form-control" formControlName="folio" [options]="catalogoFolios"
                    placeholder="Selecciona el folio" [filter]="true">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nombreContratante">Nombre del contratante:</label>
        <input id="nombreContratante" class="form-control" formControlName="nombreContratante"
               placeholder="Ingresa nombre del contratante">
      </div>
      <div class="col-md-3">
        <label class="control-label" for="fechaInicial">Fecha inicial:</label>
        <p-calendar id="fechaInicial" formControlName="fechaInicial" styleClass="form-control" [showIcon]="true"
                    placeholder="Fecha inicial" dateFormat="dd/mm/yy"
                    (onSelect)="validarMismaFechaInicioFin()"
                    [maxDate]="filtroFormReciboPago.get('fechaFinal')?.value || fechaAnterior">
        </p-calendar>
      </div>
      <div class="col-md-3">
        <label class="control-label" for="fechaInicial">Fecha final:</label>
        <p-calendar id="fechaFinal" formControlName="fechaFinal" styleClass="form-control" [showIcon]="true"
                    placeholder="Fecha final" dateFormat="dd/mm/yy"
                    (onSelect)="validarMismaFechaInicioFin()"
                    [minDate]="filtroFormReciboPago.get('fechaInicial')?.value"
                    [maxDate]="fechaActual">
        </p-calendar>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="button" class="btn btn-default btn-md" (click)="limpiar()">Limpiar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5">Buscar</button>
      </div>
    </div>
  </form>
</div>

<section class="mt-5">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Órdenes de servicio</h2>
  </div>

  <p-table styleClass="mt-5 mb-8" [value]="recibosPago" [paginator]="recibosPago.length > 0"
           [rows]="cantElementosPorPagina" [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3"
           [(first)]="numPaginaActual" (onLazyLoad)="seleccionarPaginacion($event)">

    <ng-template pTemplate="header">
      <tr>
        <th id="columna_generar_recibo_fecha">Fecha</th>
        <th id="columna_generar_recibo_folio">Folio ODS</th>
        <th id="columna_generar_recibo_estatus_ods">Estatus ODS</th>
        <th id="columna_generar_recibo_estatus_pago">Estatus pago</th>
        <th id="columna_generar_recibo_botones"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reciboPago>
      <tr>
        <td> {{reciboPago.fOds | date:'dd/MM/YYYY'}} </td>
        <td> {{reciboPago.claveFolio}} </td>
        <td>Generada</td>
        <td>{{reciboPago.claveEstatusPago}}</td>
        <td>
          <div class="contenedor-celda-iconos">
            <a (click)="abrirPanel($event,reciboPago)">
              <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
            </a>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <th colspan="5" class="p-2 text-center font-bold text-xl" id="generar_recibo_pago_sin_resultados">
          No se encontró información relacionada a tu búsqueda
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements"> {{recibosPago.length}} de {{totalElementos}} </span>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
    </ng-template>
  </p-table>
</section>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion *appValidaRol="['RECIBO_PAGO','ALTA']" titulo="Generar recibo de pago" 
                                [routerLink]="['./generar-recibo-pago-tramites', reciboPagoSeleccionado.idPagoBitacora]"
                                routerLinkActive>
      </app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Ver" *ngIf="reciboPagoSeleccionado.idReciboPago"
                                [routerLink]="['./detalle-recibo-pago-tramites', reciboPagoSeleccionado.idReciboPago]"
                                routerLinkActive>
      </app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>
