<app-titulo-principal titulo="Gestionar pago"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroGestionarPagoForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio:</label>
        <p-dropdown appendTo="body" id="velatorio" class="form-control" formControlName="velatorio"
                    [options]="catalogoVelatorios" placeholder="Seleccionar el velatorio">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="folioOrden">Folio de la Orden de Servicio (ODS):</label>
        <p-dropdown appendTo="body" id="folioOrden" class="form-control" formControlName="folioOrden"
                    [options]="foliosODS" placeholder="Ingresa el folio (ODS)">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="folioPNCPF">Folio del Nuevo convenio de previsión funeraria (PNCPF):</label>
        <p-dropdown appendTo="body" id="folioPNCPF" class="form-control" formControlName="folioPNCPF"
                    [options]="foliosPNCPF" placeholder="Ingresa el folio (PNCPF)">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="folioPRCPF">Folio de la Renovación de convenios de previsión funeraria
          (PRCPF):</label>
        <p-dropdown appendTo="body" id="folioPRCPF" class="form-control" formControlName="folioPRCPF"
                    [options]="foliosPRCPF" placeholder="Ingresa el folio (PRCPF)">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nombreContratante">Nombre contratante:</label>
        <input id="nombreContratante" class="form-control" formControlName="nombreContratante"
               placeholder="Ingresa nombre del contratante ">
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="submit" class="btn btn-default btn-md">Limpiar filtros</button>
        <button type="button" class="btn btn-primary btn-md ml-5">Buscar</button>
      </div>
    </div>
  </form>
</div>
<section class="mt-5">
  <p-table styleClass="mt-5 mb-8" [value]="pagos" [paginator]="pagos.length > 0" [rows]="cantElementosPorPagina"
           [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual"
           (onLazyLoad)="seleccionarPaginacion($event)" [resizableColumns]="true" [columnResizeMode]="'expand'"
           appActivarUltimaCeldaSticky>
    <ng-template pTemplate="header">
      <tr>
        <th pResizableColumn id="columna_gestionar_pago_fecha">Fecha</th>
        <th pResizableColumn id="columna_gestionar_pago_folio">Folio</th>
        <th pResizableColumn id="columna_gestionar_pago_contratante">Nombre Contratante</th>
        <th pResizableColumn id="columna_gestionar_pago_tipo_pago">Tipo Pago</th>
        <th pResizableColumn id="columna_gestionar_pago_total">Total</th>
        <th pResizableColumn id="columna_gestionar_pago_estatus">Estatus</th>
        <th pResizableColumn id="columna_gestionar_pago_estatus_pago">Estatus de Pago</th>
        <th pResizableColumn id="columna_gestionar_pago_datos_pago">Datos de Pago</th>
        <th id="columna_gestionar_pago_datos_botones"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pago>
      <tr>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <th colspan="9" class="p-2 text-center font-bold text-xl" id="gestionar_pago_sin_resultados">
          No se encontro información relacionada a tu búsqueda
        </th>
      </tr>
    </ng-template>
  </p-table>
</section>
