<div class="grid">
  <app-btn-regresar class="mr-2 mt-5 col-fixed border-return-button" [routerLink]="'../'"></app-btn-regresar>
  <app-titulo-principal titulo="Pago de Nuevos Convenios de Previsión Funeraria"
                        class="col"></app-titulo-principal>
</div>
<p-table styleClass="mt-5 mb-6" [value]="pagos" [paginator]="pagos.length > 0" [rows]="cantElementosPorPagina"
         [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual"
         (onLazyLoad)="seleccionarPaginacion($event)">
  <ng-template pTemplate="header">
    <tr>
      <th id="columna_pagos_convenio_fecha_pago">Fecha de pago</th>
      <th id="columna_pagos_convenio_folio">Folio NCPF</th>
      <th id="columna_pagos_convenio_tipo_pago">Tipo de pago</th>
      <th id="columna_pagos_convenio_total_pagar">Total a pagar</th>
      <th id="columna_pagos_convenio_total_pagado">Total pagado</th>
      <th id="columna_pagos_convenio_diferencias_totales">Diferencias Totales</th>
      <th id="columna_pagos_convenio_botones"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pago>
    <tr>
      <td>{{pago.fechaPago | date:'dd/MM/YYYY'}}</td>
      <td>{{pago.folio}}</td>
      <td>{{pago.tipoPago}}</td>
      <td class="font-bold">{{pago.total | currency}}</td>
      <td class="font-bold">{{pago.totalPagado | currency}}</td>
      <td class="font-bold">{{pago.diferenciasTotales | currency}}</td>
      <td>
        <div class="contenedor-celda-iconos">
          <a (click)="abrirPanel($event,pago)">
            <img src="../../../../../../../assets/images/imagen-icono-barras-horizontales.svg"
                 alt="icono barras horizontales">
          </a>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <th colspan="7" class="p-2 text-center font-bold text-xl" id="pagos_convenio_sin_resultados">
        No se encontro información relacionada a tu búsqueda
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <div class="paginator-template">
      <span class="total-elements">{{pagos.length}} de {{totalElementos}}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="paginatorright">
  </ng-template>
</p-table>
<div class="flex mt-4 mb-4 justify-content-end">
  <button class="ml-6 mt-3 btn btn-primary btn-md" [routerLink]="'./..'">
    Regresar
  </button>
</div>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Registrar pago"
                                [routerLink]="['./../registrar-pago', pagoSeleccionado.idPagoBitacora]">
      </app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>
