<div class="row mb-3">
  <div class="col-md-6 flex flex-column align-items-center">
    <span class="etiqueta-base font-bold">Cuota de recuperación</span>
    <span class="texto-base font-normal">{{ datosGeneralesRenovacion.cuotaRecuperacion | currency }}</span>
  </div>
  <div class="col-md-6 flex flex-column align-items-center">
    <span class="etiqueta-base font-bold">Fecha de renovación</span>
    <span class="texto-base font-normal">{{ datosGeneralesRenovacion.fecRenovacion }}</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12 flex justify-content-center">
    <button class="btn btn-gold btn-md" (click)="cerrarModal()">Cancelar</button>
    <button class="btn btn-primary btn-md ml-5" (click)="realizarPago()">Realizar pago</button>
  </div>
</div>
