<ng-container *ngIf="mostrarSeccionCreacion; then templateCreacion else templateConfirmacion"></ng-container>

<ng-template #templateCreacion>
  <form [formGroup]="form">
    <div class="row mb-3">
      <div class="col-md-6" *ngIf="ocultarServicios">
        <label class="control-label" for="servicio">Servicio<span class="req">*</span>:</label>
        <p-dropdown #dd id="servicio" class="form-control" formControlName="servicio" placeholder="Selecciona servicio"
          appendTo="body" [options]="servicios" [filter]="true" filterBy="label"
          (onChange)="seleccionaServicio(dd)"></p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="f.servicio?.errors?.required && (f.servicio?.dirty || f.servicio?.touched)">Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="proveedor">Proveedor<span class="req">*</span>:</label>
        <p-dropdown #dd id="proveedor" class="form-control" formControlName="proveedor" appendTo="body"
          placeholder="Selecciona proveedor" [options]="listaproveedor" (onChange)="seleccionaProveedor(dd)"
          [filter]="true" filterBy="label"></p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="f.proveedor?.errors?.required && (f.proveedor?.dirty || f.proveedor?.touched)">Este campo es obligatorio *.</span>
      </div>
    </div>
<!--     *ngIf="ocultarMapa"-->
    <div class="row mb-3" [hidden]="ocultarMapa">
      <div class="col-md-12">
        <label class="control-label" for="origen">Origen<span class="req">*</span>:</label>
        <div class="input-busqueda">
          <input id="origen" type="text" #origen class="form-control" formControlName="origen"
            [readOnly]="disableddMapa" placeholder="Ingresa dirección de origen"
            (keyup.enter)="buscar($event,origen.value,'origen')">
          <i class="pi pi-spin pi-spinner buscar-icon" *ngIf="mostrarLoaderOrigen"></i>
          <i class="pi pi-times limpiar-input" (click)="limpiarInput('origen')"></i>
        </div>
        <span class="campo-obligatorio"
          *ngIf="f.origen?.errors?.required && (f.origen?.dirty || f.origen?.touched)">Este campo es obligatorio *.</span>
      </div>
    </div>
<!--    *ngIf="ocultarMapa"-->
    <div class="row mb-3" [hidden]="ocultarMapa">
      <div class="col-md-12">
        <label class="control-label" for="destino">Destino<span class="req">*</span>:</label>
        <div class="input-busqueda">
          <input id="destino" type="text" #destino class="form-control" formControlName="destino"
            [readOnly]="disableddMapa" placeholder="Ingresa dirección de destino"
            (keyup.enter)="buscar($event,destino.value,'destino')">
          <i class="pi pi-spin pi-spinner buscar-icon" *ngIf="mostrarLoaderDestino"></i>
          <i class="pi pi-times limpiar-input" (click)="limpiarInput('destino')"></i>
        </div>
        <span class="campo-obligatorio"
          *ngIf="f.destino?.errors?.required && (f.destino?.dirty || f.destino?.touched)">Este campo es obligatorio *.</span>
      </div>
    </div>
<!--    -->
    <div class="row mb-3 flex align-items-end"  *ngIf="!ocultarMapa">
      <div class="col-md-6">
        <label class="control-label" for="kilometraje">Kilometraje<span class="req">*</span>:</label>

        <input id="kilometraje" type="text" [readOnly]="true" class="form-control" formControlName="kilometraje"
          placeholder="kilometraje">

        <span class="campo-obligatorio"
          *ngIf="f.kilometraje?.errors?.required && (f.kilometraje?.dirty || f.kilometraje?.touched)">Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-12 flex justify-content-end" *ngIf="botonPresupuesto" [hidden]="ocultarMapa">
        <button type="button" class="btn btn-gold btn-md"  (click)="cerrarModal()">Cancelar</button>
          <button type="button" class="ml-5 btn btn-primary btn-md" [hidden]="ocultarMapa" [disabled]="form.invalid" (click)="validarOrigenAgregar()">Agregar
        </button>
      </div>
    </div>

    <div class="row mb-3" *ngIf="ocultarBtn">
      <div class="col-md-12 flex justify-content-end">
        <button type="button" class="btn btn-gold btn-md" (click)="cerrarModal()">Cancelar</button>
          <button type="button" class="ml-5 btn btn-primary btn-md" [disabled]="form.invalid" (click)="validarOrigenAgregar()">Agregar
        </button>
      </div>
    </div>
  </form>
</ng-template>
<div [hidden]="ocultarMapa">
  <div [style.height]="heightMap"  id="map" ></div>
</div>


<p-overlayPanel #opResultadosBusquedas [dismissable]="true" [showCloseIcon]="true">
  <ng-template pTemplate>
    <div *ngIf="resultadosBusquedaMapa.length == 0" class="p-3 w-30rem">
      <span class="text-xl">No se encontraron resultados.</span>
    </div>
    <div>
      <ul class="p-0 grid-resultado">
        <li (click)="pintarMarcador(resultado)" class="list-none pt-3 pb-2 px-4"
          *ngFor="let resultado of resultadosBusquedaMapa">
          <p class="m-0 text-xl">{{resultado.name}}</p>
        </li>
      </ul>
    </div>
  </ng-template>
</p-overlayPanel>

<ng-template #templateConfirmacion>
  <div class="row">
    <div class="col-md-6 flex flex-column">
      <span class="etiqueta-base">Servicio*:</span>
      <span class="texto-base">Traslado a nivel nacional</span>
    </div>
    <div class="col-md-6 flex flex-column">
      <span class="etiqueta-base">Proveedor*:</span>
      <span class="texto-base">Transportes resistentes del Noreste S.A. de C.V.</span>
    </div>
  </div>
  <hr class="separador">
  <div class="row">
    <div class="col-md-12 flex flex-column">
      <span class="etiqueta-base">Origen*:</span>
      <span class="texto-base">Calle Rafael Lucio 237, Doctores Cuauhtémoc, 06720 Ciudad de México, CDMX</span>
    </div>
  </div>
  <hr class="separador">
  <div class="row">
    <div class="col-md-12 flex flex-column">
      <span class="etiqueta-base">Destino*:</span>
      <span class="texto-base">Norte, Prol. Tecnológico 700, Los Girasoles, 76159, Santiago de Querétaro, Qro.</span>
    </div>
  </div>
  <hr class="separador">
  <div class="row">
    <div class="col-md-12 flex flex-column">
      <span class="etiqueta-base">Kilometraje*:</span>
      <span class="texto-base">219 km</span>
    </div>
  </div>
  <hr class="separador">
  <div class="row mb-4">
    <div class="col-md-12 text-center">
      <span class="etiqueta-base">¿Estás seguro que deseas agregar este servicio?</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 flex justify-content-end">
      <button type="button" class="btn btn-gold btn-md" (click)="mostrarSeccionCreacion = true">Cancelar</button>
      <button type="button" class="ml-5 btn btn-primary btn-md" [disabled]="form.invalid" (click)="aceptarModal()">Agregar</button>
    </div>
  </div>
</ng-template>

<p-dialog header="" [(visible)]="confirmarAgregarTraslado" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false" [showHeader]="true" [modal]="true"  >
  <div class="row">
    <p class="text-center">¿Estás seguro de que los puntos origen y destino son los correctos?</p>
  </div>
  <div class="row mt-6">
    <div class="col-md-12 flex justify-content-end">
      <button type="submit" class="btn btn-default btn-md" (click)="confirmarAgregarTraslado = false">Cancelar
      </button>
      <button type="submit" class="btn btn-primary btn-md ml-5" (click)="aceptarModal()">Aceptar</button>
    </div>
  </div>
</p-dialog>
