hr.linea-firma {
    border-top: 1px solid #484848;
    margin-bottom: 0px !important;
}

hr.section-divider {
    border-top: 1px dashed #484848;    
}

.mc-8 {
    margin-top: 8rem !important;
}

.subtitulo-firma {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.07px;
    color: #484848;
}