<header>
    <div class="content-header container-sivimss px-5 py-2">
        <h2>SIVIMSS</h2>
        <div class="right-section">
            <div class="usuario">
                <img src="assets/images/imagen-icono-usuario.svg" alt="">
                <span class="usuario__nombre">LeoG001</span>
            </div>
            <a class="btn-cerrar-sesion" routerLink="/externo-publico"><img class="icon-cerrar-sesion"
                    src="assets/images/imagen-icono-cerrar-sesion.svg" alt="icono cerrar sesion">Cerrar sesión</a>
        </div>
    </div>
</header>