<header id="header" role="heading" class="without-secondary-menu">
    <div class="section clearfix">
        <div class="region region-header">
            <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu">
                <div class="content">
                    <nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#subenlaces">
                                    <span class="sr-only">Interruptor de Navegación</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="subenlaces">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="">
                                        <a href="http://www.imss.gob.mx/" target="_blank">
                                            Inicio </a>
                                    </li>
                                    <li class="element">
                                        <a href="http://www.imss.gob.mx/conoce-al-imss" target="_blank">
                                            Conoce al IMSS </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="http://www.imss.gob.mx/conoce-al-imss" target="_blank">
                                                    Acerca del IMSS </a>
                                            </li>
                                            <li>
                                                <a href="http://www.imss.gob.mx/prensa" target="_blank">
                                                    Sala de Prensa </a>
                                            </li>
                                            <li>
                                                <a href="http://datos.imss.gob.mx/" target="_blank">
                                                    Datos Abiertos </a>
                                            </li>
                                            <li>
                                                <a href="http://www.imss.gob.mx/tramites" target="_blank">
                                                    Trámites y servicios </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="element">
                                        <a href="http://www.imss.gob.mx/transparencia" target="_blank">
                                            Transparencia </a>

                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="http://www.imss.gob.mx/transparencia" target="_blank">
                                                    Transparencia </a>
                                            </li>
                                            <li>
                                                <a href="http://www.imss.gob.mx/transparencia/datos-personales" target="_blank">
                                                    Protección de Datos Personales </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="element">
                                        <a href="http://www.imss.gob.mx/directorio" target="_blank">
                                            Directorio </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="http://www.imss.gob.mx/directorio" target="_blank">
                                                    Directorio de instalaciones </a>
                                            </li>
                                            <li>
                                                <a href="https://consultapublicamx.inai.org.mx/vut-web/?idSujetoObigadoParametro=180&idEntidadParametro=33&idSectorParametro=21" target="_blank">
                                                    Directorio de funcionarios </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="http://www.imss.gob.mx/contacto" target="_blank">
                                            Contacto ciudadano </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
