<app-table-panel>
  <div class="row table-panel-row">
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>Tipo de pago</label>
        <span>{{ registroMetodoPago.metodoPago }}</span>
      </div>
    </div>
    <div class="col-md-6" *ngIf="registroMetodoPago.fechaPago">
      <div class="table-panel-column">
        <label>Fecha de pago</label>
        <span> {{ registroMetodoPago.fechaPago | date:'dd/MM/YYYY' }}</span>
      </div>
    </div>
  </div>
  <div class="row table-panel-row" *ngIf="registroMetodoPago.numAutorizacion || registroMetodoPago.nomBanco">
    <div class="col-md-6" *ngIf="registroMetodoPago.numAutorizacion">
      <div class="table-panel-column">
        <label>No. de autorización </label>
        <span>{{ registroMetodoPago.numAutorizacion }}</span>
      </div>
    </div>
    <div class="col-md-6" *ngIf="registroMetodoPago.nomBanco">
      <div class="table-panel-column">
        <label>Nombre del banco </label>
        <span>{{ registroMetodoPago.nomBanco }}</span>
      </div>
    </div>
  </div>
  <div class="row table-panel-row">
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>Importe</label>
        <span>{{registroMetodoPago.importe | currency}}</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>Total a pagar</label>
        <span>{{total | currency}}</span>
      </div>
    </div>
  </div>
</app-table-panel>
<div class="mb-3 mt-3 row text-center">
  ¿Estás seguro que deseas cancelar este pago?
</div>
<div class="row mt-6">
  <div class="col-md-12 flex justify-content-center">
    <button type="submit" class="btn btn-gold btn-md ml-5" (click)="ref.close()">Cancelar</button>
    <button type="submit" class="btn btn-primary btn-md ml-5" (click)="guardar()">Aceptar</button>
  </div>
</div>
