<app-titulo-principal titulo="Administración de artículos"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm" (ngSubmit)="buscarArticulo()">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel:</label>
        <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="catNiveles"
                    placeholder="Selecciona el nivel">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="delegacion">Delegación:</label>
        <p-dropdown id="delegacion" class="form-control" formControlName="delegacion" [options]="opciones"
                    placeholder="Selecciona la delegación">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio:</label>
        <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="opciones"
                    placeholder="Selecciona el velatorio">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="nombreArticulo">Nombre del artículo:</label>
        <p-autoComplete id="nombreArticulo" class="form-control" formControlName="nombreArticulo" (onFocus)="filtrarArticulos()"
          [showEmptyMessage]="true" [suggestions]="articuloServicioFiltrados" (completeMethod)="filtrarArticulos()"
          [style]="{'width':'100%'}" [minLength]="3" class="p-autocomplete" placeholder="Ingresa el artículo" field="label"
          [inputStyleClass]="filtroForm.valid ? 'input-autocomplete' : 'input-autocomplete input-autocomplete-error'"
          >
          <ng-template let-articulo pTemplate="item">
            <div class="autocomplete-item">
              <div>{{articulo.label}}</div>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="button" class="btn btn-default btn-md" (click)="limpiar()" >Limpiar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5">Buscar</button>
      </div>
    </div>
  </form>
</div>

<section class="mt-5">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Lista de artículos</h2>
    <button type="button" class="btn btn-primary btn-lg" (click)="abrirModalAgregarServicio()">Agregar artículo</button>
  </div>

  <p-table styleClass="mt-5 mb-8" [value]="articulos" [paginator]="articulos.length > 0"
           [rows]="cantElementosPorPagina"
           [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual"
           (onLazyLoad)="paginar($event)">

    <ng-template pTemplate="header">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Categoría (artículo)</th>
        <th scope="col">Tipo de artículo</th>
        <th scope="col">Tipo de material</th>
        <th scope="col">Tamaño</th>
        <th scope="col">Clasificación del producto</th>
        <th scope="col">Modelo de artículo</th>
        <th scope="col">Largo</th>
        <th scope="col">Ancho</th>
        <th scope="col">Alto</th>
        <th scope="col">Estatus</th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-articulo>
      <tr>
        <td> {{articulo.idArticulo}} </td>
        <td> {{articulo.categoriaArticulo}} </td>
        <td> {{articulo.tipoArticulo}} </td>
        <td> {{articulo.tipoMaterial}} </td>
        <td> {{articulo.tamanio}} </td>
        <td> {{articulo.clasificacionProducto}} </td>
        <td> {{articulo.modeloArticulo}} </td>
        <td> {{articulo.largo}} {{articulo.largo ? 'cm' : ''}} </td>
        <td> {{articulo.ancho}} {{articulo.ancho ? 'cm' : ''}} </td>
        <td> {{articulo.alto}} {{articulo.alto ? 'cm' : ''}} </td>
        <td>
          <div class="contenedor-inputswitch">
            <p-inputSwitch
              [(ngModel)]="articulo.estatus"
              (click)="articulo.estatus = !articulo.estatus; abrirModalCambioEstatus(articulo)">
            </p-inputSwitch>
            <span class="activo" *ngIf="articulo.estatus">Activo</span>
            <span class="inactivo" *ngIf="!articulo.estatus">Inactivo</span>
          </div>
        </td>

        <td>
          <div class="contenedor-celda-iconos">
            <a (click)="abrirModalDetalleArticulo(articulo)">
              <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
            </a>
            <a (click)="abrirPanel($event,articulo)">
              <img
                src="assets/images/imagen-icono-barras-horizontales.svg"
                alt="icono barras horizontales">
            </a>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements"> {{articulos.length}} de {{totalElementos}} </span>
      </div>
    </ng-template>

    <ng-template pTemplate="paginatorright">
      <div class="paginator-template">
        <div class="export-table">
          <span class="export-table-text">Exportar tabla</span>
          <div class="export-table-icons">
            <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
            <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg" alt="exportar excel">
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</section>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Modificar" (click)="abrirModalModificarServicio()"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>
