<div class="row table-panel-row">
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Nombre</label>
      <span>{{nombre}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Razón Social</label>
      <span>{{razonSocial}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>R.F.C.</label>
      <span>{{rfc}}</span>
    </div>
  </div>
</div>
<div class="row table-panel-row">
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Pais</label>
      <span>{{pais}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Código postal</label>
      <span>{{codigoPostal}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Colonia</label>
      <span>{{colonia}}</span>
    </div>
  </div>
</div>
<div class="row table-panel-row">
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Estado</label>
      <span>{{estado}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Municipio</label>
      <span>{{municipio}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Calle</label>
      <span>{{calle}}</span>
    </div>
  </div>
</div>
<div class="row table-panel-row">
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Número exterior</label>
      <span>{{numeroExterior}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Número interior</label>
      <span>{{numeroInterior}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Telefono</label>
      <span>{{telefono}}</span>
    </div>
  </div>
</div>
<div class="row table-panel-row">
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Correo electronico</label>
      <span>{{correoElectronico}}</span>
    </div>
  </div>
  <div class="col-md-8">
  </div>
</div>
