<div class="row table-panel-row">
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>C.U.R.P.:</label>
      <span>{{ curp }}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>R.F.C.:</label>
      <span>{{ rfc }}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Matricula:</label>
      <span>{{ matricula }}</span>
    </div>
  </div>
</div>
<div class="row table-panel-row">
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>NSS:</label>
      <span>{{ nss }}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Nombre(s):</label>
      <span>{{ nombre }}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Primer apellido:</label>
      <span>{{ primerApellido }}</span>
    </div>
  </div>
</div>
<div class="row table-panel-row">
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Segundo apellido:</label>
      <span>{{ segundoApellido }}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Sexo:</label>
      <span>{{ sexo }}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Fecha de nacimiento:</label>
      <span>{{ fechaNacimiento }}</span>
    </div>
  </div>
</div>
<div class="row table-panel-row">
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Nacionalidad:</label>
      <span>{{ nacionalidad }}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>País de nacimiento:</label>
      <span>{{ paisNacimiento }}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Lugar de nacimiento:</label>
      <span>{{ lugarNacimiento }}</span>
    </div>
  </div>
</div>
<ng-container [ngSwitch]="titular">
  <ng-container *ngSwitchCase="'titular'">
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Teléfono celular:</label>
          <span>{{ telefonoCelular }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Teléfono fijo:</label>
          <span>{{ telefonoFijo }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Correo electrónico:</label>
          <span>{{ correoElectronico }}</span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Calle:</label>
          <span>{{ calle }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Número exterior:</label>
          <span>{{ numeroExterior }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Número interior:</label>
          <span>{{ numeroInterior }}</span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Código postal:</label>
          <span>{{ codigoPostal }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Colonia:</label>
          <span>{{ colonia }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Municipio:</label>
          <span>{{ municipio }}</span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Estado:</label>
          <span>{{ estado }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Tipo de paquete:</label>
          <span>{{ tipoPaquete }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Número de pagos:</label>
          <span>{{ numeroPagos }}</span>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'beneficiario'">
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Teléfono:</label>
          <span>{{ telefono }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Correo electrónico:</label>
          <span>{{ correoElectronico }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Calle:</label>
          <span>{{ calle }}</span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Número exterior:</label>
          <span>{{ numeroExterior }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Número interior:</label>
          <span>{{ numeroInterior }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Código postal:</label>
          <span>{{ codigoPostal }}</span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Colonia:</label>
          <span>{{ colonia }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Municipio:</label>
          <span>{{ municipio }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Estado:</label>
          <span>{{ estado }}</span>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
