<app-titulo-principal titulo="Consultar los convenios nuevos y de renovación de previsión funeraria">
</app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="folioConvenio">Folio convenio:</label>
        <input id="folioConvenio" class="form-control" formControlName="folioConvenio"
          placeholder="Ingresa el no. de folio" maxlength="12" trimmer folioOdsAlphanumeric>
        <span class="campo-obligatorio"
          *ngIf="ff.folioConvenio?.errors?.required && (ff.folioConvenio?.dirty || ff.folioConvenio?.touched)">
          Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="rfc">RFC:</label>
        <input id="rfc" class="form-control" formControlName="rfc" placeholder="Ingresa el RFC" maxlength="13" trimmer
          alphanumericOnly>
        <span class="campo-obligatorio" *ngIf="ff.rfc?.errors?.required && (ff.rfc?.dirty || ff.rfc?.touched)">
          Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nombre">Nombre:</label>
        <input id="nombre" class="form-control" formControlName="nombre" placeholder="Ingresa el nombre" maxlength="75"
          trimmer alphanumericOnly>
        <span class="campo-obligatorio" *ngIf="ff.nombre?.errors?.required && (ff.nombre?.dirty || ff.nombre?.touched)">
          Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="curp">CURP:</label>
        <input id="curp" class="form-control" formControlName="curp" placeholder="Ingresa el CURP" maxlength="18"
          trimmer alphanumericOnly>
        <span class="campo-obligatorio" *ngIf="ff.curp?.errors?.required && (ff.curp?.dirty || ff.curp?.touched)">
          Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="estatusConvenio">Estatus del convenio:</label>
        <p-dropdown id="estatusConvenio" class="form-control" formControlName="estatusConvenio"
          [options]="estatusConvenio" placeholder="Selecciona el estatus del convenio" [filter]="true" filterBy="label">
        </p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="ff.estatusConvenio?.errors?.required && (ff.estatusConvenio?.dirty || ff.estatusConvenio?.touched)">
          Campo obligatorio</span>
      </div>
    </div>
  </form>
  <div class="flex justify-content-end">
    <button class="btn btn-danger btn-md" (click)="cancelar()">Cancelar</button>
    <button class="ml-4 btn btn-default btn-md" (click)="limpiar()">Limpiar Filtros</button>
    <button class="ml-4 btn btn-primary btn-md" (click)="buscar()">
      Buscar
    </button>
  </div>
</div>
<section class="mt-5">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Convenios</h2>
    <button type="button" class="btn btn-primary btn-lg" routerLink="./ingresar-nuevo-convenio"
      (click)="agregarConvenio()">Agregar convenio</button>
  </div>

  <div class="flex justify-content-end mt-7">
    <form [formGroup]="filtroSubForm">
      <label class="label-header-input">Folio convenio</label>
      <span class="p-input-icon-left">
        <i class="pi pi-search icon-header-input"></i>
        <input class="form-control" pInputText type="text" formControlName="folioConvenio" maxlength="12"
          (blur)="realizarBusquedaSubForm('folioConvenio')" textOnly trimmer />
      </span>
    </form>
  </div>

  <p-table #tablaConvenio appActivarUltimaCeldaSticky styleClass="mt-5 mb-8" [(selection)]="selectedConvenioPrevision" (onRowSelect)="onRowSelect($event)" [value]="convenioPrevision"
    [paginator]="convenioPrevision.length > 0" [rows]="cantElementosPorPagina" [lazy]="true"
    [totalRecords]="totalElementos.tablaConvenios" [pageLinks]="3" [(first)]="numPaginaActual.tablaConvenios"
    (onLazyLoad)="paginar($event)" [globalFilterFields]="['folioConvenio']">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem"></th>
        <th scope="col">Folio de convenio</th>
        <th scope="col">Fecha contratación</th>
        <th scope="col">Fecha vigencia inicio</th>
        <th scope="col">Fecha vigencia fin</th>
        <th scope="col">Beneficiarios</th>
        <th scope="col">Situación</th>
        <th scope="col">Factura</th>
        <th scope="col">Importe convenio</th>
        <th scope="col">Estatus del convenio</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-convenioPrevision>
      <tr>
        <td>
          <p-tableRadioButton [value]="convenioPrevision"></p-tableRadioButton>
        </td>
        <td>{{convenioPrevision.folioConvenio}}</td>
        <td>{{convenioPrevision.fechaContratacion | date: 'dd/MM/yyyy'}}</td>
        <td>{{convenioPrevision.fechaVigenciaInicio | date: 'dd/MM/yyyy'}}</td>
        <td>{{convenioPrevision.fechaVigenciaFin | date: 'dd/MM/yyyy'}}</td>
        <td>{{convenioPrevision.cantidadBeneficiarios}}</td>
        <td>{{convenioPrevision.situacion}}</td>
        <td>{{convenioPrevision.factura === 0 ? 'Sin factura' : 'Con factura'}}</td>
        <td>{{convenioPrevision.importeConvenio}}</td>
        <td>
          <div [appEstilosCeldaSticky]="{display:'grid',gridTemplateColumns:'120px 80px'}">
            <div class="contenedor-inputswitch">
              {{convenioPrevision.estatusConvenio}}
            </div>
            <div class="contenedor-celda-iconos">
              <a (click)="abrirPanel($event,convenioPrevision)">
                <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
              </a>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr *ngIf="busquedaRealizada">
        <th colspan="12" class="p-2 text-center font-bold text-xl" id="reporte_convenio_sin_resultados">
          No se encontró información relacionada a tu búsqueda.
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements">{{convenioPrevision.length}} de {{totalElementos.tablaConvenios}}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="paginator-template">
        <div class="export-table">
          <span class="export-table-text">Exportar tabla</span>
          <div class="export-table-icons">
            <img class="icon-export-table" (click)="descargarPDF()" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
            <img class="icon-export-table" (click)="descargarExcel()" src="assets/images/imagen-icono-excel.svg" alt="exportar excel">
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</section>
<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Renovar"></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Modificar" (click)="modificarConvenio()"></app-overlay-panel-opcion>
      <app-overlay-panel-opcion *ngIf="convenioSeleccionado.estatusConvenio?.includes('2')" (click)="cambiarEstatusConvenio()" titulo="Desactivar"></app-overlay-panel-opcion>
      <app-overlay-panel-opcion *ngIf="convenioSeleccionado.estatusConvenio?.includes('3')" (click)="cambiarEstatusConvenio()" titulo="Activar"></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Convenio PF anterior"></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Hoja de afiliación"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>
<section  *ngIf="mostrarAcordiones">
  <p-accordion styleClass="sivimss-accordion">
    <p-accordionTab>
      <ng-template pTemplate="header">Datos del afiliado</ng-template>
      <ng-template pTemplate="content">

        <div class="flex justify-content-end mb-5">
          <form [formGroup]="filtroSubForm">
            <label class="label-header-input">RFC</label>
            <span class="p-input-icon-left">
              <i class="pi pi-search icon-header-input"></i>
              <input class="form-control" pInputText type="text" formControlName="rfc" maxlength="13"
                (blur)="realizarBusquedaSubForm('rfc')" textOnly trimmer />
            </span>
          </form>
        </div>

        <p-table #tablaAfiliado [value]="datosAfiliado" [rows]="cantElementosPorPagina" [lazy]="true"
          [totalRecords]="totalElementos.tablaAfiliados" [pageLinks]="3" [(first)]="numPaginaActual.tablaAfiliados"
          [globalFilterFields]="['rfc']">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Velatorio</th>
              <th scope="col">Afiliado</th>
              <th scope="col">RFC titular</th>
              <th scope="col">Fecha de nacimiento</th>
              <th scope="col">Edad</th>
              <th scope="col">Genero</th>
              <th scope="col">Correo electrónico</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-datosAfiliado>
            <tr>
              <td> {{datosAfiliado.nombreVelatorio}} </td>
              <td> {{datosAfiliado.nombreAfiliado}} </td>
              <td> {{datosAfiliado.rfcTitular}} </td>
              <td> {{datosAfiliado.fechaNacimiento | date: 'dd/MM/yyyy'}} </td>
              <td> {{datosAfiliado.edad}} </td>
              <td *ngIf="datosAfiliado.genero === 1"> Masculino </td>
              <td *ngIf="datosAfiliado.genero === 2"> Femenino </td>
              <td *ngIf="datosAfiliado.genero === 3"> Otro </td>
              <td> {{datosAfiliado.correo}} </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">Vigencia del convenio</ng-template>
      <ng-template pTemplate="content">

        <div class="flex justify-content-end mb-5">
          <form [formGroup]="filtroSubForm">
            <label class="label-header-input">Folio convenio</label>
            <span class="p-input-icon-left">
              <i class="pi pi-search icon-header-input"></i>
              <input class="form-control" pInputText type="text" formControlName="folioConvenioVigencia" maxlength="12"
                (blur)="realizarBusquedaSubForm('folioConvenioVigencia')" textOnly trimmer />
            </span>
          </form>
        </div>

        <p-table #tablaVigencia [value]="vigenciaConvenio" [rows]="cantElementosPorPagina" [lazy]="true"
          [totalRecords]="totalElementos.tablaVigenciaConvenio" [pageLinks]="3"
          [(first)]="numPaginaActual.tablaVigenciaConvenio" [globalFilterFields]="['folioConvenio']">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Convenio</th>
              <th scope="col">Fecha inicio</th>
              <th scope="col">Fecha fin</th>
              <th scope="col">Fecha de renovación</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-vigenciaConvenio>
            <tr>
              <td> {{vigenciaConvenio.folioConvenio}} </td>
              <td> {{vigenciaConvenio.fechaInicio | date: 'dd/MM/yyyy'}} </td>
              <td> {{vigenciaConvenio.fechaFin | date: 'dd/MM/yyyy'}} </td>
              <td> {{vigenciaConvenio.fechaRenovacion | date: 'dd/MM/yyyy'}} </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">Factura del convenio</ng-template>
      <ng-template pTemplate="content">

        <div class="flex justify-content-end mb-5">
          <form [formGroup]="filtroSubForm">
            <label class="label-header-input">Número de factura</label>
            <span class="p-input-icon-left">
              <i class="pi pi-search icon-header-input"></i>
              <input class="form-control" pInputText type="text" formControlName="numeroFactura" maxlength="12"
                (blur)="realizarBusquedaSubForm('numeroFactura')" textOnly trimmer />
            </span>
          </form>
        </div>

        <p-table #tablaFactura [value]="facturaConvenio" [rows]="cantElementosPorPagina" [lazy]="true"
          [totalRecords]="totalElementos.tablaFacturaConvenio" [pageLinks]="3"
          [(first)]="numPaginaActual.tablaFacturaConvenio" [globalFilterFields]="['factura']">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Factura</th>
              <th scope="col">UUID</th>
              <th scope="col">Fecha</th>
              <th scope="col">RFC</th>
              <th scope="col">Cliente</th>
              <th scope="col">Total</th>
              <th scope="col">Estatus</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-facturaConvenio>
            <tr>
              <td> {{facturaConvenio.factura}} </td>
              <td> {{facturaConvenio.uuid}} </td>
              <td> {{facturaConvenio.fecha | date: 'dd/MM/yyyy'}} </td>
              <td> {{facturaConvenio.rfc}} </td>
              <td> {{facturaConvenio.cliente}} </td>
              <td> {{facturaConvenio.total}} </td>
              <td>
                <div class="contenedor-inputswitch">
                  <span class="activo" *ngIf="facturaConvenio.estatus">Activo</span>
                  <span class="inactivo" *ngIf="!facturaConvenio.estatus">Inactivo</span>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">Beneficiarios</ng-template>
      <ng-template pTemplate="content">

        <div class="flex justify-content-end mb-5">
          <form [formGroup]="filtroSubForm">
            <label class="label-header-input">Nombre beneficiario</label>
            <span class="p-input-icon-left">
              <i class="pi pi-search icon-header-input"></i>
              <input class="form-control" pInputText type="text" formControlName="nombreBeneficiario" maxlength="75"
                (blur)="realizarBusquedaSubForm('nombreBeneficiario')" textOnly trimmer />
            </span>
          </form>
        </div>

        <p-table #tablaBeneficiario [value]="beneficiario" [rows]="cantElementosPorPagina" [lazy]="true"
          [totalRecords]="totalElementos.tablaBeneficiario" [pageLinks]="3"
          [(first)]="numPaginaActual.tablaBeneficiario" [globalFilterFields]="['nombre']">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Beneficiario</th>
              <th scope="col">Fecha de Nacimiento</th>
              <th scope="col">Edad</th>
              <th scope="col">Parentesco</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-beneficiario>
            <tr>
              <td> {{beneficiario.nombreBeneficiario}} {{beneficiario.primerApellido}} </td>
              <td> {{beneficiario.fechaNacimiento | date: 'dd/MM/yyyy'}} </td>
              <td> {{beneficiario.edad}} </td>
              <td> {{beneficiario.descripcionParentesco}} </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">Siniestros</ng-template>
      <ng-template pTemplate="content">

        <div class="flex justify-content-end mb-5">
          <form [formGroup]="filtroSubForm">
            <label class="label-header-input">Folio siniestro</label>
            <span class="p-input-icon-left">
              <i class="pi pi-search icon-header-input"></i>
              <input class="form-control" pInputText type="text" formControlName="folioSiniestro" maxlength="12"
                (blur)="realizarBusquedaSubForm('folioSiniestro')" textOnly trimmer />
            </span>
          </form>
        </div>

        <p-table #tablaSiniestro [value]="siniestro" [rows]="cantElementosPorPagina" [lazy]="true"
          [totalRecords]="totalElementos.tablaSiniestros" [pageLinks]="3" [(first)]="numPaginaActual.tablaSiniestros"
          [globalFilterFields]="['folioSinisestro']">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Velatorio</th>
              <th scope="col">Fecha siniestro</th>
              <th scope="col">Folio</th>
              <th scope="col">Nota</th>
              <th scope="col">Finado</th>
              <th scope="col">Parentesco</th>
              <th scope="col">Velatorio origen</th>
              <th scope="col">Importe</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-siniestro>
            <tr>
              <td> {{siniestro.descVelatorio}} </td>
              <td> {{siniestro.fechaSiniestro | date: 'dd/MM/yyyy'}} </td>
              <td> {{siniestro.folio}} </td>
              <td> {{siniestro.nota}} </td>
              <td> {{siniestro.finado}} </td>
              <td> {{siniestro.descParentesco}} </td>
              <td> {{siniestro.descVelatorioOrigen}} </td>
              <td> {{siniestro.importe}} </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</section>
