.p-input-icon-left {
  width: 100%;
}

.icon-header-input {
  color: #9D2449 !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.label-header-input {
  align-items: center;
  color: #484848;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}