<div class="row mt-3">
  <div class="col-md-12">
    <app-detalle-velatorio [velatorio]="velatorioSeleccionado"
                           [estatus]="velatorioSeleccionado.estatus"></app-detalle-velatorio>
  </div>
</div>
<div class="mb-3 mt-3 row text-center">
  ¿Estas seguro que deseas {{title}} este velatorio?
</div>
<div class="row mb-3">
  <div class="col-md-12 flex justify-content-end">
    <button type="button" class="btn btn-default btn-md" (click)="cancelar()">Cancelar</button>
    <button type="submit" class="btn btn-primary btn-md ml-5" (click)="cambiarEstatus()">Aceptar
    </button>
  </div>
</div>
