<div class="modulo" [ngClass]="clasesModulo" [class.seleccionado]="modulo.activo">
  <div class="modulo-contenido" (click)="abrirCerrarModulo()">
    <img class="modulo-icono" src="assets/images/menu/{{modulo.icono}}" alt=""><span
    class="modulo-titulo">{{ modulo.titulo }}</span>
  </div>
  <div class="modulos" *ngIf="modulo.modulos && modulo.modulos.length > 0 && abierto">
    <ng-container *ngFor="let moduloHijo of modulo.modulos">
      <app-modulo [modulo]="moduloHijo" *ngIf="nivel === 1 && !permisosCentral.includes(moduloHijo.idModulo) || nivel !== 1">
      </app-modulo>
    </ng-container>
  </div>
</div>
