<form [formGroup]="cancelarPagoForm">
  <div class="row mb-3 surface-border border-2 m-0 py-3 px-1">
    <div class="col-md-12">
      <div class="table-panel-column">
        <label class="control-label">Motivo de rechazo</label>
        <span><b>Hubo un problema con cajas y no se pudo retirar</b></span>
      </div>
    </div>
  </div>

  <div class="row mb-3 ">
    <div class="col-md-12">
      <label class="control-label">Motivo de cancelación<span class="req">*</span>:</label>
      <input class="form-control" placeholder="Ingresa el motivo">
    </div>
  </div>
  <p class="text-center">¿Estás seguro de cancelar la solicitud de pago?</p>
  <div class="row mb-3">
    <div class="col-md-12">
      <span class="mensaje-inferior-campo-obligatorio"> *Campos obligatorios  </span>
    </div>
  </div>

</form>


<div class="row mb-3">
  <div class="col-md-12 flex justify-content-end align-items-center">
    <button class="ml-4 btn btn-danger btn-md" (click)="cancelar()">Cancelar</button>
    <button class="ml-6 btn btn-md btn-primary" [disabled]="cancelarPagoForm.invalid" (click)="cancelarPago();">
      Aceptar
    </button>
  </div>
</div>
