<ng-container>
  <form [formGroup]="cancelarPagoForm">
    <app-table-panel class="mb-3">
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="table-panel-column">
            <label class="control-label">Motivo de rechazo</label>
            <span class="font-bold">{{pagoSeleccionado.motRechazo}}</span>
          </div>
        </div>
      </div>
    </app-table-panel>
    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="motivo">Motivo de cancelación<span
          class="req">*</span>:</label>
        <input class="form-control" formControlName="motivo" id="motivo"
               placeholder="Ingresa el motivo de la cancelación" maxlength="50">
        <span class="campo-obligatorio"
              *ngIf="ref.motivo?.errors?.required && (ref.motivo?.dirty || ref.motivo?.touched)">Este campo es obligatorio *.</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <span class="mensaje-inferior-campo-obligatorio">*Campos obligatorios</span>
      </div>
    </div>
  </form>
</ng-container>
<div class="mb-3 mt-3 row text-center" *ngIf="mensajeConfirmacion">
  ¿Estás seguro de cancelar la solicitud de pago?
</div>
<section>
  <div class="row mb-3">
    <div class="col-md-12 flex justify-content-end align-items-center">
      <button class="ml-4 btn btn-danger btn-md" (click)="cancelar()">Cancelar</button>
      <button class="ml-6 btn btn-md btn-primary" [disabled]="cancelarPagoForm.invalid"
              *ngIf="!mensajeConfirmacion" (click)="mensajeConfirmacion = !mensajeConfirmacion">
        Confirmar cancelación
      </button>
      <button class="ml-6 btn btn-md btn-primary" *ngIf="mensajeConfirmacion"
              (click)="confirmarCancelacionPago();">
        Aceptar
      </button>
    </div>
  </div>
</section>
