<div class="row mb-4">
  <div class="col-md-4 flex flex-column">
    <span class="etiqueta-base">Nombre del operador*:</span>
    <span class="texto-base">Berenice Tila Morado</span>
  </div>
  <div class="col-md-8 flex flex-column">
    <span class="label-base">Folio de la órden vinculada*:</span>
    <span class="texto-base">DOC-167589-2022</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12 flex justify-content-end">
    <button type="button" class="ml-6 btn btn-md btn-primary" (click)="cerrarModal()">Aceptar</button>
  </div>
</div>
