<div class="row mb-3">
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Velatorio:</span>
        <span class="texto-base font-normal">Nombre del velatorio</span>
    </div>
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Fecha:</span>
        <span class="texto-base font-normal">00-00-0000</span>
    </div>
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Edad:</span>
        <span class="texto-base font-normal">00</span>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Parentesco:</span>
        <span class="texto-base font-normal">Parentesco</span>
    </div>
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">CURP:</span>
        <span class="texto-base font-normal">GAPJ8504S5D7FSXXX00</span>
    </div>
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">RFC:</span>
        <span class="texto-base font-normal">lojp80003010XXX</span>
    </div>
</div>


<div class="row mb-4">
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Acta de nacimiento:</span>
        <span class="texto-base font-normal">Acta.pdf</span>
    </div>
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Correo electrónico:</span>
        <span class="texto-base font-normal">nombre.apellido@correo.com</span>
    </div>
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Teléfono:</span>
        <span class="texto-base font-normal">00 00 00 00 00</span>
    </div>
</div>

<div class="row">
    <div class="col-md-12 flex justify-content-end">
        <button class="btn btn-gold btn-md">Desactivar</button>
        <button class="btn btn-default btn-md ml-5" (click)="abrirModalRegistroNuevoBeneficiario($event)">Nuevo beneficiario</button>
        <button class="btn btn-primary btn-md ml-5" (click)="abrirModalEditarBeneficiario($event)">Editar</button>
    </div>
</div>