<div class="row mb-3">
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Velatorio:</span>
        <span class="texto-base font-normal">{{beneficiarios.velatorio}}</span>
    </div>
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Fecha:</span>
        <span class="texto-base font-normal">{{beneficiarios.fechaNacimiento}}</span>
    </div>
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Edad:</span>
        <span class="texto-base font-normal">{{beneficiarios.edad}}</span>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Parentesco:</span>
        <span class="texto-base font-normal">{{beneficiarios.parentesco}}</span>
    </div>
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">CURP:</span>
        <span class="texto-base font-normal">{{beneficiarios.curp}}</span>
    </div>
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">RFC:</span>
        <span class="texto-base font-normal">{{beneficiarios.rfc}}</span>
    </div>
</div>


<div class="row mb-4">
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Acta de nacimiento:</span>
        <span class="texto-base font-normal">Acta.pdf</span>
    </div>
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Correo electrónico:</span>
        <span class="texto-base font-normal">{{beneficiarios.correo}}</span>
    </div>
    <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base font-bold">Teléfono:</span>
        <span class="texto-base font-normal">{{beneficiarios.telefono}}</span>
    </div>
</div>

<div class="row">
    <div class="col-md-12 flex justify-content-end">
        <button class="btn btn-gold btn-md">Desactivar</button>
        <button class="btn btn-primary btn-md ml-5" (click)="abrirModalEditarBeneficiario($event)">Editar</button>
        <button class="btn btn-gold btn-md ml-5" (click)="cerrarModal()">Cancelar</button>
    </div>
</div>