<div class="grid">
  <app-btn-regresar class="mr-2 mt-5 col-fixed border-return-button" routerLink="./../../.."></app-btn-regresar>
  <app-titulo-principal [titulo]="activo ? 'Desactivar' : 'Activar'  + ' convenio'" class="col"></app-titulo-principal>
</div>

<ng-container [ngSwitch]="tipoConvenio">
  <ng-container *ngSwitchCase="'1'">
    <app-convenio-header [tipoContratacion]="'Por persona'" [numeroFolio]="folioConvenio">
    </app-convenio-header>
    <p-accordion styleClass="sivimss-accordion mt-3">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center flex-1">
            <span>Datos del titular</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-resumen-titular-beneficiario [matricula]="titularPA.matricula" [rfc]="titularPA.rfc"
                                            [curp]="titularPA.curp" [nombre]="titularPA.nombre"
                                            [nss]="titularPA.nss" [primerApellido]="titularPA.primerApellido"
                                            [segundoApellido]="titularPA.segundoApellido"
                                            [calle]="titularPA.calle" [numeroExterior]="titularPA.numExt"
                                            [numeroInterior]="titularPA.numInt" [codigoPostal]="titularPA.cp"
                                            [colonia]="titularPA.colonia" [municipio]="titularPA.municipio"
                                            [estado]="titularPA.estado" [paisNacimiento]="titularPA.pais"
                                            [lugarNacimiento]="titularPA.lugarNac"
                                            [fechaNacimiento]="titularPA.fecNacimiento"
                                            [correoElectronico]="titularPA.correo"
                                            [telefonoCelular]="titularPA.telCelular"
                                            [telefonoFijo]="titularPA.telFijo"
                                            [tipoPaquete]="titularPA.nomPaquete" [numeroPagos]="titularPA.numPagos"
                                            [nacionalidad]="+titularPA.idPais === 119 ? 'MEXICANA' : 'EXTRANJERA'"
                                            [sexo]="titularPA.sexo" [otroSexo]="titularPA.otroSexo"
          ></app-resumen-titular-beneficiario>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
    <p-accordion styleClass="sivimss-accordion mt-3">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center flex-1">
            <span>Datos de titular sustituto</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <label class="control-label">Son los mismos que el titular</label>
          <div class="flex">
            <div class="flex align-items-center mx-2">
              <p-radioButton [inputId]="'titularSi'" name="titular" [value]="true"
                             [(ngModel)]="mismoSustituto" [disabled]="true"
              ></p-radioButton>
              <label class="control-label m-0 mx-3" [for]="'titularSi'">Sí</label>
            </div>
            <div class="flex align-items-center mx-2">
              <p-radioButton [inputId]="'titularNo'" name="titular" [value]="false"
                             [(ngModel)]="mismoSustituto" [disabled]="true"
              ></p-radioButton>
              <label class="control-label m-0 mx-3" [for]="'titularNo'">No</label>
            </div>
          </div>
          <ng-container>
            <app-resumen-titular-beneficiario [titular]="'beneficiario'" [matricula]="sustituto.matricula"
                                              [rfc]="sustituto.rfc"
                                              [curp]="sustituto.curp" [nombre]="sustituto.nombre"
                                              [nss]="sustituto.nss" [primerApellido]="sustituto.primerApellido"
                                              [segundoApellido]="sustituto.segundoApellido"
                                              [calle]="sustituto.calle" [numeroExterior]="sustituto.numExt"
                                              [numeroInterior]="sustituto.numInt" [codigoPostal]="sustituto.cp"
                                              [colonia]="sustituto.colonia" [municipio]="sustituto.municipio"
                                              [estado]="sustituto.estado" [fechaNacimiento]="sustituto.fecNacimiento"
                                              [lugarNacimiento]="sustituto.lugarNac" [sexo]="sustituto.sexo"
                                              [correoElectronico]="sustituto.correo" [paisNacimiento]="sustituto.pais"
                                              [telefono]="sustituto.telCelular" [otroSexo]="sustituto.otroSexo"
                                              [nacionalidad]="+sustituto.idPais === 119 ? 'MEXICANA' : 'EXTRANJERA'">
            </app-resumen-titular-beneficiario>
          </ng-container>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
    <p-accordion styleClass="sivimss-accordion mt-3">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center flex-1">
            <span>Datos del beneficiario 1</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <ng-container *ngIf="titularPA.beneficiario1 else SinBeneficiarioEspecifico">
            <app-resumen-titular-beneficiario [titular]="'beneficiario'" [matricula]="beneficiario1.matricula"
                                              [rfc]="beneficiario1.rfc"
                                              [curp]="beneficiario1.curp" [nombre]="beneficiario1.nombre"
                                              [nss]="beneficiario1.nss" [primerApellido]="beneficiario1.primerApellido"
                                              [segundoApellido]="beneficiario1.segundoApellido"
                                              [calle]="beneficiario1.calle" [numeroExterior]="beneficiario1.numExt"
                                              [numeroInterior]="beneficiario1.numInt" [codigoPostal]="beneficiario1.cp"
                                              [colonia]="beneficiario1.colonia" [municipio]="beneficiario1.municipio"
                                              [estado]="beneficiario1.estado"
                                              [fechaNacimiento]="beneficiario1.fecNacimiento"
                                              [lugarNacimiento]="beneficiario1.lugarNac" [sexo]="beneficiario1.sexo"
                                              [correoElectronico]="beneficiario1.correo"
                                              [paisNacimiento]="beneficiario1.pais"
                                              [telefono]="beneficiario1.telCelular" [otroSexo]="beneficiario1.otroSexo"
                                              [nacionalidad]="+beneficiario1.idPais === 119 ? 'MEXICANA' : 'EXTRANJERA'"
            ></app-resumen-titular-beneficiario>
          </ng-container>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
    <p-accordion styleClass="sivimss-accordion mt-3">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center flex-1">
            <span>Datos del beneficiario 2</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <ng-container *ngIf="titularPA.beneficiario2 else SinBeneficiarioEspecifico">
            <app-resumen-titular-beneficiario [titular]="'beneficiario'" [matricula]="beneficiario2.matricula"
                                              [rfc]="beneficiario2.rfc" [otroSexo]="beneficiario2.otroSexo"
                                              [curp]="beneficiario2.curp" [nombre]="beneficiario2.nombre"
                                              [nss]="beneficiario2.nss" [primerApellido]="beneficiario2.primerApellido"
                                              [segundoApellido]="beneficiario2.segundoApellido"
                                              [calle]="beneficiario2.calle" [numeroExterior]="beneficiario2.numExt"
                                              [numeroInterior]="beneficiario2.numInt" [codigoPostal]="beneficiario2.cp"
                                              [colonia]="beneficiario2.colonia" [municipio]="beneficiario2.municipio"
                                              [estado]="beneficiario2.estado"
                                              [fechaNacimiento]="beneficiario2.fecNacimiento"
                                              [paisNacimiento]="beneficiario2.pais"
                                              [lugarNacimiento]="beneficiario2.lugarNac" [sexo]="beneficiario2.sexo"
                                              [correoElectronico]="beneficiario2.correo"
                                              [telefono]="beneficiario2.telCelular"
                                              [nacionalidad]="+beneficiario2.idPais === 119 ? 'MEXICANA' : 'EXTRANJERA'"
            ></app-resumen-titular-beneficiario>
          </ng-container>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
    <p-accordion styleClass="sivimss-accordion mt-3">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center flex-1">
            <span>Promotor</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">¿El servicio fue gestionado por un promotor? *</label>
              <div class="flex">
                <div class="flex align-items-center mx-2">
                  <p-radioButton [inputId]="'promotorSi'" name="promotor" [value]="true"
                                 [(ngModel)]="promotor" [disabled]="true">>
                  </p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'promotorSi'">Sí</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton [inputId]="'promotorNo'" name="promotor" [value]="false"
                                 [(ngModel)]="promotor" [disabled]="true">>
                  </p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'promotorNo'">No</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="promotor">Promotor:</label>
              <p-dropdown id="promotor" class="form-control" [disabled]="true" placeholder="Selecciona promotor"
                          [options]="promotores" filterBy="label" [(ngModel)]="idPromotor"></p-dropdown>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </ng-container>

  <ng-container *ngSwitchCase="'2'">
    <app-convenio-header [tipoContratacion]="'Grupo o Empresa'"
                         [numeroFolio]="folioConvenio"></app-convenio-header>
    <p-accordion styleClass="sivimss-accordion mt-3" [activeIndex]="0">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center flex-1">
            <span>Grupo o Empresa</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-resumen-empresa [nombre]="convenioEmpresa.nombre" [razonSocial]="convenioEmpresa.razonSocial"
                               [rfc]="convenioEmpresa.rfc" [correoElectronico]="convenioEmpresa.correo"
                               [codigoPostal]="convenioEmpresa.cp" [pais]="convenioEmpresa.pais"
                               [estado]="convenioEmpresa.estado" [municipio]="convenioEmpresa.municipio"
                               [colonia]="convenioEmpresa.colonia"
                               [numeroInterior]="convenioEmpresa.numInterior"
                               [numeroExterior]="convenioEmpresa.numExterior"
                               [calle]="convenioEmpresa.calle"
                               [telefono]="convenioEmpresa.telefono"></app-resumen-empresa>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
    <p-accordion styleClass="sivimss-accordion mt-3">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center flex-1">
            <span>Solicitantes del Grupo o Empresa</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <ng-container *ngIf="solicitantes.length > 0 else SinSolicitantes">
            <ng-container *ngFor="let solicitante of solicitantes">
              <p-accordion styleClass="sivimss-accordion sivimss-accordionColor mb-5">
                <p-accordionTab
                  [header]="solicitante.nombre + ' ' + solicitante.primerApellido + ' ' + solicitante.segundoApellido">
                  <app-resumen-persona [matricula]="solicitante.matricula" [rfc]="solicitante.rfc"
                                       [curp]="solicitante.curp" [nombre]="solicitante.nombre"
                                       [primerApellido]="solicitante.primerApellido"
                                       [segundoApellido]="solicitante.segundoApellido" [calle]="solicitante.calle"
                                       [numeroExterior]="solicitante.numExterior"
                                       [numeroInterior]="solicitante.numInterior"
                                       [codigoPostal]="solicitante.cp.toString()"
                                       [colonia]="solicitante.colonia" [municipio]="solicitante.municipio"
                                       [estado]="solicitante.estado"
                                       [nacionalidad]="+solicitante.idPais === 119 ? 'MEXICANA' : 'EXTRANJERA'"
                                       [paisNacimiento]="solicitante.pais"
                                       [lugarNacimiento]="solicitante.lugarNac" [correoElectronico]="solicitante.correo"
                                       [telefono]="solicitante.telefono"
                                       [mostrarEnfermedad]="false"
                  ></app-resumen-persona>
                  <p-accordion styleClass="sivimss-accordion mt-3" [activeIndex]="0">
                    <p-accordionTab>
                      <ng-template pTemplate="header">
                        <div class="flex justify-content-between align-items-center flex-1">
                          <span>Características del convenio</span>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="content">
                        <div class="row table-panel-row">
                          <div class="col-md-4">
                            <div class="table-panel-column">
                              <label>Tipo de paquete</label>
                              <span>{{ solicitante.tipoPaquete }}</span>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </p-accordionTab>
                  </p-accordion>
                  <p-accordion styleClass="sivimss-accordion sivimss-accordionColor mt-3">
                    <p-accordionTab header="Documentación requerida">
                      <ng-container *ngIf="false else ErrorDocumentacion">
                        <app-documentacion-beneficiario></app-documentacion-beneficiario>
                      </ng-container>
                    </p-accordionTab>
                  </p-accordion>
                  <p-accordion styleClass="sivimss-accordion mt-3">
                    <p-accordionTab>
                      <ng-template pTemplate="header">
                        <div class="flex justify-content-between align-items-center flex-1">
                          <span>Beneficiarios</span>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="content" *ngIf="solicitante.beneficiarios && solicitante.beneficiarios.length > 0
                                   else SolicitanteSinBeneficiarios">
                        <ng-container *ngFor="let beneficiario of solicitante.beneficiarios">
                          <p-accordion styleClass="sivimss-accordion sivimss-accordionColor mb-5">
                            <p-accordionTab
                              [header]="beneficiario.nombre">
                              <app-resumen-beneficiario [nombre]="beneficiario.nombre"
                                                        [curp]="beneficiario.curp" [rfc]="beneficiario.rfc"
                                                        [correoElectronico]="beneficiario.correo"
                                                        [telefono]="beneficiario.telefono"
                                                        [edad]="beneficiario.edad"
                                                        [nombreDocumento]="beneficiario.nombreArchivo"
                                                        [tipoDocumento]="beneficiario.docIne === 1 ? 1 : 4"
                                                        [idPersona]="beneficiario.idPersona"
                                                        [idPaqueteConvenio]="solicitante.idPaqueteConvenio"
                                                        [idContratante]="beneficiario.idContratante"
                              ></app-resumen-beneficiario>
                            </p-accordionTab>
                          </p-accordion>
                        </ng-container>
                      </ng-template>
                    </p-accordionTab>
                  </p-accordion>
                </p-accordionTab>
              </p-accordion>
            </ng-container>
          </ng-container>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </ng-container>

  <ng-container *ngSwitchCase="'3'">
    <app-convenio-header [tipoContratacion]="'Por persona'"
                         [numeroFolio]="folioConvenio"></app-convenio-header>
    <p-accordion styleClass="sivimss-accordion mt-3">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center flex-1">
            <span>Datos de la persona</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-resumen-persona [matricula]="convenioPersona.matricula" [rfc]="convenioPersona.rfc"
                               [curp]="convenioPersona.curp" [nombre]="convenioPersona.nombre"
                               [primerApellido]="convenioPersona.primerApellido"
                               [segundoApellido]="convenioPersona.segundoApellido" [calle]="convenioPersona.calle"
                               [numeroExterior]="convenioPersona.numExt"
                               [numeroInterior]="convenioPersona.numInt" [codigoPostal]="convenioPersona.cp.toString()"
                               [colonia]="convenioPersona.colonia" [municipio]="convenioPersona.municipio"
                               [estado]="convenioPersona.estado"
                               [nacionalidad]="+convenioPersona.idPais === 119 ? 'MEXICANA' : 'EXTRANJERA'"
                               [paisNacimiento]="convenioPersona.pais"
                               [lugarNacimiento]="convenioPersona.lugarNac" [correoElectronico]="convenioPersona.correo"
                               [telefono]="convenioPersona.telFijo" [mostrarEnfermedad]="false"
          ></app-resumen-persona>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
    <p-accordion styleClass="sivimss-accordion mt-3">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center flex-1">
            <span>Características del convenio</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="row table-panel-row">
            <div class="col-md-4">
              <div class="table-panel-column">
                <label>Tipo de paquete</label>
                <span>{{ convenioPersona.tipoPaquete }}</span>
              </div>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
    <p-accordion styleClass="sivimss-accordion mt-3">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center flex-1">
            <span>Documentación requerida</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content" *ngIf="false else ErrorDocumentacion">
          <app-resumen-documentacion-beneficiario></app-resumen-documentacion-beneficiario>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
    <p-accordion styleClass="sivimss-accordion mt-3">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center flex-1">
            <span>Beneficiarios</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content" *ngIf="beneficiarios.length > 0 else SinBeneficiarios">
          <ng-container *ngFor="let beneficiario of beneficiarios">
            <p-accordion styleClass="sivimss-accordion sivimss-accordionColor mb-5" [activeIndex]="0">
              <p-accordionTab
                [header]="beneficiario.nombre">
                <app-resumen-beneficiario
                  [nombre]="beneficiario.nombre"
                  [telefono]="beneficiario.telefono" [curp]="beneficiario.curp" [rfc]="beneficiario.rfc"
                  [correoElectronico]="beneficiario.correo" [edad]="beneficiario.edad"
                  [parentesco]="beneficiario.parentesco"
                  [nombreDocumento]="beneficiario.nombreArchivo"
                  [tipoDocumento]="beneficiario.docIne === 1 ? 1 : 4"
                  [idPersona]="beneficiario.idPersona"
                  [idPaqueteConvenio]="convenioPersona.idContraPaqPF"
                  [idContratante]="convenioPersona.idContrantante"></app-resumen-beneficiario>
              </p-accordionTab>
            </p-accordion>
          </ng-container>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </ng-container>
</ng-container>

<div class="row mt-3 mb-2">
  <div class="col-md-12 mt-4">
    <p class="mensaje-cancelacion-orden">¿Está seguro de {{ activo ? 'desactivar' : 'activar' }} el convenio
      seleccionado con el folio  {{ folioConvenio.padStart(6, '0') }}?</p>
  </div>
  <div class="col-md-12 flex justify-content-end mt-6 mb-4">
    <button type="submit" class="btn btn-default btn-md" routerLink="./../../../">Cancelar</button>
    <button type="submit" class="btn btn-primary btn-md ml-5" (click)="aceptar()">Aceptar</button>
  </div>
</div>

<ng-template pTemplate="content" #SinBeneficiarios>
  <div class="row table-panel-row">
    <div class="col-md-12 mt-4">
      <p class="mensaje-cancelacion-orden font-14">El convenio no tiene beneficiarios registrados.</p>
    </div>
  </div>
</ng-template>

<ng-template pTemplate="content" #SinBeneficiarioEspecifico>
  <div class="row table-panel-row">
    <div class="col-md-12 mt-4">
      <p class="mensaje-cancelacion-orden font-14">Información de beneficiario no registrada.</p>
    </div>
  </div>
</ng-template>

<ng-template pTemplate="content" #SinSolicitantes>
  <div class="row table-panel-row">
    <div class="col-md-12 mt-4">
      <p class="mensaje-cancelacion-orden font-14">El convenio no tiene solicitantes registrados.</p>
    </div>
  </div>
</ng-template>

<ng-template pTemplate="content" #SolicitanteSinBeneficiarios>
  <div class="row table-panel-row">
    <div class="col-md-12 mt-4">
      <p class="mensaje-cancelacion-orden font-14">El solicitante no tiene beneficiarios registrados.</p>
    </div>
  </div>
</ng-template>

<ng-template pTemplate="content" #ErrorDocumentacion>
  <div class="row table-panel-row">
    <div class="col-md-12 mt-4">
      <p class="mensaje-cancelacion-orden font-14">Error al cargar la información.</p>
    </div>
  </div>
</ng-template>
