<div class="row">
  <h3>Recibo de pago</h3>
</div>
<div class="row mb-4">
  <div class="col-md-12 border seccion-folio flex justify-content-between">
    <div>
      <span class="subtitulo texto-centrado">FOLIO <span class="valor-subtitulo">{{recibo.folio}}</span></span>
    </div>
  </div>
  <div class="col-md-12 border">
    <div class="body">
      <section class="titulo-body">
        <p>
          DIRECCIÓN DE PRESTACIONES ECONÓMICAS Y SOCIALES COORDINACIÓN DE CENTROS VACACIONALES, VELATORIOS, UNIDAD DE
          CONGRESO Y TIENDAS
        </p>
        <p>
          RECIBO DE PAGO DE TRÁMITES POR CUENTA DEL CONTRATANTE
        </p>
      </section>
      <hr class="solid">
      <section class="row grid mt-7">
        <div class="col">
              <span>DELEGACIÓN:*
                <span class="etiqueta-formato-val">{{recibo.delegacion}}</span>
              </span>
        </div>
        <div class="col">
              <span>VELATORIO:*
                <span class="etiqueta-formato-val"># {{recibo.idVelatorio}}</span>
              </span>
        </div>
      </section>
      <section class="border contenido-body">
        <div class="mt-5">
          <span class="col-md-12 etiqueta-formato-val">MÉXICO CDMX
            <span class="etiqueta-base"> A </span>
            <span class="etiqueta-formato-val"> {{dia}} </span>
            <span class="etiqueta-base"> DE </span>
            <span class="etiqueta-formato-val"> {{mes | uppercase}} </span>
            <span class="etiqueta-base"> DE </span>
            <span class="etiqueta-formato-val"> {{anio}} </span>
          </span>
          <span class="col-md-12 mt-5 etiqueta-base">RECIBIMOS DEL SR.(A):
            <span class="etiqueta-formato-val">{{recibo.recibimos}}</span>
          </span>
          <span class="col-md-12 etiqueta-base mt-3">LA CANTIDAD DE:
            <span class="etiqueta-formato-val">{{recibo.cantidad}}</span>
          </span>
        </div>
        <div>
          <span class="col-md-12 etiqueta-base mt-7 mb-3">PARA QUE A SU NOMBRE Y REPRESENTACIÓN PAGUE LOS TRAMITES PARA
            OTORGAR EL CONTRATO DE PRESTACIÓN DE SERVICIOS
            <span class="etiqueta-formato-val"> No. {{recibo.folioPF}} </span>
             EN DEPENDENCIAS OFICIALES, DE ACUERDO AL SIGUIENTE DESGLOSE:
          </span>
          <div class="grid-container">
            <div class="grid-item">
              <span class="etiqueta-formato">TRÁMITES:
                <span class="etiqueta-formato-val">{{ recibo.canTramites}}</span>
              </span>
            </div>
            <div class="grid-item">
              <span class="etiqueta-formato">DESCRIPCIÓN:
                <span class="etiqueta-formato-val">{{recibo.descTramites}}</span>
              </span>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
              <span class="etiqueta-formato">DERECHOS:
                <span class="etiqueta-formato-val">{{recibo.canDerechos}}</span>
              </span>
            </div>
            <div class="grid-item">
              <span class="etiqueta-formato">DESCRIPCIÓN:
                <span class="etiqueta-formato-val">{{recibo.descDerechos}}</span>
              </span>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item mt-5">
              <span class="etiqueta-formato">TOTAL
                <span class="etiqueta-totales">{{recibo.canSuma}}</span>
              </span>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
          </div>
          <span class="col-md-12 etiqueta-base mt-7 mb-2">
              LAS PARTES ACUERDAN QUE SI EXISTIERA UNA DIFERENCIA EN DINERO A FAVOR DEL CONTRATANTE ESTA SERÁ
              DEVUELTA, JUNTO CON LOS COMPROBANTES ORIGINALES DE LOS TRÁMITES O DERECHOS PAGADOS A SU ENTERA
              SATISFACCIÓN, ANTES DEL TÉRMINO DEL SERVICIO FUNERARIO.
          </span>
          <div class="grid-container mb-4">
            <div class="grid-item">
              <span class="etiqueta-formato">TOTAL
                <span class="etiqueta-totales">{{recibo.canTotal}}</span>
              </span>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
          </div>
        </div>
        <div class="row flex justify-content-between mt-7">
          <div class="card border">
            <p class="etiqueta-formato-val">AGENTE DE FUNERALES</p>
            <div class="container-card">
              <p class="mb-7 etiqueta-card">NOMBRE</p>
              <hr class="solid">
              <div class="flex justify-content-between mt-5">
                <div class="column-card etiqueta-card">MATRÍCULA</div>
                <div class="column-card etiqueta-card">FIRMA</div>
              </div>
              <div class="flex justify-content-between mt-5">
                <hr class="column-card solid">
                <hr class="column-card solid">
              </div>
            </div>
          </div>
          <div class="card border">
            <p class="etiqueta-formato-val">CONTRATANTE</p>
            <div class="container-card">
              <p class="mb-7 etiqueta-card">NOMBRE</p>
              <hr class="solid">
              <p class="mt-5 etiqueta-card">FIRMA</p>
              <hr class="solid mt-7">
            </div>
          </div>
          <div class="card border">
            <p class="etiqueta-formato-val">RECIBE</p>
            <div class="container-card">
              <p class="mb-7 etiqueta-card">NOMBRE</p>
              <hr class="solid">
              <div class="flex justify-content-between mt-5">
                <div class="column-card etiqueta-card">MATRÍCULA</div>
                <div class="column-card etiqueta-card">FIRMA</div>
              </div>
              <div class="flex justify-content-between mt-5">
                <hr class="column-card solid">
                <hr class="column-card solid">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="row flex justify-content-end mb-4">
  <button class="btn btn-default btn-md" [routerLink]="'../../'">Regresar</button>
  <button class="ml-4 btn btn-primary btn-md" (click)="generarExcel()">Exportar Excel</button>
  <button class="ml-4 btn btn-primary btn-md" (click)="generarPDF()">Exportar PDF</button>
</div>
