<app-titulo-principal titulo="Administrar panteones"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="entidadFederativa">Entidad federativa:</label>
        <p-dropdown id="entidadFederativa" class="form-control" formControlName="entidadFederativa" [options]="opciones"
          placeholder="Selecciona la entidad federativa">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="nombrePanteon">Nombre del panteón:</label>
        <p-autoComplete id="nombrePanteon" class="form-control" formControlName="nombrePanteon"
          [showEmptyMessage]="true" [suggestions]="panteonesServicioFiltrados" (completeMethod)="filtrarPanteones($event)"
          [style]="{'width':'100%'}" [minLength]="3" class="p-autocomplete" placeholder="Ingresa el nombre del panteón" field="label"
          [inputStyle]="{'width' : '100%','font-style' : 'normal','font-weight' : '400','font-size' : '14px'}"
          >
        </p-autoComplete>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="submit" class="btn btn-default btn-md" (click)="limpiarFormBusqueda();">Limpiar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5" (click)="buscarPanteon();">Buscar</button>
      </div>
    </div>
  </form>
</div>
<section class="mt-5">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Panteones</h2>
    <button type="button" class="btn btn-primary btn-lg" (click)="abrirModalAgregarPanteon()">Agregar panteón</button>
  </div>
  <p-table styleClass="mt-5 mb-8" [value]="panteones" [paginator]="panteones.length > 0"
    [rows]="cantElementosPorPagina" [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3"
    [(first)]="numPaginaActual" (onLazyLoad)="paginar($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Calle</th>
        <th>No. exterior</th>
        <th>No. interior</th>
        <th>C.P.</th>
        <th>Colonia</th>
        <th>Municipio</th>
        <th>Estado</th>
        <th>Contacto</th>
        <th>Teléfono</th>
        <th>Estatus</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-panteon>
      <tr>
        <td>{{panteon.id}}</td>
        <td>{{panteon.nombre}}</td>
        <td>{{panteon.calle}}</td>
        <td>{{panteon.numExterior}}</td>
        <td>{{panteon.numInterior}}</td>
        <td>{{panteon.cp}}</td>
        <td>{{panteon.colonia}}</td>
        <td>{{panteon.municipio}}</td>
        <td>{{panteon.estado}}</td>
        <td>{{panteon.contacto}}</td>
        <td>{{panteon.numTelefono}}</td>
        <td>
          <div class="contenedor-inputswitch">
            <p-inputSwitch
              [(ngModel)]="panteon.estatus"
              (click)="panteon.estatus = !panteon.estatus; cambiarEstatus(panteon);">
            </p-inputSwitch>
            <span class="activo" *ngIf="panteon.estatus">Activo</span>
            <span class="inactivo" *ngIf="!panteon.estatus">Inactivo</span>
          </div>
        </td>
        <td>
          <div class="contenedor-celda-iconos">
            <a (click)="abrirModalDetallePanteon(panteon)">
              <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
            </a>
            <a (click)="abrirPanel($event,panteon)">
              <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
            </a>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements">{{panteones.length}} de {{totalElementos}}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="paginator-template">
        <div class="export-table">
          <span class="export-table-text">Exportar tabla</span>
          <div class="export-table-icons">
            <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
            <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg" alt="exportar excel">
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</section>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Modificar" (click)="abrirModalModificarPanteon()"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>
