<ng-container>
  <div class="flex justify-content-center my-5">
    <div class="flex justify-content-between align-items-center">
      ¿Estás seguro de eliminar el artículo?
    </div>
  </div>
</ng-container>
<section>
  <div class="row mb-3">
    <div class="col-md-12 flex justify-content-end align-items-center">
      <button class="ml-6 btn btn-md btn-gold" (click)="cancelar()">Cancelar</button>
      <button class="ml-6 btn btn-md btn-primary" (click)="aceptar()">Aceptar</button>
    </div>
  </div>
</section>