<form [formGroup]="rechazarPagoForm">
  <div class="row mb-3 ">
    <div class="col-md-12">
      <label class="control-label">Motivo del rechazo<span class="req">*</span>:</label>
      <input class="form-control" placeholder="Ingresa el motivo">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <span class="mensaje-inferior-campo-obligatorio">  *Campos obligatorios   </span>
    </div>
  </div>
  <p class="text-center">¿Estás seguro de rechazar la solicitud de pago?</p>
</form>

<div class="row">
  <div class="col-md-12 flex justify-content-end align-items-center">
    <button class="ml-4 btn btn-danger btn-md" (click)="cancelar()">Cancelar</button>
    <button class="ml-6 btn btn-md btn-primary" [disabled]="rechazarPagoForm.invalid" (click)="cancelarPago();">
      Aceptar
    </button>
  </div>
</div>
