<ng-container [ngSwitch]="pasoRechazarPago">
  <ng-container *ngSwitchCase="CAPTURA_RECHAZAR_PAGO">
    <form [formGroup]="rechazarPagoForm">
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="control-label" for="motivoRechazo">Motivo de rechazo<span class="req">*</span>:</label>
          <input id="motivoRechazo" class="form-control" formControlName="motivoRechazo"
                 placeholder="Ingresa el motivo del rechazo" maxlength="100">
          <span class="campo-obligatorio"
                *ngIf="ref.motivoRechazo?.errors?.required && (ref.motivoRechazo?.dirty || ref.motivoRechazo?.touched)">Este campo es obligatorio *.</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <span class="mensaje-inferior-campo-obligatorio">
            *Campos obligatorios
          </span>
        </div>
      </div>
    </form>
    <div class="row mb-3">
      <div class="col-md-12 flex justify-content-end align-items-center">
        <button class="ml-4 btn btn-danger btn-md" (click)="cancelar()">Cancelar</button>
        <button class="ml-6 btn btn-md btn-primary" [disabled]="rechazarPagoForm.invalid"
                (click)="aceptarRechazo()">
          Confirmar Rechazo
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="RESUMEN_RECHAZAR_PAGO">
    <app-table-panel class="mb-3">
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="table-panel-column">
            <label class="control-label">Motivo de rechazo</label>
            <span class="font-bold">{{motivoRechazo}}</span>
          </div>
        </div>
      </div>
    </app-table-panel>
    <div class="mb-3 mt-3 row text-center">
      ¿Estás seguro de rechazar la solicitud de pago?
    </div>
    <div class="row mb-3 mt-3">
      <div class="col-md-12 flex justify-content-end align-items-center">
        <button class="ml-4 btn btn-danger btn-md" (click)="pasoRechazarPago = CAPTURA_RECHAZAR_PAGO">
          Cancelar
        </button>
        <button class="ml-6 btn btn-md btn-primary" (click)="confirmarRechazoPago();"
                *appValidaRol="['SOLICITAR_PAGO','MODIFICAR']">
          Aceptar
        </button>
      </div>
    </div>
  </ng-container>
</ng-container>
