<app-titulo-principal titulo="Renovar / consultar convenios pf"></app-titulo-principal>
<div class="row mb-3 flex justify-content-center">
  <div class="col-md-6">
    <p-steps [model]="menuStep" [activeIndex]="indice"></p-steps>
  </div>
</div>

<ng-container *ngIf="indice == 0">
  <div class="border-panel">
    <form [formGroup]="tipoConvenioForm" >
      <div class="row mb-3">
        <div class="col-md-6">
<!--          TODO: Cambiar estilos-->
          <p style="font-size:14px" >Tipo de convenio</p>
          <p-selectButton class="select-button" optionLabel="label" [options]="tipoConvenio" formControlName="tipoConvenio"></p-selectButton>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="noConvenio">No. de convenio</label>
          <input id="noConvenio" class="form-control" formControlName="noConvenio" placeholder="Ingresa el no. de convenio">
          <span class="campo-obligatorio"
                *ngIf="tcf.noConvenio?.errors?.required && (tcf.noConvenio?.dirty || tcf.noConvenio?.touched)">
                              Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="numeroContratante">No. de contratante</label>
          <input id="numeroContratante" class="form-control" formControlName="numeroContratante" placeholder="Ingresa el no. de contratante">
          <span class="campo-obligatorio"
                *ngIf="tcf.numeroContratante?.errors?.required && (tcf.numeroContratante?.dirty || tcf.numeroContratante?.touched)">
                              Campo obligatorio</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span>*Campos obligatorios</span>
        </div>
      </div>

      <div class="row mt-6">
        <div class="col-md-12 flex justify-content-end">
          <button type="submit" class="btn btn-default btn-md">Limpiar</button>
          <button type="submit" class="btn btn-danger btn-md ml-5">Buscar</button>
        </div>
      </div>



      <h2 class="subtitulo-base">Convenios plan anterior</h2>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="tipoPrevisionFuneraria">Tipo de previsión funeraria<span class="req">*</span>:</label>
          <p-dropdown id="tipoPrevisionFuneraria" class="form-control" formControlName="tipoContratacion" [options]="tipoPrevisionFuneraria"
                       placeholder="Selecciona el tipo de previsión funeraria">
          </p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="tcf.tipoPrevisionFuneraria?.errors?.required && (tcf.tipoPrevisionFuneraria?.dirty || tcf.tipoPrevisionFuneraria?.touched)">
                        Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="tipoPaquete">Tipo de paquete<span class="req">*</span>:</label>
          <p-dropdown id="tipoPaquete" class="form-control" formControlName="tipoPaquete" [options]="tipoPaquete"
                      placeholder="Selecciona el tipo de previsión funeraria">
          </p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="tcf.tipoPaquete?.errors?.required && (tcf.tipoPaquete?.dirty || tcf.tipoPaquete?.touched)">
                        Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="datosBancarios">Datos bancarios<span class="req">*</span>:</label>
          <input id="datosBancarios" class="form-control" formControlName="datosBancarios" placeholder="Ingresa los datos bancarios">
          <span class="campo-obligatorio"
                *ngIf="tcf.datosBancarios?.errors?.required && (tcf.datosBancarios?.dirty || tcf.datosBancarios?.touched)">
                              Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="costoRenovacion">Costo de renovación<span class="req">*</span>:</label>
          <input id="costoRenovacion" class="form-control" formControlName="costoRenovacion" placeholder="Ingresa costo de renocación">
          <span class="campo-obligatorio"
                *ngIf="tcf.costoRenovacion?.errors?.required && (tcf.costoRenovacion?.dirty || tcf.costoRenovacion?.touched)">
                              Campo obligatorio</span>
        </div>
      </div>
    </form>
  </div>
  <section class="mt-5">
      <p-table appActivarUltimaCeldaSticky styleClass="mt-5 mb-8" [value]="convenios"
               [paginator]="convenios.length > 0"
               [rows]="cantElementosPorPagina"
               [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual"
               (onLazyLoad)="paginar($event)">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Folio de Convenio</th>
            <th scope="col">RFC</th>
            <th scope="col">Número de INE</th>
            <th scope="col">Matrícula IMSS</th>
            <th scope="col">Nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Tipo de previsión funeraria</th>
            <th scope="col">Tipo de paquete</th>
            <th scope="col">Estatus del convenio</th>
            <th scope="col">Cuota de recuperación</th>
            <th scope="col">Fecha Inicio de Vigencia</th>
            <th scope="col">Fecha FIn de Vigencia</th>
            <th scope="col">Dirección calle</th>
            <th scope="col">Número exterior</th>
            <th scope="col">Número interior</th>
            <th scope="col">CP</th>
            <th scope="col">Estado</th>
            <th scope="col">Municipio</th>
            <th scope="col">Teléfono contacto</th>
            <th scope="col">Correo electrónico</th>
            <th scope="col">Beneficiarios</th>
            <th scope="col"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-convenios>
          <tr>
            <td> {{convenios?.folioConvenio}} </td>
            <td> {{convenios?.rfc}} </td>
            <td> {{convenios?.numeroINE}} </td>
            <td> {{convenios?.matriculaIMSS}} </td>
            <td> {{convenios?.nombre}} </td>
            <td> {{convenios?.primerApellido}} </td>
            <td> {{convenios?.segundoApellido}} </td>
            <td> {{convenios?.descTipoPF}} </td>
            <td> {{convenios?.descTipoPaquete}} </td>
            <td> {{convenios?.estatusConvenio}} </td>
            <td> {{convenios?.cuotaRecuperacion}} </td>
            <td> {{convenios?.fechaInicioVigencia}} </td>
            <td> {{convenios?.fechaFinVigencia}} </td>
            <td> {{convenios?.calle}} </td>
            <td> {{convenios.numeroExterior}} </td>
            <td> {{convenios?.numeroInterior}} </td>
            <td> {{convenios?.cp}} </td>
            <td> {{convenios?.descEstado}} </td>
            <td> {{convenios?.municipio}} </td>
            <td> {{convenios?.telefonoContacto}} </td>
            <td> {{convenios?.correoElectronico}} </td>
            <td> {{convenios?.beneficiarios}} </td>
            <td>
              <div [appEstilosCeldaSticky]="{display:'grid',gridTemplateColumns:'100px 80px'}">
                <div class="contenedor-celda-iconos">
                  <a >
                    <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
                  </a>
                  <a (click)="abrirPanel($event,convenios)">
                    <img
                      src="assets/images/imagen-icono-barras-horizontales.svg"
                      alt="icono barras horizontales">
                  </a>
                </div>
              </div>
            </td>

          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <div class="paginator-template">
            <span class="total-elements">{{convenios.length}} de {{totalElementos}}</span>
          </div>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <div class="paginator-template">
            <div class="export-table">
              <span class="export-table-text">Exportar tabla</span>
              <div class="export-table-icons">
                <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
                <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg"
                     alt="exportar excel">
              </div>
            </div>
          </div>
        </ng-template>
      </p-table>
  </section>
</ng-container>
<ng-container *ngIf="indice == 1">
  <div class="border-panel">
    <form [formGroup]="documentacionForm">
      <app-table-panel>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="ineAfiliado" formControlName="ineAfiliado" styleClass="mr-3" [binary]="true"></p-checkbox>
              <label [for]="'ineAfiliado'" class="control-label"><strong>INE del afiliado *</strong></label>
            </div>
          </div>
        </div>

        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="copiaCURP" formControlName="copiaCURP" styleClass="mr-3" [binary]="true"></p-checkbox>
              <label [for]="'copiaCURP'" class="control-label"><strong>Copia CURP *</strong></label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="copiaRFC" formControlName="copiaRFC" styleClass="mr-3" [binary]="true"></p-checkbox>
              <label [for]="'copiaRFC'" class="control-label"><strong>Copia RFC *</strong></label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="convenioAnterior" formControlName="convenioAnterior" styleClass="mr-3" [binary]="true"></p-checkbox>
              <label [for]="'convenioAnterior'" class="control-label"><strong>Convenio Anterior *</strong></label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="copiaActaNacimiento" formControlName="copiaActaNacimiento" styleClass="mr-3" [binary]="true"></p-checkbox>
              <label [for]="'copiaActaNacimiento'" class="control-label">
                <strong>Copia acta de nacimiento del beneficiario si es menor de edad *</strong>
              </label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="copiaINE" formControlName="copiaINE" styleClass="mr-3" [binary]="true"></p-checkbox>
              <label [for]="'copiaINE'" class="control-label"><strong>Copias del INE del beneficiario si es mayor de edad *</strong></label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="comprobanteEstudios" formControlName="comprobanteEstudios" styleClass="mr-3" [binary]="true"></p-checkbox>
              <label [for]="'comprobanteEstudios'" class="control-label">
                <strong>Comprobante de estudios del beneficiario si es mayor de 18 años y estudia *</strong>
              </label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="actaMatrimonio" formControlName="actaMatrimonio" styleClass="mr-3" [binary]="true"></p-checkbox>
              <label [for]="'actaMatrimonio'" class="control-label"><strong>Acta de matrimonio *</strong></label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="declaracionConcubinato" formControlName="declaracionConcubinato" styleClass="mr-3" [binary]="true"></p-checkbox>
              <label [for]="'declaracionConcubinato'" class="control-label"><strong>Declaración de concubinato *</strong></label>
            </div>
          </div>
        </div>
      </app-table-panel>
    </form>
    <div class="row">
      <div class="col-md-12">
      <span class="etiqueta-base">
        *Campos obligatorios
      </span>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="indice == menuStep.length">
<!--  TODO: Verificar pantalla de confirmación-->
</ng-container>

<div class="row my-6">
  <div class="col-md-12 flex justify-content-end">
    <button type="submit" *ngIf="indice > 0" class="btn btn-default btn-md ml-5" (click)="regresar()">Regresar</button>
    <button type="submit" class="btn btn-danger btn-md ml-5">Cancelar</button>
    <button type="submit" *ngIf="indice < menuStep.length" class="btn btn-primary btn-md ml-5" (click)="siguiente()">Siguiente</button>
  </div>
</div>
<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Modificar beneficiarios"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>
