<app-titulo-principal titulo="Renovar / consultar convenios pf"></app-titulo-principal>
<div class="row mb-3 flex justify-content-center">
  <div class="col-md-6">
    <p-steps [model]="menuStep" [activeIndex]="indice"></p-steps>
  </div>
</div>

<ng-container *ngIf="indice == 0">
  <div class="border-panel">
    <form [formGroup]="busquedaTipoConvenioForm">
      <div class="row mb-3">
        <div class="col-md-6">
          <p style="font-size:14px">Tipo de convenio:</p>
          <div class="flex">
            <div class="flex align-items-center mx-2">
              <p-radioButton id="planAnterior" name="tipoConvenio" [value]="true" formControlName="tipoConvenio"
                inputId="convenioPlanAnterior"></p-radioButton>
              <label class="control-label m-0 mx-3" [for]="'tipoConvenio'">Convenio Plan Anterior</label>
            </div>
            <div class="flex align-items-center mx-2">
              <p-radioButton id="planNuevo" name="tipoConvenio" [value]="false" formControlName="tipoConvenio"
                inputId="convenioPlanNuevo"></p-radioButton>
              <label class="control-label m-0 mx-3" [for]="'tipoConvenio'">Convenio Plan Nuevo</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="numConvenio">Número de Convenio:</label>
          <input id="numConvenio" class="form-control" formControlName="numConvenio" placeholder="Ingresa número">
          <span class="campo-obligatorio"
            *ngIf="btcf.numConvenio.errors?.required && (btcf.numConvenio.dirty || btcf.numConvenio.touched)">
            Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="nombreContratante">Nombre de contratante:</label>
          <input id="nombreContratante" class="form-control" formControlName="nombreContratante"
            placeholder="Ingresa nombre">
          <span class="campo-obligatorio"
            *ngIf="btcf.nombreContratante?.errors?.required && (btcf.nombreContratante?.dirty || btcf.nombreContratante?.touched)">
            Campo obligatorio</span>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-md-12 flex justify-content-end">
          <button type="submit" class="btn btn-default btn-md">Limpiar</button>
          <button type="submit" class="btn btn-primary btn-md ml-5">Buscar</button>
        </div>
      </div>
    </form>

    <form [formGroup]="resultadoBusquedaForm">
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="tipoPrevisionFuneraria">Tipo de previsión funeraria:</label>
          <input id="tipoPrevisionFuneraria" class="form-control" formControlName="tipoPrevisionFuneraria"
            placeholder="">
        </div>
        <div class="col-md-6">
          <label class="control-label" for="tipoPaquete">Tipo de paquete:</label>
          <input id="tipoPaquete" class="form-control" formControlName="tipoPaquete" placeholder="">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="datosBancarios">Datos bancarios:</label>
          <input id="datosBancarios" class="form-control" formControlName="datosBancarios" placeholder="">
        </div>
        <div class="col-md-6">
          <label class="control-label" for="costoRenovacion">Costo de renovación:</label>
          <input id="costoRenovacion" class="form-control" formControlName="costoRenovacion" placeholder="">
        </div>
      </div>
    </form>
  </div>

  <div class="border-panel mt-5">
    <div class="row table-panel-row">
      <div class="col-md-3">
        <div class="table-panel-column">
          <span>Folio de Convenio:</span>
          <label>{{convenio.folioConvenio}}</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-panel-column">
          <span>RFC:</span>
          <label>{{convenio.rfc}}</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-panel-column">
          <span>Numero INE:</span>
          <label>{{convenio.numeroINE}}</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-panel-column">
          <span>Matricula IMSS:</span>
          <label>{{convenio.matriculaIMSS}}</label>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-2">
        <div class="table-panel-column">
          <span>Fecha inicio de vigencia:</span>
          <label>{{convenio.fechaInicioVigencia}}</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="table-panel-column">
          <span>Fecha fin de vigencia:</span>
          <label>{{convenio.fechaFinVigencia}}</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="table-panel-column">
          <span>Nombre:</span>
          <label>{{convenio.nombre}}</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-panel-column">
          <span>Primer apellido:</span>
          <label>{{convenio.primerApellido}}</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-panel-column">
          <span>Segundo apellido:</span>
          <label>{{convenio.segundoApellido}}</label>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-3">
        <div class="table-panel-column">
          <span>Tipo de previsión funeraria:</span>
          <label>{{convenio.tipoPF}}</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-panel-column">
          <span>Tipo de paquete:</span>
          <label>{{convenio.tipoPaquete}}</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-panel-column">
          <span>Estatus de convenio:</span>
          <label>{{convenio.estatusConvenio}}</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-panel-column">
          <span>Cuota de recuperación:</span>
          <label>{{convenio.cuotaRecuperacion}}</label>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-2">
        <div class="table-panel-column">
          <span>CP:</span>
          <label>{{convenio.cp}}</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="table-panel-column">
          <span>Calle:</span>
          <label>{{convenio.calle}}</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="table-panel-column">
          <span>Número exterior:</span>
          <label>{{convenio.numeroExterior}}</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="table-panel-column">
          <span>Número interior:</span>
          <label>{{convenio.numeroInterior}}</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="table-panel-column">
          <span>Estado:</span>
          <label>{{convenio.descEstado}}</label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="table-panel-column">
          <span>Municipio:</span>
          <label>{{convenio.municipio}}</label>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-3">
        <div class="table-panel-column">
          <span>Teléfono de contacto:</span>
          <label>{{convenio.telefonoContacto}}</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-panel-column">
          <span>Correo electrónico:</span>
          <label>{{convenio.correoElectronico}}</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="table-panel-column">
          <span>Beneficiarios:</span>
          <label>{{convenio.beneficiarios}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3 mt-5 row text-center">
    ¿Deseas modificar a tus beneficiarios?
  </div>
</ng-container>

<ng-container *ngIf="indice == 1">
  <div class="border-panel">
    <form [formGroup]="documentacionForm">

      <p-accordion styleClass="sivimss-accordion">
        <p-accordionTab>
          <ng-template pTemplate="header">
            <span>Convenio &nbsp;</span><b>OK</b>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="row">
              <div class="col-md-3">
                <div class="table-panel-column">
                  <label>Tipo previsión funeraria:</label>
                  <span>{{convenio.tipoPF}}</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="table-panel-column">
                  <label>Tipo de paquete:</label>
                  <span>{{convenio.tipoPaquete}}</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="table-panel-column">
                  <label>Datos bancarios:</label>
                  <span>{{convenio.datosBancarios}}</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="table-panel-column">
                  <label>Cuota de recuperación:</label>
                  <span>{{convenio.cuotaRecuperacion}}</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <div class="table-panel-column">
                  <label>Nombre del asegurado:</label>
                  <span>{{convenio.nombre}}</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="table-panel-column">
                  <label>Primer apellido del asegurado:</label>
                  <span>{{convenio.primerApellido}}</span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="table-panel-column">
                  <label>Segundo apellido del asegurado:</label>
                  <span>{{convenio.segundoApellido}}</span>
                </div>
              </div>
              <div class="col-md-2">
                <div class="table-panel-column">
                  <label>Velatorio:</label>
                  <span>{{convenio.velatorio}}</span>
                </div>
              </div>
              <div class="col-md-2">
                <div class="table-panel-column">
                  <label>Fecha:</label>
                  <span>{{convenio.fecha}}</span>
                </div>
              </div>
            </div>
          </ng-template>
        </p-accordionTab>
      </p-accordion>

      <app-table-panel>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="ineAfiliado" formControlName="ineAfiliado" styleClass="mr-3"
                [binary]="true"></p-checkbox>
              <label [for]="'ineAfiliado'" class="control-label"><strong>INE del afiliado</strong></label>
            </div>
          </div>
        </div>

        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="copiaCURP" formControlName="copiaCURP" styleClass="mr-3"
                [binary]="true"></p-checkbox>
              <label [for]="'copiaCURP'" class="control-label"><strong>Copia CURP</strong></label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="copiaRFC" formControlName="copiaRFC" styleClass="mr-3" [binary]="true"></p-checkbox>
              <label [for]="'copiaRFC'" class="control-label"><strong>Copia RFC</strong></label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="convenioAnterior" formControlName="convenioAnterior" styleClass="mr-3"
                [binary]="true"></p-checkbox>
              <label [for]="'convenioAnterior'" class="control-label"><strong>Convenio Anterior</strong></label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="copiaActaNacimiento" formControlName="copiaActaNacimiento" styleClass="mr-3"
                [binary]="true"></p-checkbox>
              <label [for]="'copiaActaNacimiento'" class="control-label">
                <strong>Copia acta de nacimiento del beneficiario si es menor de edad</strong>
              </label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="copiaINE" formControlName="copiaINE" styleClass="mr-3" [binary]="true"></p-checkbox>
              <label [for]="'copiaINE'" class="control-label"><strong>Copias del INE del beneficiario si es mayor de
                  edad</strong></label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="comprobanteEstudios" formControlName="comprobanteEstudios" styleClass="mr-3"
                [binary]="true"></p-checkbox>
              <label [for]="'comprobanteEstudios'" class="control-label">
                <strong>Comprobante de estudios del beneficiario si es mayor de 18 años y estudia</strong>
              </label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="actaMatrimonio" formControlName="actaMatrimonio" styleClass="mr-3"
                [binary]="true"></p-checkbox>
              <label [for]="'actaMatrimonio'" class="control-label"><strong>Acta de matrimonio (Beneficiario
                  Espos@)</strong></label>
            </div>
          </div>
        </div>
        <div class="row p-3 table-panel-row">
          <div class="col-md-12">
            <div class="flex">
              <p-checkbox inputId="declaracionConcubinato" formControlName="declaracionConcubinato" styleClass="mr-3"
                [binary]="true"></p-checkbox>
              <label [for]="'declaracionConcubinato'" class="control-label"><strong>Declaración de concubinato
                </strong></label>
            </div>
          </div>
        </div>
      </app-table-panel>
    </form>
    <!-- <div class="row">
      <div class="col-md-12">
        <span class="etiqueta-base">
          *Campos obligatorios
        </span>
      </div>
    </div> -->
  </div>
</ng-container>

<ng-container *ngIf="indice == menuStep.length">
  <!--  TODO: Verificar pantalla de confirmación-->
</ng-container>

<div class="row my-6">
  <div class="col-md-12 flex justify-content-end">
    <!-- <button type="submit" *ngIf="indice > 0" class="btn btn-default btn-md ml-5" (click)="regresar()">Regresar</button> -->
    <button type="submit" class="btn btn-danger btn-md ml-5">Cancelar</button>
    <button type="submit" *ngIf="indice < (menuStep.length - 1)" class="btn btn-primary btn-md ml-5"
      (click)="siguiente()">Siguiente</button>
    <button type="submit" *ngIf="indice === 1" class="btn btn-primary btn-md ml-5">Guardar</button>
  </div>
</div>
<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Modificar beneficiarios"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>