<app-table-panel>
  <ng-template appCustomTemplate="left-header">
    <div class="table-panel-header-column">
      <span class="ml-2 font-bold">Folio de la factura DOC-000001</span>
    </div>
  </ng-template>
  <ng-template appCustomTemplate="right-header">
    <div class="table-panel-header-column">
      <div class="flex flex-column">
        <span>Estatus</span>
        <div class="contenedor-inputswitch">
          <span class="activo">Activo</span>
        </div>
      </div>
    </div>
  </ng-template>
  <div class="row table-panel-row">
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>Velatorio</label>
        <span>No. 14 San Luis Potosí y CD Valles</span>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row table-panel-row">
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>Folio fiscal</label>
        <span>DOC-000001</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>Fecha de factura</label>
        <span>DOC-000001</span>
      </div>
    </div>
  </div>
  <div class="row table-panel-row">
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>RFC</label>
        <span>SERIM081070HDFNCD00</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-panel-column">
        <label>Razón social</label>
        <span>00000000000</span>
      </div>
    </div>
  </div>
</app-table-panel>
<div class="flex justify-content-end mt-4 mb-3">
  <button class="ml-4 btn btn-primary btn-md">
    Aceptar
  </button>
</div>
