<div class="grid">
  <app-btn-regresar class="mr-2 mt-5 col-fixed border-return-button" [routerLink]="['../']"></app-btn-regresar>
  <app-titulo-principal titulo="Cancelar plan sfpa" class="col"></app-titulo-principal>
</div>

<app-table-panel class="mb-3 block">
  <div class="row table-panel-row">
    <div class="col-md-12">
      <div class="table-panel-column flex-row">
        <span class="text-4xl">Convenio</span>
        <span class="text-3xl font-bold inline-block ml-4">{{numConvenio}}</span>
      </div>
    </div>
  </div>
  <div class="row table-panel-row">
    <div class="col-md-3">
      <div class="table-panel-column">
        <label>Velatorio</label>
        <span>{{dirVelatorio}}</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="table-panel-column">
        <label>Fecha</label>
        <span>{{fecha}}</span>
      </div>
    </div>
  </div>
</app-table-panel>

<!--Esta es la tabla de detalles al confirmar-->
<ng-container *ngIf="true">
  <div class="row table-panel-row">
    <div class="col-md-12">
      <div class="table-panel-column flex-row align-items-center">
        <label class="mb-0">Tipo de contratación</label>
        <span class="inline-block ml-3">Por persona</span>
      </div>
    </div>
  </div>
  <p-accordion styleClass="sivimss-accordion">
    <p-accordionTab>
      <ng-template pTemplate="header">Datos del titular</ng-template>
      <ng-template pTemplate="content">
        <app-table-panel class="mb-6">
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>CURP:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>RFC:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Matrícula:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>NSS:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Nombre(s):</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Primer apellido:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Segundo apellido:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Fecha de nacimiento:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Sexo:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Nacionalidad:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Lugar de nacimiento:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Teléfono celular:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Teléfono:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Correo electrónico:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Calle:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Número exterior:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Número interior:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>C.P:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Colonia:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Municipio:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Estado:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Tipo de paquete</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>No. de pagos</label>
                <span></span>
              </div>
            </div>
          </div>
        </app-table-panel>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">Datos del titular substituto</ng-template>
      <ng-template pTemplate="content">
        <app-table-panel class="mb-6">
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>CURP:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>RFC:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Matrícula:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>NSS:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Nombre(s):</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Primer apellido:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Segundo apellido:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Fecha de nacimiento:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Sexo:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Nacionalidad:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Lugar de nacimiento:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Teléfono:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Correo electrónico:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Calle:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Número exterior:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Número interior:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>C.P:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Colonia:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Municipio:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Estado:</label>
                <span></span>
              </div>
            </div>
          </div>
        </app-table-panel>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">Datos Beneficiario 1</ng-template>
      <ng-template pTemplate="content">
        <app-table-panel class="mb-6">
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>CURP:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>RFC:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Matrícula:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>NSS:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Nombre(s):</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Primer apellido:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Segundo apellido:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Fecha de nacimiento:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Sexo:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Nacionalidad:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Lugar de nacimiento:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Teléfono:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Correo electrónico:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Calle:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Número exterior:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Número interior:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>C.P:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Colonia:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Municipio:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Estado:</label>
                <span></span>
              </div>
            </div>
          </div>
        </app-table-panel>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">Datos Beneficiario 2</ng-template>
      <ng-template pTemplate="content">
        <app-table-panel class="mb-6">
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>CURP:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>RFC:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Matrícula:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>NSS:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Nombre(s):</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Primer apellido:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Segundo apellido:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Fecha de nacimiento:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Sexo:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Nacionalidad:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Lugar de nacimiento:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Teléfono:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Correo electrónico:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Calle:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Número exterior:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Número interior:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>C.P:</label>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Colonia:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Municipio:</label>
                <span></span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Estado:</label>
                <span></span>
              </div>
            </div>
          </div>
        </app-table-panel>
      </ng-template>
    </p-accordionTab>
  </p-accordion>

  <!-- <div class="border-panel mb-5">
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">¿El servicio fue gestionado por un promotor?</label>
            <div class="flex">
                <div class="flex align-items-center mx-2">
                    <p-radioButton [inputId]="'promotorSi'" name="gestionadoPorPromotor" [value]="true" [disabled]="true">
                    </p-radioButton>
                    <label class="control-label m-0 mx-3" [for]="'promotorSi'">Sí</label>
                </div>
                <div class="flex align-items-center mx-2">
                    <p-radioButton [inputId]="'promotorNo'" name="gestionadoPorPromotor" [value]="false" [disabled]="true">
                    </p-radioButton>
                    <label class="control-label m-0 mx-3" [for]="'promotorNo'">No</label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label class="control-label" for="promotor">Promotor:</label>
        </div>
    </div>
</div> -->

  <div class="flex justify-content-center">
    <div class="col-md-6">
      <p class="text-center">¿Estás seguro de cancelar este Plan de Servicios Funerarios Pago Anticipado del convenio con folio  ?</p>
    </div>
  </div>
</ng-container>

<div class="flex justify-content-end mb-3">
  <button class="ml-4 btn btn-danger btn-md" (click)="cancelar()">Cancelar</button>
  <button class="ml-4 btn btn-primary btn-md" (click)="aceptar()">
    Aceptar
  </button>
</div>
