.total-table-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #484848;
    padding: 0px 0px;
    justify-content: center;
}

#total {
    width: 260px;
    height: 30px;
}