<app-titulo-principal titulo="Administrar velatorios"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm" (submit)="buscar()">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel:</label>
        <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="niveles"
                    placeholder="Selecciona nivel">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorios:</label>
        <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="velatorios"
                    placeholder="Selecciona velatorio">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="velatorioEspecifico">Velatorio Especifico:</label>
        <input id="velatorioEspecifico" class="form-control" formControlName="velatorioEspecifico"
               placeholder="Ingresa nombre del servicio">
      </div>
      <div class="col-md-6"></div>
    </div>
    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="button" class="btn btn-default btn-md" (click)="limpiarFiltros()">Limpiar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5">Buscar</button>
      </div>
    </div>
  </form>
</div>
<section class="mt-5">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Lista de velatorios</h2>
    <button type="button" class="btn btn-primary btn-lg" (click)="abrirModalCreacionVelatorio()"
            *appValidaRol="['VELATORIOS','AGREGAR']" onCloseOnNavigation>
      Agregar velatorio
    </button>
  </div>
  <p-table styleClass="mt-5 mb-8" [value]="listaVelatorios" [paginator]="listaVelatorios.length > 0"
           [rows]="cantElementosPorPagina" [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3"
           [(first)]="numPaginaActual" [resizableColumns]="true" (onLazyLoad)="seleccionarPaginacion($event)"
           appActivarUltimaCeldaSticky>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Administrador</th>
        <th>Responsable sanitario</th>
        <th>Salas Cremación</th>
        <th>Salas Embalsamamiento</th>
        <th>Capillas de velación</th>
        <th>Asignación</th>
        <th>Dirección calle</th>
        <th>Número exterior</th>
        <th>Código postal</th>
        <th>Colonia</th>
        <th>Municipio</th>
        <th>Estado</th>
        <th>Teléfono</th>
        <th>Estatus</th>
        <th *appValidaRol="['VELATORIOS','MODIFICAR']"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-velatorio>
      <tr>
        <td>{{ velatorio.idVelatorio }}</td>
        <td>{{ velatorio.nomVelatorio }}</td>
        <td>{{ velatorio.administrador }}</td>
        <td>{{ velatorio.nomRespoSanitario}}</td>
        <td>{{ velatorio.salasCremacion}}</td>
        <td>{{ velatorio.salasEmbalsamamiento}}</td>
        <td>{{ velatorio.capillas}}</td>
        <td>{{ velatorio.cveAsignacion}}</td>
        <td>{{ velatorio.desCalle}}</td>
        <td>{{velatorio.numExterior}}</td>
        <td>{{velatorio.cveCp}}</td>
        <td>{{velatorio.desColonia}}</td>
        <td>{{velatorio.desMunicipio}}</td>
        <td>{{velatorio.desEstado}}</td>
        <td>{{velatorio.numTelefono}}</td>
        <td>
          <div class="contenedor-inputswitch">
            <p-inputSwitch [(ngModel)]="velatorio.estatus" [disabled]="true"></p-inputSwitch>
            <span class="activo" *ngIf="velatorio.estatus">Activo</span>
            <span class="inactivo" *ngIf="!velatorio.estatus">Inactivo</span>
          </div>
        </td>
        <td *appValidaRol="['VELATORIOS','MODIFICAR']">
          <div class="contenedor-celda-iconos">
            <a (click)="abrirPanel($event,velatorio)">
              <img src="assets/images/imagen-icono-barras-horizontales.svg"
                   alt="icono barras horizontales">
            </a>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="17" class="text-center font-bold text-xl">
          No hay elementos que coincidan con los parámetros seleccionados
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements">{{listaVelatorios.length}} de {{totalElementos}}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="paginator-template">
        <div class="export-table" *appValidaRol="['VELATORIOS','IMPRIMIR']">
          <span class="export-table-text">Exportar tabla</span>
          <div class="export-table-icons">
            <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
            <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg" alt="exportar excel">
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</section>
<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion
        titulo="Modificar" (click)="abrirModalModificacionVelatorio()" onCloseOnNavigation>
      </app-overlay-panel-opcion>
      <app-overlay-panel-opcion
        [titulo]="titulo" (click)="abrirModalActivarVelatorio()" onCloseOnNavigation>
      </app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>
