<div class="grid">
  <app-btn-regresar class="mr-2 mt-5 col-fixed border-return-button" [routerLink]="['../']"></app-btn-regresar>
  <app-titulo-principal titulo="Agregar Nuevo Plan SFPA" class="col"></app-titulo-principal>
</div>
<div class="row mb-3">
  <div class="col-md-3">
    <label class="control-label" for="tipoContratacion">Tipo de contratación<span class="req">*</span>:</label>
    <p-dropdown #dd id="tipoContratacion" class="form-control" placeholder="Selecciona el estatus"
                [options]="tipoContratacion" [optionValue]="'1'" [disabled]="true"></p-dropdown>
  </div>
</div>
<p-accordion styleClass="sivimss-accordion">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center w-full">
        <span>Datos del titular</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="datosTitularForm">
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="curp">CURP<span class="req">*</span>:</label>
            <input id="curp" class="form-control" formControlName="curp" placeholder="Ingresa el CURP"
                   onInput="this.value = this.value.toUpperCase()" (blur)="consultarCurp(0)" maxlength="18">
            <span class="campo-obligatorio"
                  *ngIf="fdt.curp?.errors?.required && (fdt.curp?.dirty || fdt.curp?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="rfc">R.F.C.<span class="req">*</span>:</label>
            <input id="rfc" class="form-control" formControlName="rfc" placeholder="Ingresa el R.F.C."
                   onInput="this.value = this.value.toUpperCase()" (blur)="consultarRfc(0)" maxlength="13">
            <span class="campo-obligatorio"
                  *ngIf="fdt.rfc?.errors?.required && (fdt.rfc?.dirty || fdt.rfc?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="matricula">Matrícula:</label>
            <input id="matricula" class="form-control" formControlName="matricula" placeholder="Ingresa la matrícula"
                   maxlength="10" numbersOnly (blur)="consultarMatricula(0)">
          </div>
          <div class="col-md-3">
            <label class="control-label" for="nss">NSS<span class="req">*</span>:</label>
            <input id="nss" class="form-control" formControlName="nss" placeholder="Ingresa el NSS" minlength="11"
                   maxlength="11"
                   (blur)="consultarNSS(0)">
            <span class="campo-obligatorio"
                  *ngIf="fdt.nss?.errors?.required && (fdt.nss?.dirty || fdt.nss?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="control-label" for="nombre">Nombre(s)<span class="req">*</span>:</label>
            <input id="nombre" class="form-control" formControlName="nombre" placeholder="Ingresa el nombre"
                   maxlength="30" (keyup.space)="sinEspacioDoble(0)" lettersOnly>
            <span class="campo-obligatorio"
                  *ngIf="fdt.nombre?.errors?.required && (fdt.nombre?.dirty || fdt.nombre?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="primerApellido">Primer apellido<span class="req">*</span>:</label>
            <input id="primerApellido" class="form-control" formControlName="primerApellido"
                   placeholder="Ingresa el primer apellido" maxlength="20" (keyup.space)="sinEspacioDoble(1)"
                   lettersOnly>
            <span class="campo-obligatorio"
                  *ngIf="fdt.primerApellido?.errors?.required && (fdt.primerApellido?.dirty || fdt.primerApellido?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="segundoApellido">Segundo apellido<span class="req">*</span>:</label>
            <input id="segundoApellido" class="form-control" formControlName="segundoApellido"
                   placeholder="Ingresa el segundo apellido" maxlength="20" (keyup.space)="sinEspacioDoble(2)"
                   lettersOnly>
            <span class="campo-obligatorio"
                  *ngIf="fdt.segundoApellido?.errors?.required && (fdt.segundoApellido?.dirty || fdt.segundoApellido?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label">Fecha de nacimiento<span class="req">*</span>:</label>
            <p-calendar styleClass="form-control" formControlName="fechaNacimiento" [showIcon]="true"
                        dateFormat="dd/mm/yy"
                        placeholder="Selecciona la fecha"></p-calendar>
            <span class="campo-obligatorio"
                  *ngIf="fdt.fechaNacimiento?.errors?.required && (fdt.fechaNacimiento?.dirty || fdt.fechaNacimiento?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="sexo">Sexo<span class="req">*</span>:</label>
            <p-dropdown appendTo="body" id="sexo" class="form-control" formControlName="sexo"
                        (onChange)="cambiarSexo(0)"
                        [options]="sexo" [filter]="true" filterBy="label"
                        placeholder="Selecciona el sexo">
            </p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdt.sexo?.errors?.required && (fdt.sexo?.dirty || fdt.sexo?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3" *ngIf="fdt.sexo.value == 3">
            <label class="control-label" for="otroSexoAfiliado">Otro:</label>
            <input id="otroSexoAfiliado" class="form-control" formControlName="otroSexo"
                   placeholder="Ingresa otro sexo" maxlength="45">
            <span class="campo-obligatorio"
                  *ngIf="fdt.otroSexo?.errors?.required && (fdt.otroSexo?.dirty || fdt.otroSexo?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="nacionalidad">Nacionalidad:</label>
            <p-dropdown appendTo="body" id="nacionalidad" class="form-control" formControlName="nacionalidad"
                        [options]="nacionalidad" [filter]="true" filterBy="label" (onChange)="cambiarNacionalidad(0)"
                        placeholder="Selecciona la nacionalidad">
            </p-dropdown>
          </div>
          <div class="col-md-3" *ngIf="fdt.nacionalidad.value == 2">
            <label class="control-label" for="paisNacimiento">País de nacimiento:</label>
            <p-dropdown appendTo="body" id="paisNacimiento" class="form-control" formControlName="paisNacimiento"
                        [options]="paises" [filter]="true" filterBy="label"
                        placeholder="Selecciona el país de nacimiento">
            </p-dropdown>
          </div>
          <div class="col-md-3" *ngIf="fdt.nacionalidad.value == 1">
            <label class="control-label" for="lugarNacimiento">Lugar de nacimiento<span class="req">*</span>:</label>
            <p-dropdown appendTo="body" id="lugarNacimiento" class="form-control" formControlName="lugarNacimiento"
                        [options]="estados" [filter]="true" filterBy="label"
                        placeholder="Selecciona el lugar de nacimiento">
            </p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdt.lugarNacimiento?.errors?.required && (fdt.lugarNacimiento?.dirty || fdt.lugarNacimiento?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="telefonoCelular">Teléfono celular<span class="req">*</span>:</label>
            <input id="telefonoCelular" class="form-control" formControlName="telefono" numbersOnly maxlength="10"
                   placeholder="Ingresa teléfono celular">
            <span class="campo-obligatorio"
                  *ngIf="fdt.telefono?.errors?.required && (fdt.telefono?.dirty || fdt.telefono?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="telefonoFijo">Teléfono fijo<span class="req">*</span>:</label>
            <input id="telefonoFijo" class="form-control" formControlName="telefonoFijo" numbersOnly maxlength="10"
                   placeholder="Ingresa teléfono fijo">
            <span class="campo-obligatorio"
                  *ngIf="fdt.telefonoFijo?.errors?.required && (fdt.telefonoFijo?.dirty || fdt.telefonoFijo?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="correoElectronico">Correo electrónico<span
              class="req">*</span>:</label>
            <input id="correoElectronico" class="form-control" formControlName="correoElectronico"
                   placeholder="Ingresa el correo electrónico" onInput="this.value = this.value.toLowerCase()"
                   (blur)="consultarCorreo(0)">
            <span class="campo-obligatorio"
                  *ngIf="fdt.correoElectronico?.errors?.required && (fdt.correoElectronico?.dirty || fdt.correoElectronico?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <hr class="separador">
        <div class="row mb-3">

          <div class="col-md-3">
            <label class="control-label" for="calle">Calle<span class="req">*</span>:</label>
            <input id="calle" class="form-control" formControlName="calle" placeholder="Ingresa la calle"
                   maxlength="30">
            <span class="campo-obligatorio"
                  *ngIf="fdt.calle?.errors?.required && (fdt.calle?.dirty || fdt.calle?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="numeroExterior">Número exterior<span class="req">*</span>:</label>
            <input id="numeroExterior" class="form-control" formControlName="numeroExterior"
                   placeholder="Ingresa el número exterior" alphanumericOnly maxlength="10">
            <span class="campo-obligatorio"
                  *ngIf="fdt.numeroExterior?.errors?.required && (fdt.numeroExterior?.dirty || fdt.numeroExterior?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="numeroInterior">Número interior:</label>
            <input id="numeroInterior" class="form-control" formControlName="numeroInterior"
                   placeholder="Ingresa el número interior" alphanumericOnly maxlength="10">
          </div>
          <div class="col-md-3">
            <label class="control-label" for="cp">C.P.<span class="req">*</span>:</label>
            <input id="cp" class="form-control" formControlName="cp" placeholder="Ingresa el C.P." maxlength="5"
                   numbersOnly (blur)="consultarCodigoPostal(0)">
            <span class="campo-obligatorio"
                  *ngIf="fdt.cp?.errors?.required && (fdt.cp?.dirty || fdt.cp?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="control-label" for="colonia">Colonia<span class="req">*</span>:</label>
            <p-dropdown id="colonia" class="form-control" formControlName="colonia" placeholder="Ingresa la colonia"
                        [options]="colonias[0]" [filter]="true" filterBy="label"></p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdt.colonia?.errors?.required && (fdt.colonia?.dirty || fdt.colonia?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="municipio">Municipio<span class="req">*</span>:</label>
            <input id="municipio" class="form-control" formControlName="municipio" placeholder="Ingresa el municipio">
            <span class="campo-obligatorio"
                  *ngIf="fdt.municipio?.errors?.required && (fdt.municipio?.dirty || fdt.municipio?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="estado">Estado<span class="req">*</span>:</label>
            <input id="estado" class="form-control" formControlName="estado" placeholder="Ingresa el estado">
            <span class="campo-obligatorio"
                  *ngIf="fdt.estado?.errors?.required && (fdt.estado?.dirty || fdt.estado?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <hr class="separador">
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="tipoPaquete">Tipo de paquete<span class="req">*</span>:</label>
            <p-dropdown appendTo="body" id="tipoPaquete" class="form-control" formControlName="tipoPaquete"
                        [options]="tipoPaquete" [filter]="true" filterBy="label"
                        (onChange)="mostrarInfoPaqueteSeleccionado()" placeholder="Selecciona el tipo de paquete">
            </p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdt.tipoPaquete?.errors?.required && (fdt.tipoPaquete?.dirty || fdt.tipoPaquete?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="numeroPago">Número de pagos<span class="req">*</span>:</label>
            <p-dropdown appendTo="body" id="numeroPago" class="form-control" formControlName="numeroPago"
                        [options]="numeroPago"
                        placeholder="Selecciona el número de pagos">
            </p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdt.numeroPago?.errors?.required && (fdt.numeroPago?.dirty || fdt.numeroPago?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <span>*Campos obligatorios</span>
          </div>
        </div>
      </form>
    </ng-template>
  </p-accordionTab>
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center w-full">
        <span>Datos del titular substituto</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="datosTitularSubstitutoForm">
        <div class="row mb-3">
          <div class="col-md-12">
            <span class="text-center control-label">¿Son los mismos datos del titular?</span>
            <div class="flex mt-2">
              <div class="flex align-items-center mx-2">
                <p-radioButton [inputId]="'si'" name="datosIguales" [value]="true"
                               (click)="datosIguales(true)" formControlName="datosIguales"></p-radioButton>
                <label class="control-label m-0 mx-3" [for]="'si'">Si</label>
              </div>
              <div class="flex align-items-center mx-2">
                <p-radioButton [inputId]="'no'" name="datosIguales" [value]="false"
                               (click)="datosIguales(false)" formControlName="datosIguales"></p-radioButton>
                <label class="control-label m-0 mx-3" [for]="'no'">No</label>
              </div>
            </div>
          </div>
        </div>
        <hr class="separador">
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="curpContratante">CURP<span class="req">*</span>:</label>
            <input id="curpContratante" class="form-control" formControlName="curp" placeholder="Ingresa el CURP"
                   onInput="this.value = this.value.toUpperCase()" (blur)="consultarCurp(1)" maxlength="18">
            <span class="campo-obligatorio"
                  *ngIf="fdts.curp?.errors?.required && (fdts.curp?.dirty || fdts.curp?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="rfcContratante">R.F.C.<span class="req">*</span>:</label>
            <input id="rfcContratante" class="form-control" formControlName="rfc" placeholder="Ingresa el R.F.C."
                   onInput="this.value = this.value.toUpperCase()" (blur)="consultarRfc(1)" maxlength="13">
            <span class="campo-obligatorio"
                  *ngIf="fdts.rfc?.errors?.required && (fdts.rfc?.dirty || fdts.rfc?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="matriculaContratante">Matrícula:</label>
            <input id="matriculaContratante" class="form-control" formControlName="matricula"
                   placeholder="Ingresa la matrícula" maxlength="10" numbersOnly (blur)="consultarMatricula(1)">
          </div>
          <div class="col-md-3">
            <label class="control-label" for="nssContratante">NSS<span class="req">*</span>:</label>
            <input id="nssContratante" class="form-control" formControlName="nss" placeholder="Ingresa el NSS"
                   minlength="11" maxlength="11" (blur)="consultarNSS(1)">
            <span class="campo-obligatorio"
                  *ngIf="fdts.nss?.errors?.required && (fdts.nss?.dirty || fdts.nss?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="nombreContratante">Nombre(s)<span class="req">*</span>:</label>
            <input id="nombreContratante" class="form-control" formControlName="nombre"
                   placeholder="Ingresa el nombre" maxlength="30" (keyup.space)="sinEspacioDoble(3)" lettersOnly>
            <span class="campo-obligatorio"
                  *ngIf="fdts.nombre?.errors?.required && (fdts.nombre?.dirty || fdts.nombre?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="primerApellidoContratante">Primer apellido<span
              class="req">*</span>:</label>
            <input id="primerApellidoContratante" class="form-control" formControlName="primerApellido"
                   placeholder="Ingresa el primer apellido" maxlength="20" (keyup.space)="sinEspacioDoble(4)"
                   lettersOnly>
            <span class="campo-obligatorio"
                  *ngIf="fdts.primerApellido?.errors?.required && (fdts.primerApellido?.dirty || fdts.primerApellido?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="segundoApellidoContratante">Segundo apellido<span
              class="req">*</span>:</label>
            <input id="segundoApellidoContratante" class="form-control" formControlName="segundoApellido"
                   placeholder="Ingresa el segundo apellido" maxlength="20" (keyup.space)="sinEspacioDoble(5)"
                   lettersOnly>
            <span class="campo-obligatorio"
                  *ngIf="fdts.segundoApellido?.errors?.required && (fdts.segundoApellido?.dirty || fdts.segundoApellido?.touched)">Este campo es obligatorio *.</span>
          </div>

        </div>

        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label">Fecha de nacimiento<span class="req">*</span>:</label>
            <p-calendar styleClass="form-control" formControlName="fechaNacimiento" [showIcon]="true"
                        dateFormat="dd/mm/yy"
                        placeholder="Selecciona la fecha"></p-calendar>
            <span class="campo-obligatorio"
                  *ngIf="fdts.fechaNacimiento?.errors?.required && (fdts.fechaNacimiento?.dirty || fdts.fechaNacimiento?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="sexoContratante">Sexo<span class="req">*</span>:</label>
            <p-dropdown appendTo="body" id="sexoContratante" class="form-control" formControlName="sexo"
                        [options]="sexo" [filter]="true" filterBy="label" (onChange)="cambiarSexo(1)"
                        placeholder="Selecciona el sexo">
            </p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdts.sexo?.errors?.required && (fdts.sexo?.dirty || fdts.sexo?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3" *ngIf="fdts.sexo.value == 3">
            <label class="control-label" for="otroSexoContratante">Otro:</label>
            <input id="otroSexoContratante" class="form-control" formControlName="otroSexo"
                   placeholder="Ingresa otro sexo" maxlength="45">
            <span class="campo-obligatorio"
                  *ngIf="fdts.otroSexo?.errors?.required && (fdts.otroSexo?.dirty || fdts.otroSexo?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="nacionalidadContratante">Nacionalidad:</label>
            <p-dropdown appendTo="body" id="nacionalidadContratante" class="form-control"
                        formControlName="nacionalidad" (onChange)="cambiarNacionalidad(1)"
                        [options]="nacionalidad" [filter]="true" filterBy="label"
                        placeholder="Selecciona la nacionalidad">
            </p-dropdown>
          </div>
          <div class="col-md-3" *ngIf="fdts.nacionalidad.value == 2">
            <label class="control-label" for="paisNacimientoContratante">País de nacimiento</label>
            <p-dropdown appendTo="body" id="paisNacimientoContratante" class="form-control"
                        formControlName="paisNacimiento"
                        [options]="paises" [filter]="true" filterBy="label"
                        placeholder="Selecciona el país de nacimiento">
            </p-dropdown>
          </div>
          <div class="col-md-3" *ngIf="fdts.nacionalidad.value == 1">
            <label class="control-label" for="lugarNacimientoContratante">Lugar de nacimiento<span
              class="req">*</span>:</label>
            <p-dropdown appendTo="body" id="lugarNacimientoContratante" class="form-control"
                        formControlName="lugarNacimiento"
                        [options]="estados" [filter]="true" filterBy="label"
                        placeholder="Selecciona el lugar de nacimiento">
            </p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdts.lugarNacimientoContratante?.errors?.required && (fdts.lugarNacimientoContratante?.dirty || fdts.lugarNacimientoContratante?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="telefono">Teléfono<span class="req">*</span>:</label>
            <input id="telefono" class="form-control" formControlName="telefono" numbersOnly maxlength="10"
                   placeholder="Ingresa teléfono celular">
            <span class="campo-obligatorio"
                  *ngIf="fdts.telefono?.errors?.required && (fdts.telefono?.dirty || fdts.telefono?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="correoElectronicoContratante">Correo electrónico<span
              class="req">*</span>:</label>
            <input id="correoElectronicoContratante" class="form-control" formControlName="correoElectronico"
                   placeholder="Ingresa el correo electrónico" onInput="this.value = this.value.toLowerCase()"
                   (blur)="consultarCorreo(1)">
            <span class="campo-obligatorio"
                  *ngIf="fdts.correoElectronico?.errors?.required && (fdts.correoElectronico?.dirty || fdts.correoElectronico?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <hr class="separador">
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="calleContratante">Calle<span class="req">*</span>:</label>
            <input id="calleContratante" class="form-control" formControlName="calle" placeholder="Ingresa la calle"
                   maxlength="30">
            <span class="campo-obligatorio"
                  *ngIf="fdts.calle?.errors?.required && (fdts.calle?.dirty || fdts.calle?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="numeroExteriorContratante">Número exterior<span
              class="req">*</span>:</label>
            <input id="numeroExteriorContratante" class="form-control" formControlName="numeroExterior"
                   placeholder="Ingresa el número exterior" alphanumericOnly maxlength="10">
            <span class="campo-obligatorio"
                  *ngIf="fdts.numeroExterior?.errors?.required && (fdts.numeroExterior?.dirty || fdts.numeroExterior?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="numeroInteriorContratante">Número interior:</label>
            <input id="numeroInteriorContratante" class="form-control" formControlName="numeroInterior" maxlength="10"
                   placeholder="Ingresa el número interior">
          </div>
          <div class="col-md-3">
            <label class="control-label" for="cpContratante">C.P.<span class="req">*</span>:</label>
            <input id="cpContratante" class="form-control" formControlName="cp" numbersOnly maxlength="5"
                   placeholder="Ingresa el C.P." (blur)="consultarCodigoPostal(1)">
            <span class="campo-obligatorio"
                  *ngIf="fdts.cp?.errors?.required && (fdts.cp?.dirty || fdts.cp?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="control-label" for="coloniaContratante">Colonia<span class="req">*</span>:</label>
            <p-dropdown id="coloniaContratante" class="form-control" formControlName="colonia"
                        placeholder="Ingresa la colonia"
                        [options]="colonias[1]" [filter]="true" filterBy="label"></p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdts.colonia?.errors?.required && (fdts.colonia?.dirty || fdts.colonia?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="municipioContratante">Municipio<span class="req">*</span>:</label>
            <input id="municipioContratante" class="form-control" formControlName="municipio"
                   placeholder="Ingresa el municipio">
            <span class="campo-obligatorio"
                  *ngIf="fdts.municipio?.errors?.required && (fdts.municipio?.dirty || fdts.municipio?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="estadoContratante">Estado<span class="req">*</span>:</label>
            <input id="estadoContratante" class="form-control" formControlName="estado" placeholder="Ingresa el estado">
            <span class="campo-obligatorio"
                  *ngIf="fdts.estado?.errors?.required && (fdts.estado?.dirty || fdts.estado?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <span>*Campos obligatorios</span>
          </div>
        </div>
      </form>
    </ng-template>
  </p-accordionTab>
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center w-full">
        <span>Datos de beneficiario 1</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="datosBeneficiario1Form">
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="curpBeneficiario1Int">CURP:</label>
            <input id="curpBeneficiario1Int" class="form-control" formControlName="curp" placeholder="Ingresa el CURP"
                   onInput="this.value = this.value.toUpperCase()" (blur)="consultarCurp(2)" maxlength="18">
            <span class="campo-obligatorio"
                  *ngIf="fdb1.curp?.errors?.required && (fdb1.curp?.dirty || fdb1.curp?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="rfcBeneficiario1Int">R.F.C.:</label>
            <input id="rfcBeneficiario1Int" class="form-control" formControlName="rfc" placeholder="Ingresa el R.F.C."
                   onInput="this.value = this.value.toUpperCase()" (blur)="validarRfc(2)" maxlength="13">
            <span class="campo-obligatorio"
                  *ngIf="fdb1.rfc?.errors?.required && (fdb1.rfc?.dirty || fdb1.rfc?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="matriculaBeneficiario1Int">Matrícula:</label>
            <input id="matriculaBeneficiario1Int" class="form-control" formControlName="matricula"
                   placeholder="Ingresa la matrícula" maxlength="10" numbersOnly (blur)="consultarMatricula(1)">
          </div>
          <div class="col-md-3">
            <label class="control-label" for="nssBeneficiario1Int">NSS:</label>
            <input id="nssBeneficiario1Int" class="form-control" formControlName="nss" placeholder="Ingresa el NSS"
                   minlength="11" maxlength="11"
                   (blur)="consultarNSS(2)">
            <span class="campo-obligatorio"
                  *ngIf="fdb1.nss?.errors?.required && (fdb1.nss?.dirty || fdb1.nss?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="nombreBeneficiario1Int">Nombre(s):</label>
            <input id="nombreBeneficiario1Int" class="form-control" formControlName="nombre"
                   placeholder="Ingresa el nombre" maxlength="30" (keyup.space)="sinEspacioDoble(6)" lettersOnly>
            <span class="campo-obligatorio"
                  *ngIf="fdb1.nombre?.errors?.required && (fdb1.nombre?.dirty || fdb1.nombre?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="primerApellidoBeneficiario1Int">Primer apellido:</label>
            <input id="primerApellidoBeneficiario1Int" class="form-control" formControlName="primerApellido"
                   placeholder="Ingresa el primer apellido" maxlength="20" (keyup.space)="sinEspacioDoble(7)"
                   lettersOnly>
            <span class="campo-obligatorio"
                  *ngIf="fdb1.primerApellido?.errors?.required && (fdb1.primerApellido?.dirty || fdb1.primerApellido?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="segundoApellidoBeneficiario1Int">Segundo apellido:</label>
            <input id="segundoApellidoBeneficiario1Int" class="form-control" formControlName="segundoApellido"
                   placeholder="Ingresa el segundo apellido" maxlength="20" (keyup.space)="sinEspacioDoble(8)"
                   lettersOnly>
            <span class="campo-obligatorio"
                  *ngIf="fdb1.segundoApellido?.errors?.required && (fdb1.segundoApellido?.dirty || fdb1.segundoApellido?.touched)">Este campo es obligatorio *.</span>
          </div>

        </div>

        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label">Fecha de nacimiento:</label>
            <p-calendar styleClass="form-control" formControlName="fechaNacimiento" [showIcon]="true"
                        dateFormat="dd/mm/yy"
                        placeholder="Selecciona la fecha"></p-calendar>
            <span class="campo-obligatorio"
                  *ngIf="fdb1.fechaNacimiento?.errors?.required && (fdb1.fechaNacimiento?.dirty || fdb1.fechaNacimiento?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="sexoBeneficiario1Int">Sexo:</label>
            <p-dropdown appendTo="body" id="sexoBeneficiario1Int" class="form-control" formControlName="sexo"
                        [options]="sexo" [filter]="true" filterBy="label" (onChange)="cambiarSexo(2)"
                        placeholder="Selecciona el sexo">
            </p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdb1.sexo?.errors?.required && (fdb1.sexo?.dirty || fdb1.sexo?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3" *ngIf="fdb1.sexo.value == 3">
            <label class="control-label" for="otroSexoBeneficiario1Int">Otro:</label>
            <input id="otroSexoBeneficiario1Int" class="form-control" formControlName="otroSexo"
                   placeholder="Ingresa otro sexo" maxlength="45">
            <span class="campo-obligatorio"
                  *ngIf="fdb1.otroSexo?.errors?.required && (fdb1.otroSexo?.dirty || fdb1.otroSexo?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="nacionalidadBeneficiario1Int">Nacionalidad:</label>
            <p-dropdown appendTo="body" id="nacionalidadBeneficiario1Int" class="form-control"
                        formControlName="nacionalidad" (onChange)="cambiarNacionalidad2(0)"
                        [options]="nacionalidad" [filter]="true" filterBy="label"
                        placeholder="Selecciona la nacionalidad">
            </p-dropdown>
          </div>
          <div class="col-md-3" *ngIf="fdb1.nacionalidad.value == 2">
            <label class="control-label" for="paisNacimientoBeneficiario1Int">País de nacimiento</label>
            <p-dropdown appendTo="body" id="paisNacimientoBeneficiario1Int" class="form-control"
                        formControlName="paisNacimiento"
                        [options]="paises" [filter]="true" filterBy="label"
                        placeholder="Selecciona el país de nacimiento">
            </p-dropdown>
          </div>
          <div class="col-md-3" *ngIf="fdb1.nacionalidad.value == 1">
            <label class="control-label" for="lugarNacimientoBeneficiario1Int">Lugar de nacimiento:</label>
            <p-dropdown appendTo="body" id="lugarNacimientoBeneficiario1Int" class="form-control"
                        formControlName="lugarNacimiento"
                        [options]="estados" [filter]="true" filterBy="label"
                        placeholder="Selecciona el lugar de nacimiento">
            </p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdb1.lugarNacimientoContratante?.errors?.required && (fdb1.lugarNacimientoContratante?.dirty || fdb1.lugarNacimientoContratante?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="telefonoBeneficiario1Int">Teléfono:</label>
            <input id="telefonoBeneficiario1Int" class="form-control" formControlName="telefono" numbersOnly
                   maxlength="10"
                   placeholder="Ingresa el teléfono">
            <span class="campo-obligatorio"
                  *ngIf="fdb1.telefono?.errors?.required && (fdb1.telefono?.dirty || fdb1.telefono?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="correoElectronicoBeneficiario1Int">Correo electrónico:</label>
            <input id="correoElectronicoBeneficiario1Int" class="form-control" formControlName="correoElectronico"
                   placeholder="Ingresa el correo electrónico" onInput="this.value = this.value.toLowerCase()"
                   (blur)="consultarCorreo(2)">
            <span class="campo-obligatorio"
                  *ngIf="fdb1.correoElectronico?.errors?.required && (fdb1.correoElectronico?.dirty || fdb1.correoElectronico?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <hr class="separador">
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="calleBeneficiario1Int">Calle:</label>
            <input id="calleBeneficiario1Int" class="form-control" formControlName="calle"
                   placeholder="Ingresa la calle"
                   maxlength="30">
            <span class="campo-obligatorio"
                  *ngIf="fdb1.calle?.errors?.required && (fdb1.calle?.dirty || fdb1.calle?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="numeroExteriorBeneficiario1Int">Número exterior:</label>
            <input id="numeroExteriorBeneficiario1Int" class="form-control" formControlName="numeroExterior"
                   placeholder="Ingresa el número exterior" alphanumericOnly maxlength="10">
            <span class="campo-obligatorio"
                  *ngIf="fdb1.numeroExterior?.errors?.required && (fdb1.numeroExterior?.dirty || fdb1.numeroExterior?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="numeroInteriorBeneficiario1Int">Número interior:</label>
            <input id="numeroInteriorBeneficiario1Int" class="form-control" formControlName="numeroInterior"
                   maxlength="10"
                   placeholder="Ingresa el número interior">
          </div>
          <div class="col-md-3">
            <label class="control-label" for="cpBeneficiario1Int">C.P.:</label>
            <input id="cpBeneficiario1Int" class="form-control" formControlName="cp" numbersOnly maxlength="5"
                   placeholder="Ingresa el C.P." (blur)="consultarCodigoPostal(2)">
            <span class="campo-obligatorio"
                  *ngIf="fdb1.cp?.errors?.required && (fdb1.cp?.dirty || fdb1.cp?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="control-label" for="coloniaBeneficiario1Int">Colonia:</label>
            <p-dropdown id="coloniaBeneficiario1Int" class="form-control" formControlName="colonia"
                        placeholder="Ingresa la colonia"
                        [options]="colonias[2]" [filter]="true" filterBy="label"></p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdb1.colonia?.errors?.required && (fdb1.colonia?.dirty || fdb1.colonia?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="municipioBeneficiario1Int">Municipio:</label>
            <input id="municipioBeneficiario1Int" class="form-control" formControlName="municipio"
                   placeholder="Ingresa el municipio">
            <span class="campo-obligatorio"
                  *ngIf="fdb1.municipio?.errors?.required && (fdb1.municipio?.dirty || fdb1.municipio?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="estadoBeneficiario1Int">Estado:</label>
            <input id="estadoBeneficiario1Int" class="form-control" formControlName="estado"
                   placeholder="Ingresa el estado">
            <span class="campo-obligatorio"
                  *ngIf="fdb1.estado?.errors?.required && (fdb1.estado?.dirty || fdb1.estado?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <span>*Campos obligatorios</span>
          </div>
        </div>
      </form>
    </ng-template>
  </p-accordionTab>
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center w-full">
        <span>Datos de beneficiario 2</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="datosBeneficiario2Form">
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="curpBeneficiario2Int">CURP:</label>
            <input id="curpBeneficiario2Int" class="form-control" formControlName="curp" placeholder="Ingresa el CURP"
                   onInput="this.value = this.value.toUpperCase()" (blur)="consultarCurp(3)" maxlength="18">
            <span class="campo-obligatorio"
                  *ngIf="fdb2.curp?.errors?.required && (fdb2.curp?.dirty || fdb2.curp?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="rfcBeneficiario2Int">R.F.C.:</label>
            <input id="rfcBeneficiario2Int" class="form-control" formControlName="rfc" placeholder="Ingresa el R.F.C."
                   onInput="this.value = this.value.toUpperCase()" (blur)="validarRfc(3)" maxlength="13">
            <span class="campo-obligatorio"
                  *ngIf="fdb2.rfc?.errors?.required && (fdb2.rfc?.dirty || fdb2.rfc?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="matriculaBeneficiario2Int">Matrícula:</label>
            <input id="matriculaBeneficiario2Int" class="form-control" formControlName="matricula"
                   placeholder="Ingresa la matrícula" maxlength="10" numbersOnly (blur)="consultarMatricula(1)">
          </div>
          <div class="col-md-3">
            <label class="control-label" for="nssBeneficiario2Int">NSS:</label>
            <input id="nssBeneficiario2Int" class="form-control" formControlName="nss" placeholder="Ingresa el NSS"
                   minlength="11" maxlength="11"
                   (blur)="consultarNSS(3)">
            <span class="campo-obligatorio"
                  *ngIf="fdb2.nss?.errors?.required && (fdb2.nss?.dirty || fdb2.nss?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="nombreBeneficiario2Int">Nombre(s):</label>
            <input id="nombreBeneficiario2Int" class="form-control" formControlName="nombre"
                   placeholder="Ingresa el nombre" maxlength="30" (keyup.space)="sinEspacioDoble(9)" lettersOnly>
            <span class="campo-obligatorio"
                  *ngIf="fdb2.nombre?.errors?.required && (fdb2.nombre?.dirty || fdb2.nombre?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="primerApellidoBeneficiario2Int">Primer apellido:</label>
            <input id="primerApellidoBeneficiario2Int" class="form-control" formControlName="primerApellido"
                   placeholder="Ingresa el primer apellido" maxlength="20" (keyup.space)="sinEspacioDoble(10)"
                   lettersOnly>
            <span class="campo-obligatorio"
                  *ngIf="fdb2.primerApellido?.errors?.required && (fdb2.primerApellido?.dirty || fdb2.primerApellido?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="segundoApellidoBeneficiario2Int">Segundo apellido:</label>
            <input id="segundoApellidoBeneficiario2Int" class="form-control" formControlName="segundoApellido"
                   placeholder="Ingresa el segundo apellido" maxlength="20" (keyup.space)="sinEspacioDoble(11)"
                   lettersOnly>
            <span class="campo-obligatorio"
                  *ngIf="fdb2.segundoApellido?.errors?.required && (fdb2.segundoApellido?.dirty || fdb2.segundoApellido?.touched)">Este campo es obligatorio *.</span>
          </div>

        </div>

        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label">Fecha de nacimiento:</label>
            <p-calendar styleClass="form-control" formControlName="fechaNacimiento" [showIcon]="true"
                        dateFormat="dd/mm/yy"
                        placeholder="Selecciona la fecha"></p-calendar>
            <span class="campo-obligatorio"
                  *ngIf="fdb2.fechaNacimiento?.errors?.required && (fdb2.fechaNacimiento?.dirty || fdb2.fechaNacimiento?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="sexoBeneficiario2Int">Sexo:</label>
            <p-dropdown appendTo="body" id="sexoBeneficiario2Int" class="form-control" formControlName="sexo"
                        [options]="sexo" [filter]="true" filterBy="label" (onChange)="cambiarSexo(3)"
                        placeholder="Selecciona el sexo">
            </p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdb2.sexo?.errors?.required && (fdb2.sexo?.dirty || fdb2.sexo?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3" *ngIf="fdb2.sexo.value == 3">
            <label class="control-label" for="otroSexoBeneficiario2Int">Otro:</label>
            <input id="otroSexoBeneficiario2Int" class="form-control" formControlName="otroSexo"
                   placeholder="Ingresa otro sexo" maxlength="45">
            <span class="campo-obligatorio"
                  *ngIf="fdb2.otroSexo?.errors?.required && (fdb2.otroSexo?.dirty || fdb2.otroSexo?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="nacionalidadBeneficiario2Int">Nacionalidad:</label>
            <p-dropdown appendTo="body" id="nacionalidadBeneficiario2Int" class="form-control"
                        formControlName="nacionalidad" (onChange)="cambiarNacionalidad2(1)"
                        [options]="nacionalidad" [filter]="true" filterBy="label"
                        placeholder="Selecciona la nacionalidad">
            </p-dropdown>
          </div>
          <div class="col-md-3" *ngIf="fdb2.nacionalidad.value == 2">
            <label class="control-label" for="paisNacimientoBeneficiario2Int">País de nacimiento</label>
            <p-dropdown appendTo="body" id="paisNacimientoBeneficiario2Int" class="form-control"
                        formControlName="paisNacimiento"
                        [options]="paises" [filter]="true" filterBy="label"
                        placeholder="Selecciona el país de nacimiento">
            </p-dropdown>
          </div>
          <div class="col-md-3" *ngIf="fdb2.nacionalidad.value == 1">
            <label class="control-label" for="lugarNacimientoBeneficiario2Int">Lugar de nacimiento:</label>
            <p-dropdown appendTo="body" id="lugarNacimientoBeneficiario2Int" class="form-control"
                        formControlName="lugarNacimiento"
                        [options]="estados" [filter]="true" filterBy="label"
                        placeholder="Selecciona el lugar de nacimiento">
            </p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdb2.lugarNacimientoContratante?.errors?.required && (fdb2.lugarNacimientoContratante?.dirty || fdb2.lugarNacimientoContratante?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="telefonoBeneficiario2Int">Teléfono:</label>
            <input id="telefonoBeneficiario2Int" class="form-control" formControlName="telefono" numbersOnly
                   maxlength="10"
                   placeholder="Ingresa el teléfono">
            <span class="campo-obligatorio"
                  *ngIf="fdb2.telefono?.errors?.required && (fdb2.telefono?.dirty || fdb2.telefono?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="correoElectronicoBeneficiario2Int">Correo electrónico:</label>
            <input id="correoElectronicoBeneficiario2Int" class="form-control" formControlName="correoElectronico"
                   placeholder="Ingresa el correo electrónico" onInput="this.value = this.value.toLowerCase()"
                   (blur)="consultarCorreo(3)">
            <span class="campo-obligatorio"
                  *ngIf="fdb2.correoElectronico?.errors?.required && (fdb2.correoElectronico?.dirty || fdb2.correoElectronico?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <hr class="separador">
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="control-label" for="calleBeneficiario2Int">Calle:</label>
            <input id="calleBeneficiario2Int" class="form-control" formControlName="calle"
                   placeholder="Ingresa la calle"
                   maxlength="30">
            <span class="campo-obligatorio"
                  *ngIf="fdb2.calle?.errors?.required && (fdb2.calle?.dirty || fdb2.calle?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="numeroExteriorBeneficiario2Int">Número exterior:</label>
            <input id="numeroExteriorBeneficiario2Int" class="form-control" formControlName="numeroExterior"
                   placeholder="Ingresa el número exterior" alphanumericOnly maxlength="10">
            <span class="campo-obligatorio"
                  *ngIf="fdb2.numeroExterior?.errors?.required && (fdb2.numeroExterior?.dirty || fdb2.numeroExterior?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-3">
            <label class="control-label" for="numeroInteriorBeneficiario2Int">Número interior:</label>
            <input id="numeroInteriorBeneficiario2Int" class="form-control" formControlName="numeroInterior"
                   maxlength="10"
                   placeholder="Ingresa el número interior">
          </div>
          <div class="col-md-3">
            <label class="control-label" for="cpBeneficiario2Int">C.P.:</label>
            <input id="cpBeneficiario2Int" class="form-control" formControlName="cp" numbersOnly maxlength="5"
                   placeholder="Ingresa el C.P." (blur)="consultarCodigoPostal(3)">
            <span class="campo-obligatorio"
                  *ngIf="fdb2.cp?.errors?.required && (fdb2.cp?.dirty || fdb2.cp?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="control-label" for="coloniaBeneficiario2Int">Colonia:</label>
            <p-dropdown id="coloniaBeneficiario2Int" class="form-control" formControlName="colonia"
                        placeholder="Ingresa la colonia"
                        [options]="colonias[3]" [filter]="true" filterBy="label"></p-dropdown>
            <span class="campo-obligatorio"
                  *ngIf="fdb2.colonia?.errors?.required && (fdb2.colonia?.dirty || fdb2.colonia?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="municipioBeneficiario2Int">Municipio:</label>
            <input id="municipioBeneficiario2Int" class="form-control" formControlName="municipio"
                   placeholder="Ingresa el municipio">
            <span class="campo-obligatorio"
                  *ngIf="fdb2.municipio?.errors?.required && (fdb2.municipio?.dirty || fdb2.municipio?.touched)">Este campo es obligatorio *.</span>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="estadoBeneficiario2Int">Estado:</label>
            <input id="estadoBeneficiario2Int" class="form-control" formControlName="estado"
                   placeholder="Ingresa el estado">
            <span class="campo-obligatorio"
                  *ngIf="fdb2.estado?.errors?.required && (fdb2.estado?.dirty || fdb2.estado?.touched)">Este campo es obligatorio *.</span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <span>*Campos obligatorios</span>
          </div>
        </div>
      </form>
    </ng-template>
  </p-accordionTab>
</p-accordion>

<form [formGroup]="promotorForm">
  <div class="border-panel mb-5">
    <div class="row">
      <div class="col-md-6">
        <label class="control-label">¿El servicio fue gestionado por un promotor?<span class="req">*</span></label>
        <div class="flex">
          <div class="flex align-items-center mx-2">
            <p-radioButton [inputId]="'promotorSi'" name="gestionadoPorPromotor" [value]="true"
                           formControlName="gestionadoPorPromotor" (onClick)="handleGestionPromotor()">
            </p-radioButton>
            <label class="control-label m-0 mx-3" [for]="'promotorSi'">Sí</label>
          </div>
          <div class="flex align-items-center mx-2">
            <p-radioButton [inputId]="'promotorNo'" name="gestionadoPorPromotor" [value]="false"
                           formControlName="gestionadoPorPromotor" (onClick)="handleGestionPromotor()">
            </p-radioButton>
            <label class="control-label m-0 mx-3" [for]="'promotorNo'">No</label>
          </div>
        </div>
        <span class="campo-obligatorio"
              *ngIf="fp.gestionadoPorPromotor?.errors?.required && (fp.gestionadoPorPromotor?.dirty || fp.gestionadoPorPromotor?.touched)">Este campo es obligatorio *.</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="promotor">Promotor:<span class="req"
                                                                   *ngIf="fp.gestionadoPorPromotor.value">*</span></label>
        <p-dropdown id="promotor" class="form-control" formControlName="promotor"
                    placeholder="Selecciona promotor" [options]="catPromotores" [filter]="true"
                    filterBy="label"></p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="fp.promotor?.errors?.required && (fp.promotor?.dirty || fp.promotor?.touched)">Este campo es obligatorio *.</span>
      </div>
    </div>
  </div>
</form>

<!--Esta es la tabla de detalles al confirmar-->


<div class="flex justify-content-end mb-3">
  <button class="ml-4 btn btn-danger btn-md" (click)="cancelar()">Cancelar</button>
  <button class="ml-4 btn btn-primary btn-md" [disabled]="validarBotonGuardar()" (click)="confirmarGuardado = true">
    Guardar
  </button>
</div>

<p-dialog header="" [(visible)]="confirmarGuardado" [style]="{maxWidth:'544px',width: '100%'}"
          [draggable]="false" [resizable]="false" [showHeader]="true" [modal]="true">
  <div class="row">
    <p class="text-center">¿Estás seguro de agregar este convenio?</p>
  </div>
  <div class="row mt-6">
    <div class="col-md-12 flex justify-content-end">
      <button type="button" class="btn btn-gold btn-md ml-5" (click)="confirmarGuardado = false">Cancelar</button>
      <button type="button" class="btn btn-primary btn-md ml-5" (click)="guardar()">Aceptar</button>
    </div>
  </div>
</p-dialog>

<p-dialog header="" [(visible)]="confirmarAceptarPaquete" [style]="{maxWidth:'544px',width: '100%'}"
          [draggable]="false" [resizable]="false" [showHeader]="true" [modal]="true">
  <div class="row">
    <p class="text-justify">{{ infoPaqueteSeleccionado }}</p>
  </div>
  <div class="row mt-6">
    <div class="col-md-12 flex justify-content-end">
      <button type="button" class="btn btn-primary btn-md ml-5" (click)="confirmarAceptarPaquete = false">Aceptar
      </button>
    </div>
  </div>
</p-dialog>

<p-dialog header="" [(visible)]="confirmacionDatosExistentes" [style]="{maxWidth:'544px',width: '100%'}"
          [draggable]="false" [resizable]="false" [showHeader]="true" [modal]="true">
  <div class="row">
    <p class="text-center">{{ mensajeDatosExistentes }}</p>
  </div>
  <div class="row mt-6">
    <div class="col-md-12 flex justify-content-end">
      <button type="button" class="btn btn-primary btn-md ml-5" (click)="redireccionarModificar()">Aceptar</button>
    </div>
  </div>
</p-dialog>
