
<ng-container *ngIf="objetoDetallePersona.indTipoContratacion != ''">
  <div class="border-panel mb-3">
    <div class="row m-4 table-panel-row">
      <div class="row mb-3">
        <div class="col-md-3">
          <span>Tipo de contratación:</span><br/>
          <label> Por persona </label>
        </div>
        <div class="col-md-3" *ngIf="objetoDetallePersona.rfcCurp">
          <span>RFC o CURP:</span><br/>
          <label> {{objetoDetallePersona.rfcCurp}} </label>
        </div>
        <div class="col-md-3" *ngIf="descripcionPromotor[0]?.label">
          <span>Promotor:</span><br/>
          <label> {{descripcionPromotor[0]?.label }} </label>
        </div>
      </div>

      <h2 class="subtitulo">Datos personales</h2>
      <div class="row mb-3">
        <div class="col-md-3">
          <span>CURP:</span><br/>
          <label> {{objetoDetallePersona.persona?.curp}} </label>
        </div>
        <div class="col-md-3" *ngIf="objetoDetallePersona.persona?.rfc">
          <span>R.F.C:</span><br/>
          <label> {{objetoDetallePersona.persona?.rfc}} </label>
        </div>
        <div class="col-md-3" *ngIf="this.objetoDetallePersona.matricula">
          <span>Matrícula:</span><br/>
          <label> {{objetoDetallePersona.persona?.matricula}} </label>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3">
          <span>Nombre (s):</span><br/>
          <label> {{objetoDetallePersona.persona?.nombre}} </label>
        </div>
        <div class="col-md-3">
          <span>Primer apellido:</span><br/>
          <label> {{objetoDetallePersona.persona?.primerApellido}} </label>
        </div>
        <div class="col-md-3">
          <span>Segundo apellido:</span><br/>
          <label> {{objetoDetallePersona.persona?.segundoApellido}} </label>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <span>Correo electrónico:</span><br/>
          <label> {{objetoDetallePersona.persona?.correoElectronico}} </label>
        </div>
        <div class="col-md-3">
          <span>Teléfono:</span><br/>
          <label> {{objetoDetallePersona.persona?.telefono}} </label>
        </div>
      </div>
      <h2 class="subtitulo">Dirección</h2>
      <div class="row">
        <div class="col-md-3">
          <span>Calle:</span><br/>
          <label> {{objetoDetallePersona.persona?.calle}} </label>
        </div>
        <div class="col-md-3">
          <span>Número exterior:</span><br/>
          <label> {{objetoDetallePersona.persona?.numeroExterior}} </label>
        </div>
        <div class="col-md-3">
          <span>Número interior:</span><br/>
          <label> {{objetoDetallePersona.persona?.numeroInterior}} </label>
        </div>
        <div class="col-md-3">
          <span>C.P.:</span><br/>
          <label> {{objetoDetallePersona.persona?.cp}} </label>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3">
          <span>Asentamiento / Colonia:</span><br/>
          <label> {{objetoDetallePersona.persona?.colonia}} </label>
        </div>
        <div class="col-md-3">
          <span>Municipio:</span><br/>
          <label> {{objetoDetallePersona.persona?.municipio}} </label>
        </div>
        <div class="col-md-3">
          <span>Estado:</span><br/>
          <label> {{objetoDetallePersona.persona?.estado}} </label>
        </div>
        <div class="col-md-3">
          <span>País:</span><br/>
          <label> {{descripcionPais[0].label}} </label>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3">
          <span>Tipo de paquete:</span><br/>
          <label> {{detalleTipoPaquete[0].label}} </label>
        </div>
        <div class="col-md-3">
          <span>Enfermedad preexistente:</span><br/>
          <label> {{detalleEnfermedad[0].label}} </label>
        </div>
        <div class="col-md-3" *ngIf="this.objetoDetallePersona.persona?.enfermedadPreexistente == 4">
          <span>Otro:</span><br/>
          <label> {{this.objetoDetallePersona.persona?.otraEnfermedad}} </label>
        </div>
      </div>
  </div>
    <div class="row mx-4 table-panel-row">
    <h2 class="subtitulo">Documentación</h2>
    <div class="col-md-12">
      <div class="row p-3 table-panel-row">
        <div class="col-md-12">
          <div class="flex">
            <p-checkbox inputId="ineAfiliadoDetalle" [(ngModel)]="this.objetoDetallePersona.persona.documentacion.validaIneContratante" [disabled]="true"  styleClass="mr-3" [binary]="true"></p-checkbox>
            <label [for]="'ineAfiliadoDetalle'" class="control-label"><strong>INE del afiliado </strong></label>
          </div>
        </div>
      </div>
      <div class="row p-3 table-panel-row">
        <div class="col-md-12">
          <div class="flex">
            <p-checkbox inputId="copiaCURPDetalle" [(ngModel)]="this.objetoDetallePersona.persona.documentacion.validaCurp" [disabled]="true"  styleClass="mr-3" [binary]="true"></p-checkbox>
            <label [for]="'copiaCURPDetalle'" class="control-label"><strong>Copia CURP </strong></label>
          </div>
        </div>
      </div>
      <div class="row p-3 table-panel-row">
        <div class="col-md-12">
          <div class="flex">
            <p-checkbox inputId="copiaRFCDetalle" [(ngModel)]="this.objetoDetallePersona.persona.documentacion.validaRfc" [disabled]="true"  styleClass="mr-3" [binary]="true"></p-checkbox>
            <label [for]="'copiaRFCDetalle'" class="control-label"><strong>Copia RFC </strong></label>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row mx-4 table-panel-row" *ngIf="objetoDetallePersona.persona?.beneficiarios .length > 0">
      <h2 class="subtitulo">Beneficiarios</h2>
      <div class="flex justify-content-center">
        <div class="col-md-11">
          <div *ngFor="let beneficiarioElement of objetoDetallePersona.persona?.beneficiarios" class="row mb-3 border-panel">
            <div class="col-md-9">
              <span> {{beneficiarioElement.nombre}} {{beneficiarioElement.primerApellido}} {{beneficiarioElement.segundoApellido}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="objetoDetalleEmpresa.empresa">
    <div class="border-panel mb-3">
      <div class="row mx-4 table-panel-row">
        <div class="row mb-3">
          <div class="col-md-3">
            <span>Número de convenio anterior:</span><br/>
            <label> {{objetoDetalleEmpresa.numeroConvenio}} </label>
          </div>
          <div class="col-md-3">
            <span>Tipo de contratación:</span><br/>
            <label>Por Grupo o por Empresa</label>
          </div>
          <div class="col-md-3">
            <span>RFC o CURP:</span><br/>
            <label> {{objetoDetalleEmpresa.rfcCurp}} </label>
          </div>
          <div class="col-md-3">
            <span>Promotor:</span><br/>
            <label> {{descripcionPromotor[0]?.label }} </label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3">
            <span>Nombre:</span><br/>
            <label> {{objetoDetalleEmpresa.empresa.nombreEmpresa}} </label>
          </div>
          <div class="col-md-3">
            <span>Razón social:</span><br/>
            <label> {{objetoDetalleEmpresa.empresa.razonSocial}} </label>
          </div>
          <div class="col-md-3">
            <span>RFC:</span><br/>
            <label> {{objetoDetalleEmpresa.empresa.rfc}} </label>
          </div>
        </div>
        <h2 class="subtitulo">Dirección</h2>
        <div class="row mb-3">
          <div class="col-md-3">
            <span>País:</span><br/>
            <label> {{descripcionPais[0].label}} </label>
          </div>
          <div class="col-md-3">
            <span>CP:</span><br/>
            <label> {{objetoDetalleEmpresa.empresa.cp}} </label>
          </div>
          <div class="col-md-3">
            <span>Estado:</span><br/>
            <label> {{objetoDetalleEmpresa.empresa.estado}} </label>
          </div>
          <div class="col-md-3">
            <span>Municipio:</span> <br/>
            <label>{{objetoDetalleEmpresa.empresa.municipio}}</label>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">
            <span>Asentamiento / Colonia:</span><br/>
            <label> {{objetoDetalleEmpresa.empresa.colonia}} </label>
          </div>
          <div class="col-md-3">
            <span>Calle:</span><br/>
            <label> {{objetoDetalleEmpresa.empresa.calle}} </label>
          </div>
          <div class="col-md-3">
            <span>Número exterior:</span><br/>
            <label> {{objetoDetalleEmpresa.empresa.numeroExterior}} </label>
          </div>
          <div class="col-md-3">
            <span>Número interior:</span><br/>
            <label> {{objetoDetalleEmpresa.empresa.numeroInterior}} </label>
          </div>
        </div>
        <h2 class="subtitulo">Contacto</h2>
        <div class="row">
          <div class="col-md-3">
            <span>Correo electrónico:</span><br/>
            <label> {{objetoDetalleEmpresa.empresa.correoElectronico}} </label>
          </div>
          <div class="col-md-3">
            <span>Teléfono:</span><br/>
            <label> {{objetoDetalleEmpresa.empresa.telefono}} </label>
          </div>
        </div>
      </div>
      <div class="row mx-4 my-4 table-panel-row">
        <h2 class="subtitulo">Persona de esta empresa</h2>
        <div class="flex justify-content-center">
          <div class="col-md-11">
            <div *ngFor="let persona of objetoDetalleEmpresa.empresa.personas" class="row mb-3 border-panel">
              <div class="col-md-9">
                <span> {{persona.nombre}} {{persona.primerApellido}} {{persona.segundoApellido}} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
