<app-titulo-principal titulo="Administrar promotores"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel:</label>
        <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="catalogoNiveles"
          placeholder="Selecciona el nivel" [filter]="true">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="delegacion">Delegación:</label>
        <p-dropdown id="delegacion" class="form-control" formControlName="delegacion" [options]="catalogoDelegaciones"
          placeholder="Selecciona la delegación" (onChange)="cargarVelatorios()" [filter]="true">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio:</label>
        <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="catalogoVelatorios"
          placeholder="Selecciona el velatorio" [filter]="true">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="nombrePromotor">Promotor:</label>
        <p-autoComplete id="nombrePromotor" class="form-control" formControlName="nombrePromotor"
          [showEmptyMessage]="true" [suggestions]="promotoresFiltrados" [style]="{'width':'100%'}"
          (completeMethod)="filtrarPromotores()" [minLength]="3" [maxlength]="30" class="p-autocomplete"
          placeholder="Ingresa el nombre del promotor" field="label"
          [inputStyle]="{'width' : '100%','font-style' : 'normal','font-weight' : '400','font-size' : '14px'}">
        </p-autoComplete>
      </div>
    </div>
    <div class="row mt-6" *appValidaRol="['PROMOTORES','CONSULTA']">
      <div class="col-md-12 flex justify-content-end">
        <button type="button" class="btn btn-default btn-md" (click)="limpiar();">Limpiar</button>
        <button type="button" class="btn btn-primary btn-md ml-5" (click)="paginarPorFiltros();">Buscar</button>
      </div>
    </div>
  </form>
</div>
<section class="mt-5">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Promotores</h2>
    <button type="button" class="btn btn-primary btn-lg" *appValidaRol="['PROMOTORES','ALTA']"
      (click)="abrirModalAgregarPromotor()">Agregar promotor</button>
  </div>
  <p-table styleClass="mt-5 mb-8" [value]="promotores" [paginator]="promotores.length > 0"
    [rows]="cantElementosPorPagina" [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3"
    [(first)]="numPaginaActual" (onLazyLoad)="paginar($event)">
    <ng-template pTemplate="header">
      <tr>
        <th id="idPromotor">ID</th>
        <th id="numEmpleado">Número de empleado</th>
        <th id="curp">CURP</th>
        <th id="nombre">Nombre</th>
        <th id="primerApellido">Primer apellido</th>
        <th id="segundoApellido">Segundo apellido</th>
        <th id="fecNac">Fecha de nacimiento</th>
        <th id="fecIngreso">Fecha ingreso</th>
        <th id="fecBaja">Fecha de baja</th>
        <th id="sueldoBase">Sueldo base</th>
        <th id="velatorio">Velatorio</th>
        <th id="diasDescanso">Días de descanso</th>
        <th id="fecNac">Antigüedad</th>
        <th id="correo">Correo eletrónico</th>
        <th id="puesto">Puesto</th>
        <th id="categoria">Categoría</th>
        <th id="estatus">Estatus</th>
        <th id="acciones"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-promotor>
      <tr>
        <td>{{promotor.idPromotor}}</td>
        <td>{{promotor.numEmpleado}}</td>
        <td>{{promotor.curp}}</td>
        <td>{{promotor.nombre}}</td>
        <td>{{promotor.primerApellido}}</td>
        <td>{{promotor.segundoApellido}}</td>
        <td>{{promotor.fecNac}}</td>
        <td>{{promotor.fecIngreso}}</td>
        <td>{{promotor.fecBaja}}</td>
        <td>{{promotor.sueldoBase}}</td>
        <td>{{promotor.velatorio}}</td>
        <td>{{promotor.diasDescanso}}</td>
        <td>{{promotor.antiguedad}}</td>
        <td>{{promotor.correo}}</td>
        <td>{{promotor.puesto}}</td>
        <td>{{promotor.categoria}}</td>
        <td>{{promotor.estatus ? 'Activo' : 'Inactivo'}}</td>
        <td>
          <div class="contenedor-celda-iconos" *appValidaRol="['PROMOTORES','MODIFICAR']">
            <a (click)="abrirPanel($event,promotor)">
              <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
            </a>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <th colspan="12" class="p-2 text-center font-bold text-xl col-md-12" id="empty-message-mtto-vehicular"
          *ngIf="realizoBusqueda">
          No se encontró información relacionada a tu búsqueda
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements">{{promotores.length}} de {{totalElementos}}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
    </ng-template>
  </p-table>
</section>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Modificar" (click)="abrirModalModificarPromotor()"></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Inhabilitar" *ngIf="promotorSeleccionado.estatus"
        (click)="confirmarInhabilitar()"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>


<p-dialog [(visible)]="mostrarModalConfirmacion" [modal]="true" [style]="{maxWidth:'544px',width: '100%'}"
  [draggable]="false" [resizable]="false" header="">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center justify-content-center">
      <span class="text-justify">{{mensajeModal}}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <button class="btn btn-primary btn-md" (click)="mostrarModalConfirmacion = false">Cancelar</button>
      <button class="btn btn-primary btn-md" (click)="inhabilitarPromotor()">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>