<div class="border-panel mb-8">
  <h3>{{titulo}}</h3>
  <div class="mt-4 flex justify-content-center align-items-center">
    <app-etapas (seleccionarEtapa)="obtenerIdEtapaSeleccionada($event)"></app-etapas>
  </div>
  <ng-container [ngSwitch]="idEtapaSeleccionada">
    <ng-container *ngSwitchCase="DATOS_DEL_CONTRATANTE">
      <app-modificar-datos-contratante
        (seleccionarEtapa)="obtenerIdEtapaSeleccionada($event)"></app-modificar-datos-contratante>
    </ng-container>
    <!-- <ng-container *ngSwitchCase="DATOS_DEL_FINADO">
      <app-modificar-datos-finado (seleccionarEtapa)="obtenerIdEtapaSeleccionada($event)"></app-modificar-datos-finado>
    </ng-container>
    <ng-container *ngSwitchCase="CARACTERISTICAS_DEL_PRESUPUESTO">
      <app-modificar-datos-caracteristicas-contratante
        (seleccionarEtapa)="obtenerIdEtapaSeleccionada($event)"></app-modificar-datos-caracteristicas-contratante>
    </ng-container>
    <ng-container *ngSwitchCase="INFORMACION_DEL_SERVICIO">
      <app-modificar-informacion-servicio
        (seleccionarEtapa)="obtenerIdEtapaSeleccionada($event)"></app-modificar-informacion-servicio>
    </ng-container> -->
  </ng-container>

</div>