<app-table-panel class="mb-6 block">
  <div class="row table-panel-row">
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Fecha de pago</label>
        <span></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Folio Plan SFPA</label>
        <span></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Tipo de pago</label>
        <span></span>
      </div>
    </div>
  </div>

  <div class="row table-panel-row">
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Número de pago</label>
        <span></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Total a cubrir</label>
        <span></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Monto mensual a cubrir</label>
        <span></span>
      </div>
    </div>
  </div>

  <div class="row table-panel-row">
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Método de pago</label>
        <span></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Folio de autorización</label>
        <span></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Banco</label>
        <span></span>
      </div>
    </div>
  </div>

  <div class="row table-panel-row">
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Método de pago</label>
        <span></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Folio de autorización</label>
        <span></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Banco</label>
        <span></span>
      </div>
    </div>
  </div>

  <div class="row table-panel-row">
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Fecha</label>
        <span></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Importe</label>
        <span></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table-panel-column">
        <label>Total pagado</label>
        <span></span>
      </div>
    </div>
  </div>
</app-table-panel>

<p class="text-center mb-5">
  ¿Estás seguro de eliminar el método de pago?
</p>

<div class="row mt-3">
  <div class="col-md-12 flex justify-content-end">
    <button type="button" class="btn btn-gold btn-md ml-3" (click)="cerrarModal()">Cancelar</button>
    <button type="button" class="btn btn-primary btn-md ml-3" (click)="cerrarModal()">Aceptar</button>
  </div>
</div>
