<div class="grid">
  <app-btn-regresar class="mr-2 mt-5 col-fixed border-return-button" routerLink="../.."></app-btn-regresar>
  <app-titulo-principal titulo="Devolución artículo" class="col"></app-titulo-principal>
</div>
<app-table-panel *ngIf="detalleArticulo">
  <ng-template appCustomTemplate="left-header">
    <div class="table-panel-header-column">
      <span class="font-bold">Folio ODE {{ detalleArticulo.NUM_FOLIO_ODE }}</span>
    </div>
  </ng-template>
  <div class="panel-table-container">
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Fecha ODE:</label>
          <span>{{ detalleArticulo.FEC_ODE }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Folio artículo:</label>
          <span>{{ detalleArticulo.FOLIO_ARTICULO }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Artículo:</label>
          <span>{{ detalleArticulo.DES_MODELO_ARTICULO }}</span>
        </div>
      </div>
    </div>
  </div>
</app-table-panel>

<ng-container>
  <form [formGroup]="formulario">
    <div class="row mb-3 mt-3">
      <div class="col-md-12">
        <label class="control-label" for="modificarPago">Motivo de la devolución<span class="req">*</span>:</label>
        <textarea rows="4" class="form-control" pInputTextarea formControlName="devolucionMotivo"
          placeholder="Ingresa el motivo de la devolución" maxlength="80"></textarea>
        <span class="campo-obligatorio"
          *ngIf="f.devolucionMotivo?.errors?.required && (f.devolucionMotivo?.dirty || f.devolucionMotivo?.touched)">Este
          campo es obligatorio *.</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <span class="mensaje-inferior-campo-obligatorio">
          *Campos obligatorios
        </span>
      </div>
    </div>
  </form>
</ng-container>
<section>
  <div class="row mb-3">
    <div class="col-md-12 flex justify-content-end align-items-center">
      <button class="ml-4 btn btn-default btn-md" (click)="setearLocalStorage()" >Cancelar</button>
      <button class="ml-4 btn btn-md btn-primary" [disabled]="f.devolucionMotivo.value === null || f.devolucionMotivo.value === ''" (click)="mostrarModalDevolucion = true">Devolver</button>
    </div>
  </div>
</section>

<p-dialog [(visible)]="mostrarModalDevolucion" [modal]="true" [style]="{maxWidth:'544px',width: '100%'}"
  [draggable]="false" [resizable]="false" header="Devolución ODE">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center justify-content-center">
      <span class="text-justify">¿Estás seguro de devolver este articulo?</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button class="btn btn-gold btn-md" (click)="mostrarModalDevolucion = false">Cancelar</button>
      <button class="btn btn-primary btn-md ml-3" (click)="devolver()">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>
