<div class="border-panel mb-4 p-0">
  <div class="sivimss-panel-header">
    <div class="header-left">
      <span>No. </span>
      <b>DOC-000001</b>
    </div>
  </div>
  <div class="sivimss-panel-body">
    <div class="row">
      <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base">Servicio:</span>
        <span class="texto-base">Traslado a nivel nacional</span>
      </div>
      <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base">Concepto:</span>
        <span class="texto-base">Traslado a nivel nacional</span>
      </div>
      <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base">Cantidad:</span>
        <span class="texto-base">1</span>
      </div>
    </div>
    <hr class="separador">
    <div class="row">
      <div class="col-md-6 flex flex-column">
        <span class="etiqueta-base">Proveedor:</span>
        <span class="texto-base">Transportes resistentes del Noreste S.A. de C.V.</span>
      </div>
      <div class="col-md-3 flex flex-column">
        <span class="etiqueta-base">Importe:</span>
        <span class="texto-base">$5,000.00</span>
      </div>
      <div class="col-md-3 flex flex-column">
        <span class="etiqueta-base">TOTAL:</span>
        <span class="texto-base">$5,000.00</span>
      </div>
    </div>
    <hr class="separador">
    <div class="row">
      <div class="col-md-12 flex flex-column">
        <span class="etiqueta-base">Origen:</span>
        <span class="texto-base">Calle Rafael Lucio 237, Doctores Cuauhtémoc, 06720 Ciudad de México, CDMX</span>
      </div>
    </div>
    <hr class="separador">
    <div class="row">
      <div class="col-md-12 flex flex-column">
        <span class="etiqueta-base">Destino:</span>
        <span class="texto-base">Norte, Prol. Tecnológico 700, Los Girasoles, 76159, Santiago de Querétaro, Qro.</span>
      </div>
    </div>
    <hr class="separador">
    <div class="row">
      <div class="col-md-12 flex flex-column">
        <span class="etiqueta-base">Kilometraje:</span>
        <span class="texto-base">219 km</span>
      </div>
    </div>
    <hr class="separador">
  </div>
</div>
<div class="row">
  <div class="col-md-12 flex justify-content-end">
    <button class="btn btn-primary btn-md" (click)="cerrarModal()">Aceptar</button>
  </div>
</div>
