<p-accordion styleClass="sivimss-accordion">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center w-full">
        <span>Datos del contratante</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="row mb-3">
        <div class="col-md-2">
          <span class="etiqueta-base">Matrícula:</span>
          <br/>
          <label class="texto-base"> {{altaODS.contratante.matricula}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">RFC:</span>
          <br/>
          <label class="texto-base"> {{altaODS.contratante.rfc}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">CURP:</span>
          <br/>
          <label class="texto-base"> {{altaODS.contratante.curp}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Nombre (s):</span>
          <br/>
          <label class="texto-base"> {{altaODS.contratante.nomPersona}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Primer apellido:</span>
          <br/>
          <label class="texto-base"> {{altaODS.contratante.primerApellido}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Segundo apellido:</span>
          <br/>
          <label class="texto-base"> {{altaODS.contratante.segundoApellido}} </label>
        </div>
      </div>
      <hr/>
      <div class="row mb-3">
        <div class="col-md-2">
          <span class="etiqueta-base">Fecha de nacimiento:</span>
          <br />
          <label class="texto-base">{{altaODS.contratante.fechaNac}}</label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Sexo:</span>
          <br />
          <label class="texto-base">{{consultarSexo(altaODS.contratante.sexo)}}</label>
        </div>
        <div class="col-md-2" *ngIf="consultarSexo(altaODS.contratante.sexo) === 'Otro'">
          <span class="etiqueta-base">Otro:</span>
          <br />
          <label class="texto-base">{{altaODS.contratante.otroSexo}}</label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Nacionalidad:</span>
          <br />
          <label class="texto-base">{{consultarNacionalidad(altaODS.contratante.idPais)}}</label>
        </div>
        <div class="col-md-2" *ngIf="altaODS.contratante.idEstado">
          <span class="etiqueta-base" >Lugar de nacimiento</span>
          <br />
          <label class="texto-base">{{dropDownODS.contratante.lugarNacimiento}}</label>
        </div>
        <div class="col-md-2" *ngIf="altaODS.contratante.idPais">
          <span class="etiqueta-base" >País de nacimiento</span>
          <br />
          <label class="texto-base">{{dropDownODS.contratante.paisNacimiento}}</label>
        </div>
      </div>
      <hr />
      <div class="row mb-3">
        <div class="col-md-2">
          <span class="etiqueta-base">Tel&eacute;fono:</span>
          <br />
          <label class="texto-base">{{altaODS.contratante.telefono}}</label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Correo electrónico:</span>
          <br />
          <label class="texto-base">{{altaODS.contratante.correo}}</label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Parentesco</span>
          <br />
          <label class="texto-base">{{dropDownODS.contratante.parentesco}}</label>
        </div>
      </div>
      <hr />
      <div class="row mb-3">
        <div class="col-md-12 mb-1">
          <h2 class="subtitulo">Dirección</h2>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Calle:</span>
          <br />
          <label class="texto-base">{{altaODS.contratante.cp.desCalle}}</label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Número exterior:</span>
          <br />
          <label class="texto-base">{{altaODS.contratante.cp.numExterior}}</label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">C.P.:</span>
          <br />
          <label class="texto-base">{{altaODS.contratante.cp.codigoPostal}}</label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Colonia:</span>
          <br />
          <label class="texto-base">{{altaODS.contratante.cp.desColonia}}</label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Municipio:</span>
          <br />
          <label class="texto-base">{{altaODS.contratante.cp.desMunicipio}}</label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Estado:</span>
          <br />
          <label class="texto-base">{{altaODS.contratante.cp.desEstado}}</label>
        </div>
      </div>
    </ng-template>
  </p-accordionTab>
</p-accordion>

<p-accordion styleClass="sivimss-accordion">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center w-full">
        <span>Datos del finado</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="row mb-3">
        <div class="col-md-2">
          <span class="etiqueta-base">Matrícula:</span>
          <br/>
              <label class="texto-base"> {{dropDownODS.finado.matricula}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">CURP:</span>
          <br/>
          <label class="texto-base"> {{altaODS.finado.curp}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Nombre (s):</span>
          <br/>
          <label class="texto-base"> {{altaODS.finado.nomPersona}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Primer apellido:</span>
          <br/>
          <label class="texto-base"> {{altaODS.finado.primerApellido}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Segundo apellido:</span>
          <br/>
          <label class="texto-base"> {{altaODS.finado.segundoApellido}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">NSS:</span>
          <br/>
          <label class="texto-base"> {{altaODS.finado.nss}} </label>
        </div>
      </div>
      <hr />
      <div class="row mb-3">
        <div class="col-md-3">
          <span class="etiqueta-base">Sexo:</span>
          <br/>
          <label class="texto-base"> {{consultarSexo(altaODS.finado.sexo)}} </label>
        </div>
        <div class="col-md-3">
          <span class="etiqueta-base">Edad:</span>
          <br/>
              <label class="texto-base"> {{consultarEdad(altaODS.finado.fechaNac)}} </label>
        </div>
        <div class="col-md-3">
          <span class="etiqueta-base">Nacionalidad:</span>
          <br/>
          <label class="texto-base"> {{consultarNacionalidad(altaODS.finado.idPais)}} </label>
        </div>
        <div class="col-md-3" *ngIf="altaODS.finado.idEstado">
          <span class="etiqueta-base" >Lugar de nacimiento:</span>
          <br/>
            <label class="texto-base"> {{dropDownODS.finado.lugarNacimiento}} </label>
        </div>
        <div class="col-md-3" *ngIf="altaODS.finado.idPais">
          <span class="etiqueta-base">País de nacimiento</span>
          <br/>
          <label class="texto-base"> {{dropDownODS.finado.paisNacimiento}} </label>
        </div>
      </div>
      <hr />
      <div class="row mb-3">
        <div class="col-md-2">
          <span class="etiqueta-base">Fecha de defunción:</span>
          <br/>
          <label class="texto-base"> {{altaODS.finado.fechaDeceso}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Causa del deceso:</span>
          <br/>
          <label class="texto-base"> {{altaODS.finado.causaDeceso}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Lugar del deceso:</span>
          <br/>
          <label class="texto-base"> {{altaODS.finado.lugarDeceso}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Unidad de procedencia:</span>
          <br/>
          <label class="texto-base">{{dropDownODS.finado.unidadProcedencia}}</label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Hora:</span>
          <br/>
          <label class="texto-base"> {{altaODS.finado.hora}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Número de contrato:</span>
          <br/>
              <label class="texto-base"> {{dropDownODS.finado.numeroContrato}} </label>
        </div>
      </div>
    </ng-template>
  </p-accordionTab>
</p-accordion>


<p-accordion styleClass="sivimss-accordion">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center w-full">
        <span>Presupuesto</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <p-table styleClass="mt-5 mb-8 " [value]="dropDownODS.tablaPaquete">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">No. consecutivo</th>
            <th scope="col">Grupo</th>
            <th scope="col">Concepto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Importe/Monto</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Total del paquete</th>
            <th scope="col">¿Deseas utilizar este artículo/servicio?</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body}" let-paquete let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex + 1}}</td>
            <td>{{paquete.grupo}}</td>
            <td>{{paquete.concepto}}</td>
            <td>{{paquete.cantidad}}</td>
            <td>{{paquete.importe | currency:"USD":"symbol"}}</td>
            <td>{{paquete.proveedor}}</td>
            <td>{{paquete.totalPaquete | currency:"USD":"symbol"}}</td>
            <td style="width:200px">
              <div class="flex ">
                <div class="flex align-items- mr-2">
                  <p-radioButton [name]="rowIndex+1" value="true" [(ngModel)]="paquete.utilizarArticulo"
                                 [inputId]="'utilizarArticulo'+(rowIndex+1)" [disabled]="true"></p-radioButton>
                  <label [for]="'utilizarArticulo'+(rowIndex+1)" class="ml-2">SI</label>
                </div>

                <div class="flex align-items-center mr-2">
                  <p-radioButton [name]="rowIndex+1" value="false" [(ngModel)]="paquete.utilizarArticulo"
                                 [inputId]="'utilizarArticulo'+(rowIndex+1)" [disabled]="true"></p-radioButton>
                  <label [for]="'utilizarArticulo'+(rowIndex+1)" class="ml-2">NO</label>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-accordionTab>
</p-accordion>


<p-accordion styleClass="sivimss-accordion">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center w-full">
        <span>Información del servicio</span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="row mb-3">
        <div class="col-md-2">
          <span class="etiqueta-base">Procedencia del finado:</span>
          <br/>
          <label class="texto-base"> {{altaODS.finado.procedenciaFinado}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Lugar de velación:</span>
          <br/>
          <label class="texto-base"> {{altaODS.informacionServicio.informacionServicioVelacion.cp?.desEstado}} ,
          {{altaODS.informacionServicio.informacionServicioVelacion.cp?.desMunicipio}}</label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Hora:</span>
          <br/>
          <label class="texto-base"> {{altaODS.informacionServicio.informacionServicioVelacion.horaVelacion}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Lugar de inhumación:</span>
          <br/>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Se recogerá:</span>
          <br/>
          <label class="texto-base"> {{altaODS.informacionServicio.fechaRecoger}} {{altaODS.informacionServicio.horaRecoger}} </label>
        </div>
        <div class="col-md-2">
          <span class="etiqueta-base">Cortejo del día:</span>
          <br/>
          <label class="texto-base"> {{altaODS.informacionServicio.fechaCortejo}}  {{altaODS.informacionServicio.horaCortejo}} </label>
        </div>
      </div>
    </ng-template>
  </p-accordionTab>
</p-accordion>
<div class="row">
  <div class="col-md-12 flex justify-content-end">
    <div class="flex flex-column align-items-end">
      <span class="texto-orden-servicio">Total órden de servicio</span>
      <span class="cantidad-orden-servicio">{{dropDownODS.totalPaquete | currency: 'USD' | lowercase}}</span>
    </div>
  </div>
</div>
<hr>
<div class="my-4 flex justify-content-end">
  <button (click)="regresar()" class="btn btn-md btn-default">Regresar</button>
  <div *ngIf="altaODS.idEstatus == 1">
    <button type="button" (click)="guardarODS()" [disabled]="false" class="btn btn-lg btn-primary ml-5">
      Generar pre-orden</button>
  </div>
  <div  *ngIf="altaODS.idEstatus == 2">
    <button type="button" class="btn btn-md btn-primary ml-5" [disabled]="false"
            (click)="guardarODS()">Crear Orden de Servicio</button>
  </div>
</div>

