<div class="container-gral">
  <div class="row">
    <div class="mb-4">
      <span class="etiqueta-subtitulo">El presente comprobante carece de validez fiscal</span>
    </div>
    <h3>Nota de remisión</h3>
  </div>

  <div class="row mb-4">
    <div class="col-md-12 border-custorm seccion-folio flex justify-content-between"></div>

    <div class="col-md-12 border-external">
      <div class="body">
        <section class="logos">
          <div class="logo-fibeso float-left">
            <span class="texto-fibeso">FIBESO</span>
          </div>
          <div class="logo-imss float-right ">
            <span class="texto-imss">IMSS</span>
          </div>
        </section>

        <section class="titulo-body">
          <p>
            NOTA DE REMISIÓN
          </p>
        </section>


        <section class="flex justify-content-between info-gral-remision mt-7">
          <div class="mb-6">
            <div class="float-left table-panel-column">
              <label class="control-label">Versión del documento:</label>
              <span>1.2</span>
            </div>
            <div class="float-right table-panel-column">
              <label class="control-label">Fecha:</label>
              <span>{{datos.fechaNota}}</span>
            </div>
          </div>
        </section>

        <section class="flex content-body">
          <div class="col-md-12 sub-content">
            <div class="row mb-3">
              <div class="col-md-6 table-panel-column">
                <label class="control-label">Velatorio:</label>
                <span>{{datos.nomVelatorio}}</span>
              </div>
              <div class="col-md-6 table-panel-column">
                <label class="control-label">Remisión de servicios:</label>
                <span>{{datos.folioNota}}</span>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6 table-panel-column">
                <label class="control-label">Dirección:</label>
                <span>{{datos.dirVelatorio}}</span>
              </div>
            </div>
          </div>
        </section>

        <section class="flex content-body">
          <div class="col-md-12 sub-content">
            <span class="titulo-content">Datos del solicitante del servicio</span>
            <div class="row mt-7 mb-3">
              <div class="col-md-3 subtitulo">
                <label class="control-label">Nombre:</label>
              </div>
              <div class="col-md-9 subtitulo">
                <span class="table-panel-column-span">{{datos.nomSolicitante}}</span>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-3 subtitulo">
                <label class="control-label">Dirección:</label>
              </div>
              <div class="col-md-9 subtitulo">
                <span class="table-panel-column-span">{{datos.dirSolicitante}}</span>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-3 subtitulo">
                <label class="control-label">CURP:</label>
              </div>
              <div class="col-md-9 subtitulo">
                <span class="table-panel-column-span">{{datos.curpSolicitante}}</span>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-3 subtitulo">
                <label class="control-label">Velatorio origen del convenio:</label>
              </div>
              <div class="col-md-9 subtitulo">
                <span class="table-panel-column-span">{{datos.velatorioOrigen}}</span>
              </div>
            </div>
          </div>
        </section>

        <section class="flex content-body">
          <div class="col-md-12 sub-content">
            <span class="titulo-content">Servicios</span>
            <div class="row mb-3">
              <div class="col-md-6 subtitulo">
                <label class="control-label">Artículos / Servicios</label>
              </div>
              <div class="col-md-6 subtitulo">
                <label class="control-label">Cantidad</label>
              </div>
            </div>
            <div class="row mb-3" *ngFor="let servicio of servicios">
              <div class="col-md-6">
                <label class="control-label">{{servicio.nomServicio}}</label>
              </div>
              <div class="col-md-6 subtitulo-derecho">
                <label class="control-label">{{servicio.cantidad}}</label>
              </div>
            </div>
          </div>
        </section>

        <section class="mb-7">
          <div class="row mb-3">
            <div class="col-md-4 table-panel-column">
              <label class="control-label">Folio de la ODS:</label>
              <span>{{datos.nomFinado}}</span>
            </div>

            <div class="col-md-4 table-panel-column">
              <label class="control-label">Parentesco:</label>
              <span>{{datos.parFinado}}</span>
            </div>

            <div class="col-md-4 table-panel-column">
              <label class="control-label">Folio ODS:</label>
              <span>{{datos.folioODS}}</span>
            </div>
          </div>

          <span class="etiqueta-form">Orden de servicio {{datos.folioODS}} Proporcionada por reembolso de previsión
            funeraria
          </span>
        </section>

        <span class="etiqueta-conformidad">Estoy conforme con los servicios otorgados, los cuales fueron de acuerdo al
          contrato de previsión funeraria No. {{datos.folioConvenio}}
          celebrado con fecha {{datos.fechaODS | date:'dd/MM/YYYY'}} a favor del finado en su calidad de
          (beneficiario/titular) del servicio
        </span>

        <section class="flex mt-7">
          <div class="parte-nombre">
            <span class="etiqueta-firma">Nombre y firma de conformidad</span>
            <div class="row mt-3 mb-3">
              <div class="col-md-12">
                <span>{{datos.nombreConformidad}}</span>
              </div>
            </div>
          </div>
          <div class="parte-firma">
            <div class="card border">
              <div class="container-card">
                <hr class="linea-firma mt-2">
                <p class="mt-5 etiqueta-firma">Firma</p>
              </div>
            </div>
          </div>
        </section>

        <hr class="dashed">

        <section class="flex mb-7">
          <div class="parte-nombre">
            <span class="etiqueta-firma">Nombre y firma del representante de velatorio</span>
            <div class="row mt-3 mb-3">
              <div class="col-md-12 table-panel-column">
                <span>{{datos.nombreRepresentante}}</span>
              </div>
            </div>
          </div>
          <div class="parte-firma">
            <div class="card border">
              <div class="container-card">
                <hr class="linea-firma mt-2">
                <p class="mt-5 etiqueta-firma">Firma</p>
              </div>
            </div>
          </div>
        </section>
        <section class="mb-7" *ngIf="datos.motivo">
          <div class="row mb-3">
            <div class="col-md-4 table-panel-column">
              <label class="control-label">Motivo de cancelacion:</label>
              <span>{{datos.motivo}}</span>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="mb-4">
      <div class="col-md-12 mt-4">
        <span class="etiqueta-obligatorios">*Campos obligatorios</span>
      </div>
    </div>

    <div class="row mb-3" *ngIf="generarNotaRemision">
      <div class="col-md-12 text-center">
        <span class="etiqueta-base">¿Estás seguro de generar esta nueva nota de remisión?</span>
      </div>
    </div>
  </div>

  <div class="row flex justify-content-end mb-4" *ngIf="generarNotaRemision">
    <button type="button" class="btn btn-default btn-md" (click)="btnRegresar()">Regresar</button>
    <button type="button" class="ml-4 btn btn-danger btn-md" (click)="btnRegresar()">Cancelar</button>
    <button type="button" class="ml-4 btn btn-primary btn-md" (click)="btnAceptar()"
            *appValidaRol="['GENERAR_NOTA_REMISION','ALTA']">Aceptar
    </button>
  </div>

  <div class="row flex justify-content-end mb-4" *ngIf="!generarNotaRemision">
    <button type="button" class="ml-4 btn btn-primary btn-md" (click)="btnAceptarDetalle()">Aceptar</button>
  </div>
</div>
