<app-titulo-principal
  titulo="Pre-registro para la contratación de Convenio de Previsión Funeraria"></app-titulo-principal>

<ng-container *ngIf="preRegistroSiguiente == false">

  <div class="row mb-3">
    <div class="col-md-12">
      <div class="flex justify-content-between align-items-center">
        <label class="control-label" for="velatorio">tipo contrato</label><br>
      </div>
    </div>
    <div class="col-md-12">
      <div class="flex justify-content-between align-items-center">
        <h2 class="subtitulo sub">por grupo</h2>
      </div>
    </div>
  </div>

  <div class="border-panel mb-3">
    <app-table-panel class="row mb-5">
      <ng-template appCustomTemplate="left-header">
        <div class="table-panel-header-column">
          <span class="font-bold">Número de folio de convenio (Pre-registro) </span>
          <span class="font-bold">DOC00000000001 </span>
        </div>
      </ng-template>
      <ng-template appCustomTemplate="right-header">
        <div class="table-panel-header-column">
        </div>
      </ng-template>
    </app-table-panel>
    <div class="mb-3">
      <div class="col-md-12">
        <div class="flex justify-content-between align-items-center">
          <h2 class="subtitulo sub">Personas y beneficiarios</h2>
        </div>
      </div>
      <div class="col-md-12 separador">
      </div>

      <div class="col-md-12">
        <div class="col-md-1 icono">
          <img src="../../../../../../assets/icons/fonts/admiracion.svg" alt="">
        </div>
        <div class="col-md-11">
          <p class="mensaje-cancelacion-orden indicaciones align-items-left">Modifica, elimina o agrega Pesonas y hasta
            3 beneficiarios por
            cada una</p>
        </div>
      </div>


      <div class="col-md-12 separador"></div>
    </div>
    <app-table-panel>
      <ng-template appCustomTemplate="left-header">
        <div class="table-panel-header-column">
            <span class="font-bold">
              Hermelinda Huautla Flores
            </span>
        </div>
      </ng-template>
      <ng-template appCustomTemplate="right-header">
        <div class="table-panel-header-column">
          <div class="flex flex-column">
            <div>
            </div>
          </div>
          <div class="flex flex-column ml-5">
            <div class="contenedor-celda-iconos">
              <a (click)="abrir($event)">
                <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </app-table-panel>
    <div class="col-md-12 separador"></div>
    <div class="mb-3">
      <div class="col-md-12">
        <div class="flex justify-content-between align-items-center">
          <h2 class="subtitulo sub">Adjuntar documentación</h2>
        </div>
      </div>
      <div class=" row col-md-12 separador">
      </div>
      <div class="col-md-12">
        <div class="col-md-1 icono">
          <img src="../../../../../../assets/icons/fonts/admiracion.svg" alt="">
        </div>
        <div class="col-md-11">
          <p class="mensaje-cancelacion-orden indicaciones align-items-left">Arrastrar y soltar los archivos en la
            sección "Cargar
            Archivos"
            o selecciona la opción “Agregar Archivo</p>
        </div>
      </div>
      <div class="col-md-12 separador"></div>
    </div>
    <section class="mt-5">
      <p-table styleClass="mt-5 mb-8 last-sticky-column" [value]="documentos" [rows]="cantElementosPorPagina"
               [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual"
               (onLazyLoad)="paginar($event)">

        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Numero del documento</th>
            <th scope="col">Tipo del documento</th>
            <th scope="col">Link del documento</th>
            <th scope="col"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-documento>
          <tr>
            <td> {{documento.numeroDocumento}} </td>
            <td> {{documento.tipoDocumento}} </td>
            <td> {{documento.linkDocumento}} </td>
            <td>
              <div class="contenedor-celda-iconos">
                <a (click)="overlayPanel.toggle($event)">
                  <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
                </a>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </section>
    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="submit" class="btn btn-default btn-md" (click)="cancelar()" routerLink="../">Regresar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5" (click)="aceptar();">Aceptar</button>
      </div>
    </div>
  </div>
</ng-container>

<div class="section" *ngIf="preRegistroSiguiente == true">
  <div class="mb-8">
    <p-accordion styleClass="sivimss-accordion">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center flex-1">
            <span>Convenio de previsión funeraria</span>
            <div class="contenedor-celda-iconos">
              <div class="estatusAcordion">
                <span>Estatus </span>
                <b>Activo</b>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="mb-3">
            <app-table-panel class="row mb-5">
              <ng-template appCustomTemplate="left-header">
                <div class="table-panel-header-column">
                  <span class="font-bold">Número de folio de convenio (Pre-registro) </span>
                  <span class="font-bold">DOC00000000001 </span>
                </div>
              </ng-template>
              <ng-template appCustomTemplate="right-header">
                <div class="table-panel-header-column">
                </div>
              </ng-template>
            </app-table-panel>
            <div class="mb-3">
              <div class="col-md-12">
                <div class="flex justify-content-between align-items-center">
                  <h2 class="subtitulo sub">Personas y beneficiarios</h2>
                </div>
              </div>
              <div class="col-md-12 separador">
              </div>
              <div class="col-md-12">
                <div class="col-md-1 icono">
                  <img src="../../../../../../assets/icons/fonts/admiracion.svg" alt="">
                </div>
                <div class="col-md-11">
                  <p class="mensaje-cancelacion-orden indicaciones">Modifica, elimina o agrega Pesonas y hasta 3
                    beneficiarios por
                    cada una</p>
                </div>
              </div>
              <div class="col-md-12 separador"></div>
            </div>
            <app-table-panel>
              <ng-template appCustomTemplate="left-header">
                <div class="table-panel-header-column">
                    <span class="font-bold">
                      Hermelinda Huautla Flores
                    </span>
                </div>
              </ng-template>
              <ng-template appCustomTemplate="right-header">
                <div class="table-panel-header-column">
                  <div class="flex flex-column">
                    <div>
                    </div>
                  </div>
                  <div class="flex flex-column ml-5">
                    <div class="contenedor-celda-iconos">
                      <a (click)="($event)">
                        <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
                      </a>
                    </div>
                  </div>
                </div>
              </ng-template>
            </app-table-panel>
            <div class="col-md-12 separador"></div>
            <div class="mb-3">
              <div class="col-md-12">
                <div class="flex justify-content-between align-items-center">
                  <h2 class="subtitulo sub">Adjuntar documentación</h2>
                </div>
              </div>
              <div class=" row col-md-12 separador">
              </div>
              <div class="col-md-12">
                <div class="col-md-1 icono">
                  <img src="../../../../../../assets/icons/fonts/admiracion.svg" alt="">
                </div>
                <div class="col-md-11">
                  <p class="mensaje-cancelacion-orden indicaciones">Arrastrar y soltar los archivos en la sección
                    "Cargar
                    Archivos"
                    o selecciona la opción “Agregar Archivo</p>
                </div>
              </div>
              <div class="col-md-12 separador"></div>
            </div>
            <section class="mt-5">
              <p-table styleClass="mt-5 mb-8 last-sticky-column" [value]="documentos" [rows]="cantElementosPorPagina"
                       [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual"
                       (onLazyLoad)="paginar($event)">

                <ng-template pTemplate="header">
                  <tr>
                    <th scope="col">Numero del documento</th>
                    <th scope="col">Tipo del documento</th>
                    <th scope="col">Link del documento</th>
                    <th scope="col"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-documento>
                  <tr>
                    <td> {{documento.numeroDocumento}} </td>
                    <td> {{documento.tipoDocumento}} </td>
                    <td> {{documento.linkDocumento}} </td>
                    <td>
                      <div class="contenedor-celda-iconos">
                        <a>
                          <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
                        </a>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </section>
          </div>
        </ng-template>
      </p-accordionTab>
    </p-accordion>

    <div class="border-panel mb-3 laterales">
      <div class="row mt-3">
        <div class="row mt-4">
          <div class="col-md-12">
            <p class="mensaje-cancelacion-orden">¿Estás seguro que deseas aprovar este convenio?</p>
          </div>
        </div>

        <div class="row mt-6">
          <div class="col-md-12 flex justify-content-end">
            <button type="submit" class="btn btn-default btn-md" routerLink="../">Regresar</button>
            <button type="submit" class="btn btn-primary btn-md ml-5" routerLink="../" (click)="aceptar()">Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-overlayPanel #overlayPanel>
    <ng-template pTemplate="content">
      <app-overlay-panel-opciones>
        <app-overlay-panel-opcion titulo="Generar tarjeta identificación"></app-overlay-panel-opcion>
        <app-overlay-panel-opcion titulo="Modificar"></app-overlay-panel-opcion>
        <app-overlay-panel-opcion titulo="Cancelar orden"></app-overlay-panel-opcion>
      </app-overlay-panel-opciones>
    </ng-template>
  </p-overlayPanel>
