<div class="grid">
  <app-btn-regresar class="mr-2 mt-5 col-fixed border-return-button" [routerLink]="['']"></app-btn-regresar>
  <app-titulo-principal titulo="Pre-registro para la contratación de Convenio de Previsión Funeraria"
                        class="col"></app-titulo-principal>
</div>
<app-convenio-header [tipoContratacion]="'Por persona'" [numeroFolio]="folio"></app-convenio-header>

<form [formGroup]="contratacionNuevoConvenioForm">

<!--  <p-accordion styleClass="sivimss-accordion sivimss-accordionColor mb-5" [activeIndex]="0">-->
<!--    <p-accordionTab header="Grupo o empresa">-->
<!--      <app-datos-empresa></app-datos-empresa>-->
<!--    </p-accordionTab>-->
<!--  </p-accordion>-->

  <p-accordion styleClass="sivimss-accordion sivimss-accordionColor mb-5" [activeIndex]="0" formGroupName="persona">
    <p-accordionTab header="Datos de la persona">
      <app-datos-persona></app-datos-persona>
    </p-accordionTab>
  </p-accordion>

  <p-accordion styleClass="sivimss-accordion sivimss-accordionColor mb-5" [activeIndex]="0">
    <p-accordionTab header="Características del convenio">
      <div class="row mb-3">
        <div class="col-md-4">
          <label class="control-label" for="tipoPaquete">Tipo de paquete<span class="req">*</span>:</label>
          <input id="tipoPaquete" class="form-control" placeholder="Inserta el tipo de paquete">
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <p-accordion styleClass="sivimss-accordion sivimss-accordionColor mb-5" [activeIndex]="0">
    <p-accordionTab header="Beneficiarios">
      <app-datos-beneficiario></app-datos-beneficiario>
    </p-accordionTab>
  </p-accordion>

  <p-accordion styleClass="sivimss-accordion sivimss-accordionColor mb-5" [activeIndex]="0">
    <p-accordionTab header="Documentación requerida">
      <app-documentacion-beneficiario></app-documentacion-beneficiario>
    </p-accordionTab>
  </p-accordion>
</form>
