<div class="border-panel">
  <div class="flex justify-content-end mb-3">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <span>Capillas</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="circle" style="background-color:#217A6B;"></span>
          <b class="texto-base" style="color:#217A6B;"> Ignacio Allende</b>
        </div>
        <div class="col-md-3">
          <span class="circle" style="background-color:#5E217A;"></span>
          <b class="texto-base" style="color:#5E217A;"> Miguel Hidalgo</b>
        </div>
        <div class="col-md-3">
          <span class="circle" style="background-color:#E18F2D;"></span>
          <b class="texto-base" style=" color:#E18F2D;"> Sor Juana Inés</b>
        </div>
      </div>
    </div>
  </div>
  <full-calendar #calendar [options]="calendarOptions"></full-calendar>

</div>
