<div class="row mb-3">
  <div class="col-md-12">

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="delegacion">Delegación:</label>
        <p-dropdown id="delegacion" [(ngModel)]="delegacion" class="form-control" [options]="delegaciones" placeholder="Selecciona la delegación"
                    (onChange)="cambiarDelegacion()">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="velatorioCalendario">Velatorio</label>
        <p-dropdown appendTo="body" id="velatorioCalendario" class="form-control" [(ngModel)]="velatorio"
                    [options]="velatorios"
                    (onChange)="consultarCapillas()"
                    placeholder="Selecciona el velatorio">
        </p-dropdown>
      </div>
    </div>

  </div>
</div>
<div class="row mb-3">


  <div class="border-panel">
    <div class="flex justify-content-end mb-3">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <span>Capillas</span>
          </div>
        </div>
        <div class="row">
          <div class="flex justify-content-end">
            <div class="flex col-md-6 justify-content-around col-absolute" *ngIf="tituloCapillas != []">
              <ng-container  *ngFor="let titulo of tituloCapillas">
                <div>
                  <span class="circle" [style.background-color]="titulo.borderColor"></span>
                  <b class="texto-base" [style.color]="titulo.textColor"> {{titulo.title}}</b>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <full-calendar #calendarioCapillas [options]="calendarOptions"></full-calendar>
    <div class=" mt-3 row">
      <div class="flex justify-content-end align-content-end">
        <span class="export-table-text" style="font-size: 9px">Exportar tabla</span><br/>
      </div>
      <div class="flex justify-content-end">
        <img class="icon-export-table" (click)="generarArchivo('pdf')" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
        <img class="icon-export-table" (click)="generarArchivo('xls')" src="assets/images/imagen-icono-excel.svg"
             alt="exportar excel">
      </div>
    </div>
  </div>



</div>
