<!-- VER DETALLE ROL-->
<app-table-panel  *ngIf="rolSeleccionado">
    <ng-template appCustomTemplate="left-header">
        <div class="table-panel-header-column">
            <span class="font-bold">ID {{rolSeleccionado.idRol}}</span>
        </div>
    </ng-template>
    <ng-template appCustomTemplate="right-header">
        <div class="table-panel-header-column">
            <div class="flex flex-column">
                <span>Estatus</span>
                <div class="contenedor-inputswitch">
                    <p-inputSwitch [(ngModel)]="rolSeleccionado.estatusRol" (ngModelChange)="cambiarEstatus(rolSeleccionado);"></p-inputSwitch>
                    <span class="activo" *ngIf="rolSeleccionado.estatusRol">Activo</span>
                    <span class="inactivo" *ngIf="!rolSeleccionado.estatusRol">Inactivo</span>
                </div>
            </div>
            <a class="ml-5 cursor-pointer" (click)="overlayPanel.toggle($event)">
                <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
            </a>
        </div>
    </ng-template>
    <div class="row table-panel-row">
        <div class="col-md-9">
            <div class="table-panel-column">
                <label>Nombre del rol</label>
                <span>{{rolSeleccionado.desRol}}</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="table-panel-column">
                <label class="text-right">Fecha de creación</label>
                <span class="text-right">{{rolSeleccionado.fCreacion}}</span>
            </div>
        </div>
    </div>
    <div class="row table-panel-row">
        <div class="col-md-4">
            <div class="table-panel-column">
                <label>Nivel</label>
                <span>{{rolSeleccionado.desNivelOficina}}</span>
            </div>
        </div>
    </div>
</app-table-panel>
<p-overlayPanel #overlayPanel>
    <ng-template pTemplate="content">
      <app-overlay-panel-opciones>
        <app-overlay-panel-opcion titulo="Modificar" (click)="abrirModalModificarRol()"></app-overlay-panel-opcion>
      </app-overlay-panel-opciones>
    </ng-template>
  </p-overlayPanel>
