<div class="flex">
  <app-btn-regresar class="mr-2" style="
    z-index: 300;
    border: solid 2px;
    height: 38px;
    width: 47px;
    padding-left: 6px;
    border-radius: 5px;" routerLink="../"></app-btn-regresar>
  <app-titulo-principal style="width: 100%" titulo="Orden de entrada / Consulta orden de entrada"></app-titulo-principal>
</div>
<p-tabView>
  <p-tabPanel [header]="menu[0]">
    <app-consulta-orden-entrada></app-consulta-orden-entrada>
  </p-tabPanel>
  <p-tabPanel [header]="menu[1]">
    <app-consulta-stock></app-consulta-stock>
  </p-tabPanel>
</p-tabView>
