<app-titulo-principal titulo="REPORTE DEL ENCARGADO"></app-titulo-principal>
<ng-container *ngIf="!mostrarDetalle">
  <div class="border-panel">
    <form [formGroup]="filtroForm">
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="tipoReporte">Tipo de reporte<span class="req">*</span>:</label>
          <p-dropdown id="tipoReporte" class="form-control" formControlName="tipoReporte" [options]="tipoReportes"
                      placeholder="Selecciona el tipo" [filter]="true">
          </p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="fmp?.tipoReporte?.errors?.required && (fmp?.tipoReporte?.dirty || fmp?.tipoReporte?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="placa">Placa:</label>
          <p-dropdown id="placa" class="form-control" formControlName="placa" [options]="catalogoPlacas"
            placeholder="Seleccionar vehículo" [filter]="true">
          </p-dropdown>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label class="control-label">Fecha inicial<span class="req">*</span>:</label>
              <p-calendar id="fechaVigenciaDesde" formControlName="fechaVigenciaDesde" styleClass="form-control"
                [showIcon]="true" placeholder="" dateFormat="dd/mm/yy" (onSelect)="validarFechas()">
              </p-calendar>
              <span class="campo-obligatorio"
                *ngIf="fmp?.fechaVigenciaDesde?.errors?.required && (fmp?.fechaVigenciaDesde?.dirty || fmp?.fechaVigenciaDesde?.touched)">Este
                campo es obligatorio *.</span>
            </div>
            <div class="col-md-6">
              <label class="control-label">Fecha final<span class="req">*</span>:</label>
              <p-calendar id="fecahVigenciaHasta" formControlName="fecahVigenciaHasta" styleClass="form-control"
                [showIcon]="true" placeholder="" dateFormat="dd/mm/yy" appendTo="body" [maxDate]="fechaActual"
                (onSelect)="validarFechas()">
              </p-calendar>
              <span class="campo-obligatorio"
                *ngIf="fmp?.fecahVigenciaHasta?.errors?.required && (fmp?.fecahVigenciaHasta?.dirty || fmp?.fecahVigenciaHasta?.touched)">Este
                campo es obligatorio *.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-12">
          <span class="control-label">*Campos obligatorios</span>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-md-12 flex justify-content-end">
          <button type="submit" class="btn btn-default btn-md" (click)="limpiar()">Limpiar</button>
          <button type="submit" class="btn btn-primary btn-md ml-5" (click)="buscar()"
            [disabled]="filtroForm.invalid || !fechaValida">Buscar
          </button>
        </div>
      </div>
    </form>
  </div>
  <ng-container>
    <div class="separador">
    </div>
  </ng-container>
  <ng-container *ngIf="mostrarTabla">
    <p-accordion styleClass="sivimss-accordion">
      <app-table-panel>
        <ng-template appCustomTemplate="header">
          <div class="table-panel-header-column">
            <div class="col-md-6 colum-tam">
              <div class="table-panel-column">
                <label>Velatorio</label>
                <span>{{velatorio}}</span>
              </div>
            </div>
            <div class="col-md-6 colum-tam">
              <div class="table-panel-column">
                <label>Total de vehiculos</label>
                <span>{{totalVehiculos}}</span>
              </div>
            </div>
            <div class="col-md-6 colum-tam">
              <div class="table-panel-column">
                <label>Rango de fechas</label>
                <span>{{rangoFecha}}</span>
              </div>
            </div>
          </div>
        </ng-template>

        <div class="row table-panel-row">
          <div class="col-md-12">
            <div class="table-panel-column">
              <p-table [value]="registrosReporte">
                <ng-template pTemplate="header">
                  <tr>
                    <th id="reporte-encargado-fecha">Fecha</th>
                    <th id="reporte-encargado-placa">Placa</th>
                    <th id="reporte-encargado-aceite">Aceite</th>
                    <th id="reporte-encargado-agua">Agua</th>
                    <th id="reporte-encargado-calibracion">Calibración neumáticos</th>
                    <th id="reporte-encargado-combustible">Combustible</th>
                    <th id="reporte-encargado-codigo">Código falla</th>
                    <th id="reporte-encargado-bateria">Bateria</th>
                    <th id="reporte-encargado-estatus"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td>{{ item.FEC_REGISTRO }}</td>
                    <td>{{ item.DES_PLACAS }}</td>
                    <td>{{ item.DES_NIVEL_ACEITE }}</td>
                    <td>{{ item.DES_NIVEL_AGUA }}</td>
                    <td>{{ item.DES_NIVEL_NEUMADELA }}</td>
                    <td>{{ item.DES_NIVEL_COMBUSTIBLE }}</td>
                    <td>{{ item.DES_NIVEL_CODIGOFALLO }}</td>
                    <td>{{ item.DES_NIVEL_BATERIA }}</td>
                    <td>
                      <div class="contenedor-celda-iconos">
                        <a (click)="abrirDetallereporteEncargado(item)">
                          <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
                        </a>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <th colspan="9" class="p-2 text-center font-bold text-xl" id="reporte_encargado_sin_resultados">
                      No se encontro información relacionada a tu búsqueda.
                    </th>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </app-table-panel>
    </p-accordion>
  </ng-container>
</ng-container>

<ng-container *ngIf="mostrarDetalle">
  <app-table-panel>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <h6>Reporte del encargado</h6>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Velatorio</label>
          <span>{{velatorio}}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Total de vehiculos</label>
          <span>{{totalVehiculos}}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Rango de fecha</label>
          <span>{{rangoFecha}}</span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <h6>Verificación diaria</h6>
          <div class="table-panel-column">
            <div class="row table-panel-row borderSolidTable">
              <div class="col-md-4">
                <div class="table-panel-column">
                  <label>Placa</label>
                  <span>{{registroSeleccionado.DES_PLACAS}}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="table-panel-column">
                  <label>Fecha</label>
                  <span>{{registroSeleccionado.FEC_REGISTRO}}</span>
                </div>
              </div>
            </div>
            <div class="row table-panel-row borderSolidTableSub">
              <div class="col-md-12">
                <div class="col-md-4">
                  <div class="table-panel-column col-md-6">
                    <label>Nivel de aceite</label>
                    <span>{{registroSeleccionado.DES_NIVEL_ACEITE}}</span>
                  </div>
                  <div class="table-panel-column col-md-6">
                    <img class="icono" src="../../../../../../assets/images/nivelCombus.svg" alt="Nivel combustible">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="table-panel-column col-md-6">
                    <label>Nivel de agua</label>
                    <span>{{registroSeleccionado.DES_NIVEL_AGUA}}</span>
                  </div>
                  <div class="table-panel-column col-md-6">
                    <img class="icono" src="../../../../../../assets/images/nivelAgua.svg" alt="Nivel agua">
                  </div>
                </div>
              </div>
            </div>
            <div class="row table-panel-row borderSolidTableSub">
              <div class="col-md-4">
                <div class="col-md-12">
                  <div class="table-panel-column col-md-6">
                    <label>Calibración de neumáticos traseros</label>
                    <span>{{registroSeleccionado.DES_NIVEL_NEUMATRASE}}</span>
                  </div>
                  <div class="table-panel-column col-md-6">
                    <img class="icono-velocimetro" src="../../../../../../assets/images/velocimetroBajo.svg"
                      Alt="Calibracion neumaticos traseros">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="table-panel-column col-md-6">
                    <label>Calibración de numáticos delanteros</label>
                    <span>{{registroSeleccionado.DES_NIVEL_NEUMADELA}}</span>
                  </div>
                  <div class="table-panel-column col-md-6">
                    <img class="icono-velocimetro" src="../../../../../../assets/images/belocimetroAlto.svg"
                      alt="Calibración neumaticos delanteros">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="bordes">
                  <div class="col-md-8 margen-tabla">
                    <label>Presion recomendada</label>
                    <p-table [value]="dataDetalle">
                      <ng-template pTemplate="header">
                        <tr>
                          <th id="reporte-encargado-rin">Rin</th>
                          <th id="reporte-encargado-precision">Precisión</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-item>
                        <tr>
                          <td>{{ item.rin }}</td>
                          <td>{{ item.precision }}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="col-md-4">
                  </div>
                </div>
              </div>
            </div>
            <div class="row table-panel-row borderSolidTableSub">
              <div class="col-md-12">
                <div class="col-md-4">
                  <div class="table-panel-column col-md-6">
                    <label>Nivel de Combustible</label>
                    <span>{{registroSeleccionado.DES_NIVEL_COMBUSTIBLE}}</span>
                  </div>
                  <div class="table-panel-column col-md-6">
                    <img class="icono" src="../../../../../../assets/images/nivelCombus.svg" alt="Nivel de combustible">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="table-panel-column col-md-6">
                    <label>Nivel de Bateria </label>
                    <span>{{registroSeleccionado.DES_NIVEL_BATERIA}}</span>
                  </div>
                  <div class="table-panel-column col-md-6">
                    <img class="icono-bateria" src="../../../../../../assets/images/loading.svg" alt="Nivel bateria">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="table-panel-column col-md-6">
                    <label>Código de falla</label>
                    <span>{{registroSeleccionado.DES_NIVEL_CODIGOFALLO}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-table-panel>
</ng-container>

<ng-container>
  <div class="col-mb-12 row flex justify-content-end"
    style="margin-top: 30px; margin-bottom: 30px;  padding-right: 14px;">
    <button type="submit" class="btn btn-primary btn-md ml-5" (click)="cerrar()">Cerrar</button>
  </div>
</ng-container>