<app-titulo-principal titulo="Registro de solicitud para vale"></app-titulo-principal>
<div class="border-panel">
    <form [formGroup]="filtroForm">
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="control-label" for="matricula">Matricula:</label>
                <input id="matricula" class="form-control" formControlName="matricula" placeholder="Inserta el matricula">
                <span class="campo-obligatorio" *ngIf="f?.matricula?.errors?.required && (f?.matricula?.dirty || f?.matricula?.touched)">Campo obligatorio</span>
            </div>
            <div class="col-md-6">
                <label class="control-label" for="delegacion">Delegación:</label>
                <p-dropdown id="delegacion" class="form-control" formControlName="delegacion" [options]="opciones" placeholder="Seleccionar el delegacion">
                </p-dropdown>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <label class="control-label" for="importe">Importe del prestamo:</label>
                <input id="importe" class="form-control" formControlName="importe" placeholder="Inserta el monto">
                <span class="campo-obligatorio" *ngIf="f?.importe?.errors?.required && (f?.importe?.dirty || f?.importe?.touched)">Campo obligatorio</span>
            </div>
            <div class="col-md-12 flex justify-content-end">
                <button type="submit" class="btn btn-default btn-md" (click)="limpiar();">Limpiar</button>
                <button type="submit" class="btn btn-primary btn-md ml-5" (click)="buscar();">Buscar</button>
            </div>
        </div>
    </form>
</div>
<section class="mt-5">
    <div class="flex justify-content-between align-items-center">
        <h2 class="subtitulo">Solicitar vales paritaria</h2>
    </div>
    <p-table appActivarUltimaCeldaSticky styleClass="mt-5 mb-8" [value]="valesParitaria" [paginator]="valesParitaria.length > 0" [rows]="cantElementosPorPagina" [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual" (onLazyLoad)="paginar($event)">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Matricula</th>
                <th scope="col">Delegación</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de contratacion</th>
                <th scope="col">Estatus</th>
                <th scope="col"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vale>
            <tr>
                <td>{{vale.id}}</td>
                <td>{{vale.matricula}}</td>
                <td>{{vale.delegacion}}</td>
                <td>{{vale.nombre}}</td>
                <td>{{vale.tipoContratacion}}</td>
                <td>{{vale.estatus}}</td>
                <td>
                    <div [appEstilosCeldaSticky]="{display:'grid',gridTemplateColumns:'120px 80px'}">
                        <div class="contenedor-celda-iconos">
                            <a (click)="abrirPanel($event,vale)">
                                <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <div class="paginator-template">
                <span class="total-elements">{{valesParitaria.length}} de {{totalElementos}}</span>
            </div>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <div class="paginator-template">
                <div class="export-table">
                    <span class="export-table-text">Exportar tabla</span>
                    <div class="export-table-icons">
                        <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
                        <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg" alt="exportar excel">
                    </div>
                </div>
            </div>
        </ng-template>
    </p-table>
</section>

<p-overlayPanel #overlayPanel>
    <ng-template pTemplate="content">
        <app-overlay-panel-opciones>
            <app-overlay-panel-opcion titulo="Solicitar Vale" routerLink="solicitar-vale"></app-overlay-panel-opcion>
        </app-overlay-panel-opciones>
    </ng-template>
</p-overlayPanel>
