<div class="row">
  <div class="col-md-12 flex flex-column">
    <span class="etiqueta-base">Nombre del beneficiario:</span>
    <div class="flex align-items-center">
      <p-checkbox styleClass="mr-3" class="disminuir-size" [(ngModel)]="beneficiarioSeleccionado.seleccionado"
                  [binary]="true"></p-checkbox>
      <span class="texto-base">{{beneficiarioSeleccionado.nombre}}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span class="etiqueta-base">Selecciona un beneficiario:</span>
    <div class="flex flex-column border-panel-ligero" *ngFor="let beneficiario of beneficiarios;index as i">
      <div class="flex align-items-center">
        <p-checkbox inputId="{{i}}" styleClass="mr-3" [(ngModel)]="beneficiario.seleccionado"
                    [binary]="true"></p-checkbox>
        <label [for]="i" class="control-label mb-0">{{beneficiario.nombre}}</label>
      </div>
    </div>
  </div>
</div>
