<form [formGroup]="form">
  <ng-container formGroupName="datosContratante">
    <h2 class="subtitulo-base">Datos del contratante</h2>
    <div class="row mb-2">
      <div class="col-md-4">
        <label class="control-label" for="matricula">Matrícula<span class="req"
            *ngIf="datosContratante.matriculaCheck.value">*</span>:</label>
        <input id="matricula" type="text" class="form-control" formControlName="matricula" [readonly]="radonlyMatricula"
          (change)="consultarMatriculaSiap()" placeholder="Ingresa matrícula" maxlength="10">
        <p-checkbox inputId="otorgamiento" formControlName="matriculaCheck" styleClass="mr-3"
          (click)="cambiarValidacion()" [binary]="true"></p-checkbox>
        <ng-container *ngIf="datosContratante.matriculaCheck.value">
          <span class="campo-obligatorio"
            *ngIf="datosContratante.matricula?.errors?.required && (datosContratante.matricula?.dirty || datosContratante.matricula?.touched)">Campo
            obligatorio</span>
        </ng-container>
      </div>
      <div class="col-md-4">
        <label class="control-label" for="rfc">RFC:</label>
        <input id="rfc" type="text" class="form-control" formControlName="rfc" placeholder="Ingresa rfc" maxlength="13"
          (blur)="consultarRFC()" (keyup)="convertirAMayusculas(1)">
      </div>
      <div class="col-md-4">
        <label class="control-label" for="curp">CURP<span class="req">*</span>:</label>
        <input id="curp" type="text" class="form-control" formControlName="curp" placeholder="Ingresa curp"
          maxlength="18" (blur)="consultarCURP()" (keyup)="convertirAMayusculas(0)">
        <span class="campo-obligatorio"
          *ngIf="datosContratante.curp?.errors?.required && (datosContratante.curp?.dirty || datosContratante.curp?.touched)">Campo
          obligatorio</span>
        <span class="campo-obligatorio"
          *ngIf="datosContratante.curp?.errors?.pattern && (datosContratante.curp?.dirty || datosContratante.curp?.touched)">Campo
          obligatorio</span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-4">
        <label class="control-label" for="nombre">Nombre (s)<span class="req">*</span>:</label>
        <input id="nombre" type="text" class="form-control" formControlName="nombre" placeholder="Ingresa nombre (s)"
          maxlength="30" lettersOnly (keyup.space)="noEspaciosAlPrincipio(0)">
        <span class="campo-obligatorio"
          *ngIf="datosContratante.nombre?.errors?.required && (datosContratante.nombre?.dirty || datosContratante.nombre?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" for="primerApellido">Primer apellido<span class="req">*</span>:</label>
        <input id="primerApellido" type="text" class="form-control" formControlName="primerApellido"
          placeholder="Ingresa primer apellido" maxlength="20" lettersOnly (keyup.space)="noEspaciosAlPrincipio(1)">
        <span class="campo-obligatorio"
          *ngIf="datosContratante.primerApellido?.errors?.required && (datosContratante.primerApellido?.dirty || datosContratante.primerApellido?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" for="segundoApellido">Segundo apellido<span class="req">*</span>:</label>
        <input id="segundoApellido" type="text" class="form-control" formControlName="segundoApellido"
          placeholder="Ingresa segundo apellido" maxlength="20" lettersOnly (keyup.space)="noEspaciosAlPrincipio(2)">
        <span class="campo-obligatorio"
          *ngIf="datosContratante.segundoApellido?.errors?.required && (datosContratante.segundoApellido?.dirty || datosContratante.segundoApellido?.touched)">Campo
          obligatorio</span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-3">
        <label class="control-label" for="fechaNacimiento">Fecha de nacimiento<span class="req">*</span>:</label>
        <p-calendar id="fechaNacimiento" styleClass="form-control" formControlName="fechaNacimiento" [showIcon]="true"
          dateFormat="dd/mm/yy" placeholder="Ingresa fecha de nacimiento" [maxDate]="fechaActual"></p-calendar>
        <span class="campo-obligatorio"
          *ngIf="datosContratante.fechaNacimiento?.errors?.required && (datosContratante.fechaNacimiento?.dirty || datosContratante.fechaNacimiento?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-3">
        <label class="control-label" for="sexo">Sexo<span class="req">*</span>:</label>
        <p-dropdown id="sexo" class="form-control" formControlName="sexo" placeholder="Ingresa sexo"
          [options]="tipoSexo" (onChange)="cambiarTipoSexo()" [filter]="true" filterBy="label"></p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="datosContratante.sexo?.errors?.required && (datosContratante.sexo?.dirty || datosContratante.sexo?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-3" *ngIf="datosContratante.sexo.value == 3">
        <label class="control-label" for="otroTipoSexo">Otro<span class="req">*</span>:</label>
        <input id="otroTipoSexo" type="text" class="form-control" formControlName="otroTipoSexo" placeholder="Otro">
        <span class="campo-obligatorio"
          *ngIf="datosContratante.otroTipoSexo?.errors?.required && (datosContratante.otroTipoSexo?.dirty || datosContratante.otroTipoSexo?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-3">
        <label class="control-label" for="nacionalidad">Nacionalidad<span class="req">*</span>:</label>
        <p-dropdown id="nacionalidad" class="form-control" formControlName="nacionalidad"
          placeholder="Ingresa nacionalidad" [options]="nacionalidad" (onChange)="cambiarNacionalidad()" [filter]="true" filterBy="label"></p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="datosContratante.nacionalidad?.errors?.required && (datosContratante.nacionalidad?.dirty || datosContratante.nacionalidad?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-3" *ngIf="datosContratante.nacionalidad.value == 1">
        <label class="control-label" for="lugarNacimiento">Lugar de nacimiento<span class="req">*</span>:</label>
        <p-dropdown id="lugarNacimiento" class="form-control" formControlName="lugarNacimiento"
          placeholder="Ingresa lugar de nacimiento" [options]="estado" [filter]="true" filterBy="label"></p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="datosContratante.lugarNacimiento?.errors?.required && (datosContratante.lugarNacimiento?.dirty || datosContratante.lugarNacimiento?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-3" *ngIf="datosContratante.nacionalidad.value == 2">
        <label class="control-label" for="paisNacimiento">País de nacimiento<span class="req">*</span>:</label>
        <p-dropdown id="paisNacimiento" class="form-control" formControlName="paisNacimiento"
          placeholder="Ingresa país de nacimiento" [options]="pais" [filter]="true" filterBy="label"></p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="datosContratante.paisNacimiento?.errors?.required && (datosContratante.paisNacimiento?.dirty || datosContratante.paisNacimiento?.touched)">Campo
          obligatorio</span>
      </div>

    </div>
    <div class="row mb-5">
      <div class="col-md-3">
        <label class="control-label" for="telefono">Teléfono<span class="req">*</span>:</label>
        <input id="telefono" type="text" class="form-control" formControlName="telefono" placeholder="Ingresa teléfono"
          maxlength="10" numbersOnly>
        <span class="campo-obligatorio"
          *ngIf="datosContratante.telefono?.errors?.required && (datosContratante.telefono?.dirty || datosContratante.telefono?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="correoElectronico">Correo electrónico<span class="req">*</span>:</label>
        <input id="correoElectronico" type="text" class="form-control" formControlName="correoElectronico"
          placeholder="Ingresa correo electrónico" (keyup)="convertirAMinusculas()" (blur)="validarCorreoElectronico()">
        <span class="campo-obligatorio"
          *ngIf="datosContratante.correoElectronico?.errors?.required && (datosContratante.correoElectronico?.dirty || datosContratante.correoElectronico?.touched)">Campo
          obligatorio</span>
        <span class="campo-obligatorio"
          *ngIf="datosContratante.correoElectronico?.errors?.pattern && (datosContratante.correoElectronico?.dirty || datosContratante.correoElectronico?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-3">
        <label class="control-label" for="parentesco">Parentesco<span class="req">*</span>:</label>
        <p-dropdown id="parentesco" class="form-control" formControlName="parentesco"
          placeholder="Ingresa el parentesco" [options]="parentesco" [filter]="true" filterBy="label"></p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="datosContratante.parentesco?.errors?.required && (datosContratante.parentesco?.dirty || datosContratante.parentesco?.touched)">Campo
          obligatorio</span>
      </div>
    </div>
  </ng-container>
  <ng-container formGroupName="direccion">
    <h2 class="subtitulo-base">Dirección</h2>
    <div class="row mb-2">
      <div class="col-md-6">
        <label class="control-label" for="calle">Calle<span class="req">*</span>:</label>
        <input id="calle" type="text" class="form-control" formControlName="calle" placeholder="Ingresa calle"
          maxlength="30">
        <span class="campo-obligatorio"
          *ngIf="direccion.calle?.errors?.required && (direccion.calle?.dirty || direccion.calle?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-3">
        <label class="control-label" for="noExterior">No. exterior<span class="req">*</span>:</label>
        <input id="noExterior" type="text" class="form-control" formControlName="noExterior"
          placeholder="Ingresa no. exterior" maxlength="10">
        <span class="campo-obligatorio"
          *ngIf="direccion.noExterior?.errors?.required && (direccion.noExterior?.dirty || direccion.noExterior?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-3">
        <label class="control-label" for="noInterior">No. interior</label>
        <input id="noInterior" type="text" class="form-control" formControlName="noInterior"
          placeholder="Ingresa no. interior" maxlength="10">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <label class="control-label" for="cp">CP<span class="req">*</span>:</label>
        <input id="cp" type="text" class="form-control" formControlName="cp" placeholder="Ingresa cp" numbersOnly
          (blur)="consultaCP()" maxlength="5">
        <span class="campo-obligatorio"
          *ngIf="direccion.cp?.errors?.required && (direccion.cp?.dirty || direccion.cp?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-3">
        <label class="control-label" for="colonia">Colonia<span class="req">*</span>:</label>
        <input id="colonia" type="text" class="form-control" formControlName="colonia" placeholder="Ingresa colonia">
        <span class="campo-obligatorio"
          *ngIf="direccion.colonia?.errors?.required && (direccion.colonia?.dirty || direccion.colonia?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-3">
        <label class="control-label" for="municipio">Municipio<span class="req">*</span>:</label>
        <input id="municipio" type="text" class="form-control" formControlName="municipio"
          placeholder="Ingresa municipio">
        <span class="campo-obligatorio"
          *ngIf="direccion.municipio?.errors?.required && (direccion.municipio?.dirty || direccion.municipio?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-3">
        <label class="control-label" for="estado">Estado<span class="req">*</span>:</label>
        <input id="estado" type="text" class="form-control" formControlName="estado" placeholder="Ingresa el estado">
        <span class="campo-obligatorio"
          *ngIf="direccion.estado?.errors?.required && (direccion.estado?.dirty || direccion.estado?.touched)">Campo
          obligatorio</span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <span class="mensaje-inferior-campo-obligatorio">
          *Campos obligatorios
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 flex justify-content-end align-items-center">
        <button class="btn btn-md btn-gold" type="button" routerLink="../">Cancelar</button>
        <button class="btn btn-md btn-primary ml-5" type="submit" (click)="continuar()"
          [disabled]="form.invalid">Aceptar</button>
      </div>
    </div>
  </ng-container>
</form>
