<ng-container *ngIf="!ventanaConfirmacion">
  <form [formGroup]="modificarcapillaForm">
    <div class="row mb-3">
      <div class="col-md-8">
        <label class="control-label" for="idCapilla">ID<span class="req">*</span>:</label>
        <input id="idCapilla" class="form-control" formControlName="idCapilla" placeholder="ID">
        <span class="campo-obligatorio"
              *ngIf="fmc.idCapilla?.errors?.required && (fmc.idCapilla?.dirty || fmc.idCapilla?.touched)">Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="nombre">Nombre<span class="req">*</span>:</label>
        <input id="nombre" class="form-control" formControlName="nombre"
               placeholder="Ingresa el nombre de la capilla ">
        <span class="campo-obligatorio"
              *ngIf="fmc.nombre?.errors?.required && (fmc.nombre?.dirty || fmc.nombre?.touched)">Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="capacidad">Capacidad<span class="req">*</span>:</label>
        <input id="capacidad" class="form-control" formControlName="capacidad"
               placeholder="Ingresa la capacidad">
        <span class="campo-obligatorio"
              *ngIf="fmc.capacidad?.errors?.required && (fmc.capacidad?.dirty || fmc.capacidad?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="idVelatorio">Velatorio<span class="req">*</span></label>
        <p-dropdown appendTo="body" id="idVelatorio" class="form-control" formControlName="idVelatorio"
                    [options]="velatorios"
                    placeholder="Seleccione el velatorio">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="fmc.idVelatorio?.errors?.required && (fmc.idVelatorio?.dirty || fmc.idVelatorio?.touched)">Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label class="control-label" for="largo">Largo<span class="req">*</span>:</label>
        <input id="largo" class="form-control" formControlName="largo"
               placeholder="Ingresa el largo">
        <span class="campo-obligatorio"
              *ngIf="fmc.largo?.errors?.required && (fmc.largo?.dirty || fmc.largo?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" for="alto">Alto<span class="req">*</span>:</label>
        <input id="alto" class="form-control" formControlName="alto"
               placeholder="Ingresa el alto">
        <span class="campo-obligatorio"
              *ngIf="fmc.alto?.errors?.required && (fmc.alto?.dirty || fmc.alto?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" for="areaTotal">Área total<span class="req">*</span>:</label>
        <input id="areaTotal" class="form-control" formControlName="areaTotal"
               placeholder="Ingresa el área">
        <span class="campo-obligatorio"
              *ngIf="fmc.areaTotal?.errors?.required && (fmc.areaTotal?.dirty || fmc.areaTotal?.touched)">Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>
  </form>

  <div class="flex justify-content-end">
    <button class="btn btn-default btn-md" (click)="cerrar()">Cancelar</button>
    <button class="ml-4 btn btn-primary btn-md" [disabled]="modificarcapillaForm.invalid"
            (click)="abrirModalDetalleCapilla()">
      Agregar
    </button>
  </div>

</ng-container>


<ng-container *ngIf="ventanaConfirmacion == true">
  <app-table-panel>
    <ng-template appCustomTemplate="left-header">
      <div class="table-panel-header-column">
        <span class="font-bold">
          ID <span [ngClass]="capillas.estatus ? 'activo' : 'inactivo'">{{capillas.idCapilla}}</span>
        </span>
      </div>
    </ng-template>
    <ng-template appCustomTemplate="right-header">
      <div class="table-panel-header-column">
        <div class="flex flex-column">
          <span>Estatus</span>
          <div>
            <span class="activo" *ngIf="capillas?.estatus">Activo</span>
            <span class="inactivo" *ngIf="!capillas?.estatus">Inactivo</span>
          </div>
        </div>

      </div>
    </ng-template>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <label>Nombre</label>
          <span> {{capillas.nombre}} </span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <label>Capacidad</label>
          <span> {{capillas.capacidad}} </span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Largo</label>
          <span> {{capillas.largo}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Alto</label>
          <span> {{capillas.alto}} </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label>Area total</label>
          <span> {{capillas.areaTotal}} </span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <label>Velatorio</label>
          <span> {{capillas.velatorio}} </span>
        </div>
      </div>
    </div>
  </app-table-panel>
</ng-container>


<ng-container *ngIf="ventanaConfirmacion == true">
  <div class="flex mt-4 justify-content-center">
    <div class="col-md-6">
      ¿Estás seguro que deseas modificar esta capilla?
    </div>
  </div>
  <div class="flex justify-content-end separardor">
    <button class="btn btn-default btn-md" (click)="cerrar()">Cancelar</button>
    <button class="ml-4 btn btn-primary btn-md" [disabled]="modificarcapillaForm.invalid" (click)="modificarCapilla()">
      Agregar
    </button>
  </div>
</ng-container>
