.loader-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  z-index: 20000;

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 65px;

    .line {
      display: inline-block;
      width: 10px;
      height: 30px;
      background: #FFB9CF;
      border-radius: 45px;
      animation-duration: 1.1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

    $delays: 0s, .2s, .4s, .6s, .8s;
    @for $i from 1 through 5 {
      .line:nth-child(#{$i}) {
        animation-name: bar#{$i};
        animation-delay: nth($delays, $i);
      }
    }
  }
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    0% {
      transform: scaleY(1);
    }
    10% {
      transform: scaleY(2.1);
      background-color: #9D2449;
    }
    20%, 100% {
      background: #FFB9CF;
      transform: scaleY(1);
    }
  }
}

@for $i from 1 through 5 {
  @include keyframes(bar#{$i});
}
