<div class="container-sivimss px-5 registro-en-linea my-5">
    <app-titulo-principal titulo="CONSULTAR MIS SERVICIOS EN LÍNEA"></app-titulo-principal>
    <div class="menu">
        <div class="menu-card" routerLink="../consultar-mi-convenio-de-prevision-funeraria">
            <div>
                <h2 class="menu-card__title">Consultar</h2>
                <p class="menu-card__description">Convenio de previsión funeraria</p>
            </div>
            <img class="menu-card__image" src="assets/images/sivimss-externos/icon-1.svg" alt="imagen de icono">
        </div>
        <div class="menu-card" routerLink="../consultar-plan-de-servicios-funerarios-pago-anticipado">
            <div>
                <h2 class="menu-card__title">Consultar</h2>
                <p class="menu-card__description">Plan de servicios funerarios pago anticipado</p>
            </div>
            <img class="menu-card__image" src="assets/images/sivimss-externos/icon-2.svg" alt="imagen de icono">
        </div>
        <div class="menu-card" routerLink="../consultar-el-estatus-de-mi-orden-de-servicio">
            <div>
                <h2 class="menu-card__title">Consultar</h2>
                <p class="menu-card__description">Estatus de orden de servicio</p>
            </div>
            <img class="menu-card__image" src="assets/images/sivimss-externos/icon-3.svg" alt="imagen de icono">
        </div>
        <div class="menu-card" routerLink="../contratar-convenio-de-prevision-funeraria">
            <div>
                <h2 class="menu-card__title">Contratar</h2>
                <p class="menu-card__description">Convenio de previsión funeraria</p>
            </div>
            <img class="menu-card__image" src="assets/images/sivimss-externos/icon-1.svg" alt="imagen de icono">
        </div>
        <div class="menu-card" routerLink="../contratar-plan-de-servicios-funerarios-pago-anticipado">
            <div>
                <h2 class="menu-card__title">Contratar</h2>
                <p class="menu-card__description">Plan de servicios funerarios pago anticipado</p>
            </div>
            <img class="menu-card__image" src="assets/images/sivimss-externos/icon-2.svg" alt="imagen de icono">
        </div>
    </div>
</div>