    <app-table-panel>
      <ng-template appCustomTemplate="left-header">
        <div class="table-panel-header-column">
          <span class="font-bold" (click)="abrirAcordion()">ID {{proveedorSeleccionado.id}}</span>
        </div>
      </ng-template>
      <ng-template *ngIf="(origen == 'detalle')" appCustomTemplate="right-header">
        <div class="table-panel-header-column">
          <div class="flex flex-column">
            <span>Estatus</span>
            <div class="contenedor-inputswitch">
              <p-inputSwitch [(ngModel)]="proveedorSeleccionado.estatus"></p-inputSwitch>
              <span class="activo" *ngIf="proveedorSeleccionado.estatus">Activo</span>
              <span class="inactivo" *ngIf="!proveedorSeleccionado.estatus">Inactivo</span>
            </div>
          </div>
          <a class="ml-5 cursor-pointer">
            <img
              src="assets/images/imagen-icono-barras-horizontales.svg"
              alt="icono barras horizontales">
          </a>
        </div>
      </ng-template>
      <ng-template *ngIf="(origen == 'agregar' || origen == 'modificar' || origen == 'estatus')" appCustomTemplate="right-header">
        <div class="table-panel-header-column">
          <div class="flex flex-column">
            <span>Estatus</span>
            <div class="contenedor-inputswitch">
              <span class="activo" *ngIf="proveedorSeleccionado.estatus">Activo</span>
              <span class="inactivo" *ngIf="!proveedorSeleccionado.estatus">Inactivo</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-container *ngIf="acordionAbierto == true">
        <div class="row table-panel-row">
          <div class="col-md-6">
            <div class="table-panel-column">
              <label>Nombre</label>
              <span>{{proveedorSeleccionado.nombre}}</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Banco</label>
              <span>{{proveedorSeleccionado.banco}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Cuenta</label>
              <span>{{proveedorSeleccionado.cuenta}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Clave bancaria</label>
              <span>{{proveedorSeleccionado.claveBancaria}}</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Régimen</label>
              <span>{{proveedorSeleccionado.regimen}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Representante legal</label>
              <span>{{proveedorSeleccionado.representanteLegal}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Tipo de proveedor</label>
              <span>{{proveedorSeleccionado.tipoProveedor}}</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-3">
            <div class="table-panel-column">
              <label>Télefono</label>
              <span>{{proveedorSeleccionado.telefono}}</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-panel-column">
              <label>Correo electrónico</label>
              <span>{{proveedorSeleccionado.correoElectronico}}</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-panel-column">
              <label>RFC</label>
              <span>{{proveedorSeleccionado.rfc}}</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-panel-column">
              <label>CURP</label>
              <span>{{proveedorSeleccionado.curp}}</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-12">
            <div class="table-panel-column">
              <h2 class="subtituloSubModal">Dirección fiscal</h2>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-panel-column">
              <label>Código postal</label>
              <span>{{proveedorSeleccionado.codigoPostal}}</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-panel-column">
              <label>Calle</label>
              <span>{{proveedorSeleccionado.calle}}</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-panel-column">
              <label>Num. Exterior</label>
              <span>{{proveedorSeleccionado.numExterior}}</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-panel-column">
              <label>Num. Interior</label>
              <span>{{proveedorSeleccionado.numInterior}}</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>País</label>
              <span>{{proveedorSeleccionado.pais}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Estado</label>
              <span>{{proveedorSeleccionado.estado}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Municipio</label>
              <span>{{proveedorSeleccionado.municipio}}</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-12">
            <div class="table-panel-column">
              <h2 class="subtituloSubModal">Dirección de referencia</h2>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-panel-column">
              <label>Código postal</label>
              <span>{{proveedorSeleccionado.codigoPostalReferencia}}</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-panel-column">
              <label>Calle</label>
              <span>{{proveedorSeleccionado.calleReferencia}}</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-panel-column">
              <label>Num. Exterior</label>
              <span>{{proveedorSeleccionado.numExteriorReferencia}}</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="table-panel-column">
              <label>Num. Interior</label>
              <span>{{proveedorSeleccionado.numInteriorReferencia}}</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>País</label>
              <span>{{proveedorSeleccionado.pais}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Estado</label>
              <span>{{proveedorSeleccionado.estadoReferencia}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Municipio</label>
              <span>{{proveedorSeleccionado.municipioReferencia}}</span>
            </div>
          </div>
        </div>
      </ng-container>

</app-table-panel>




<ng-container *ngIf="acordionAbierto == true">
  <ng-container *ngIf="origen == 'agregar'">
  <div class="flex justify-content-center">
    <div class="mt-4 col-md-7" >
      ¿Estás seguro que deseas agregar este nuevo proveedor?
    </div>
  </div>
  </ng-container>

  <ng-container *ngIf="origen == 'modificar'">
  <div class="flex justify-content-center">
    <div class="mt-4 col-md-7" >
      ¿Estás seguro que deseas modificar este nuevo proveedor?
    </div>
  </div>
  </ng-container>
  <ng-container *ngIf="origen == 'detalle'">
  <div class="flex justify-content-end">
    <button class="ml-4 mt-3 btn btn-primary btn-md"  (click)="aceptar()">
      Aceptar
    </button>
  </div>
  </ng-container>

  <ng-container *ngIf="(origen == 'agregar' || origen == 'modificar')">
  <div class="flex mt-4 justify-content-end">
    <button class="ml-6 mt-3 btn btn-primary btn-md"  (click)="regresar()">Regresar</button>
    <button class="ml-6 mt-3 btn btn-danger btn-md" (click)="cerrar()">Cancelar</button>
    <button class="ml-6 mt-3 btn btn-primary btn-md"  (click)="aceptar()">
      Aceptar
    </button>
  </div>
  </ng-container>

  <ng-container *ngIf="(origen == 'estatus')">
    <ng-container *ngIf="proveedorSeleccionado.estatus">
      <div class="flex mt-4 justify-content-center">
        <div class="col-md-6" >
          ¿Estás seguro que deseas activar este proveedor?
        </div>
      </div>
    </ng-container>
  <ng-container *ngIf="!proveedorSeleccionado.estatus">
    <div class="flex mt-4 justify-content-center">
      <div class="col-md-6" >
        ¿Estás seguro que deseas desactivar este proveedor?
      </div>
    </div>
  </ng-container>

  <div class="flex mt-5 justify-content-end">
    <button class="ml-6 mt-3 btn btn-danger btn-md" (click)="cerrar()">Cancelar</button>
    <button class="ml-6 mt-3 btn btn-primary btn-md"  (click)="aceptar()">
    Aceptar
  </button>
  </div>
</ng-container>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
      <app-overlay-panel-opciones>
          <app-overlay-panel-opcion titulo="Modificar"
              (click)="abrirModalModificacionProveedor()"></app-overlay-panel-opcion>
      </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>
<ng-container *ngIf="abrirModificar">
  <app-modificar-proveedor></app-modificar-proveedor>
</ng-container>
