<div class="container-sivimss px-5 registro-en-linea my-5">
  <app-titulo-principal titulo="Comprobante de Pago">
    <app-btn-regresar routerLink="../../../"></app-btn-regresar>
  </app-titulo-principal>
  <app-recibo-pago [cveCliente]="recibo.claveCliente"
                   [nombreUsuario]="recibo.nomUsuario" [numeroConvenio]="recibo.numCon"
                   [importe]="recibo.impPagado" [conceptoPago]="recibo.conPago" [digitos]="recibo.numTarjeta"
                   [emisor]="recibo.emisorTarjeta" [delegacion]="recibo.nomDelegacion" [velatorio]="recibo.nomVelatorio"
                   [numAprobacion]="recibo.numAprobacion" [idPago]="recibo.idPagoLinea.toString()"
                   [fecTransaccion]="recibo.fecTransaccion"
                   [folioPago]="recibo.folioPago">
  </app-recibo-pago>
</div>
