<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" [for]="'nombreBeneficiario' + ID">Nombre completo del beneficiario<span
      class="req">*</span>:</label>
    <input [id]="'nombreBeneficiario' + ID" formControlName="nombre" class="form-control"
           placeholder="Inserta el nombre del beneficiario" [maxlength]="150">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.nombre?.errors?.required  && (parentFormGroup.nombre?.dirty || parentFormGroup.nombre?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4">
    <label class="control-label" [for]="'edad' + ID">Edad<span class="req">*</span>:</label>
    <input [id]="'edad' + ID" class="form-control" placeholder="Inserta la edad" formControlName="edad" [maxlength]="3"
           numbersOnly>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.edad?.errors?.required  && (parentFormGroup.edad?.dirty || parentFormGroup.edad?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4">
    <label class="control-label" [for]="'parentesco' + ID">Parentesco<span class="req">*</span>:</label>
    <p-dropdown [id]="'parentesco' + ID" class="form-control" [options]="parentesco" formControlName="parentesco"
                placeholder="Seleccionar el parentesco" [filter]="true" filterBy="label">
    </p-dropdown>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.parentesco?.errors?.required  && (parentFormGroup.parentesco?.dirty || parentFormGroup.parentesco?.touched)">
      Este campo es obligatorio *.</span>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" [for]="'curpBeneficiario' + ID">C.U.R.P<span class="req">*</span>:</label>
    <input [id]="'curpBeneficiario' + ID" class="form-control" formControlName="curp" placeholder="Inserta el C.U.R.P"
           (blur)="validarCurp()">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.curp?.errors?.required  && (parentFormGroup.curp?.dirty || parentFormGroup.curp?.touched)">
      Este campo es obligatorio *.</span>
  </div>
  <div class="col-md-4">
    <label class="control-label" [for]="'rfcBeneficiario' + ID">R.F.C.<span class="req">*</span>:</label>
    <input [id]="'rfcBeneficiario' + ID" class="form-control" formControlName="rfc" placeholder="Inserta el R.F.C"
           (blur)="validarRfc()">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.rfc?.errors?.required  && (parentFormGroup.rfc?.dirty || parentFormGroup.rfc?.touched)">
      Este campo es obligatorio *.</span>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup?.rfc?.errors?.pattern && (parentFormGroup?.rfc?.dirty || parentFormGroup?.rfc?.touched)">
      RFC no válido.</span>
  </div>
  <div class="col-md-4">
    <label class="control-label" [for]="'correoBeneficiario' + ID">Correo electrónico<span class="req">*</span>:</label>
    <input [id]="'correoBeneficiario' + ID" class="form-control" formControlName="correo"
           placeholder="Inserta el correo electrónico">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.correo?.errors?.required  && (parentFormGroup.correo?.dirty || parentFormGroup.correo?.touched)">
      Este campo es obligatorio *.</span>
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup?.correo?.errors?.pattern && (parentFormGroup?.correo?.dirty || parentFormGroup?.correo?.touched)">
      El correo electrónico no es válido.</span>
  </div>
</div>
<div class="row mb-3">

  <div class="col-md-4">
    <label class="control-label" [for]="'telefono' + ID">Teléfono<span class="req">*</span>:</label>
    <input [id]="'telefono' + ID" class="form-control" formControlName="telefono" placeholder="Inserta el telefono">
    <span class="campo-obligatorio"
          *ngIf="parentFormGroup.telefono?.errors?.required  && (parentFormGroup.telefono?.dirty || parentFormGroup.telefono?.touched)">
      Este campo es obligatorio *.</span>
  </div>
</div>
