<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="nombreBeneficiario">Nombre completo del beneficiario<span
      class="req">*</span>:</label>
    <input id="nombreBeneficiario" class="form-control" placeholder="Inserta el nombre del beneficiario">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="edadBeneficiario">Edad<span class="req">*</span>:</label>
    <input id="edadBeneficiario" class="form-control" placeholder="Inserta la edad">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="parentesco">Parentesco<span class="req">*</span>:</label>
    <input id="parentesco" class="form-control" placeholder="Inserta el parentesco">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <label class="control-label" for="curpBeneficiairio">C.U.R.P<span class="req">*</span>:</label>
    <input id="curpBeneficiairio" class="form-control" placeholder="Inserta el C.U.R.P">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="rfcBeneficiario">R.F.C.<span class="req">*</span>:</label>
    <input id="rfcBeneficiario" class="form-control" placeholder="Inserta el R.F.C">
  </div>
  <div class="col-md-4">
    <label class="control-label" for="correoElectronico">Correo electrónico<span class="req">*</span>:</label>
    <input id="correoElectronico" class="form-control" placeholder="Inserta el correo electrónico">
  </div>
</div>
<div class="row mb-3">

  <div class="col-md-4">
    <label class="control-label" for="telefono">Teléfono<span class="req">*</span>:</label>
    <input id="telefono" class="form-control" placeholder="Inserta el telefono">
  </div>
</div>
