<app-titulo-principal titulo="Ver detalle"></app-titulo-principal>
<p-accordion styleClass="sivimss-accordion">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <span>Folio de la ODS &nbsp;</span><b>{{detalleValeSalida.folioOds}}</b>
    </ng-template>
    <ng-template pTemplate="content">
      <app-table-panel>
        <ng-template appCustomTemplate="header">
          <div class="row table-panel-row">
            <div class="col-md-4">
              <div class="table-panel-column">
                <label>Velatorio</label>
                <span>{{detalleValeSalida.nombreVelatorio}}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="table-panel-column">
                <label>Nombre del contratante</label>
                <span>{{detalleValeSalida.nombreContratante}}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="table-panel-column">
                <label>Nombre del finado</label>
                <span>{{detalleValeSalida.nombreFinado}}</span>
              </div>
            </div>
          </div>
        </ng-template>
        <div class="row table-panel-row">
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Responsable de la entrega</label>
              <span>{{detalleValeSalida.nombreResponsableEntrega}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Días de novenario</label>
              <span>{{detalleValeSalida.diasNovenario}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Fecha de salida</label>
              <span>{{detalleValeSalida.fechaSalida}}</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Responsable de la instalación</label>
              <span>{{detalleValeSalida.nombreResponsableInstalacion}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Matrícula del responsable</label>
              <span>{{detalleValeSalida.matriculaResponsableInstalacion}}</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row"
          *ngIf="!detalleForm && detalleValeSalida.fechaEntrada && detalleValeSalida.fechaEntrada !== 'null'">
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Responsable de los equipos de velación</label>
              <span
                *ngIf="detalleValeSalida.nombreResponsableEquipoVelacion && detalleValeSalida.nombreResponsableEquipoVelacion !== 'null'">
                {{detalleValeSalida.nombreResponsableEquipoVelacion}}
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Matrícula del responsable</label>
              <span
                *ngIf="detalleValeSalida.matriculaResponsableEquipoVelacion && detalleValeSalida.matriculaResponsableEquipoVelacion !== 'null'">
                {{detalleValeSalida.matriculaResponsableEquipoVelacion}}
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Fecha de entrada</label>
              <span *ngIf="detalleValeSalida.fechaEntrada && detalleValeSalida.fechaEntrada !== 'null'">
                {{detalleValeSalida.fechaEntrada}}
              </span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <h2 class=" ml-6 mt-3 subtitulo">Domicilio donde se realiza la velación / novenario</h2>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>CP</label>
              <span>{{detalleValeSalida.cp}}</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Calle</label>
              <span>{{detalleValeSalida.calle}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>No. exterior</label>
              <span>{{detalleValeSalida.numExt}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>No. interior</label>
              <span>{{detalleValeSalida.numInt}}</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Colonia</label>
              <span>{{detalleValeSalida.colonia}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Municipio</label>
              <span>{{detalleValeSalida.municipio}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Estado</label>
              <span>{{detalleValeSalida.estado}}</span>
            </div>
          </div>
        </div>

        <div class="row table-panel-row">
          <div class="flex justify-content-between mb-3">
            <div class="col-md-3">
              <div class="table-panel-column">
                <h2 class="subtitulo">Equipo de velación</h2>
              </div>
            </div>
            <div class="col-md-4">
              <div class="table-panel-column">
                <h2 class="subtitulo">Total de artículos / bienes inmuebles {{detalleValeSalida.articulos.length}} </h2>
              </div>
            </div>
          </div>
          <div class="row mx-6 mb-3">
            <p-table styleClass="mb-8" [value]="detalleValeSalida.articulos" [rows]="cantElementosPorPagina"
              [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual">

              <ng-template pTemplate="header">
                <tr>
                  <th scope="col">Nombre de bienes inmuebles / artículos</th>
                  <th scope="col">Cantidad / piezas</th>
                  <th scope="col">Observaciones</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-articulo>
                <tr>
                  <td> {{articulo.nombreArticulo || articulo.articulo}} </td>
                  <td> {{articulo.cantidad}} </td>
                  <td> {{articulo.observaciones}} </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </app-table-panel>
    </ng-template>
  </p-accordionTab>
</p-accordion>
<div class="flex justify-content-end mb-3" *ngIf="!detalleForm">
  <button class="ml-4 mt-3 btn btn-primary btn-md" routerLink="../../">Cerrar</button>
  <button class="ml-4 mt-3 btn btn btn-default btn-md" *ngIf="detalleValeSalida.validacionDias === 1"
    (click)="registrarEquipoEntrada()">
    Registrar entrada de equipo</button>
</div>

<ng-container *ngIf="detalleForm">
  <div class="row mb-5 mt-5">
    <div class="col-md-12 text-center">
      ¿Estás seguro de registrar la salida del equipo de velación?
    </div>
  </div>

  <div class="flex justify-content-end mb-3">
    <button class="ml-4 mt-3 btn btn-danger btn-md" (click)="cancelar()">Cancelar</button>
    <button class="ml-4 mt-3 btn btn-primary btn-md" (click)="registrarSalida()">Aceptar</button>
  </div>
</ng-container>