<app-titulo-principal titulo="VER DETALLE"></app-titulo-principal>
<p-accordion styleClass="sivimss-accordion sivimss-accordionColor" [activeIndex]="0">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="sivimss-acoordion-header">
        <div class="accordion-header-left">
          <span>ID </span>
          <b>{{ vehiculo?.ID_VEHICULO }}</b>
        </div>
        <div class="accordion-header-right">
          <div class="estatus" *ngIf="vehiculo?.DES_MTTOESTADO">
            <span>Estado de mantenimiento</span>
            <b [appTextColor]="vehiculo.DES_MTTOESTADO">{{vehiculo?.DES_MTTOESTADO}}</b>
          </div>
          <a (click)="abrirPanel($event)">
            <i class="fs fs-barras-horizontales"></i>
          </a>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="row grid">
        <div class="col">
          <span class="flex flex-column etiqueta-base">Velatorio</span>
          <span class="texto-base">{{vehiculo?.DES_VELATORIO}}</span>
        </div>
        <div class="col">
          <span class="flex flex-column etiqueta-base">Fecha</span>
          <span class="texto-base">{{fechaActual}}</span>
        </div>
        <div class="col">
          <span class="flex flex-column etiqueta-base">Vehiculo</span>
          <span class="texto-base">{{vehiculo?.DES_MARCA}} {{vehiculo?.DES_SUBMARCA}} {{vehiculo?.DES_MODELO}}</span>
        </div>
        <div class="col">
          <span class="flex flex-column etiqueta-base">Placas</span>
          <span class="texto-base">{{vehiculo?.DES_PLACAS}}</span>
        </div>
      </div>
      <hr class="hr-accordion-content">
      <ng-container>
        <p-tabView [(activeIndex)]="indice">
          <p-tabPanel header="Verificación diaria" *ngIf="verificacion">
            <app-table-panel>
              <div class="row table-panel-row">
                <div class="table-panel-column ml-4">
                  <label>Fecha</label>
                  <span>{{verificacion.FEC_ALTA}}</span>
                </div>
              </div>
              <div class="row table-panel-row">
                <div class="col-md-4">
                  <div class="row">
                    <div class="table-panel-column col-md-8">
                      <label class="ml-4">Nivel de aceite</label>
                      <span class="ml-4">{{verificacion.DES_NIVEL_ACEITE | uppercase}}</span>
                    </div>
                    <div class="table-panel-column col-md-4">
                      <img class="icono" src="../../../../../../assets/images/nivelCombus.svg" alt="Nivel combustible">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="table-panel-column col-md-8">
                    <label>Nivel de agua</label>
                    <span>{{verificacion.DES_NIVEL_AGUA | uppercase}}</span>
                  </div>
                  <div class="table-panel-column col-md-4">
                    <img class="icono" src="../../../../../../assets/images/nivelAgua.svg" alt="Nivel agua">
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row table-panel-row">
                <div class="col-md-4">
                  <div class="grid">
                    <div class="col-12 mt-3">
                      <div class="table-panel-column col-md-8">
                        <label>Calibración de neumáticos traseros</label>
                        <span>{{verificacion.DES_NIVEL_NEUMATRASE | uppercase}}</span>
                      </div>
                      <div class="table-panel-column col-md-4">
                        <img class="icono" src="../../../../../../assets/images/velocimetroBajo.svg"
                          alt="Nivel neumatico trasera">
                      </div>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="table-panel-column col-md-8">
                        <label>Calibración de numáticos delanteros</label>
                        <span>{{verificacion.DES_NIVEL_NEUMADELA | uppercase}}</span>
                      </div>
                      <div class="table-panel-column col-md-4">
                        <img class="icono" src="../../../../../../assets/images/belocimetroAlto.svg"
                          alt="Nivel neumatico delantero">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 border-left-1 border-gray">
                  <div class="row">
                    <div class="col-md-8 m-4">
                      <label>Presion recomendada</label>
                      <p-table [value]="data" [styleClass]="'p-datatable-sm'">
                        <ng-template pTemplate="header">
                          <tr>
                            <th id="detalle-mtto-rin">Rin</th>
                            <th id="detalle-mtto-precision">Precisión</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                          <tr>
                            <td>{{ item.rin }}</td>
                            <td>{{ item.precision }}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                    <div class="col-md-4">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row table-panel-row ">
                <div class="col-md-4">
                  <div class="row">
                    <div class="table-panel-column col-md-8">
                      <label class="ml-4">Nivel de Combustible</label>
                      <span class="ml-4">{{verificacion.DES_NIVEL_COMBUSTIBLE | uppercase}}</span>
                    </div>
                    <div class="table-panel-column col-md-4">
                      <img class="icono" src="../../../../../../assets/images/nivelCombus.svg" alt="Nivel combustible">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="table-panel-column col-md-8">
                      <label class="ml-4">Nivel de Bateria </label>
                      <span class="ml-4">{{verificacion.DES_NIVEL_BATERIA | uppercase}}</span>
                    </div>
                    <div class="table-panel-column col-md-4">
                      <img class="icono-bateria" src="../../../../../../assets/images/loading.svg" alt="Nivel bateria">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="table-panel-column col-md-6">
                      <label>Código de falla</label>
                      <span>{{verificacion.DES_NIVEL_CODIGOFALLO | uppercase}}</span>
                    </div>
                    <div class="col-md-6"></div>
                  </div>
                </div>
              </div>
            </app-table-panel>
          </p-tabPanel>
          <p-tabPanel header="Solicitud de mantenimiento" *ngIf="solicitudRegistro">
            <app-table-panel>
              <div class="row table-panel-row">
                <div class="col-md-7">
                  <div class="row grid">
                    <div class="col table-panel-column">
                      <label class="flex flex-column etiqueta-base ml-4">Placas</label>
                      <span class="ml-4">{{vehiculo?.DES_PLACAS}}</span>
                    </div>
                    <div class="col table-panel-column">
                      <label class="flex flex-column etiqueta-base">Marca</label>
                      <span>{{vehiculo?.DES_MARCA}}</span>
                    </div>
                    <div class="col table-panel-column">
                      <label class="flex flex-column etiqueta-base">Año</label>
                      <span>{{vehiculo?.DES_MODELO}}</span>
                    </div>
                    <div class="col table-panel-column">
                      <label class="flex flex-column etiqueta-base">Kilometraje</label>
                      <span>{{solicitudRegistro.NUM_KILOMETRAJE}}</span>
                    </div>
                    <div class="col-3 table-panel-column">
                      <label class="flex flex-column etiqueta-base">Fecha de registro</label>
                      <span>{{solicitudRegistro.FEC_REGISTRO}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-5"></div>
              </div>
              <div class="row table-panel-row">
                <div class="col-md-7">
                  <div class="grid">
                    <div class="col-3">
                      <div class="table-panel-column ">
                        <label class="ml-4">Tipo de mantenimiento</label>
                        <span class="ml-4">{{solicitudRegistro.DES_MTTO_TIPO}}</span>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="table-panel-column ">
                        <label>Modalidad </label>
                        <span>{{solicitudRegistro.DES_MODALIDAD}}</span>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="table-panel-column ">
                        <label class="flex flex-column etiqueta-base">Notas</label>
                        <span>{{solicitudRegistro.DES_NOTAS}}</span>
                      </div>
                    </div>
                    <div class="col-3" *ngIf="solicitudRegistro.DES_MTTO_TIPO === 'Preventivo'">
                      <div class="table-panel-column ">
                        <label>Mantenimiento preventivo</label>
                        <span>{{solicitudRegistro.DES_MTTO_CORRECTIVO}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </app-table-panel>
          </p-tabPanel>
          <p-tabPanel header="Registro de mantenimiento" *ngIf="registro">
            <app-table-panel>
              <div class="row table-panel-row">
                <div class="col-md-6">
                  <div class="row grid">
                    <div class="col table-panel-column">
                      <label class="flex flex-column etiqueta-base ml-4">Placas</label>
                      <span class="ml-4">{{vehiculo?.DES_PLACAS}}</span>
                    </div>
                    <div class="col table-panel-column">
                      <label class="flex flex-column etiqueta-base">Marca</label>
                      <span>{{vehiculo?.DES_MARCA}}</span>
                    </div>
                    <div class="col table-panel-column">
                      <label class="flex flex-column etiqueta-base">Año</label>
                      <span>{{vehiculo?.DES_MODELO}}</span>
                    </div>
                    <div class="col table-panel-column">
                      <label class="flex flex-column etiqueta-base">Kilometraje</label>
                      <span>{{registro.NUM_KILOMETRAJE}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6"></div>
              </div>
              <div class="row table-panel-row">
                <div class="col-md-12">
                  <div class="row grid">
                    <div class="col table-panel-column">
                      <label class="flex flex-column etiqueta-base ml-4">Tipo de mantenimiento</label>
                      <span class="ml-4">{{registro.DES_MTTO_TIPO}}</span>
                    </div>
                    <div class="col table-panel-column" *ngIf="registro.DES_MTTO_TIPO === 'Preventivo'">
                      <label class="flex flex-column etiqueta-base">Modalidad</label>
                      <span>{{registro.DES_MODALIDAD}}</span>
                    </div>
                    <div class="col table-panel-column" *ngIf="registro.DES_MTTO_TIPO === 'Preventivo'">
                      <label class="flex flex-column etiqueta-base">Mantenimiento</label>
                      <span>{{registro.DES_MTTO_CORRECTIVO}}</span>
                    </div>
                    <div class="col table-panel-column">
                      <label class="flex flex-column etiqueta-base">Notas</label>
                      <span>{{registro.DES_NOTAS}}</span>
                    </div>
                    <div class="col table-panel-column">
                      <label class="flex flex-column etiqueta-base">Número de contrato</label>
                      <span>{{registro.DES_NUMCONTRATO}}</span>
                    </div>
                    <div class="col table-panel-column">
                      <label class="flex flex-column etiqueta-base">Nombre de proveedor</label>
                      <span>{{registro.NOM_PROVEEDOR || registro.DES_NOMBRE_PROVEEDOR}}</span>
                    </div>
                    <div class="col table-panel-column" *ngIf="registro.DES_MTTO_TIPO === 'Correctivo'">
                      <label class="flex flex-column etiqueta-base">Taller</label>
                      <span>{{registro.DES_NOMBRE_TALLER}}</span>
                    </div>
                    <div class="col table-panel-column">
                      <label class="flex flex-column etiqueta-base">Fecha de Mantenimiento</label>
                      <span>{{registro.FEC_REGISTRO}}</span>
                    </div>
                    <div class="col table-panel-column" *ngIf="registro.DES_MTTO_TIPO === 'Correctivo'">
                      <label class="flex flex-column etiqueta-base">Costo de Mantenimiento</label>
                      <span>{{registro.MON_COSTO_MTTO}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </app-table-panel>
          </p-tabPanel>
        </p-tabView>
      </ng-container>
    </ng-template>
  </p-accordionTab>
</p-accordion>
<ng-container>
  <div class="flex mt-4 mb-4 justify-content-end margin">
    <button class="ml-6 mt-3 btn btn-primary btn-md" routerLink="../../">Cerrar</button>
  </div>
</ng-container>


<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Modificar" (click)="modificarModal = !modificarModal">
      </app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>

<p-dialog header="Modificar" [(visible)]="modificarModal" *ngIf="vehiculo">
  <div class="border-panel mb-4 w-440 bg-g">
    <div class="row flex justify-content-center">
      {{vehiculo?.ID_VEHICULO}} - {{vehiculo?.DES_MARCA | uppercase }}
      {{vehiculo?.DES_SUBMARCA | uppercase}} {{vehiculo?.DES_MODELO | uppercase}}
    </div>
  </div>
  <div class=" border-panel w-440">
    <div class="row flex justify-content-center mb-4" *ngIf="vehiculo?.verificacionDia !== 'false'">
      <button type="button" class="btn btn-primary btn-lg btn-md w-400" (click)="abrirModalModificarVerificacion()">
        Modificar verificación al inicio
      </button>
    </div>
    <div class="row flex justify-content-center mb-4" *ngIf="vehiculo?.ID_MTTO_SOLICITUD">
      <button type="button" class="btn btn-primary btn-lg btn-md w-400" (click)="abrirModalModificarSolicitud()">
        Modificar solicitud de mantenimiento
      </button>
    </div>
    <div class="row flex justify-content-center" *ngIf="vehiculo?.ID_MTTO_REGISTRO">
      <button type="button" class="btn btn-primary btn-lg btn-md w-400" (click)="abrirModalModificarRegistro()">
        Modificar registro de mantenimiento
      </button>
    </div>
    <div class="row flex justify-content-center"
      *ngIf="vehiculo?.verificacionDia === 'false' && !vehiculo?.ID_MTTO_SOLICITUD && !vehiculo?.ID_MTTO_REGISTRO ">
      No existen solicitudes registradas previamente.
    </div>
  </div>
</p-dialog>