<form [formGroup]="form">

  <div class="row mb-3">
    <div class="col-md-6">
      <label class="control-label" for="contratante">Contratante<span class="req">*</span>:</label>
      <p-dropdown id="contratante" class="form-control" formControlName="contratante"
                  placeholder="Selecciona tipo de orden" appendTo="body" [options]="contratantes" (onChange)="consultarBeneficiarios()"></p-dropdown>
      <span class="campo-obligatorio"
            *ngIf="formulario.contratante?.errors?.required && (formulario.contratante?.dirty || formulario.contratante?.touched)">Este campo es obligatorio *.</span>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="contratante">Beneficiario:</label>
      <p-dropdown id="beneficiario" class="form-control" formControlName="beneficiario"
                  placeholder="Selecciona tipo de orden" appendTo="body" [options]="beneficiarios"></p-dropdown>
      <span class="campo-obligatorio"
            *ngIf="formulario.beneficiario?.errors?.required && (formulario.beneficiario?.dirty || formulario.beneficiario?.touched)">Este campo es obligatorio *.</span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 flex justify-content-end">
      <button type="button" class="btn btn-default btn-md" (click)="cancelar()">Cancelar</button>
      <button type="button" [disabled]="form.invalid || !existeSiniestro" class="btn btn-primary btn-md ml-5" (click)="guardar()">Agregar</button>
    </div>
  </div>
</form>
