h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  margin:0;
}

h4{
  margin:10px 0 5px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #484848;
}

.stepper{
  transform: scale(.75);
}


