<app-titulo-principal titulo="Mantenimiento predictivo"></app-titulo-principal>
<ng-container>
  <div class="border-panel">
    <form [formGroup]="filtroForm">
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="nivel">Nivel*:</label>
          <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="catalogoNiveles"
            placeholder="Seleccionar el nivel">
          </p-dropdown>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="delegacion">Delegacion*:</label>
          <p-dropdown id="delegacion" class="form-control" formControlName="delegacion" [options]="catalogoDelegaciones"
            placeholder="Selecciona la delegacion" [filter]="true"
            (onChange)="cargarVelatorios(); this.obtenerPlacas();">
          </p-dropdown>
          <span class="campo-obligatorio"
            *ngIf="fmp?.delegacion?.errors?.required && (fmp?.delegacion?.dirty || fmp?.delegacion?.touched)">Este campo
            es obligatorio *.</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="velatorio">Velatorio:</label>
          <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="catalogoVelatorios"
            placeholder="Selecciona el velatorio" [filter]="true" (onChange)="this.obtenerPlacas();">
          </p-dropdown>
        </div>
        <div class="col-md-3">
          <label class="control-label" for="periodo">Periodo:</label>
          <p-dropdown id="periodo" class="form-control" formControlName="periodo" [options]="catalogoPeriodo"
            placeholder="Seleccionar periodo" [filter]="true">
          </p-dropdown>
          <span class="campo-obligatorio"
            *ngIf="fmp?.periodo?.errors?.required && (fmp?.periodo?.dirty || fmp?.periodo?.touched)">Este campo es
            obligatorio *.</span>
        </div>
        <div class="col-md-3">
          <label class="control-label" for="placa">Placa*:</label>
          <p-dropdown id="placa" class="form-control" formControlName="placa" [options]="catalogoPlacas"
            placeholder="Seleccionar vehículo" [filter]="true">
          </p-dropdown>
          <span class="campo-obligatorio"
            *ngIf="fmp?.placa?.errors?.required && (fmp?.placa?.dirty || fmp?.placa?.touched)">Este campo es obligatorio
            *.</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="tipoMantenimiento">Tipo de Mantenimiento*:</label>
          <p-dropdown id="tipoMantenimiento" class="form-control" formControlName="tipoMantenimiento"
            [options]="tipoMantenimientos" [filter]="true" placeholder="Selecciona el tipo">
          </p-dropdown>
          <span class="campo-obligatorio"
            *ngIf="fmp?.tipoMantenimiento?.errors?.required && (fmp?.tipoMantenimiento?.dirty || fmp?.tipoMantenimiento?.touched)">Este
            campo es obligatorio *.</span>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-12">
          <span class="control-label">*Campos obligatorios</span>
        </div>
      </div>

      <div class="row mt-6">
        <div class="col-md-12 flex justify-content-end">
          <button type="button" class="btn btn-default btn-md" (click)="limpiar()">Limpiar</button>
          <button type="submit" class="btn btn-primary btn-md ml-5" [disabled]="filtroForm.invalid"
            (click)="buscar()">Buscar
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="verDetallePredictivo">
  <div class="separador"></div>
  <p-accordion styleClass="sivimss-accordion" [activeIndex]="0">
    <p-accordionTab>

      <div class="row mb-3" *ngIf="realizoBusqueda && titulosSeleccionados.length === 0">
        <div class="col-md-12 text-center font-bold text-xl">
          No se encontró información relacionada a tu búsqueda en mantenimiento predictivo
        </div>
      </div>

      <div class="mb-3" *ngFor="let tituloSeleccionado of titulosSeleccionados">
        <ng-template pTemplate="header">
          <h5 class="titulo-acordion">{{vehiculoSeleccionado.REF_PLACAS}}</h5>
          <br>
          <h6 class="titulo-acordion-tipo-vehiculo">{{vehiculoSeleccionado.REF_MARCA}}
            {{vehiculoSeleccionado.REF_SUBMARCA}} {{vehiculoSeleccionado.REF_MODELO}}</h6>
        </ng-template>
        <app-table-panel>
          <ng-template appCustomTemplate="left-header">
            <div class="table-panel-header-column">
              <h6 class="font-bold">{{tituloSeleccionado}}</h6>
            </div>
          </ng-template>
          <ng-template>
          </ng-template>
          <div class="row table-panel-row">
            <div class="col-md-4">
              <div class="table-panel-column">
                <label>Velatorio</label>
                <span>{{velatorio}}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="table-panel-column">
                <label>Total de vehículos</label>
                <span>1</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="table-panel-column">
                <label>Periodo</label>
                <span>{{rangoFecha}}</span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-3">
              <div class="table-panel-column">
                <h6 class="titulo-acordion">Valores predictivos </h6>
                <div class="col-md-8">
                  <p-table [value]="vehiculos">
                    <ng-template pTemplate="header">
                      <tr>
                        <th id="mtto-predictivo-dia">Dia</th>
                        <th id="mtto-predictivo-valor">Valor</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-vehiculo>
                      <tr>
                        <td>{{ vehiculo.FEC_REGISTRO }}</td>
                        <td *ngIf="tituloSeleccionado === 'Aceite'">{{vehiculo.DES_NIVEL_ACEITE | valueConverter}}</td>
                        <td *ngIf="tituloSeleccionado === 'Agua'">{{vehiculo.DES_NIVEL_AGUA | valueConverter}}</td>
                        <td *ngIf="tituloSeleccionado === 'Calibración Neumáticos'">{{vehiculo.DES_NIVEL_NEUMADELA |
                          valueConverter}}</td>
                        <td *ngIf="tituloSeleccionado === 'Combustible'">{{vehiculo.DES_NIVEL_COMBUSTIBLE |
                          valueConverter}}</td>
                        <td *ngIf="tituloSeleccionado === 'Código de Falla'">{{vehiculo.DES_NIVEL_CODIGOFALLO |
                          valueConverter}}</td>
                        <td *ngIf="tituloSeleccionado === 'Batería'">{{vehiculo.DES_NIVEL_BATERIA | valueConverter}}
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <label>Placas</label>
                <span> {{vehiculoSeleccionado.REF_PLACAS}} </span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="table-panel-column">
                <a>
                  <img src="assets/images/nivelVehiculo.svg" alt="Nivel Vehiculo">
                </a>
              </div>
            </div>
          </div>
        </app-table-panel>
      </div>
    </p-accordionTab>
  </p-accordion>

  <div class="col-mb-12 flex justify-content-end" *ngIf="titulosSeleccionados.length > 0">
    <div class="export-table" style="float: right;" *appValidaRol="['MANTENIMIENTO_VEHICULAR','IMPRIMIR']">
      <span class="export-table-text">Exportar tabla</span>
      <div class="export-table-icons flex justify-content-around">
        <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf"
          (click)="generarReporteTabla('pdf');">
        <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg" alt="exportar excel"
          (click)="generarReporteTabla('xls');">
      </div>
    </div>
  </div>
</ng-container>


<div class="col-mb-12 row flex justify-content-end"
  style="margin-top: 30px; margin-bottom: 30px;  padding-right: 14px;">
  <button type="submit" class="btn btn-primary btn-md ml-5" routerLink="../">Cerrar</button>
</div>

<p-dialog [(visible)]="mostrarModalConfirmacion" [modal]="true" [style]="{maxWidth:'544px',width: '100%'}"
  [draggable]="false" [resizable]="false" header="">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center justify-content-center">
      <span class="text-justify">{{mensajeArchivoConfirmacion}}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <button class="btn btn-primary btn-md" (click)="mostrarModalConfirmacion = false">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>