<app-titulo-principal titulo="Mantenimiento predictivo"></app-titulo-principal>
<ng-container>
  <div class="border-panel">
    <form [formGroup]="filtroForm">
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="nivel">Nivel*:</label>
          <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="catalogoNiveles"
                      placeholder="Seleccionar el nivel">
          </p-dropdown>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="delegacion">Delegacion*:</label>
          <p-dropdown id="delegacion" class="form-control" formControlName="delegacion" [options]="catalogoDelegaciones"
                      placeholder="Selecciona la delegacion">
          </p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="fmp?.delegacion?.errors?.required && (fmp?.delegacion?.dirty || fmp?.delegacion?.touched)">Este campo es obligatorio *.</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="velatorio">Velatorio:</label>
          <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="catalogoVelatorios"
                      placeholder="Selecciona el velatorio">
          </p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="fmp?.velatorio?.errors?.required && (fmp?.velatorio?.dirty || fmp?.velatorio?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="placa">Placa*:</label>
          <p-dropdown id="placa" class="form-control" formControlName="placa" [options]="catalogoPlacas"
                      placeholder="Seleccionar vehículo">
          </p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="fmp?.placa?.errors?.required && (fmp?.placa?.dirty || fmp?.placa?.touched)">Este campo es obligatorio *.</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="tipoMantenimiento">Tipo de Mantenimiento*:</label>
          <p-dropdown id="tipoMantenimiento" class="form-control" formControlName="tipoMantenimiento"
                      [options]="tipoMantenimientos"
                      placeholder="Selecciona el tipo">
          </p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="fmp?.tipoMantenimiento?.errors?.required && (fmp?.tipoMantenimiento?.dirty || fmp?.tipoMantenimiento?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <label class="control-label">
                Fecha vigencia:
                <span class="req">*</span>:</label>
            </div>
            <div class="col-md-6">
              <p-calendar id="fechaVigenciaDesde" formControlName="fechaVigenciaDesde"
                          styleClass="form-control" [showIcon]="true" placeholder="Fecha desde" dateFormat="dd/mm/yy"
                          [maxDate]="fmp?.fechaVigenciaHasta?.value">
              </p-calendar>
              <span class="campo-obligatorio"
                    *ngIf="fmp?.fechaVigenciaDesde?.errors?.required && (fmp?.fechaVigenciaDesde?.dirty || fmp?.fechaVigenciaDesde?.touched)">Este campo es obligatorio *.</span>
            </div>
            <div class="col-md-6">
              <p-calendar id="fecahVigenciaHasta" formControlName="fecahVigenciaHasta"
                          styleClass="form-control" [showIcon]="true" placeholder="Fecha hasta" dateFormat="dd/mm/yy"
                          appendTo="body" [minDate]="fmp?.fechaVigenciaDesde?.value">
              </p-calendar>
              <span class="campo-obligatorio"
                    *ngIf="fmp?.fecahVigenciaHasta?.errors?.required && (fmp?.fecahVigenciaHasta?.dirty || fmp?.fecahVigenciaHasta?.touched)">Este campo es obligatorio *.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-12">
          <span class="control-label">*Campos obligatorios</span>
        </div>
      </div>

      <div class="row mt-6">
        <div class="col-md-12 flex justify-content-end">
          <button type="button" class="btn btn-default btn-md" (click)="limpiar()">Limpiar</button>
          <button type="submit" class="btn btn-primary btn-md ml-5"
                  [disabled]="filtroForm.invalid" (click)="buscar()">Buscar
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-container>
<ng-container *ngIf="verDetallePredictivo">
  <div class="separador">
  </div>
  <p-accordion styleClass="sivimss-accordion">
    <p-accordionTab>
      <ng-template pTemplate="header">
        <h5 class="titulo-acordion">BLX4FR0 - </h5>
        <h6 class="titulo-acordion-tipo-vehiculo">NISSAN Sentra 2015</h6>
      </ng-template>
      <app-table-panel>

        <ng-template appCustomTemplate="left-header">
          <div class="table-panel-header-column">
            <h6 class="font-bold">Calibración Neumáticos</h6>
          </div>
        </ng-template>

        <ng-template>
        </ng-template>

        <div class="row table-panel-row">
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Velatorio</label>
              <span>No. 18 Tequesquináhuac	</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>total de vehiculos</label>
              <span> 1</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Periodo</label>
              <span> 01/01/2021 a 01/01/2022</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-5">
            <div class="table-panel-column">
              <h6 class="titulo-acordion">Valores predictivos </h6>

              <div class="col-md-8">
                <p-table [value]="data">
                  <ng-template pTemplate="header">
                    <tr>
                      <th id="mtto-predictivo-dia">Dia</th>
                      <th id="mtto-predictivo-valor">Valor</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item>
                    <tr>
                      <td>{{ item.dia }}</td>
                      <td>{{ item.valor }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>

            </div>
          </div>
          <div class="col-md-7">
            <div class="table-panel-column">
              <label>Placas</label>
              <span> {{vehiculoSeleccionado.DES_PLACAS}} </span>
            </div>
          </div>
        </div>

      </app-table-panel>

    </p-accordionTab>
  </p-accordion>
</ng-container>


<div class="col-mb-12 row flex justify-content-end"
     style="margin-top: 30px; margin-bottom: 30px;  padding-right: 14px;">
  <button type="submit" class="btn btn-primary btn-md ml-5" routerLink="../">Cerrar</button>
</div>


