<div class="grid">
    <app-btn-regresar class="mr-2 mt-5 col-fixed border-return-button" routerLink="../../"></app-btn-regresar>
    <app-titulo-principal class="col" titulo="CONSULTA DE ORDEN DE SUBROGACIÓN"></app-titulo-principal>
</div>

<div class="container-gral">
    <div class="row mb-4">
        <div class="col-md-12 border-external">
            <div class="body">
                <div class="row mb-4">
                    <div class="col-md-3 logos">
                        <div class="logo-imss">
                            <span class="texto-imss">IMSS</span>
                        </div>
                    </div>
                    <div class="col-md-4 title-head">
                        <p>Fideicomiso de Beneficios Sociales 4600-6</p>
                        <p>Heriberto Frías No. 241 Col. Narvarte</p>
                        <p>Deleg. Benito Juárez México, D.F.</p>
                        <p>C.P. 03020</p>
                    </div>
                    <div class="col-md-3 logos">
                        <div class="logo-fibeso col-md-4">
                            <span class="texto-fibeso">FIBESO</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <p class="title-head" style="text-align: justify;">VEL-T-05</p>
                        <p class="general-font">FECHA 01/02/2022</p>
                        <p class="general-font">HORA 16:12</p>
                        <p class="general-font">Versión 1.0.0</p>
                    </div>
                </div>

                <section class="titulo-body">
                    <p class="title-center">
                        ORDEN DE SUBROGACION DE SERVICIOS
                    </p>
                </section>

                <section class="flex justify-content-between info-gral-remision mt-7">
                    <div class="float-left table-panel-column">
                        <span>DELEGACION: 25 SAN LUIS POTOSÍ</span>
                    </div>
                    <div class="float-right table-panel-column">
                        <span>VELATORIO: 14 SAN LUIS POTOSÍ</span>
                    </div>
                </section>

                <section class="flex content-body">
                    <div class="col-md-12 sub-content">
                        <div class="row mb-3">
                            <div class="col-md-5 table-panel-column">
                                <label class="control-label">NOMBRE O RAZÓN SOCIAL DEL SUBROGADO:</label>
                            </div>
                            <div class="col-md-4 table-panel-column">
                                <label class="control-label">IMPERIAL FUNERALES S.A. DE C.V.</label>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4 table-panel-column">
                                <label class="control-label">NÚM. DE ORDEN DE SERVICIO:</label>
                            </div>

                            <div class="col-md-2 table-panel-column">
                                <label class="control-label">020646</label>
                            </div>

                            <div class="col-md-2 table-panel-column">
                                <label class="control-label">FECHA:</label>
                            </div>

                            <div class="col-md-4 table-panel-column">
                                <label class="control-label">29/12/2021</label>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="flex content-body">
                    <div class="col-md-12 sub-content">
                        <div class="row mb-3">
                            <div class="col-md-6 table-panel-column">
                                <label class="control-label">TIPO DE TRASLADO:</label>
                            </div>
                            <div class="col-md-3 table-panel-column">
                                <label class="control-label">OFICIAL( )</label>
                            </div>
                            <div class="col-md-3 table-panel-column">
                                <label class="control-label">PARTICULAR(X)</label>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3 table-panel-column">
                                <label class="control-label">NOMBRE DEL FINADO:</label>
                            </div>
                            <div class="col-md-9 table-panel-column">
                                <label class="control-label">ESPERANZA CAMPOS CAMACHO</label>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3 table-panel-column">
                                <label class="control-label">LUGAR DE ORIGEN:</label>
                            </div>
                            <div class="col-md-9 table-panel-column">
                                <label class="control-label">H.G.Z. NUM 50</label>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3 table-panel-column">
                                <label class="control-label">LUGAR DE DESTINO:</label>
                            </div>
                            <div class="col-md-9 table-panel-column">
                                <label class="control-label"></label>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3 table-panel-column">
                                <label class="control-label">DISTANCIA A RECORRER:</label>
                            </div>
                            <div class="col-md-9 table-panel-column">
                                <label class="control-label">0 KMS.</label>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="flex content-body">
                    <div class="col-md-12 sub-content">
                        <div class="row mb-3">
                            <div class="col-md-6 subtitulo">
                                <label class="control-label">SERVICIOS:</label>
                            </div>
                            <div class="col-md-6 subtitulo">
                                <label class="control-label">ESPECIFICACIONES:</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="control-label">EMBALSAMAMIENTO SUBROGADO</label>
                            </div>
                            <div class="col-md-6 subtitulo-derecho">
                                <label class="control-label"></label>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="flex content-body">
                    <div class="col-md-12 sub-content">
                        <div class="row mb-3">
                            <div class="col-md-6 table-panel-column">
                                <label class="control-label">NOMBRE DEL OPERADOR QUE RECIBE LA ORDEN:</label>
                            </div>
                            <div class="col-md-6 table-panel-column linea-firma"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2 table-panel-column">
                                <label class="control-label">CARROZA NÚM:</label>
                            </div>
                            <div class="col-md-4 table-panel-column linea-firma">
                            </div>
                            <div class="col-md-2 table-panel-column">
                                <label class="control-label">NÚM. DE PLACAS:</label>
                            </div>
                            <div class="col-md-4 table-panel-column linea-firma">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3 table-panel-column">
                                <label class="control-label">DIA Y HORA DE PARTIDA:</label>
                            </div>
                            <div class="col-md-9 table-panel-column linea-firma"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4 table-panel-column">
                                <label class="control-label">NOMBRE DEL ACOMPAÑANTE:</label>
                            </div>
                            <div class="col-md-8 table-panel-column linea-firma"></div>
                        </div>
                    </div>
                </section>

                <section class="flex content-body">
                    <div class="col-md-12 sub-content">
                        <div class="row mb-3">
                            <div class="col-md-6 table-panel-column">
                                <p class="control-label">RECIBÍ DE CONFORMIDAD</p>
                            </div>
                            <div class="col-md-6 table-panel-column">
                                <p class="control-label">AUTORIZÓ EL ADMINISTRADOR</p>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <hr class="linea-firma mt-2">
                                <p class="control-label text-center">NOMBRE</p>
                            </div>
                            <div class="col-md-6">
                                <hr class="linea-firma mt-2">
                                <p class="control-label text-center">NOMBRE</p>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-4">
                                <hr class="linea-firma mt-2">
                                <p class="control-label text-center">FIRMA</p>
                            </div>
                            <div class="col-md-4">
                                <hr class="linea-firma mt-2">
                                <p class="control-label text-center">MATRICULA</p>
                            </div>
                            <div class="col-md-4">
                                <hr class="linea-firma mt-2">
                                <p class="control-label text-center">FIRMA</p>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>