.actualizar-contrasenia {
  height: 100%;
  display: grid;
  max-width: 600px;
  align-items: center;
  margin: auto;

  h1 {
    color: #10312b;
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  h2 {
    color: #272829;
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
  }

  label {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #222222;
  }

  input {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #484848;
  }

  ::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
  }

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2387f5;
  }

  i {
    color: #98989a;
  }

  .validacion-contrasenias {
    display:block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #E10000;
    margin-bottom:10px;
  }
}


