<div class="sub-header">
  <div class="btn-mostrar-menu">
    <app-boton-hamburguesa></app-boton-hamburguesa>
  </div>
  <span class="titulo-app">SIVIMSS</span>
  <div class="datos-usuario">
    <div class="contenedor-imagen-usuario">
      <img src="../../../assets/images/imagen-icono-usuario.svg" alt="imagen usuario" class="imagen-usuario">
    </div>
    <div class="contenedor-curp">
      <span>CURP {{usuarioEnSesion?.curp}}</span>
      <span>{{usuarioEnSesion?.desRol}}</span>
    </div>
  </div>
  <a class="btn-cerrar-sesion" (click)="cerrarSesion()"><img class="icon-cerrar-sesion"
                                                             src="../../../assets/images/imagen-icono-cerrar-sesion.svg"
                                                             alt="icono cerrar sesion">Cerrar sesión</a>
</div>
