<div class="sub-header">
  <div class="btn-mostrar-menu">
    <app-boton-hamburguesa></app-boton-hamburguesa>
  </div>
  <span class="titulo-app">SIVIMSS</span>
  <div class="datos-usuario">
    <img src="../../../assets/images/imagen-icono-usuario.svg" alt="imagen usuario" class="imagen-usuario"
         *ngIf="!existeNotificacion">
    <div class="contenedor-imagen-usuario" *ngIf="existeNotificacion">
      <button class="button-user-img" appPopover (click)="notificacionesPopOver.toggle($event)" pBadge severity="danger"
              style="font-size: 1px" value="">
        <img src="../../../assets/images/imagen-icono-usuario.svg" alt="imagen usuario" class="imagen-usuario">
      </button>
      <app-popover #notificacionesPopOver>
        <ng-container *ngTemplateOutlet="notificacionesTemplate"></ng-container>
      </app-popover>
    </div>
    <div class="contenedor-curp">
      <span>CURP {{usuarioEnSesion?.curp}}</span>
      <span>{{usuarioEnSesion?.desRol}}</span>
    </div>
  </div>
  <a class="btn-cerrar-sesion" (click)="cerrarSesion()"><img class="icon-cerrar-sesion"
                                                             src="../../../assets/images/imagen-icono-cerrar-sesion.svg"
                                                             alt="icono cerrar sesion">Cerrar sesión</a>
</div>

<ng-template #notificacionesTemplate>
  <ul>
    <li *ngFor="let notificacion of notificaciones">
      {{ notificacion.mensaje}}

      <ng-container *ngIf="notificacion.cu =='9'">

        <div class="flex justify-content-end">
          <button class="ml-4 mt-3 btn btn-primary btn-md" (click)="registrarSalida(notificacion)">
            Registrar salida
          </button>
          <button class="ml-4 mt-3 btn btn-primary btn-md" (click)="registrarMasTarde(notificacion)">
            Registrar más tarde
          </button>
        </div>

      </ng-container>


<!--      <div class="flex justify-content-end" *ngIf="notificacion.path=='reservar-salas'">-->
<!--        <button class="ml-4 mt-3 btn btn-primary btn-md" (click)="registrarSalida(notificacion)">-->
<!--          Registrar salida-->
<!--        </button>-->
<!--        <button class="ml-4 mt-3 btn btn-primary btn-md" (click)="registrarMasTarde(notificacion)">-->
<!--          Registrar más tarde-->
<!--        </button>-->
<!--      </div>-->

    </li>

  </ul>
</ng-template>

<p-dialog [(visible)]="mostrarModalConfirmacion" [modal]="true"
          [style]="{maxWidth:'544px',width: '100%'}"
          [draggable]="false" [resizable]="false" header="Confirmación">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center justify-content-center">
      <span class="text-center">{{ msgConfirmacion }}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <button class="btn btn-primary btn-md" (click)="cerrarSesionConfirmacion()">Aceptar</button>
      <button class="ml-4 btn btn-default btn-md" (click)="mostrarModalConfirmacion = false">Cancelar</button>
    </div>
  </ng-template>
</p-dialog>
