<div class="sub-header">
  <div class="btn-mostrar-menu">
    <app-boton-hamburguesa></app-boton-hamburguesa>
  </div>
  <span class="titulo-app">SIVIMSS</span>
  <div class="datos-usuario">
    <div class="contenedor-imagen-usuario" [ngClass]="{'notificacion': existeNotificacion }">
      <button class="button-user-img" appPopover (click)="notificacionesPopOver.toggle($event)">
        <img src="../../../assets/images/imagen-icono-usuario.svg" alt="imagen usuario" class="imagen-usuario">
      </button>
      <app-popover #notificacionesPopOver>
        <ng-container *ngTemplateOutlet="notificacionesTemplate"></ng-container>
      </app-popover>
    </div>
    <div class="contenedor-curp">
      <span>CURP {{usuarioEnSesion?.curp}}</span>
      <span>{{usuarioEnSesion?.desRol}}</span>
    </div>
  </div>
  <a class="btn-cerrar-sesion" (click)="cerrarSesion()"><img class="icon-cerrar-sesion"
                                                             src="../../../assets/images/imagen-icono-cerrar-sesion.svg"
                                                             alt="icono cerrar sesion">Cerrar sesión</a>
</div>

<ng-template #notificacionesTemplate>
  <ul>
    <li (click)="seleccionarNotificacion($event)" *ngFor="let notificacion of notificaciones">{{ notificacion }}</li>
  </ul>


</ng-template>
