<div class="border-panel mb-4 p-0">
  <div class="sivimss-panel-header">
    <div class="header-left">
      <span>No. </span>
      <b>1029384756</b>
    </div>
  </div>
  <div class="sivimss-panel-body">
    <div class="row">
      <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base">Artículo*:</span>
        <span class="texto-base">Ataúd</span>
      </div>
      <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base">Concepto*:</span>
        <span class="texto-base">Ataúd ecológico</span>
      </div>
      <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base">Cantidad*:</span>
        <span class="texto-base">1</span>
      </div>
    </div>
    <hr class="separador">
    <div class="row">
      <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base">Proveedor*:</span>
        <span class="texto-base">Logística y movilidad S.A. de C.V.</span>
      </div>
      <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base">Importe:</span>
        <span class="texto-base">$5,000.00</span>
      </div>
      <div class="col-md-4 flex flex-column">
        <span class="etiqueta-base">TOTAL*:</span>
        <span class="texto-base">$5,000.00</span>
      </div>
    </div>
    <hr class="separador">
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-12 text-center">
    <span class="etiqueta-base">¿Estás seguro que deseas eliminar este artículo?</span>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-12 flex justify-content-end">
    <button class="btn btn-gold btn-md" (click)="cerrarModal()">Cancelar</button>
    <button class="btn btn-primary btn-md" (click)="cerrarModal()">Aceptar</button>
  </div>
</div>
