<form [formGroup]="form">
  <div class="row mb-3">
    <div class="col-md-6">
      <label class="control-label" for="empaque">Empaque<span class="req">*</span>:</label>
      <p-dropdown #dd id="empaque" class="form-control" formControlName="empaque" placeholder="Selecciona un empaque"
        appendTo="body" [options]="empaque" [filter]="true" filterBy="label"appendTo="body" (onChange)="selecionarEmpaque(dd)"></p-dropdown>
      <span class="campo-obligatorio"
        *ngIf="f.empaque?.errors?.required && (f.empaque?.dirty || f.empaque?.touched)">Campo
        obligatorio</span>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 flex justify-content-end">
      <button type="button" class="btn btn-gold btn-md" (click)="cerrarModal()">Cancelar</button>
      <button type="button" class="ml-5 btn btn-primary btn-md" (click)="aceptarModal()"
              [disabled]="form.invalid">Agregar
      </button>
    </div>
  </div>
</form>
