.info-circle-calibracion {
    color: #9d2449;
    cursor: pointer;
}

.campo-obligatorio {
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 10px !important;
    color: #E10000 !important;
}