<ng-container [ngSwitch]="pasoNuevaVerificacion">
  <ng-container *ngSwitchCase="CAPTURA_DE_NUEVA_VERIFICACION">
    <form [formGroup]="nuevaVerificacionForm" (submit)="aceptar()">
      <app-table-panel *ngIf="vehiculoSeleccionado">
        <div class="row table-panel-row">
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Velatorio</label>
              <span> {{vehiculoSeleccionado.DES_VELATORIO}} </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Fecha Actual</label>
              <span> {{fechaActual}} </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Hora</label>
              <span> {{horaActual}} </span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-4">
            <div class="table-panel-column">
              <label>Vehiculo</label>
              <span> {{vehiculoSeleccionado.DES_MARCA}} {{vehiculoSeleccionado.DES_SUBMARCA}}
                {{vehiculoSeleccionado.DES_MODELO}}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="table-panel-column">
              <label>Placas</label>
              <span> {{vehiculoSeleccionado.DES_PLACAS}} </span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-6">
            <div class="table-panel-column">
              <label class="control-label">Nivel de Aceite <span class="req">*</span>:</label>
              <div class="flex">
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="nivelAceiteCorrecto" name="nivelAceite" value="10" formControlName="nivelAceite"
                    inputId="correcto"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'nivelAceite'">Correcto</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="nivelAceiteMedio" name="nivelAceite" value="5" formControlName="nivelAceite"
                    inputId="medio"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'nivelAceite'">Medio</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="nivelAceiteBajo" name="nivelAceite" value="1" formControlName="nivelAceite"
                    inputId="bajo"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'nivelAceite'">Bajo</label>
                </div>
              </div>
              <span class="campo-obligatorio" *ngIf="nvf.nivelAceite?.errors?.required && (nvf.nivelAceite?.dirty || nvf.nivelAceite?.touched)">Este campo es obligatorio *.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="table-panel-column">
              <label class="control-label">Nivel de Agua <span class="req">*</span>:</label>
              <div class="flex">
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="nivelAguaCorrecto" name="nivelAgua" value="10" formControlName="nivelAgua"
                    inputId="correcto"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'nivelAgua'">Correcto</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="nivelAguaMedio" name="nivelAgua" value="5" formControlName="nivelAgua"
                    inputId="medio"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'nivelAgua'">Medio</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="nivelAguaBajo" name="nivelAgua" value="1" formControlName="nivelAgua"
                    inputId="bajo"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'nivelAgua'">Bajo</label>
                </div>
              </div>
              <span class="campo-obligatorio" *ngIf="nvf.nivelAgua?.errors?.required && (nvf.nivelAgua?.dirty || nvf.nivelAgua?.touched)">Este campo es obligatorio *.</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-6">
            <div class="table-panel-column">
              <label class="control-label">
                Calibración de Neumáticos Traseros
                <i class="pi pi-info-circle mr-2 ml-2 info-circle-calibracion" (click)="op.toggle($event)"></i>
                <span class="req">*</span>:</label>
              <div class="flex">
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="calibracionNeumaticosTraserosCorrecto" name="calibracionNeumaticosTraseros"
                    value="10" formControlName="calibracionNeumaticosTraseros" inputId="correcto"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'calibracionNeumaticosTraseros'">Correcto</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="calibracionNeumaticosTraserosMedio" name="calibracionNeumaticosTraseros" value="5"
                    formControlName="calibracionNeumaticosTraseros" inputId="medio"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'calibracionNeumaticosTraseros'">Medio</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="calibracionNeumaticosTraserosBajo" name="calibracionNeumaticosTraseros" value="1"
                    formControlName="calibracionNeumaticosTraseros" inputId="bajo"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'calibracionNeumaticosTraseros'">Bajo</label>
                </div>
              </div>
              <span class="campo-obligatorio" *ngIf="nvf.calibracionNeumaticosTraseros?.errors?.required && (nvf.calibracionNeumaticosTraseros?.dirty || nvf.calibracionNeumaticosTraseros?.touched)">Este campo es obligatorio *.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="table-panel-column">
              <label class="control-label">Calibración de Neumáticos Delanteros
                <i class="pi pi-info-circle mr-2 ml-2 info-circle-calibracion" (click)="op.toggle($event)"></i>
                <span class="req">*</span>:</label>
              <div class="flex">
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="calibracionNeumaticosDelanterosCorrecto" name="calibracionNeumaticosDelanteros"
                    value="10" formControlName="calibracionNeumaticosDelanteros" inputId="correcto"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'calibracionNeumaticosDelanteros'">Correcto</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="calibracionNeumaticosDelanterosMedio" name="calibracionNeumaticosDelanteros"
                    value="5" formControlName="calibracionNeumaticosDelanteros" inputId="medio"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'calibracionNeumaticosDelanteros'">Medio</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="calibracionNeumaticosDelanterosBajo" name="calibracionNeumaticosDelanteros"
                    value="1" formControlName="calibracionNeumaticosDelanteros" inputId="bajo"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'calibracionNeumaticosDelanteros'">Bajo</label>
                </div>
              </div>
              <span class="campo-obligatorio" *ngIf="nvf.calibracionNeumaticosDelanteros?.errors?.required && (nvf.calibracionNeumaticosDelanteros?.dirty || nvf.calibracionNeumaticosDelanteros?.touched)">Este campo es obligatorio *.</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-6">
            <div class="table-panel-column">
              <label class="control-label">Nivel de Combustible <span class="req">*</span>:</label>
              <div class="flex">
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="nivelCombustibleCorrecto" name="nivelCombustible" value="10"
                    formControlName="nivelCombustible" inputId="correcto"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'nivelCombustible'">Correcto</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="nivelCombustibleMedio" name="nivelCombustible" value="5"
                    formControlName="nivelCombustible" inputId="medio"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'nivelCombustible'">Medio</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="nivelCombustibleBajo" name="nivelCombustible" value="1"
                    formControlName="nivelCombustible" inputId="bajo"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'nivelCombustible'">Bajo</label>
                </div>
              </div>
              <span class="campo-obligatorio" *ngIf="nvf.nivelCombustible?.errors?.required && (nvf.nivelCombustible?.dirty || nvf.nivelCombustible?.touched)">Este campo es obligatorio *.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="table-panel-column">
              <label class="control-label">Nivel de Batería <span class="req">*</span>:</label>
              <div class="flex">
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="nivelBateriaCorrecto" name="nivelBateria" value="10" formControlName="nivelBateria"
                    inputId="correcto"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'nivelBateria'">Correcto</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="nivelBateriaMedio" name="nivelBateria" value="5" formControlName="nivelBateria"
                    inputId="medio"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'nivelBateria'">Medio</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="nivelBateriaBajo" name="nivelBateria" value="1" formControlName="nivelBateria"
                    inputId="bajo"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'nivelBateria'">Bajo</label>
                </div>
              </div>
              <span class="campo-obligatorio" *ngIf="nvf.nivelBateria?.errors?.required && (nvf.nivelBateria?.dirty || nvf.nivelBateria?.touched)">Este campo es obligatorio *.</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-6">
            <div class="table-panel-column">
              <label class="control-label">Código de Falla <span class="req">*</span>:</label>
              <div class="flex">
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="codigoFallaCorrecto" name="codigoFalla" value="10" formControlName="codigoFalla"
                    inputId="correcto"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'codigoFalla'">Correcto</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="codigoFallaMedio" name="codigoFalla" value="5" formControlName="codigoFalla"
                    inputId="medio"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'codigoFalla'">Medio</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="codigoFallaBajo" name="codigoFalla" value="1" formControlName="codigoFalla"
                    inputId="bajo"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'codigoFalla'">Bajo</label>
                </div>
              </div>
              <span class="campo-obligatorio" *ngIf="nvf.codigoFalla?.errors?.required && (nvf.codigoFalla?.dirty || nvf.codigoFalla?.touched)">Este campo es obligatorio *.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="table-panel-column">
              <label class="control-label">Limpieza Interior <span class="req">*</span>:</label>
              <div class="flex">
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="limpiezaInteriorCorrecto" name="limpiezaInterior" value="10"
                    formControlName="limpiezaInterior" inputId="correcto"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'limpiezaInterior'">Correcto</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="limpiezaInteriorMedio" name="limpiezaInterior" value="5"
                    formControlName="limpiezaInterior" inputId="medio"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'limpiezaInterior'">Medio</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="limpiezaInteriorBajo" name="limpiezaInterior" value="1"
                    formControlName="limpiezaInterior" inputId="bajo"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'limpiezaInterior'">Bajo</label>
                </div>
              </div>
              <span class="campo-obligatorio" *ngIf="nvf.limpiezaInterior?.errors?.required && (nvf.limpiezaInterior?.dirty || nvf.limpiezaInterior?.touched)">Este campo es obligatorio *.</span>
            </div>
          </div>
        </div>
        <div class="row table-panel-row">
          <div class="col-md-6">
            <div class="table-panel-column">
              <label class="control-label">Limpieza Exterior <span class="req">*</span>:</label>
              <div class="flex">
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="limpiezaExteriorCorrecto" name="limpiezaExterior" value="10"
                    formControlName="limpiezaExterior" inputId="correcto"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'limpiezaExterior'">Correcto</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="limpiezaExteriorMedio" name="limpiezaExterior" value="5"
                    formControlName="limpiezaExterior" inputId="medio"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'limpiezaExterior'">Medio</label>
                </div>
                <div class="flex align-items-center mx-2">
                  <p-radioButton id="limpiezaExteriorBajo" name="limpiezaExterior" value="1"
                    formControlName="limpiezaExterior" inputId="bajo"></p-radioButton>
                  <label class="control-label m-0 mx-3" [for]="'limpiezaExterior'">Bajo</label>
                </div>
              </div>
              <span class="campo-obligatorio" *ngIf="nvf.limpiezaExterior?.errors?.required && (nvf.limpiezaExterior?.dirty || nvf.limpiezaExterior?.touched)">Este campo es obligatorio *.</span>
            </div>
          </div>
        </div>
      </app-table-panel>
      <div class="row mb-2 mt-2">
        <div class="col-md-12">
          <span class="control-label">*Campos obligatorios</span>
        </div>
      </div>
      <div class="flex mt-4 justify-content-end">
        <button type="button" class="ml-6 mt-3 btn btn-danger btn-md" (click)="cancelar()">Cancelar</button>
        <button type="submit" class="ml-6 mt-3 btn btn-primary btn-md" [disabled]="nuevaVerificacionForm.invalid">
          Guardar
        </button>
      </div>
    </form>
  </ng-container>
  <ng-container *ngSwitchCase="RESUMEN_DE_NUEVA_VERIFICACION">
    <app-table-panel>
      <ng-template appCustomTemplate="left-header">
        <div class="table-panel-header-column">
          <span class="font-bold">ID {{vehiculoSeleccionado.ID_VEHICULO}}</span>
        </div>
      </ng-template>
      <div class="row table-panel-row">
        <div class="col-md-4">
          <div class="table-panel-column">
            <label>Velatorio</label>
            <span> {{vehiculoSeleccionado!.DES_VELATORIO}} </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-panel-column">
            <label>Fecha</label>
            <span> {{fechaActual}} </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-panel-column">
            <label>Hora</label>
            <span> {{horaActual}} </span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-4">
          <div class="table-panel-column">
            <label>Vehículo</label>
            <span> {{vehiculoSeleccionado.DES_MARCA}} {{vehiculoSeleccionado.DES_SUBMARCA}}
              {{vehiculoSeleccionado.DES_MODELO}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Placas</label>
            <span> {{vehiculoSeleccionado.DES_PLACAS}} </span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Nivel de Aceite</label>
            <span> {{nuevaVerificacion.idNivelAceite}} </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Nivel de Agua</label>
            <span> {{nuevaVerificacion.idNivelAgua}} </span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Calibración de Neumáticos Traseros</label>
            <span> {{nuevaVerificacion.idCalNeuTraseros}} </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Calibración de Neumáticos Delanteros</label>
            <span> {{nuevaVerificacion.idCalNeuDelanteros}} </span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Nivel de Combustible</label>
            <span> {{nuevaVerificacion.idNivelCombustible}} </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Nivel de Batería</label>
            <span> {{nuevaVerificacion.idNivelBateria}} </span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Código de Falla</label>
            <span> {{nuevaVerificacion.idCodigoFallo}} </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Limpieza Interior</label>
            <span> {{nuevaVerificacion.idLimpiezaInterior}} </span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Limpieza Exterior</label>
            <span> {{nuevaVerificacion.idLimpiezaExterior}} </span>
          </div>
        </div>
      </div>
    </app-table-panel>
    <div class="mb-3 mt-3 row text-center" *ngIf="!idMttoVehicular">
      ¿Estás seguro de agregar este nuevo registro?
    </div>
    <div class="mt-4 mb-4 col-12 text-center" *ngIf="idMttoVehicular">
      ¿Estás seguro de modificar el registro {{vehiculoSeleccionado.DES_MARCA}} {{vehiculoSeleccionado.DES_SUBMARCA}}
      {{vehiculoSeleccionado.DES_MODELO}}?
    </div>
    <div class="flex mt-4 justify-content-end">
      <button type="button" class="ml-6 mt-3 btn btn-danger btn-md" (click)="cancelar()">Cancelar</button>
      <button type="button" class="ml-6 mt-3 btn btn-primary btn-md" (click)="guardarVerificacion()">Aceptar</button>
    </div>
  </ng-container>
</ng-container>

<p-overlayPanel #op [style]="{'width': '200px'}" [showCloseIcon]="false">
  <ng-template pTemplate="content">
    <p-table [value]="calibraciones" selectionMode="none" [paginator]="false" [rows]="5" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th id="rin">RIN</th>
          <th id="presion">PRESIÓN</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-calibracion>
        <tr [pSelectableRow]="rowData">
          <td>{{calibracion.rin}}</td>
          <td>{{calibracion.presion}}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-overlayPanel>