<ng-container *ngIf="!ventanaConfirmacion">
  <form [formGroup]="solicitudMantenimientoForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="placas">Placas<span class="req">*</span>:</label>
        <input id="placas" class="form-control" formControlName="placas" placeholder="Ingresa el placas">
        <span class="campo-obligatorio"
              *ngIf="smf.placas?.errors?.required && (smf.placas?.dirty || smf.placas?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="marca">Marca<span class="req">*</span>:</label>
        <input id="marca" class="form-control" formControlName="marca" placeholder="Ingresa el marca">
        <span class="campo-obligatorio"
              *ngIf="smf.marca?.errors?.required && (smf.marca?.dirty || smf.marca?.touched)">Campo obligatorio</span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="anio">Año<span class="req">*</span>:</label>
        <input id="anio" class="form-control" formControlName="anio" placeholder="Ingresa el anio">
        <span class="campo-obligatorio"
              *ngIf="smf.anio?.errors?.required && (smf.anio?.dirty || smf.anio?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="kilometraje">Kilometraje<span class="req">*</span>:</label>
        <input id="kilometraje" class="form-control" formControlName="kilometraje" placeholder="Ingresa el kilometraje"
               [maxlength]="6" numbersOnly>
        <span class="campo-obligatorio"
              *ngIf="smf.kilometraje?.errors?.required && (smf.kilometraje?.dirty || smf.kilometraje?.touched)">Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label">Modalidad:</label>
        <div class="flex">
          <div class="flex align-items-center mx-2">
            <p-radioButton id="modalidadSemestral" name="modalidad" value="1" formControlName="modalidad"
                           inputId="semestral"></p-radioButton>
            <label class="control-label m-0 mx-3" [for]="'modalidad'">Semestral</label>
          </div>
          <div class="flex align-items-center mx-2">
            <p-radioButton id="modalidadAnual" name="modalidad" value="2" formControlName="modalidad"
                           inputId="anual"></p-radioButton>
            <label class="control-label m-0 mx-3" [for]="'modalidad'">Anual</label>
          </div>
          <div class="flex align-items-center mx-2">
            <p-radioButton id="modalidadFrecuente" name="modalidad" value="3" formControlName="modalidad"
                           inputId="frecuente"></p-radioButton>
            <label class="control-label m-0 mx-3" [for]="'modalidad'">Frecuente</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="fechaRegistro">Fecha de registro<span class="req">*:</span></label>
        <p-calendar id="fechaRegistro" formControlName="fechaRegistro" styleClass="form-control"
                    [showIcon]="true" placeholder="dd/mm/aaaa" dateFormat="dd/mm/yy" appendTo="body">
        </p-calendar>
        <span class="campo-obligatorio"
              *ngIf="smf?.fechaRegistro?.errors?.required && (smf?.fechaRegistro?.dirty || smf?.fechaRegistro?.touched)">Campo
        obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="tipoMantenimiento">Tipo de mantenimiento<span class="req">*:</span></label>
        <p-dropdown appendTo="body" id="tipoMantenimiento" class="form-control" formControlName="tipoMantenimiento"
                    [options]="tiposMantenimiento"
                    placeholder="Selecciona el tipo de mantenimiento">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="smf.tipoMantenimiento?.errors?.required && (smf.tipoMantenimiento?.dirty || smf.tipoMantenimiento?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6" *ngIf="solicitudMantenimientoForm.get('tipoMantenimiento')?.value == 1">
        <label class="control-label" for="matPreventivo">Mantenimiento preventivo<span class="req">*:</span></label>
        <p-dropdown appendTo="body" id="matPreventivo" class="form-control" formControlName="matPreventivo"
                    [options]="mantenimientosPrev"
                    placeholder="Selecciona el tamaño">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="smf.matPreventivo?.errors?.required && (smf.matPreventivo?.dirty || smf.matPreventivo?.touched)">Campo obligatorio</span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="notas">Notas<span class="req">*:</span></label>
        <input id="notas" class="form-control" formControlName="notas" placeholder="Ingresa el notas">
        <span class="campo-obligatorio"
              *ngIf="smf.notas?.errors?.required && (smf.notas?.dirty || smf.notas?.touched)">Campo obligatorio</span>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>
  </form>
  <div class="flex justify-content-end">
    <button class="btn btn-default btn-md" (click)="cerrar()">Cancelar</button>
    <button class="ml-4 btn btn-primary btn-md" (click)="agregar()" [disabled]="solicitudMantenimientoForm.invalid">
      Agregar
    </button>
  </div>
</ng-container>


<ng-container *ngIf="ventanaConfirmacion">
  <app-table-panel>
    <ng-template appCustomTemplate="left-header">
      <div class="table-panel-header-column">
        <span class="font-bold">ID {{vehiculoSeleccionado.ID_VEHICULO}}</span>
      </div>
    </ng-template>
    <ng-template>
    </ng-template>
    <ng-template>
      <div class="table-panel-header-column">
        <div class="flex flex-column">
          <div class="contenedor-inputswitch">
          </div>
        </div>
      </div>
    </ng-template>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Placas</label>
          <span> {{vehiculoSeleccionado.DES_PLACAS}} </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Marca</label>
          <span> {{vehiculoSeleccionado.DES_MARCA}} </span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Kilometraje</label>
          <span> {{resumenAsignacion.kilometraje}} km </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Año</label>
          <span> {{vehiculoSeleccionado.DES_MODELO}} </span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Modalidad</label>
          <span> {{resumenAsignacion.modalidad}}  </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Fecha registro</label>
          <span> {{resumenAsignacion.fechaRegistro | date: 'dd/MM/yyyy' }}  </span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Tipo de mantenimiento</label>
          <span> {{resumenAsignacion.tipoMantenimiento | titlecase}}  </span>
        </div>
      </div>
      <div class="col-md-6" *ngIf="solicitudMantenimientoForm.get('tipoMantenimiento')?.value == 2">
        <div class="table-panel-column">
          <label>Mantenimiento preventido</label>
          <span> {{resumenAsignacion.mantenimientoPreventivo}}  </span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <label>Notas</label>
          <span> {{resumenAsignacion.notas}}  </span>
        </div>
      </div>
    </div>
  </app-table-panel>

  <ng-container>
    <div class="mt-4 mb-4 col-12 text-center">
      ¿Estás seguro que deseas registrar este mantenimiento vehícular?
    </div>
  </ng-container>
  <div class="flex justify-content-end">
    <button class="ml-4 btn btn-default btn-md" (click)="regresar()">Regresar</button>
    <button class="ml-4  btn btn-default btn-md" (click)="cerrar()">Cancelar</button>
    <button class="ml-4 btn btn-primary btn-md" (click)="guardarSolicitudMtto()">
      Aceptar
    </button>
  </div>
</ng-container>

