<app-titulo-principal titulo="Control de existencias de donados"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel<span class="req">*</span></label>
        <p-dropdown appendTo="body" id="nivel" class="form-control" formControlName="nivel" [options]="niveles"
                    placeholder="Selecciona el nivel">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="ff.nivel?.errors?.required && (ff.nivel?.dirty || ff.nivel?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="delegacion">Delegaci&oacute;n<span class="req">*</span></label>
        <p-dropdown appendTo="body" id="delegacion" class="form-control" formControlName="delegacion"
                    [options]="delegacion" placeholder="Selecciona la delegación">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="ff.delegacion?.errors?.required && (ff.delegacion?.dirty || ff.delegacion?.touched)">Campo
          obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio<span class="req">*</span></label>
        <p-dropdown appendTo="body" id="velatorio" class="form-control" formControlName="velatorio"
                    [options]="velatorios" placeholder="Selecciona el velatorio">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="ff.velatorio?.errors?.required && (ff.velatorio?.dirty || ff.velatorio?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="donadoPor">Donado por</label>
        <p-dropdown appendTo="body" id="donadoPor" class="form-control" formControlName="donadoPor"
                    [options]="donadoPor" placeholder="Selecciona el donador">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <label class="control-label" for="fechaDesde">Rango de fechas:</label>
        <p-calendar styleClass="form-control" id="fechaDesde" formControlName="fechaDesde" [showIcon]="true"
                    dateFormat="dd/mm/yy" placeholder="Fecha desde"></p-calendar>
      </div>
      <div class="col-md-3 mt-6">
        <label class="control-label" for="fechaHasta"></label>
        <p-calendar styleClass="form-control" id="fechaHasta" formControlName="fechaHasta" [showIcon]="true"
                    dateFormat="dd/mm/yy" placeholder="Fecha hasta"></p-calendar>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <span class="mensaje-inferior-campo-obligatorio">
          *Campos obligatorios
        </span>
      </div>
    </div>
  </form>
  <div class="row mt-3">
    <div class="col-md-12 flex justify-content-end">
      <button type="submit" class="btn btn-default btn-md" (click)="limpiar()">Limpiar</button>
      <button type="submit" class="btn btn-primary btn-md ml-5" [disabled]="filtroForm.invalid"
              (click)="buscar()">Buscar</button>
    </div>
  </div>
</div>
<section class="my-6">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Ataúdes donados</h2>
    <button *appValidaRol="['CONSULTAR_DONADOS','ALTA']" type="button" class="btn btn-primary btn-lg" (click)="abrirModarRegistrarDonacion()">
      Registrar donaci&oacute;n</button>
  </div>
</section>
<section>
  <p-table appActivarUltimaCeldaSticky styleClass="mt-5 mb-8" [value]="ataudesDonados"
           [paginator]="ataudesDonados.length > 0" [rows]="cantElementosPorPagina" [lazy]="true"
           [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual"
           (onLazyLoad)="seleccionarPaginacion($event)">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Velatorio</th>
        <th scope="col">Tipo (Material)</th>
        <th scope="col">Modelo del ataúd</th>
        <th scope="col">Número de inventario</th>
        <th scope="col">Fecha de donación</th>
        <th scope="col">Donado por</th>
        <th scope="col">Nombre del donador</th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ataudesDonados>
      <tr>
        <td> {{ataudesDonados.velatorio}} </td>
        <td> {{ataudesDonados.tipo}} </td>
        <td> {{ataudesDonados.modeloAtaud}} </td>
        <td> {{ataudesDonados.numInventario}} </td>
        <td> {{ataudesDonados.fecDonacion}} </td>
        <td> {{ataudesDonados.donadoPor}} </td>
        <td> {{ataudesDonados.nomDonador}} </td>
        <td>
          <div [appEstilosCeldaSticky]="{display:'grid',gridTemplateColumns:'120px 80px'}">
            <div class="contenedor-inputswitch">
              <!--              <span class="activo" *ngIf="ataudesDonados.estatus">Activo</span>-->
              <!--              <span class="inactivo" *ngIf="!ataudesDonados.estatus">Inactivo</span>-->
            </div>
            <div class="contenedor-celda-iconos">
              <a>
                <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
              </a>
              <a (click)="abrirPanel($event,ataudesDonados)">
                <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
              </a>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements">{{ataudesDonados.length}} de {{totalElementos}}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="paginator-template">
        <div class="export-table">
          <span class="export-table-text">Exportar tabla</span>
          <div class="export-table-icons">
            <img class="icon-export-table"  src="assets/images/imagen-icono-pdf.svg" (click)="descargarArchivo('pdf')" alt="exportar pdf">
            <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg" (click)="descargarArchivo('xls')"  alt="exportar excel">
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</section>
