<div class="flex justify-content-between mb-3">
  <div class="col-md-3">
    <h2 class="subtitulo">{{salas[0].nombreSala}}</h2>
  </div>
  <div class="col-md-3">
    <p class="text-right"> <span class="font-bold"> {{fechaSeleccionada | date : 'dd/MM/YYYY'}} </span></p>
  </div>
</div>
<ng-container *ngFor="let sala of salas">
  <p-accordion styleClass="sivimss-accordion">
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="flex justify-content-end" style="width: 100%">
          <div class="col-md-4">
            <span class="etiqueta-base">Registro de entrada </span>
            <b class="texto-base">{{sala?.horaEntrada | date: 'HH:mm' }}</b>
          </div>
          <div class="col-md-4">
            <span class="etiqueta-base">Registro de salida </span>
            <b class="texto-base">{{sala?.horaSalida| date: 'HH:mm' }}</b>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <app-table-panel class="mb-6">
          <div class="row table-panel-row" *ngIf="sala.folio">
            <div class="col-md-4">
              <div class="table-panel-column">
                <label>Folio de la ODS</label>
                <span>{{sala?.folio}}</span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="table-panel-column">
                <label>Nombre del contratante</label>
                <span>{{sala?.nombreContratante}}</span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="table-panel-column">
                <label>Nombre del finado(a)</label>
                <span>{{sala?.nombreFinado}}</span>
              </div>
            </div>
          </div>
          <div class="row table-panel-row">
            <div class="col-md-4">
              <div class="table-panel-column">
                <label>Registro de entrada</label>
                <span>{{sala?.horaEntrada | date: 'HH:mm' }} </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="table-panel-column">
                <label>Registro de salida</label>
                <span>{{sala?.horaSalida | date: 'HH:mm' }}</span>
              </div>
            </div>
          </div>
        </app-table-panel>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</ng-container>



<div class="flex justify-content-end">
  <button class="ml-4 mt-3 btn btn-primary btn-md"  (click)="aceptar()">
    Aceptar
  </button>
</div>
