<form [formGroup]="modificarPromotorForm">
  <div class="row mb-3">
    <div class="col-md-6">
      <label class="control-label" for="id">ID:</label>
      <input id="id" class="form-control" formControlName="id" placeholder="">
    </div>
    <div class="col-md-6">
      <label class="control-label" for="numEmpleado">Número de empleado<span class="req">*</span>:</label>
      <input id="numEmpleado" class="form-control" formControlName="numEmpleado" maxlength="10"
        placeholder="Ingresa el no. de empleado" alphanumericOnly trimmer>
      <span class="campo-obligatorio"
        *ngIf="mpf.numEmpleado?.errors?.required && (mpf.numEmpleado?.dirty || mpf.numEmpleado?.touched)">Este campo es
        obligatorio *.</span>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label class="control-label" for="curp">CURP<span class="req">*</span>:</label>
      <input id="curp" class="form-control" formControlName="curp" maxlength="18" placeholder="Ingresa el CURP"
        alphanumericOnly trimmer (blur)="validarCurpRenapo();">
      <span class="campo-obligatorio" *ngIf="mpf.curp?.errors?.required && (mpf.curp?.dirty || mpf.curp?.touched)">Este
        campo es obligatorio *.</span>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="nombre">Nombre(s)<span class="req">*</span>:</label>
      <input id="nombre" class="form-control" formControlName="nombre" maxlength="30" placeholder="Ingresa el nombre(s)"
        alphanumericOnly trimmer>
      <span class="campo-obligatorio"
        *ngIf="mpf.nombre?.errors?.required && (mpf.nombre?.dirty || mpf.nombre?.touched)">Este campo es obligatorio
        *.</span>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label class="control-label" for="primerApellido">Primer apellido<span class="req">*</span>:</label>
      <input id="primerApellido" class="form-control" formControlName="primerApellido" maxlength="20"
        placeholder="Ingresa el primer apellido" alphanumericOnly trimmer>
      <span class="campo-obligatorio"
        *ngIf="mpf.primerApellido?.errors?.required && (mpf.primerApellido?.dirty || mpf.primerApellido?.touched)">Este
        campo es obligatorio *.</span>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="segundoApellido">Segundo apellido<span class="req">*</span>:</label>
      <input id="segundoApellido" class="form-control" formControlName="segundoApellido" maxlength="20"
        placeholder="Ingresa el segundo apellido" alphanumericOnly trimmer>
      <span class="campo-obligatorio"
        *ngIf="mpf.segundoApellido?.errors?.required && (mpf.segundoApellido?.dirty || mpf.segundoApellido?.touched)">Este
        campo es obligatorio *.</span>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label class="control-label" for="fechaNacimiento">Fecha de nacimiento<span class="req">*</span>:</label>
      <p-calendar id="fechaNacimiento" formControlName="fechaNacimiento" styleClass="form-control" [showIcon]="true"
        placeholder="Selecciona la fecha" dateFormat="dd/mm/yy">
      </p-calendar>
      <span class="campo-obligatorio"
        *ngIf="mpf.fechaNacimiento?.errors?.required && (mpf.fechaNacimiento?.dirty || mpf.fechaNacimiento?.touched)">Este
        campo es obligatorio *.</span>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="entidadFederativa">Entidad Federativa<span class="req">*</span>:</label>
      <p-dropdown id="entidadFederativa" class="form-control" formControlName="entidadFederativa"
        placeholder="Selecciona la entidad federativa" [options]="entidadFederativa" [filter]="true"
        filterBy="label"></p-dropdown>
      <span class="campo-obligatorio"
        *ngIf="mpf.entidadFederativa?.errors?.required && (mpf.entidadFederativa?.dirty || mpf.entidadFederativa?.touched)">Este
        campo es obligatorio *.</span>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label class="control-label" for="fechaIngreso">Fecha ingreso<span class="req">*</span>:</label>
      <p-calendar id="fechaIngreso" formControlName="fechaIngreso" styleClass="form-control"
        (onSelect)="handleFechaIngreso();" [showIcon]="true" placeholder="Selecciona la fecha" dateFormat="dd/mm/yy">
      </p-calendar>
      <span class="campo-obligatorio"
        *ngIf="mpf.fechaIngreso?.errors?.required && (mpf.fechaIngreso?.dirty || mpf.fechaIngreso?.touched)">Este campo
        es obligatorio *.</span>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="fechaBaja">Fecha de baja:</label>
      <p-calendar id="fechaBaja" formControlName="fechaBaja" styleClass="form-control" [showIcon]="true"
        placeholder="Selecciona la fecha" dateFormat="dd/mm/yy">
      </p-calendar>
      <span class="campo-obligatorio"
        *ngIf="mpf.fechaBaja?.errors?.required && (mpf.fechaBaja?.dirty || mpf.fechaBaja?.touched)">Este campo es
        obligatorio *.</span>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label class="control-label" for="sueldoBase">Sueldo base<span class="req">*</span>:</label>
      <input id="sueldoBase" class="form-control" formControlName="sueldoBase" maxlength="10"
        placeholder="Ingresa el sueldo base" numbersOnly trimmer>
      <span class="campo-obligatorio"
        *ngIf="mpf.sueldoBase?.errors?.required && (mpf.sueldoBase?.dirty || mpf.sueldoBase?.touched)">Este campo es
        obligatorio *.</span>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label class="control-label" for="velatorio">Velatorio<span class="req">*</span>:</label>
      <p-dropdown id="clave" class="form-control" formControlName="velatorio" [options]="catalogoVelatorios"
        placeholder="Selecciona el velatorio">
      </p-dropdown>
      <span class="campo-obligatorio"
        *ngIf="mpf.velatorio?.errors?.required && (mpf.velatorio?.dirty || mpf.velatorio?.touched)">Este campo es
        obligatorio *.</span>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="categoria">Categoría:</label>
      <input id="categoria" class="form-control" formControlName="categoria" maxlength="20"
        placeholder="Ingresa la categoría" lettersOnly trimmer>
      <span class="campo-obligatorio"
        *ngIf="mpf.categoria?.errors?.required && (mpf.categoria?.dirty || mpf.categoria?.touched)">Este campo es
        obligatorio *.</span>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label class="control-label" for="antiguedad">Antigüedad:</label>
      <input id="antiguedad" class="form-control" formControlName="antiguedad" maxlength="50"
        placeholder="Ingresa la antigüedad" alphanumericOnly trimmer>
      <span class="campo-obligatorio"
        *ngIf="mpf.antiguedad?.errors?.required && (mpf.antiguedad?.dirty || mpf.antiguedad?.touched)">Este campo es
        obligatorio *.</span>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="correo">Correo electrónico:</label>
      <input id="correo" class="form-control" formControlName="correo" maxlength="30" placeholder="Ingresa el correo"
        trimmer>
      <span class="campo-obligatorio"
        *ngIf="mpf.correo?.errors?.required && (mpf.correo?.dirty || mpf.correo?.touched)">Este campo es obligatorio
        *.</span>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label class="control-label" for="puesto">Puesto<span class="req">*</span>:</label>
      <input id="puesto" class="form-control" formControlName="puesto" maxlength="20" placeholder="Ingresa el puesto"
        lettersOnly trimmer>
      <span class="campo-obligatorio"
        *ngIf="mpf.puesto?.errors?.required && (mpf.puesto?.dirty || mpf.puesto?.touched)">Este campo es obligatorio
        *.</span>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="diasDescanso">Días de descanso:</label>
      <p-calendar id="diasDescanso" formControlName="diasDescanso" styleClass="form-control" [showIcon]="true"
        placeholder="Selecciona un día de descanso" dateFormat="dd/mm/yy" selectionMode="multiple">
      </p-calendar>
      <span class="campo-obligatorio"
        *ngIf="mpf.diasDescanso?.errors?.required && (mpf.diasDescanso?.dirty || mpf.diasDescanso?.touched)">Este campo
        es obligatorio *.</span>
    </div>
  </div>

  <div>
    <label class="control-label">Estatus<span class="req"><span class="req">*</span>:</span></label>
    <div class="contenedor-inputswitch">
      <p-inputSwitch formControlName="estatus"></p-inputSwitch>
      <span class="activo" *ngIf="mpf.estatus?.value">Activo</span>
      <span class="inactivo" *ngIf="!mpf.estatus?.value">Inactivo</span>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <span>*Campos obligatorios</span>
    </div>
  </div>

  <div class="flex justify-content-end mb-6">
    <button type="button" class="ml-4 btn btn-gold btn-md" (click)="cerrarDialogo()">Cancelar</button>
    <button type="button" class="ml-4 btn btn-primary btn-md" (click)="confirmarGuardar()">
      Guardar
    </button>
  </div>
</form>

<p-dialog [(visible)]="mostrarModalConfirmacion" [modal]="true" [style]="{maxWidth:'544px',width: '100%'}"
  [draggable]="false" [resizable]="false" header="">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center justify-content-center">
      <span class="text-justify">{{mensajeModal}}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <button class="btn btn-primary btn-md" (click)="mostrarModalConfirmacion = false">Cancelar</button>
      <button class="btn btn-primary btn-md" (click)="guardarPromotor()">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="mostrarModalPromotorDuplicado" [modal]="true" [style]="{maxWidth:'544px',width: '100%'}"
  [draggable]="false" [resizable]="false" header="">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center justify-content-center">
      <span class="text-justify">{{mensajeModal}}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <button class="btn btn-primary btn-md" (click)="mostrarModalPromotorDuplicado = false">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>