<div class="container-sivimss px-5 registro-en-linea my-5">
  <app-titulo-principal titulo="Comprobante de Pago">
    <app-btn-regresar routerLink="../../../../"></app-btn-regresar>
  </app-titulo-principal>
  <app-recibo-pago [cveCliente]="recibo.claveCliente"
                   [nombreUsuario]="recibo.nomUsuario" [numeroConvenio]="recibo.numCon"
                   [importe]="recibo.impPagado" [conceptoPago]="recibo.conPago" [digitos]="recibo.numTarjeta"
                   [emisor]="recibo.emisorTarjeta" [delegacion]="recibo.nomDelegacion" [velatorio]="recibo.nomVelatorio"
                   [numAprobacion]="recibo.numAprobacion" [idPago]="recibo.idPagoLinea.toString()"
                   [fecTransaccion]="recibo.fecTransaccion"
                   [folioPago]="recibo.folioPago">
  </app-recibo-pago>
  <div class="row mb-3 mt-5">
    <div class="col-md-12 flex justify-content-end">
      <button type="button" class="btn btn-primary btn-md" (click)="guardarPDF()">Guardar</button>
      <button type="submit" class="btn btn-primary btn-md ml-5" (click)="imprimir()">Imprimir
      </button>
    </div>
  </div>
</div>

<p-dialog [(visible)]="mostrarModalDescargaExitosa" [modal]="true"
          [style]="{maxWidth:'544px',width: '100%'}"
          [draggable]="false" [resizable]="false" header="">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center justify-content-center">
      <span class="text-justify">{{ MENSAJE_ARCHIVO_DESCARGA_EXITOSA }}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <button class="btn btn-primary btn-md" (click)="mostrarModalDescargaExitosa = false">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>

