<div class="border-panel mb-8">
  <h3 class="mb-4">GENERAR ORDEN DE SERVICIO</h3>
  <div class="flex justify-content-center align-items-center" *ngIf="detalle_orden_servicio">
    <app-etapas-convenio-sfpa></app-etapas-convenio-sfpa>
  </div>
  <ng-container [ngSwitch]="idEtapaSeleccionada">
    <ng-container *ngSwitchCase="DATOS_DEL_CONTRATANTE">
      <app-datos-contratante-sf (seleccionarEtapa)="obtenerIdEtapaSeleccionada($event)"></app-datos-contratante-sf>
    </ng-container>
    <ng-container *ngSwitchCase="DATOS_DEL_FINADO">
      <app-datos-finado-sf (seleccionarEtapa)="obtenerIdEtapaSeleccionada($event)"></app-datos-finado-sf>
    </ng-container>
    <ng-container *ngSwitchCase="CARACTERISTICAS_DEL_PRESUPUESTO">
      <app-caracteristicas-presupuesto-sf
        (seleccionarEtapa)="obtenerIdEtapaSeleccionada($event)"></app-caracteristicas-presupuesto-sf>
    </ng-container>
    <ng-container *ngSwitchCase="INFORMACION_DEL_SERVICIO">
      <app-informacion-servicio-sf (seleccionarEtapa)="obtenerIdEtapaSeleccionada($event)"></app-informacion-servicio-sf>
    </ng-container>
    <ng-container *ngSwitchCase="DETALLE_ORDEN_SERVICIO">
      <app-detalle-orden-servicio (seleccionarEtapa)="obtenerIdEtapaSeleccionada($event)"></app-detalle-orden-servicio>
    </ng-container>
  </ng-container>
</div>
