<ng-container *ngIf="!ventanaConfirmacion">
  <form [formGroup]="modificarArticuloForm">

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="idAgregar">ID<span class="req">*</span>:</label>
        <input id="idAgregar" class="form-control" formControlName="id" placeholder="">
        <span class="campo-obligatorio" *ngIf="fma.id?.errors?.required && (fma.id?.dirty || fma.id?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="categoria">Categoría (artículo)<span class="req">*</span>:</label>
        <p-dropdown appendTo="body" id="categoria" class="form-control" formControlName="categoria"
          [options]="catalogoCategorias" placeholder="Selecciona el artículo">
        </p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="fma.categoria?.errors?.required && (fma.categoria?.dirty || fma.categoria?.touched)">Campo
          obligatorio</span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="tipoArticulo">Tipo de artículo:</label>
        <p-dropdown appendTo="body" id="tipoArticulo" class="form-control" formControlName="tipoArticulo"
          optionValue="value" [options]="catalogoTiposArticulos" placeholder="Selecciona el tipo de artículo"
          (onChange)="handleChangeTipoArticulo();">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="tipoMaterial">Tipo de material<span class="req">*:</span></label>
        <p-dropdown appendTo="body" id="tipoMaterial" class="form-control" formControlName="tipoMaterial"
          [options]="catalogoTiposMateriales" placeholder="Selecciona el tipo de material">
        </p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="fma.tipoMaterial?.errors?.required && (fma.tipoMaterial?.dirty || fma.tipoMaterial?.touched)">Campo
          obligatorio</span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="tamanio">Tamaño<span class="req">*:</span></label>
        <p-dropdown appendTo="body" id="tamanio" class="form-control" formControlName="tamanio"
          [options]="catalogoTamanios" placeholder="Selecciona el tamaño">
        </p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="fma.tamanio?.errors?.required && (fma.tamanio?.dirty || fma.tamanio?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="clasificacionProducto">Clasificación del producto<span
            class="req">*:</span></label>
        <p-dropdown appendTo="body" id="clasificacionProducto" class="form-control"
          formControlName="clasificacionProducto" [options]="catalogoClasificacionProductos"
          placeholder="Selecciona la clasificacióne">
        </p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="fma.clasificacionProducto?.errors?.required && (fma.clasificacionProducto?.dirty || fma.clasificacionProducto?.touched)">Campo
          obligatorio</span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="modeloArticulo">Modelo del artículo<span class="req">*</span>:</label>
        <input id="modeloArticulo" class="form-control" formControlName="modeloArticulo" maxlength="70"
          placeholder="Ingresa el modelo" textOnly trimmer>
        <span class="campo-obligatorio"
          *ngIf="fma.modeloArticulo?.errors?.required && (fma.modeloArticulo?.dirty || fma.modeloArticulo?.touched)">Campo
          obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="descripcionProducto">Descripción del artículo<span
            class="req">*</span>:</label>
        <input id="descripcionProducto" class="form-control" formControlName="descripcionProducto" maxlength="70"
          placeholder="Ingresa la descripción" textOnly trimmer>
        <span class="campo-obligatorio"
          *ngIf="fma.descripcionProducto?.errors?.required && (fma.descripcionProducto?.dirty || fma.descripcionProducto?.touched)">Campo
          obligatorio</span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label class="control-label" for="largo">Largo:</label>
        <input id="largo" class="form-control" formControlName="largo" placeholder="Ingresa el largo" numbersOnly
          trimmer maxlength="3">
      </div>
      <div class="col-md-4">
        <label class="control-label" for="ancho">Ancho:</label>
        <input id="ancho" class="form-control" formControlName="ancho" placeholder="Ingresa el ancho" numbersOnly
          trimmer maxlength="3">
      </div>
      <div class="col-md-4">
        <label class="control-label" for="alto">Alto:</label>
        <input id="alto" class="form-control" formControlName="alto" placeholder="Ingresa el alto" numbersOnly trimmer
          maxlength="3">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="partidaPresupuestal">Partida Presupuestal<span class="req" *ngIf="fma.tipoArticulo.value === this.ID_ARTICULO_COMPLEMENTARIO">*</span>:</label>
        <p-dropdown appendTo="body" id="partidaPresupuestal" class="form-control" formControlName="partidaPresupuestal"
          [options]="catalogoPartidasPresupuestales" placeholder="Selecciona la partida presupuestal">
        </p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="fma.partidaPresupuestal?.errors?.required && (fma.partidaPresupuestal?.dirty || fma.partidaPresupuestal?.touched)">Campo
          obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="cuentaContable">Cuenta contable<span class="req" *ngIf="fma.tipoArticulo.value === this.ID_ARTICULO_COMPLEMENTARIO">*</span>:</label>
        <p-dropdown appendTo="body" id="cuentaContable" class="form-control" formControlName="cuentaContable"
          [options]="catalogoCuentasContables" placeholder="Selecciona la cuenta contable">
        </p-dropdown>
        <span class="campo-obligatorio"
          *ngIf="fma.cuentaContable?.errors?.required && (fma.cuentaContable?.dirty || fma.cuentaContable?.touched)">Campo
          obligatorio</span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="productoServicios">Clave SAT:</label>
        <p-dropdown appendTo="body" id="productoServicios" class="form-control" formControlName="productoServicios"
          [options]="catalogoClavesSat" placeholder="Selecciona la clave de artículo SAT">
        </p-dropdown>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <label class="control-label">Estatus<span class="req">*:</span></label>
        <div class="contenedor-inputswitch">
          <p-inputSwitch formControlName="estatus"></p-inputSwitch>
          <span class="activo" *ngIf="fma.estatus?.value">Activo</span>
          <span class="inactivo" *ngIf="!fma.estatus?.value">Inactivo</span>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>
  </form>
  <div class="flex justify-content-end">
    <button class="btn btn-default btn-md" (click)="cerrar()">Cancelar</button>
    <button class="ml-4 btn btn-primary btn-md" (click)="confirmarModificarArticulo()">
      Agregar
    </button>
  </div>
</ng-container>

<ng-container *ngIf="ventanaConfirmacion">
  <app-detalle-articulos [articuloSeleccionado]="articuloSeleccionado" [origen]="'modificar'"
    (confirmacionAceptar)="cerrar($event)"></app-detalle-articulos>
</ng-container>