<app-table-panel *ngIf="solicitudPagoSeleccionado">
  <ng-template appCustomTemplate="left-header">
    <div class="table-panel-header-column">
      <span class="font-bold">Folio {{solicitudPagoSeleccionado.folio2}}</span>
    </div>
  </ng-template>
  <ng-template appCustomTemplate="right-header">
    <div class="table-panel-header-column">
      <div class="flex flex-column">
        <span class="text-xl">Estatus</span>
        <span class="text-xl font-bold">Pendiente</span>
      </div>
    </div>
  </ng-template>
  <!--Existe un ng-container para cada tipo, activarlos segun sea el caso-->
  <ng-container *ngIf="false">
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Tipo de solicitud</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Ejercicio Fiscal</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column flex-row">
          <i class="fs fs-check inline-block mr-3"></i>
          <span class="font-bold">Unidad operativa/administrativa</span>
        </div>
        <div class="table-panel-column">
          <label>Referencia unidad operativa/administrativa</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label></label>
          <span></span>
        </div>
        <div class="table-panel-column mt-4">
          <label>Solicitado por</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Nombre del destinatario</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Nombre del remitente (Del)</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Referencia DT</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Beneficiario</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label class="font-bold">Datos bancarios</label>
          <span></span>
        </div>
        <div class="table-panel-column">
          <label>Banco</label>
          <span></span>
        </div>
        <div class="table-panel-column">
          <label>Clave interbancaria</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label></label>
          <span></span>
        </div>
        <div class="table-panel-column mt-4">
          <label>Cuenta</label>
          <span></span>
        </div>
      </div>
    </div>


    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Fecha de elaboración</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Importe Total</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Concepto</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Cantidad letra</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <label>Observaciones</label>
          <span></span>
        </div>
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="false">
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Tipo de solicitud</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Ejercicio Fiscal</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Folio fiscal de la factura de gastos</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Fecha de elaboración</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row surface-50">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label class="mb-0">Partida presupuestal</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label class="mb-0">Cuentas contables</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label class="mb-0">Importe total</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <span>21101</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <span>512100100</span>
          <span>512100100</span>
          <span>512100100</span>
          <span>512100100</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <span class="font-bold">$50,000.00</span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column flex-row">
          <i class="fs fs-check inline-block mr-3"></i>
          <span class="font-bold">Unidad operativa/administrativa</span>
        </div>
        <div class="table-panel-column">
          <label>Referencia unidad operativa/administrativa</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label></label>
          <span></span>
        </div>
        <div class="table-panel-column mt-4">
          <label>Solicitado por</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Referencia DT</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Beneficiario</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Nombre del destinatario (Para)</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Nombre del remitente (De)</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Concepto</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Cantidad letra</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <label>Observaciones</label>
          <span></span>
        </div>
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="false">
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Tipo de solicitud</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Ejercicio Fiscal</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Folio fiscal de la factura de gastos</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Fecha de elaboración</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row surface-50">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label class="mb-0">Partida presupuestal</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label class="mb-0">Cuentas contables</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label class="mb-0">Importe total</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <span>21101</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <span>512100100</span>
          <span>512100100</span>
          <span>512100100</span>
          <span>512100100</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <span class="font-bold">$50,000.00</span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column flex-row">
          <i class="fs fs-check inline-block mr-3"></i>
          <span class="font-bold">Unidad operativa/administrativa</span>
        </div>
        <div class="table-panel-column">
          <label>Referencia unidad operativa/administrativa</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label></label>
          <span></span>
        </div>
        <div class="table-panel-column mt-4">
          <label>Solicitado por</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Nombre del destinatario (Para)</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Nombre del remitente (De)</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Referencia DT</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Beneficiario</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label class="font-bold">Periodo</label>
          <span></span>
        </div>
        <div class="table-panel-column">
          <label>Fecha inicio</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label></label>
          <span></span>
        </div>
        <div class="table-panel-column mt-4">
          <label>Fecha fín</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Concepto</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Cantidad letra</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <label>Observaciones</label>
          <span></span>
        </div>
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="false">
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Tipo de solicitud</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Ejercicio Fiscal</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Folio fiscal de la factura de gastos</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Fecha de elaboración</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row surface-50">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label class="mb-0">Partida presupuestal</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label class="mb-0">Cuentas contables</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label class="mb-0">Importe total</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <span>21101</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <span>512100100</span>
          <span>512100100</span>
          <span>512100100</span>
          <span>512100100</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <span class="font-bold">$50,000.00</span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column flex-row">
          <i class="fs fs-check inline-block mr-3"></i>
          <span class="font-bold">Unidad operativa/administrativa</span>
        </div>
        <div class="table-panel-column">
          <label>Referencia unidad operativa/administrativa</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label></label>
          <span></span>
        </div>
        <div class="table-panel-column mt-4">
          <label>Solicitado por</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Nombre del destinatario (Para)</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Nombre del remitente (De)</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Referencia DT</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Beneficiario</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label class="font-bold">Datos bancarios</label>
          <span></span>
        </div>
        <div class="table-panel-column">
          <label>Banco</label>
          <span></span>
        </div>
        <div class="table-panel-column">
          <label>Clave interbancaria</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label></label>
          <span></span>
        </div>
        <div class="table-panel-column mt-4">
          <label>Cuenta</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Concepto</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Cantidad letra</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <label>Observaciones</label>
          <span></span>
        </div>
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="false">
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Tipo de solicitud</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Ejercicio Fiscal</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Folio fiscal de la factura de gastos</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Importe total</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column flex-row">
          <i class="fs fs-check inline-block mr-3"></i>
          <span class="font-bold">Unidad operativa/administrativa</span>
        </div>
        <div class="table-panel-column">
          <label>Referencia velatorio</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label></label>
          <span></span>
        </div>
        <div class="table-panel-column mt-4">
          <label>Solicitado por</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Fecha de elaboración</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Nombre del destinatario (Para)</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Nombre del remitente (De)</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Referencia DT</label>
          <span></span>
        </div>
      </div>

    </div>

    <div class="row table-panel-row">

      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Beneficiario</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Número de contrato</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label class="font-bold">Datos bancarios</label>
          <span></span>
        </div>
        <div class="table-panel-column">
          <label>Banco</label>
          <span></span>
        </div>
        <div class="table-panel-column">
          <label>Clave interbancaria</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label></label>
          <span></span>
        </div>
        <div class="table-panel-column mt-4">
          <label>Cuenta</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Concepto</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Cantidad letra</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label class="font-bold">Periodo</label>
          <span></span>
        </div>
        <div class="table-panel-column">
          <label>Fecha inicio</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label></label>
          <span></span>
        </div>
        <div class="table-panel-column mt-4">
          <label>Fecha fín</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <label>Observaciones</label>
          <span></span>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="true">
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Tipo de solicitud</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Ejercicio Fiscal</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Folio fiscal de la factura de gastos</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Fecha de elaboración</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row surface-50">
      <div class="col-md-4">
        <div class="table-panel-column">
          <label class="mb-0">Partida presupuestal</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label class="mb-0">Cuentas contables</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <label class="mb-0">Importe total</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-4">
        <div class="table-panel-column">
          <span>21101</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <span>512100100</span>
          <span>512100100</span>
          <span>512100100</span>
          <span>512100100</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="table-panel-column">
          <span class="font-bold">$50,000.00</span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column flex-row">
          <i class="fs fs-check inline-block mr-3"></i>
          <span class="font-bold">Unidad operativa/administrativa</span>
        </div>
        <div class="table-panel-column">
          <label>Referencia unidad/administrativa</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label></label>
          <span></span>
        </div>
        <div class="table-panel-column mt-4">
          <label>Solicitado por</label>
          <span></span>
        </div>
      </div>
    </div>
    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Nombre del destinatario (Para)</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Nombre del remitente (De)</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <label>Referencia DT</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Beneficiario</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Número de contrato</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label class="font-bold">Datos bancarios</label>
          <span></span>
        </div>
        <div class="table-panel-column">
          <label>Banco</label>
          <span></span>
        </div>
        <div class="table-panel-column">
          <label>Clave interbancaria</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label></label>
          <span></span>
        </div>
        <div class="table-panel-column mt-4">
          <label>Cuenta</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Concepto</label>
          <span></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-panel-column">
          <label>Cantidad letra</label>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row table-panel-row">
      <div class="col-md-12">
        <div class="table-panel-column">
          <label>Observaciones</label>
          <span></span>
        </div>
      </div>
    </div>
  </ng-container>
</app-table-panel>
<div class="flex justify-content-end mt-4 mb-3">
  <button class=" btn btn-gold btn-md" >
    Cancelar
  </button>
  <button class="ml-4 btn btn-default btn-md">
    Rechazar
  </button>
  <button class="ml-4 btn btn-primary btn-md" (click)="aceptar()">
    Aprobar
  </button>
</div>

