<app-titulo-principal titulo="Seleccionar Beneficiario"></app-titulo-principal>
<app-table-panel>
  <div class="row table-panel-row bg-g ">
    <div class="col-md-4">
      <div class="table-panel-column">
        <label class="text-bold">Nombre</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table-panel-column">
        <label class="text-bold">CURP</label>
      </div>
    </div>
  </div>
  <div class="row table-panel-row" *ngFor="let beneficiario of beneficiarios">
    <div class="col-md-4">
      <div class="table-panel-column mt-3">
        <label>{{beneficiario.nombre}}</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="table-panel-column mt-3">
        <label>{{beneficiario.curp}}</label>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div class="table-panel-column justify-content-end">
        <button type="submit" class="btn btn-primary btn-md ml-5" [routerLink]="'../pago-orden-servicio'" >Seleccionar
        </button>
      </div>
    </div>
  </div>
</app-table-panel>
