<div class="row table-panel-row">
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Nombre</label>
      <span>{{nombre}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Edad</label>
      <span>{{edad}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Parentesco</label>
      <span>{{parentesco}}</span>
    </div>
  </div>
</div>
<div class="row table-panel-row">
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>C.U.R.P.</label>
      <span>{{curp}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>R.F.C</label>
      <span>{{rfc}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Correo electronico</label>
      <span>{{correoElectronico}}</span>
    </div>
  </div>
</div>
<div class="row table-panel-row">
  <div class="col-md-4">
    <div class="table-panel-column">
      <label>Telefono</label>
      <span>{{telefono}}</span>
    </div>
  </div>
  <div class="col-md-8">
  </div>
</div>
