<div *ngIf="paso==='formulario'">
  <app-titulo-principal titulo="Vale de salida de equipo de velación"></app-titulo-principal>
  <div class="border-panel">
    <form [formGroup]="generarValeSalidaForm">
      <div class="row mb-3">
        <div class="col-md-4">
          <label class="control-label" for="nivel">Nivel<span class="req">*</span>:</label>
          <p-dropdown appendTo="body" id="nivel" class="form-control" formControlName="nivel" [options]="catalogoNiveles"
            placeholder="Selecciona el nivel">
          </p-dropdown>
          <span class="campo-obligatorio" *ngIf="f.nivel?.errors?.required && (f.nivel?.dirty || f.nivel?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="delegacion">Delegación<span class="req">*</span>:</label>
          <p-dropdown appendTo="body" id="delegacion" class="form-control" formControlName="delegacion"
            [options]="catalogoDelegaciones" placeholder="Selecciona la delegación" (onChange)='obtenerVelatorios();'>
          </p-dropdown>
          <span class="campo-obligatorio"
            *ngIf="f.delegacion?.errors?.required && (f.delegacion?.dirty || f.delegacion?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="velatorio">Velatorio<span class="req">*</span>:</label>
          <p-dropdown appendTo="body" id="velatorio" class="form-control" formControlName="velatorio"
            [options]="catalogoVelatorios" placeholder="Selecciona el velatorio" (onChange)="obtenerFoliosGenerados();">
          </p-dropdown>
          <span class="campo-obligatorio"
            *ngIf="f.velatorio?.errors?.required && (f.velatorio?.dirty || f.velatorio?.touched)">Este campo es obligatorio *.</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label class="control-label" for="folio">Folio de la ODS<span class="req">*</span>:</label>
          <p-dropdown id="folio" class="form-control" formControlName="folio" [options]="foliosGenerados"
            optionLabel="label" placeholder="Ingresa el folio de la ODS" [filter]="true" filterBy="label"
            (onChange)='obtenerDatosFolioOds();'>
          </p-dropdown>
          <span class="campo-obligatorio" *ngIf="f.folio?.errors?.required && (f.folio?.dirty || f.folio?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="nombreContratante">Nombre del contratante:</label>
          <input id="nombreContratante" type="text" class="form-control" formControlName="nombreContratante"
            placeholder="Ingresa el nombre del contratante">
          <span class="campo-obligatorio"
            *ngIf="f.nombreContratante?.errors?.required && (f.nombreContratante?.dirty || f.nombreContratante?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="nombreFinado">Nombre del finado:</label>
          <input id="nombreFinado" type="text" class="form-control" formControlName="nombreFinado"
            placeholder="Ingresa el nombre del finado">
          <span class="campo-obligatorio"
            *ngIf="f.nombreFinado?.errors?.required && (f.nombreFinado?.dirty || f.nombreFinado?.touched)">Este campo es obligatorio *.</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label class="control-label" for="nombreResponsableEntrega">Responsable de la entrega<span
              class="req">*</span>:</label>
          <input id="nombreResponsableEntrega" type="text" class="form-control" formControlName="nombreResponsableEntrega"
            placeholder="Ingresa el responsable de la entrega" maxlength="70">
          <span class="campo-obligatorio"
            *ngIf="f.nombreResponsableEntrega?.errors?.required && (f.nombreResponsableEntrega?.dirty || f.nombreResponsableEntrega?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="diasNovenario">Días de novenario:</label>
          <input id="diasNovenario" type="text" class="form-control" formControlName="diasNovenario" numbersOnly
            placeholder="Ingresa los días de novenario" maxlength="2">
          <span class="campo-obligatorio"
            *ngIf="f.diasNovenario?.errors?.required && (f.diasNovenario?.dirty || f.diasNovenario?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="fechaSalida">Fecha de salida<span class="req">*</span>:</label>
          <p-calendar id="fechaSalida" formControlName="fechaSalida" styleClass="form-control" [showIcon]="true"
            placeholder="Selecciona la fecha de salida" dateFormat="dd/mm/yy">
          </p-calendar>
          <span class="campo-obligatorio"
            *ngIf="f.fechaSalida?.errors?.required && (f.fechaSalida?.dirty || f.fechaSalida?.touched)">Este campo es obligatorio *.</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label class="control-label" for="nombreResponsableInstalacion">Responsable de la instalación<span
              class="req">*</span>:</label>
          <input id="nombreResponsableInstalacion" type="text" class="form-control" maxlength="70"
            formControlName="nombreResponsableInstalacion" placeholder="Ingresa el responsable de la instalación">
          <span class="campo-obligatorio"
            *ngIf="f.nombreResponsableInstalacion?.errors?.required && (f.nombreResponsableInstalacion?.dirty || f.nombreResponsableInstalacion?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="matriculaResponsableInstalacion">Matrícula del responsable<span
              class="req">*</span>:</label>
          <input id="matriculaResponsableInstalacion" type="text" class="form-control" maxlength="70"
            formControlName="matriculaResponsableInstalacion" numbersOnly
            placeholder="Ingresa la matrícula del responsable de la instalación">
          <span class="campo-obligatorio"
            *ngIf="f.matriculaResponsableInstalacion?.errors?.required && (f.matriculaResponsableInstalacion?.dirty || f.matriculaResponsableInstalacion?.touched)">Este campo es obligatorio *.</span>
        </div>
      </div>
      <h2 class="subtitulo">Domicilio donde se realiza la velación / novenario</h2>
      <div class="row">
        <div class="col-md-4">
          <label class="control-label" for="cp">CP<span class="req">*</span>:</label>
          <input id="cp" type="text" class="form-control" formControlName="cp" placeholder="Ingresa el CP">
          <span class="campo-obligatorio" *ngIf="f.cp?.errors?.required && (f.cp?.dirty || f.cp?.touched)">Este campo es obligatorio *.</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label class="control-label" for="calle">Calle<span class="req">*</span>:</label>
          <input id="calle" type="text" class="form-control" formControlName="calle" placeholder="Ingresa la calle">
          <span class="campo-obligatorio" *ngIf="f.calle?.errors?.required && (f.calle?.dirty || f.calle?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="numExt">No. exterior<span class="req">*</span>:</label>
          <input id="numExt" type="text" class="form-control" formControlName="numExt"
            placeholder="Ingresa el no. exterior">
          <span class="campo-obligatorio"
            *ngIf="f.numExt?.errors?.required && (f.numExt?.dirty || f.numExt?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="numInt">No. interior:</label>
          <input id="numInt" type="text" class="form-control" formControlName="numInt"
            placeholder="Ingresa el no. interior">
          <span class="campo-obligatorio"
            *ngIf="f.numInt?.errors?.required && (f.numInt?.dirty || f.numInt?.touched)">Este campo es obligatorio *.</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label class="control-label" for="colonia">Colonia<span class="req">*</span>:</label>
          <input id="colonia" type="text" class="form-control" formControlName="colonia" placeholder="Ingresa la colonia">
          <span class="campo-obligatorio"
            *ngIf="f.colonia?.errors?.required && (f.colonia?.dirty || f.colonia?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="municipio">Municipio<span class="req">*</span>:</label>
          <input id="municipio" type="text" class="form-control" formControlName="municipio"
            placeholder="Ingresa el municipio">
          <span class="campo-obligatorio"
            *ngIf="f.municipio?.errors?.required && (f.municipio?.dirty || f.municipio?.touched)">Este campo es obligatorio *.</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="estado">Estado<span class="req">*</span></label>
          <input id="estado" type="text" class="form-control" formControlName="estado" placeholder="Ingresa el estado">
          <span class="campo-obligatorio"
            *ngIf="f.estado?.errors?.required && (f.estado?.dirty || f.estado?.touched)">Este campo es obligatorio *.</span>
        </div>
      </div>
      <div class=" mt-6 mb-3 flex justify-content-between">
        <div class="col-md-3">
          <h2 class="subtitulo">Equipo de velación</h2>
        </div>
        <div class="col-md-4">
          <h2 class="subtitulo">Total de artículos / bienes inmuebles: {{articulos.length}} </h2>
        </div>
      </div>
      <div formArrayName="articulos">
        <p-table styleClass="mb-6" [value]="articulos.controls" [rows]="cantElementosPorPagina" [lazy]="true"
          [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual">

          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Nombre de bienes inmuebles / artículos</th>
              <th scope="col">Cantidad / piezas*</th>
              <th scope="col">Observaciones*</th>
              <th scope="col"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-controls let-i="rowIndex">
            <tr [formGroupName]="i">
              <td>
                {{controls.value.articulo}}
              </td>
              <td>
                <input type="text" class="form-control" maxlength="3" placeholder="Ingresa la cantidad"
                  formControlName="cantidad" numbersOnly>
              </td>
              <td>
                <input type="text" class="form-control" placeholder="Ingresa la observación"
                  formControlName="observaciones" maxlength="100">
              </td>
              <td>
                <div class="contenedor-celda-iconos">
                  <a class="ml-5 cursor-pointer" (click)="abrirPanel($event,controls.value)">
                    <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
                  </a>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </form>
  </div>
  <div class="flex justify-content-end mb-3">
    <button class="ml-4 mt-3 btn btn btn-danger btn-md" routerLink="../">Cancelar</button>
    <button class="ml-4 mt-3 btn btn btn-default btn-md" (click)="generarValeSalidaConfirmacion()"
      [disabled]="bloquearRegistrarSalida">Registrar salida</button>
  </div>
</div>

<app-detalle-velacion-domicilio *ngIf="paso==='confirmacion'"
  [detalleForm]="datosGuardar()"
  (confirmacionAceptar)="generarValeSalida();"
  (confirmacionRegresar)="paso='formulario'">
</app-detalle-velacion-domicilio>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion (click)="eliminarArticulo()" titulo="Eliminar"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>