<div class="sivimss-acoordion-header">
  <div class="accordion-header-left">
    <span>Folio </span>
    <b>DOC-000001</b>
  </div>
  <div class="accordion-header-right">
    <div class="estatus">
      <span>Estatus</span>
      <b>Pre-orden</b>
    </div>
  </div>
</div>
<div class="border-panel mb-8">
  <form [formGroup]="form">
    <ng-container formGroupName="datosContratante">
      <h2 class="subtitulo-base">Datos del contratante</h2>
      <div class="row mb-2">
        <div class="col-md-6">
          <label class="control-label" for="matricula">Matrícula<span class="req">*</span>:</label>
          <input id="matricula" type="text" class="form-control" formControlName="matricula"
                 placeholder="Ingresa matrícula">
          <span class="campo-obligatorio"
                *ngIf="datosContratante.matricula?.errors?.required && (datosContratante.matricula?.dirty || datosContratante.matricula?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="rfc">RFC<span class="req">*</span>:</label>
          <input id="rfc" type="text" class="form-control" formControlName="rfc" placeholder="Ingresa rfc">
          <span class="campo-obligatorio"
                *ngIf="datosContratante.rfc?.errors?.required && (datosContratante.rfc?.dirty || datosContratante.rfc?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6">
          <label class="control-label" for="curp">CURP<span class="req">*</span>:</label>
          <input id="curp" type="text" class="form-control" formControlName="curp" placeholder="Ingresa curp">
          <span class="campo-obligatorio"
                *ngIf="datosContratante.curp?.errors?.required && (datosContratante.curp?.dirty || datosContratante.curp?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="nombre">Nombre(s)<span class="req">*</span>:</label>
          <input id="nombre" type="text" class="form-control" formControlName="nombre" placeholder="Ingresa nombre(s)">
          <span class="campo-obligatorio"
                *ngIf="datosContratante.nombre?.errors?.required && (datosContratante.nombre?.dirty || datosContratante.nombre?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6">
          <label class="control-label" for="primerApellido">Primer apellido<span class="req">*</span>:</label>
          <input id="primerApellido" type="text" class="form-control" formControlName="primerApellido"
                 placeholder="Ingresa primer apellido">
          <span class="campo-obligatorio"
                *ngIf="datosContratante.primerApellido?.errors?.required && (datosContratante.primerApellido?.dirty || datosContratante.primerApellido?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="segundoApellido">Segundo apellido<span class="req">*</span>:</label>
          <input id="segundoApellido" type="text" class="form-control" formControlName="segundoApellido"
                 placeholder="Ingresa segundo apellido">
          <span class="campo-obligatorio"
                *ngIf="datosContratante.segundoApellido?.errors?.required && (datosContratante.segundoApellido?.dirty || datosContratante.segundoApellido?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6">
          <label class="control-label">Fecha de nacimiento<span class="req">*</span>:</label>
          <p-calendar styleClass="form-control" formControlName="fechaNacimiento" [showIcon]="true"
                      dateFormat="dd/mm/yy" placeholder="Selecciona fecha de nacimiento"></p-calendar>
          <span class="campo-obligatorio"
                *ngIf="datosContratante.fechaNacimiento?.errors?.required && (datosContratante.fechaNacimiento?.dirty || datosContratante.fechaNacimiento?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="sexo">Sexo<span class="req">*</span>:</label>
          <p-dropdown id="sexo" class="form-control" formControlName="sexo" placeholder="Selecciona sexo"
                      [options]="[{label:'Opción 1', value:0},{label:'Opción 2', value:1}]"></p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="datosContratante.sexo?.errors?.required && (datosContratante.sexo?.dirty || datosContratante.sexo?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6">
          <label class="control-label" for="nacionalidad">Nacionalidad<span class="req">*</span>:</label>
          <p-dropdown id="nacionalidad" class="form-control" formControlName="nacionalidad"
                      placeholder="Selecciona nacionalidad"
                      [options]="[{label:'Opción 1', value:0},{label:'Opción 2', value:1}]"></p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="datosContratante.nacionalidad?.errors?.required && (datosContratante.nacionalidad?.dirty || datosContratante.nacionalidad?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="lugarNacimiento">Lugar de nacimiento<span class="req">*</span>:</label>
          <p-dropdown id="lugarNacimiento" class="form-control" formControlName="lugarNacimiento"
                      placeholder="Selecciona lugar de nacimiento"
                      [options]="[{label:'Opción 1', value:0},{label:'Opción 2', value:1}]"></p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="datosContratante.lugarNacimiento?.errors?.required && (datosContratante.lugarNacimiento?.dirty || datosContratante.lugarNacimiento?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6">
          <label class="control-label" for="telefono">Teléfono<span class="req">*</span>:</label>
          <input id="telefono" type="text" class="form-control" formControlName="telefono"
                 placeholder="Ingresa teléfono">
          <span class="campo-obligatorio"
                *ngIf="datosContratante.telefono?.errors?.required && (datosContratante.telefono?.dirty || datosContratante.telefono?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="correoElectronico">Correo electrónico<span class="req">*</span>:</label>
          <input id="correoElectronico" type="text" class="form-control" formControlName="correoElectronico"
                 placeholder="Ingresa correo electrónico">
          <span class="campo-obligatorio"
                *ngIf="datosContratante.correoElectronico?.errors?.required && (datosContratante.correoElectronico?.dirty || datosContratante.correoElectronico?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6">
          <label class="control-label" for="parentesco">Parentesco<span class="req">*</span>:</label>
          <p-dropdown id="parentesco" class="form-control" formControlName="parentesco"
                      placeholder="Selecciona parentesco"
                      [options]="[{label:'Opción 1', value:0},{label:'Opción 2', value:1}]"></p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="datosContratante.parentesco?.errors?.required && (datosContratante.parentesco?.dirty || datosContratante.parentesco?.touched)">Campo obligatorio</span>
        </div>
      </div>
    </ng-container>
    <ng-container formGroupName="direccion">
      <h2 class="subtitulo-base">Dirección</h2>
      <div class="row mb-2">
        <div class="col-md-6">
          <label class="control-label" for="direccion">CP<span class="req">*</span>:</label>
          <input id="direccion" type="text" class="form-control" formControlName="direccion" placeholder="Ingresa cp">
          <span class="campo-obligatorio"
                *ngIf="direccion.direccion?.errors?.required && (direccion.direccion?.dirty || direccion.direccion?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="calle">Calle<span class="req">*</span>:</label>
          <input id="calle" type="text" class="form-control" formControlName="calle" placeholder="Ingresa calle">
          <span class="campo-obligatorio"
                *ngIf="direccion.calle?.errors?.required && (direccion.calle?.dirty || direccion.calle?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6">
          <label class="control-label" for="noExterior">No. exterior<span class="req">*</span>:</label>
          <input id="noExterior" type="text" class="form-control" formControlName="noExterior"
                 placeholder="Ingresa no. exterior">
          <span class="campo-obligatorio"
                *ngIf="direccion.noExterior?.errors?.required && (direccion.noExterior?.dirty || direccion.noExterior?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="noInterior">No. interior<span class="req">*</span>:</label>
          <input id="noInterior" type="text" class="form-control" formControlName="noInterior"
                 placeholder="Ingresa no. interior">
          <span class="campo-obligatorio"
                *ngIf="direccion.noInterior?.errors?.required && (direccion.noInterior?.dirty || direccion.noInterior?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6">
          <label class="control-label" for="colonia">Colonia<span class="req">*</span>:</label>
          <input id="colonia" type="text" class="form-control" formControlName="colonia" placeholder="Ingresa colonia">
          <span class="campo-obligatorio"
                *ngIf="direccion.colonia?.errors?.required && (direccion.colonia?.dirty || direccion.colonia?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="municipio">Municipio<span class="req">*</span>:</label>
          <input id="municipio" type="text" class="form-control" formControlName="municipio"
                 placeholder="Ingresa municipio">
          <span class="campo-obligatorio"
                *ngIf="direccion.municipio?.errors?.required && (direccion.municipio?.dirty || direccion.municipio?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6">
          <label class="control-label" for="estado">Estado<span class="req">*</span>:</label>
          <p-dropdown id="estado" class="form-control" formControlName="estado" placeholder="Selecciona estado"
                      [options]="[{label:'Opción 1', value:0},{label:'Opción 2', value:1}]"></p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="direccion.estado?.errors?.required && (direccion.estado?.dirty || direccion.estado?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <span class="mensaje-inferior-campo-obligatorio">
            *Campos obligatorios
          </span>
        </div>
      </div>
    </ng-container>
  </form>
  <div class="row">
    <div class="col-md-12 flex justify-content-end align-items-center">
      <button class="btn btn-md btn-gold">Cancelar</button>
      <button class="ml-6 btn btn-md btn-primary">Siguiente</button>
      <button class="ml-6 btn btn-md btn-primary">Modificar órden de servicio</button>
    </div>
  </div>
</div>
